/********************** Tabs */
.tabs { margin: 15px 0px 0 0; overflow:hidden;   zoom: 1;}
.tabs li                { float:left;  line-height:1em;  font-family: 'ZurichCnBTRegular';  font-size: 13px;   text-transform: uppercase; }
.tabs li.first          { border-left:0; }
.tabs li.last           { border-right:0; }
.tabs a                 { display:block; color:#444; text-decoration: none;   padding: 10px 15px; margin:0 5px 0 0;}
.tabs a:hover           {   border-radius: 3px 3px 0 0;
					-miz-border-radius: 3px 3px 0 0;
					-o-border-radius: 3px 3px 0 0;
					-ms-border-radius: 3px 3px 0 0;
					-ms-border-radius: 3px 3px 0 0;
					color: #FFFFFF;}
.tabs li.active a,
.tabs li.active a:hover { border-bottom: 0 none;
    border-radius: 3px 3px 0 0;
	-miz-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
    color: #FFFFFF;
   
   }

#product_tabs_tags_tabbed_contents.input-box input	{ width: 300px; }
#product_tabs_tags_tabbed_contents .input-box	{ width: 300px; float:left; margin-right: 10px;}
#product_tabs_related_tabbed_contents li	{ float:left; margin-right: 10px;}
#product_tabs_related_tabbed_contents ol	{ clear: both;}
.product-collateral:after { content:"."; display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; zoom: 1}