<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $_groupdeals = $this->getGroupdeals();	
	$_merchant = $this->getMerchant($_groupdeals);
	$groupdealsModel = Mage::getModel('groupdeals/groupdeals');
?>
<?php /*?>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
 var geocoder;  
 var map;
  
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(0, 0);
    var myOptions = {
      zoom: 14,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }

  function codeAddress(address, letter) {
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
		document.getElementById("view_large").href = 'http://maps.google.com/maps?z=14&q='+address;
		document.getElementById("get_directions").href = 'http://maps.google.com/maps?f=d&daddr='+address;
        var marker = new google.maps.Marker({
            map: map, 
			title: 'A',
			icon: '<?php echo $this->getSkinUrl('groupdeals/images'); ?>/marker'+letter+'.png',
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
  
  window.onload = function(){
  		document.getElementById('taba').style.color = "#3F3E3E";
		document.getElementById("taba").style.backgroundImage="url('<?php echo $this->getSkinUrl('groupdeals/images/tab_hov.png')?>')";
		<?php if (!Mage::getModel('core/cookie')->get('popup-subscribe') && Mage::getStoreConfig('groupdeals/configuration/subscribe_popup')): ?>
			popupcode();
		<?php endif; ?>
  		<?php if ($_merchant->getStatus()==1): ?>
			initialize();
			<?php if ($this->getMainAddress($_merchant)!=''): ?>
				codeAddress('<?php echo $this->getMainAddress($_merchant); ?>', 'A');
			<?php endif; ?>
		<?php endif; ?>
  }
</script>

<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) {return;}
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	
	
</script>
<?php /*/?>
<?php echo $this->getSlideshowConfiguration(); ?>
<?php /*?>
<div id="messages_product_view" style=" background-color: #282E34; padding:10px;">

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php */?>
        				
        				
 <?php  
							if (Mage::registry('current_product') )
							{
								$product = Mage::registry('current_product');
								
								$product_store = $product->getAttributeText('product_store');
								//echo $_REQUEST['store'];die();
								/*
								$storeSession = Mage::getSingleton('core/session')->getStoreSession();
								//echo $storeSession;die();
								if ($_REQUEST['store'] && (in_array("ikoala ".$_REQUEST['store']."",$product_store) || $product_store == "ikoala ".$_REQUEST['store'].""))
								{
									$storetype = $_REQUEST['store'];
									Mage::getSingleton('core/session')->setStoreSession("ikoala $storetype");
									$storeSession = "ikoala $storetype";

								}
								elseif ($storeSession && (in_array($storeSession,$product_store) || $product_store == $storeSession))
								{
									$storetype = str_replace("ikoala ", "",$storeSession);
								}
								elseif (in_array('ikoala everyday',$product_store) || $product_store == 'ikoala everyday')	
								{
									$storetype = 'everyday';
									Mage::getSingleton('core/session')->setStoreSession("ikoala $storetype");
									$storeSession = "ikoala $storetype";
								}	
								elseif (in_array('ikoala kids',$product_store) || $product_store == 'ikoala kids')
								{
									$storetype = 'kids';
									Mage::getSingleton('core/session')->setStoreSession("ikoala $storetype");
									$storeSession = "ikoala $storetype";
								}		
								elseif (in_array('ikoala business',$product_store) || $product_store == 'ikoala business')
								{
									$storetype = 'business';
									Mage::getSingleton('core/session')->setStoreSession("ikoala $storetype");
									$storeSession = "ikoala $storetype";
								}
								elseif (in_array('ikoala travel',$product_store) || $product_store == 'ikoala travel')
								{
									$storetype = 'travel';
									Mage::getSingleton('core/session')->setStoreSession("ikoala $storetype");
									$storeSession = "ikoala $storetype";
								}
								else
								{		
									$storetype = 'alldeals';
									Mage::getSingleton('core/session')->setStoreSession("");
								}
								
								switch ($storetype)
								{
									case('everyday'):
										$tag = 'everyday';
										break;
									case('kids'):
										$tag = 'kids';
										?>	
											<script type="text/javascript">
												document.getElementById('wrapper_id').style.background ="url(\"<?php echo $this->getSkinUrl('images/kids/bear2.jpg');?>\") no-repeat scroll 50% 205px transparent";
												document.getElementById('top2_id').style.background ="none repeat scroll 0 0  #FBF2F7";
												
											</script>
										<?php
										break;
									case('business'):
										$tag = 'business';
										?>	
											<script type="text/javascript">
												document.getElementById('wrapper_id').style.background ="url(\"<?php echo $this->getSkinUrl('images/business/bear2.jpg');?>\") no-repeat scroll 50% 205px transparent";
												
											</script>
										<?php
										break;
									case ('travel'):
										$tag = 'travel';
										?>
										<script type="text/javascript">
											document.getElementById('wrapper_id').style.background ="url(\"<?php echo $this->getSkinUrl('images/travel/bear2.jpg');?>\") no-repeat scroll 50% 205px transparent";				
										</script>
										<?php
										break;
									default:
										$tag = 'alldeals';	
										break;
									
								}
								*/
								?>
								<?php /*?>
								<div class="share2"><br />
							        <a href="http://www.facebook.com/pages/Ikoalacomau/105494469524646"><img src="<?php echo $this->getSkinUrl('images/fb1.jpg'); ?>" /></a><br />
							        <a href="https://twitter.com/#!/ikOalaEveryday"><img src="<?php echo $this->getSkinUrl('images/twitter1.jpg'); ?>" /></a><br />
							        <a href="mailto:"><img src="<?php echo $this->getSkinUrl('images/email2.jpg'); ?>" /></a><br />
							      </div>
							      <?php */?>
							      
					<div class="sydny"><img src="<?php echo $this->getSkinUrl('images/todayleft.gif')?>"  alt="luxurmore"  /> 
     						  <h2>
									
									
									<?php if($_REQUEST['city'])
									{
										
									echo $_REQUEST['city']." Deals";
										
									}
									else
									{
										echo "National deals";
										
									}
									?>
									
									    </h2>
          				 <img src="<?php echo $this->getSkinUrl('images/todayright.gif')?>"  alt="luxurmore" /></div>
        				<div class="clear"></div>
										
									
									<?php /*?>
									<div class="rightcurrentdeal" onmouseover="show_citydown()" onmouseout="hide_citydown()">
									<?php
										$current = 40;
										
										$category = Mage::getModel('catalog/category')->load($current);
										$children = $category->getChildren();
										$children = explode(",",$children);
										
										if (strlen($children[0]) > 0)
										{
										    foreach($children as $child)
										    {
													
												$category = new Mage_Catalog_Model_Category();
    											$category->load($child);
    											//echo $category->getName();
    											$arr[] = $category->getName();
    											$data = $category->getProductCollection()->setOrder('groupdeal_type','ASC');
	  	
												foreach($data as $value)
												{
													$id = $value->getId();
													
													$popular = Mage::getModel('catalog/product')->load($id);//id
													$substore = $popular->getAttributeText('product_store');
												
													$_child1 = Mage::getModel('catalog/category')->load($child);
									        		$city = $category->getName();  
									        		$pop_url = $popular->getProductUrl();
													if (in_array($storeSession,$substore) || $substore == $storeSession)
													{
														if (($popular->getGroupdealStatus()==1) && ($popular->isSaleable()))																													if(($popular->getGroupdealStatus()==1) && ($popular->isSaleable()))
														{
										        			if (!in_array($city, $uniquecity))
										        			{
										        				
										        				$citydown.= "<a href=\"$pop_url?city=".urlencode($city)."\">$city </a>";
										        				
										        				if ($city=="National")
										        				{
										        					$nat = $pop_url;
										        				}
										        				$arr1[] = $category->getName();
										        				$uniquecity[]=$city;
										        				break;
										        			}	
														}
													}
						
												}		
																       

										    }
										}
									
										foreach ($arr as $value)
										{
											if (!in_array($value, $arr1))
											{
												//echo "$value";die();
												$citydown.= "<a href=\"$nat?city=$value\">$value</a>";
											}
										}
										
										
										
										?>
									
									
										<a href="#" rel="citymenu1"  >
											CHANGE CITY
										</a>
										
										<div id="citymenu1" class="citymenudiv"  onmouseover="show_citydown()" onmouseout="hide_citydown()">						
											
								            <?php echo $citydown;?>

								        </div>
								        
								        <script type="text/javascript">
											function show_citydown()
											{
												document.getElementById('citymenu1').style.display = 'block';
											}
											function hide_citydown()
											{
												document.getElementById('citymenu1').style.display = 'none';
											}
										</script>
									</div>
								<?php /*/?>
								<?php
							}
					
					?>
					<?php
						//everyday = 5
						//kids = 3
						//business = 6
						//travel = 4
						/*
						$store_array = array(5,3,6,4);
						foreach ($store_array as $store)
						{
							$collection = Mage::getModel('catalog/product')->getCollection()
					  		->addFieldToFilter('product_store', array('finset'=>$store))
					  		->setOrder('groupdeal_type','ASC')
					  		->addAttributeToSelect( '*' ) 
					  		->load();
					   		foreach ($collection as $collect)
					   		{		   		
					   			$store_url[$store] = $this->getUrl('');
						   		$id = $collect->getId();	   		
						   		$_topprod = Mage::getModel('catalog/product')->load($id);
						   		if (($_topprod->getGroupdealStatus()==1) && ($_topprod->isSaleable()))
						   		{
						   			$topcat = $_topprod->getCategoryIds();  
			    	     			unset ($topcatname);
									foreach ($topcat as $value)
									{
										$_cate = Mage::getModel('catalog/category')->load($value);
										$topcatname[] = $_cate->getName();	
									}	
						   			if (in_array($_REQUEST['city'], $topcatname))
									{
										$store_url[$store] = $_topprod->getProductUrl();
										if ($_REQUEST['city'] && $_REQUEST['city']!="")
						                {
						                	$store_url[$store].="?city=".urlencode($_REQUEST['city'])."&";
						                }
						                else 
						                {
						                	$store_url[$store].="?";
						                }
										break;
									}
									elseif(in_array('National', $topcatname))
									{
										$store_url[$store] = "".$_topprod->getProductUrl()."?";
										break;
									}
						   		}
					   		}
						}
						*/
					?>
					
						<?php /*?>
					<div class="bgs2">
					<div class="bgs1">
					<div class="bgs3">
			
					<div class="agreetab" <?php if (Mage::registry('current_product') ){echo "style=\"margin-top:0px;\"";}?>>
						<ul>
							<li class="everyday">
								<span class="everydayag">		
									<a href="<?php echo $store_url[5]?>store=everyday" <?php if ($tag == 'everyday'){ echo "class=\"rightbar_highlight\"";}?>>   </a>
								</span>
							</li>
							<li class="kids">
								<span class="kidsag">
									<a href="<?php echo $store_url[3]?>store=kids" <?php if ($tag == 'kids'){ echo "class=\"kids_highlight\"";}?>>   </a>
								</span>
							</li>
							<li class="business">
								<span class="businessag">
									<a href="<?php echo $store_url[6]?>store=business" <?php if ($tag == 'business'){ echo "class=\"business_highlight\"";}?>>   </a>
								</span>
							</li>
							<li class="travel">
								<span class="travelag">									
									<a href="<?php echo $store_url[4]?>store=travel" <?php if ($tag == 'travel'){ echo "class=\"travel_highlight\"";}?>>   </a>
								</span>
							</li>
							<li class="alldeals">
								<span class="alldealag">	
									<a href="<?php echo $this->getUrl('');?>?cityfilter=alldeals" <?if ($tag == 'alldeals' || !$tag){ echo "class=\"alldeals_highlight\"";}?>>   </a>
								</span>
							</li>
						</ul>
					</div>
			
					
                   
                    </div></div></div>
                    	<?php /*/?>       				
        				
        				
        				
<div class="dealcontainer">
	<form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
			<div class="no-display">
		            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
		            <input type="hidden" name="related_product" id="related-products-field" value="" />
		        </div>        
         	 <div class="top-txt">         	  
		     <span><?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getDescription(), 'description') ?></span>
		    </div>
            <div class="left">
            <div class="timer">
            <?php echo $this->getCountdown(); ?>        	
            </div>
            <div class="transparent-bg">
						<div class="value" id="price-box">						
							<?php echo $groupdealsModel->getFormatedPrice($_product, $_product->getSpecialPrice()); ?>
							</div>		
							  
              				 <div class="clear"></div>
							<?php if ($_product->isSaleable() && $this->hasOptions()):?>
								<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
							<?php else: ?>
								<div class="choose">
					              <select disabled>
					                <option>N/A</option>
					               
					              </select>
					              <select disabled>
					                <option>N/A</option>
					                
					       	       </select>
								</div>
							<?php endif;?>
							
							  <div class="clear"></div>
              				<div class="buynow"> 
             					 <img src="<?php echo $this->getSkinUrl('images/icon-left.png')?>" alt="luxuramor"/> 
           
									<?php if($_product->isSaleable() && $_product->getGroupdealStatus()!=4): ?>
									
									<a  onclick="productAddToCartForm.submit(this)"><?php echo $this->__('BUY NOW') ?></a> 
									      
									<?php else: ?>
										<a ><?php echo $this->__('DEAL OVER') ?></a> 
										      
									<?php endif; ?>
									<img src="<?php echo $this->getSkinUrl('images/icon-right.png')?>" alt="luxuramor"/>
								</div>
								
						 <div class="clear"></div>
              			<div class="discount">
               				 <ul>
                 			 <li><span><?php echo $this->__('Value') ?></span><br />
                   			 <?php echo $groupdealsModel->getFormatedPrice($_product, $_product->getPrice()); ?></li>
                 			 <li><span><?php echo $this->__('Discount') ?></span><br />
                    		<?php echo $this->getDiscountPercent($_product); ?></li>
                 			 <li><span><?php echo $this->__('Save') ?></span><br />
                   			<?php echo $groupdealsModel->getFormatedPrice($_product, ($_product->getPrice() - $_product->getSpecialPrice())); ?>
							</li>
               			 </ul>
             		 </div>
							
						<?php  $sales_number = $this->getSalesNumber($_groupdeals); ?> 
						<?php $minimum_qty = $_groupdeals->getMinimumQty(); ?>			
						<?php if ($minimum_qty>0): ?>
							<?php $progress_bar_width = number_format(190*$sales_number/$minimum_qty,0); ?> 
							
							  <div class="dealsold"><span>							
									<?php										
									echo $this->__('%s Deals Sold', ($sales_number + 4)); 										
									?>
								</span></div>
						<?php if ($_product->getGroupdealStatus()!=4 && $_product->isSaleable()): ?>
							<?php if ($sales_number<$minimum_qty): ?>
										<?php if ($sales_number!=0): ?>
											<!--<div class="progress_bar_marker">
												<img style="padding-left:<?php echo $progress_bar_width-1; ?>px;" src="<? echo $this->getSkinUrl('groupdeals/images/arrow.png') ?>" />	
											</div>-->
										<?php endif; ?>
									
									<div class="on">								
									<?php echo $this->__('This Deal is On ') ?>					
									<img src="<? echo $this->getSkinUrl('images/thumbsup.png') ?>" style="margin:-8px 0 0 0;"  alt="luxuramor"/>
									</div>	
										
								<?php else: ?>
								
									<div class="on">								
									<?php echo $this->__('This Deal is On ') ?>					
									<img src="<? echo $this->getSkinUrl('images/thumbsup.png') ?>" style="margin:-8px 0 0 0;"  alt="luxuramor"/>
									</div>										
														
										<i>
											<?php echo $this->__('Tipped at %s with %s bought', $this->getTippingTime($_groupdeals), $minimum_qty); ?>
										</i>
									<?php endif; ?>
								<?php else: ?>		
									<?php if ($sales_number>=$minimum_qty): ?>
										<div class="dealsold"><span>
											<?php echo $this->__('The deal is over.') ?>
										</span></div>
										<i>
											<?php echo $this->__('Tipped at %s with %s bought', $this->getTippingTime($_groupdeals), $minimum_qty); ?>
										</i>
									<?php else: ?>
										<div class="dealsold"><span>
											<?php echo $this->__('The deal is over.') ?>
											</span>
										</div>
										<i>
											<?php echo $this->__('The deal\'s target wasn\'t met.') ?>
										</i>
									<?php endif; ?>
								<?php endif; ?>
							
						<?php elseif ($_product->getGroupdealStatus()!=4 && $_product->isSaleable()): ?>
							 <div class="dealsold"><span>
									<?php 
										
											echo $this->__('%s Deals Sold', ($sales_number + 4)); 
										
									?>
							</span></div>
							<div class="on">								
							<?php echo $this->__('This Deal is On ') ?>					
							<img src="<? echo $this->getSkinUrl('images/thumbsup.png') ?>" style="margin:-8px 0 0 0;"  alt="luxuramor"/>
							</div>
							
						<?php else: ?>
						 <div class="dealsold"><span>
							<?php 									
								echo $this->__('%s Deals Sold', ($sales_number + 4)); 									
								
							?>
							</span></div>
							<div class="dealsold"><span>
									<?php echo $this->__('The deal is over.') ?>
								</span></div>
						
						<?php endif; ?>
		
         		 </div>         
           </div>    
         	 <div class="right">                    
			<?php echo $this->getChildHtml('media') ?>          
            
         	 </div>         
        </div>
        <div class="clear"></div>
 		<div class="tab2">	
  		
 			
 		 <ul id="countrytabs2" class="shadetabs">
            <li><a rel="country6" class="selected"><span>What you get</span> </a></li>
            <li><a  rel="country7"><span>Conditions</span> </a></li>
              <li><a  rel="country8"><span>The Company</span> </a></li>            
            <li><a  rel="country10"><span>reasons to buy</span></a></li>
          </ul>  	
          
           <div class="panel">
            <div id="country6" class="tabcontent">     
           
              <div class="left">
             <h3><?php echo  $_product->getName()?></h3>
              <?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getwhatuget(), 'whatuget');?>
              </div>
                </div>
            <div id="country7" class="tabcontent">
              <div class="left">
               <?php 
	       			echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getconditions(), 'conditions');	       			
	       		 ?> 
	       			</div>
                  </div>
            
              <div id="country8" class="tabcontent">
              <div class="left">
                <h3><?php echo $this->getMerchantName();?></h3> 
	       			<?php echo $this->getMerchantDescription();?>
	       			</div>
               </div>            
            <div id="country10" class="tabcontent">
              <div class="left">              
             
           <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('reson_to_buy')->toHtml() ?>
                </div>
                 </div>            
            
            <div class="imgholder">							
			       			<?php $image_gal = Mage::getModel('catalog/product')->load($_product->getID())->getMediaGalleryImages(); ?>
			       			<ul>
			       			<?php
			       				$img_numb = 0;
				       			foreach ($image_gal as $images)
				       			{
				       				echo "<li>";?>
				       				<a  onclick="popWin('<?php echo $images->getUrl();?>', 'gallery', 'width=700,height=700,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="">
				       					
				       						<?php //echo "<img src='".$images->getUrl()."' width='240px' />";?>
				       						
				       			<img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $images->getFile())->resize(240,100); ?>" width="240px" alt="<?php echo $this->htmlEscape($images->getLabel()) ?>">
				       				
				       						
				       					</a>
				       				<?php
									echo "</li>";
									$img_numb++;
									if ($img_numb == 4)
									{
										break;
									}
				       			}
			       			?>
			       			</ul>
						</div>	
						 <div class="clear"></div>	
           	 </div>           
          </div>
 		  <div class="clear"></div>
 		<script type="text/javascript">

			var countries=new ddtabcontent("countrytabs2")
			
			countries.setpersist(false)
			
			countries.setselectedClassTarget("link") 
			
			countries.init()
		</script>  
				
		     <div class="tabtm"> <span><?php echo $groupdealsModel->getFormatedPrice($_product, $_product->getSpecialPrice()); ?></span>
         	 <div class="rgt"><a onclick="productAddToCartForm.submit(this)"><?php echo $this->__('BUY NOW') ?></a></div>
         	 <div class="clear"></div>
       	 	</div>
       	 	</form>
        	<div class="clear"></div>
		         <div class="minideal2">Popular Deals <img src="<?php echo $this->getSkinUrl('images/todayright.gif')?>" alt="luxuramor" /></div>			
    
    <script type="text/javascript">
    //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button){
                if (this.validator.validate()) {
                    this.form.submit();
                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);
            
            var productAddToCartFormGift = new VarienForm('product_addtocart_form');
            productAddToCartFormGift.submit = function(button){
                if (this.validator.validate()) {
                	document.getElementById('product_addtocart_form').action = document.getElementById('product_addtocart_form').action + 'gift/1/';
                    this.form.submit();
                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);
    //]]>
    </script>
    <div class="boxholder">
	<?php $attributesBlock = new Mage_Catalog_Block_Product_View_Attributes; ?>
	<?php if ($_merchant->getStatus()==1 || count($_product->getUpSellProductCollection()->addStoreFilter()->load()->getItems()) || Mage::getStoreConfig('groupdeals/configuration/enable_facebook_comments') || $attributesBlock->getAdditionalData()): ?>

	  <?php if($_additional = $attributesBlock->getAdditionalData()): ?>
    	<h2><?php echo $this->__('Additional Information') ?></h2>
    	<table class="data-table" id="product-attribute-specs-table">
    	    <col width="25%" />
    	    <col />
    	    <tbody>
    	    <?php foreach ($_additional as $_data): ?>
    	        <tr>
    	            <th class="label"><?php echo $this->htmlEscape($this->__($_data['label'])) ?></th>
    	            <td class="data"><?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
    	        </tr>
    	    <?php endforeach; ?>
    	    </tbody>
    	</table>
    	<script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
        <div class="clearer"></div><br/>
	  <?php endif;?>
	  <script src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>groupdeals/popular_slides2.js" type="text/javascript"></script>
	  
<script type="text/javascript">
var jq = jQuery.noConflict();
jq(document).ready(function($){
   $('#pupslider').bxpopslider();
   $('a.bx-prev').empty();// remove the text prev
   $('a.bx-next').empty();// remove the text next
  
 });
</script>
	
	   <div class="slider_details">		  
		<div id="pupslider">		  		
		 <?php
		  $numb = 0;		  
		  $cat = 48; 
		  $websiteid= Mage::app()->getStore()->getWebsiteId();
		 //$sql = "SELECT product_id  FROM catalog_category_product WHERE category_id=$cat";
		  $sql = "SELECT ccp.product_id  FROM catalog_category_product ccp , catalog_product_website cpw WHERE ccp.product_id = cpw.product_id AND cpw.website_id = $websiteid AND ccp.category_id=$cat";
	
		 $data = Mage::getSingleton('core/resource') ->getConnection('core_read')->fetchAll($sql);
					  
					  //echo "<pre>";print_r($data);die();
					  	
						foreach($data as $value)
						{
						
							foreach ($value as $newvalue)
							{
								$popular = Mage::getModel('catalog/product')->load($newvalue);
								
								$sql = "SELECT city, datetime_from, datetime_to FROM groupdeals WHERE product_id=$newvalue ";
								$pop_city = Mage::getSingleton('core/resource') ->getConnection('core_read')->fetchAll($sql);
								//echo "<pre>";print_r($pop_city);die();
								
								$time_from = strtotime($pop_city[0]['datetime_from']);
								$time_to = strtotime($pop_city[0]['datetime_to']);
								$current_time = Mage::getModel('core/date')->timestamp(time());
								if (($current_time > $time_from) && ($current_time < $time_to))
								{
									
									$pop_url = $popular->getProductUrl()/*.'?city='.urlencode($pop_city[0]['city'])*/;
									?>
									<?php if ($numb == 0)
									{ 
									?>
										<div>
									<?php 
									} 
									?>	
									
									<div class="box2" style="margin-bottom:0;">
							            <div class="boxtop"></div>
							            <div class="boxmid">
							              <p><?php echo substr($popular->getName(), 0 , 64)?>..</p>
							              <img src="<?php echo $this->helper('catalog/image')->init($popular, 'thumbnail')->resize(186,139) ?>" alt="product" />
							              <div class="boxp">
							                <div class="boxreal">Value<br />
							                  <span><?php echo $groupdealsModel->getFormatedPrice($popular, $popular->getPrice(), 'price');?></span></div>
							                <div class="boxreal">Discount<br />
							                  <span><?php $special_percent = ceil(100 - (( 100/$popular->getPrice() ) * $popular->getSpecialPrice() )); echo $special_percent.'%';?></span></div>
							                <div class="boxreal">Save<br />
							                  <span><?php echo "".$groupdealsModel->getFormatedPrice($popular, ($popular->getPrice() -$popular->getSpecialPrice()))."";?></span></div>
							              </div>
							              <div class="boxprice" <?php echo $boxprice_style;?>>
							                <div class="left"><?php echo $groupdealsModel->getFormatedPrice($popular, $popular->getSpecialPrice());?></div>
							                <div class="right"><a href="<?php echo $pop_url;?>">View now</a></div>
							              </div>
							            </div>
							            <div class="boxbtm"></div>
							          </div>	
									
										<?php 
										$numb++;
										if ($numb == 3)
										{
										?>
											</div>	
										<?php 
										$numb = 0;
										}?>	
											
						<?php	  
									
								}
							}
						}
						if ($numb != 0)
						{
							echo "</div>";
						}
						?>  			
		  			
		  	</div>
	  </div> 
          
      <div class="clearer"></div><br/>
      <?php echo $this->getChildHtml('upsell_products') ?>
	<!--  <?php if (Mage::getStoreConfig('groupdeals/configuration/enable_facebook_comments')): ?>
		<div class="facebook-section"><div class="fb-comments" data-href="<?php echo Mage::app()->getStore()->getCurrentUrl(false); ?>" data-num-posts="10" data-width="635" data-height="auto"></div></div>
	  <?php endif; ?>	-->
   
	<?php endif; ?>
</div>
<div class="clear"></div>
