<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.2
 * @since        Class available since Release 1.0
 */
?>
<h2 class="glc-title"><span><span></span><?php echo $this->__('Order Review');?></span></h2>
<div class="totals">
	
	<?php echo $this->getChildHtml('info');?>
	
</div>
<div class="agreements">
	<?php echo $this->getChildHtml('agreements') ?>
</div>
