<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.1
 * @since        Class available since Release 2.0
 */
?>
<div class="customer-dob">
    <label for="<?php echo $this->getFieldId('day')?>">
        <?php echo $this->__('Date of Birth') ?>
        <?php if ($this->isRequired()):?><span class="required">*</span><?php endif ?>
    </label>

    <div class="input-box dob-day">
        <input type="text" id="<?php echo $this->getFieldId('day')?>" name="<?php echo $this->getFieldName('day')?>" value="<?php echo $this->getDay() ?>" title="<?php echo $this->__('Day') ?>" class="input-text <?php echo ($this->isRequired() ? 'required-entry' : '')?>" <?php echo $this->getFieldParams() ?> />
        <label for="<?php echo $this->getFieldId('day')?>" class="label-dob"><?php echo $this->__('DD') ?></label>
    </div>

    <div class="input-box dob-month">
        <input type="text" id="<?php echo $this->getFieldId('month')?>" name="<?php echo $this->getFieldName('month')?>" value="<?php echo $this->getMonth() ?>" title="<?php echo $this->__('Month') ?>" class="input-text <?php echo ($this->isRequired() ? 'required-entry' : '')?>" <?php echo $this->getFieldParams() ?> />
        <label for="<?php echo $this->getFieldId('month')?>" class="label-dob"><?php echo $this->__('MM') ?></label>
    </div>

    <div class="input-box dob-year">
        <input type="text" id="<?php echo $this->getFieldId('year')?>" name="<?php echo $this->getFieldName('year')?>" value="<?php echo $this->getYear() ?>" title="<?php echo $this->__('Year') ?>" class="input-text <?php echo ($this->isRequired() ? 'required-entry' : '')?>" <?php echo $this->getFieldParams() ?> />
        <label for="<?php echo $this->getFieldId('year')?>" class="label-dob"><?php echo $this->__('YYYY') ?></label>
    </div>

    <div class="dob-full" style="display:none;">
        <input type="hidden" id="<?php echo $this->getFieldId('dob')?>" name="<?php echo $this->getFieldName('dob')?>" />
    </div>

    <div style="opacity: 0.999999; display:none;" class="validation-advice"></div>
</div>
<script type="text/javascript">
//<![CDATA[
    var customer_dob = new Varien.DOB('.customer-dob', <?php echo $this->isRequired() ? 'true' : 'false' ?>, '<?php echo $this->getDateFormat() ?>');
//]]>
</script>