<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.1
 * @since        Class available since Release 1.0
 */
?>
<div id="gcheckout-payment-methods" class="payment-methods">
	<script type="text/javascript">
	//<![CDATA[
	    var payment = new paymentForm('gcheckout-onepage-form');
	//]]>
	</script>
	<?php echo $this->getChildHtml('methods') ?>
</div>