<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.2
 * @since        Class available since Release 1.0
 */
	
	$required		= $this->getIsRequired();
	$validation_type = $this->getValidationType();
	
	
	$input_class = ' input-text ';
	$label_class = '';
	
	if($required){
		
		if(!$validation_type){
			$input_class .= 'required-entry absolute-advice'.' ';
		}else{
			$input_class .= $validation_type.' ';
		}
		
		$label_class .= ' required ';
		
	}
	
 
?>
<label for="<?php echo $this->getPrefix();?>_street1" class="<?php echo $label_class;?>"><?php if($required):?><em>*</em><?php endif;?><?php echo $this->__('Address') ?></label>
<div class="input-box">
	<input type="text" title="<?php echo $this->__('Street Address') ?>" name="<?php echo $this->getPrefix();?>[street][]" id="<?php echo $this->getPrefix();?>_street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="<?php echo $input_class;?>" />
</div>
<?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
<div class="input-box">
	<input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="<?php echo $this->getPrefix();?>[street][]" id="<?php echo $this->getPrefix();?>_street<?php echo $_i?>" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet($_i)) ?>" class="input-text" />
</div>
<?php endfor;?>