<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $_groupdeals = $this->getGroupdeals();	
	$_merchant = $this->getMerchant($_groupdeals);
	$groupdealsModel = Mage::getModel('groupdeals/groupdeals');
?>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
 var geocoder;  
 var map;
  
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(0, 0);
    var myOptions = {
      zoom: 14,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }

  function codeAddress(address, letter) {
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
		document.getElementById("view_large").href = 'http://maps.google.com/maps?z=14&q='+address;
		document.getElementById("get_directions").href = 'http://maps.google.com/maps?f=d&daddr='+address;
        var marker = new google.maps.Marker({
            map: map, 
			title: 'A',
			icon: '<?php echo $this->getSkinUrl('groupdeals/images'); ?>/marker'+letter+'.png',
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
  
  window.onload = function(){
		<?php if (!Mage::getModel('core/cookie')->get('popup-subscribe') && Mage::getStoreConfig('groupdeals/configuration/subscribe_popup')): ?>
			popupcode();
		<?php endif; ?>
  		<?php if ($_merchant->getStatus()==1): ?>
			initialize();
			<?php if ($this->getMainAddress($_merchant)!=''): ?>
				codeAddress('<?php echo $this->getMainAddress($_merchant); ?>', 'A');
			<?php endif; ?>
		<?php endif; ?>
  }
</script>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) {return;}
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<?php echo $this->getSlideshowConfiguration(); ?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view groupdeals">
    <div class="product-essential">
    <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
        <div class="product-name">
            <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
        </div>
		
        <div class="product-shop">
			<div class="add-to-box">
				<div class="buy">
					<div class="special-price"><?php echo $groupdealsModel->getFormatedPrice($_product, $_product->getSpecialPrice()); ?></div>
					<?php if($_product->isSaleable() && $_product->getGroupdealStatus()!=4): ?>
						<div class="add-to-cart">						
							<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button-groupdeals" onclick="productAddToCartForm.submit(this)">
								<span><span><?php echo $this->__('Add to Cart') ?></span></span>
							</button>
						</div>                
					<?php else: ?>
						<div class="add-to-cart">						
							<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button-groupdeals disabled" disabled="disabled">
								<span><span><?php echo $this->__('Add to Cart') ?></span></span>
							</button>
						</div>           
					<?php endif; ?>
				</div>
				<div class="box">
					<small><?php echo $this->__('Value') ?></small><br/>
					<?php echo $groupdealsModel->getFormatedPrice($_product, $_product->getPrice()); ?>
				</div>
				<div class="box">
					<small><?php echo $this->__('Discount') ?></small><br/>
					<?php echo $this->getDiscountPercent($_product); ?>
				</div>
				<div class="box">
					<small><?php echo $this->__('You Save') ?></small><br/>
					<?php echo $groupdealsModel->getFormatedPrice($_product, ($_product->getPrice() - $_product->getSpecialPrice())); ?>
				</div>
				<div class="clearer"></div>
				<!--
<div class="give-as-gift">
					<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button-groupdeals" onclick="productAddToCartFormGift.submit(this)"><?php echo $this->__('Give as a Gift') ?></button>
				</div>
-->	
            </div>

			<?php if ($_product->isSaleable() && $this->hasOptions()):?>
				<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
			<?php endif;?>

			<div class="count-box"><small><?php echo $this->__('TIME LEFT TO BUY') ?></small><?php echo $this->getCountdown(); ?></div>
			
			<?php $sales_number = $this->getSalesNumber($_groupdeals); ?> 
			<?php $minimum_qty = $_groupdeals->getMinimumQty(); ?>			
			<?php if ($minimum_qty>0): ?>
				<?php $progress_bar_width = number_format(190*$sales_number/$minimum_qty,0); ?> 
				<div class="progress_bar">
					<h1><?php echo $this->__('%s bought', $sales_number); ?></h1>
					<?php if ($_product->getGroupdealStatus()!=4 && $_product->isSaleable()): ?>
						<?php if ($sales_number<$minimum_qty): ?>
							<?php if ($sales_number!=0): ?>
								<div class="progress_bar_marker">
									<img style="padding-left:<?php echo $progress_bar_width-1; ?>px;" src="<? echo $this->getSkinUrl('groupdeals/images/arrow.png') ?>" />	
								</div>
							<?php endif; ?>
							<div class="progress_bar_bottom">
								<div class="progress_bar_top" style="/float:left; width:<?php echo $progress_bar_width; ?>px; <?php if ($progress_bar_width>=3 && $progress_bar_width<=187): ?>border-right:1px solid #139CB5;<?php endif; ?>"></div><br/>
							</div>
							<div class="qtys"><div class="left">0</div><div class="right"><?php echo $minimum_qty; ?></div></div>
							<div class="clearer"></div>
							<i><?php echo $this->__('%s more needed to get the deal', $minimum_qty-$sales_number); ?></i>
						<?php else: ?>
							<div class="cross-check"><img src="<? echo $this->getSkinUrl('groupdeals/images/check.png') ?>" alt="check"/><?php echo $this->__('The deal is on!') ?></div>
							<div class="clearer"></div>						
							<i><?php echo $this->__('Tipped at %s with %s bought', $this->getTippingTime($_groupdeals), $minimum_qty); ?></i>
						<?php endif; ?>
					<?php else: ?>		
						<?php if ($sales_number>=$minimum_qty): ?>
							<div class="cross-check"><img src="<? echo $this->getSkinUrl('groupdeals/images/check.png') ?>" alt="check"/><?php echo $this->__('The deal is over.') ?></div>
							<i><?php echo $this->__('Tipped at %s with %s bought', $this->getTippingTime($_groupdeals), $minimum_qty); ?></i>
						<?php else: ?>
							<div class="cross-check"><img src="<? echo $this->getSkinUrl('groupdeals/images/cross.png') ?>" alt="cross"/><?php echo $this->__('The deal is over.') ?></div>
							<i><?php echo $this->__('The deal\'s target wasn\'t met.') ?></i>
						<?php endif; ?>
					<?php endif; ?>
				</div>
			<?php elseif ($_product->getGroupdealStatus()!=4 && $_product->isSaleable()): ?>
				<div class="progress_bar" style="padding-top:16px;">
					<?php if ($sales_number>0): ?>
						<h1><?php echo $this->__('%s bought', $sales_number); ?></h1>
					<?php endif; ?>
					<div class="cross-check"><img src="<? echo $this->getSkinUrl('groupdeals/images/check.png') ?>" alt="check"/><?php echo $this->__('The deal is on!') ?></div>
				</div>
			<?php else: ?>
				<div class="progress_bar" style="padding-top:16px;">
					<h1><?php echo $this->__('%s bought', $sales_number); ?></h1>
					<div class="cross-check"><img src="<? echo $this->getSkinUrl('groupdeals/images/check.png') ?>" alt="check"/><?php echo $this->__('The deal is over.') ?></div>
				</div>
			<?php endif; ?>
			
			<div class="share-box" >
				<b><?php echo $this->__('Share:') ?></b>				
				<div>
					<div class="facebook">
						<div id="fb-root"></div>
						<div class="fb-like" data-send="false" data-layout="box_count" data-width="auto" data-show-faces="false"></div>
					</div>				
					<div class="twitter">
						<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
					</div>
					<div class="google">			
						<!-- Place this tag in your head or just before your close body tag -->
						<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

						<!-- Place this tag where you want the +1 button to render -->
						<g:plusone size="tall"></g:plusone>
					</div>
				</div>
				<div class="share-this">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
					<a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=xa-4eca4fbc5165f40f" class="addthis_button_compact">Share</a>
					</div>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4eca4fbc5165f40f"></script>
					<!-- AddThis Button END -->
					<a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><img src="<? echo $this->getSkinUrl('groupdeals/images/mail.png') ?>" height="17px" width="16px" /> Email to a friend</a>&nbsp;
				</div>
			</div>
			<?php if (Mage::getStoreConfig('groupdeals/configuration/enable_reviews')): ?>			
				<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
			<?php endif; ?>
		</div>
        <div class="product-img-box">
            <?php echo $this->getChildHtml('media') ?>
			<div class="details-box left"><h3><?php echo $this->__('The Fine Print'); ?></h3><?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getGroupdealFineprint(), 'description') ?>
			</div>
			<div class="details-box highlights right"><h3><?php echo $this->__('Highlights'); ?></h3><?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getGroupdealHighlights(), 'description') ?></div>
        </div>  
   
    </form>
    <script type="text/javascript">
    //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button){
                if (this.validator.validate()) {
                    this.form.submit();
                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);
            
            var productAddToCartFormGift = new VarienForm('product_addtocart_form');
            productAddToCartFormGift.submit = function(button){
                if (this.validator.validate()) {
                	document.getElementById('product_addtocart_form').action = document.getElementById('product_addtocart_form').action + 'gift/1/';
                    this.form.submit();
                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);
    //]]>
    </script>
    </div>
	<?php $attributesBlock = new Mage_Catalog_Block_Product_View_Attributes; ?>
	<?php if ($_merchant->getStatus()==1 || count($_product->getUpSellProductCollection()->addStoreFilter()->load()->getItems()) || Mage::getStoreConfig('groupdeals/configuration/enable_facebook_comments') || $attributesBlock->getAdditionalData()): ?>
	<div class="product-collateral">
	  <?php if($_additional = $attributesBlock->getAdditionalData()): ?>
    	<h2><?php echo $this->__('Additional Information') ?></h2>
    	<table class="data-table" id="product-attribute-specs-table">
    	    <col width="25%" />
    	    <col />
    	    <tbody>
    	    <?php foreach ($_additional as $_data): ?>
    	        <tr>
    	            <th class="label"><?php echo $this->htmlEscape($this->__($_data['label'])) ?></th>
    	            <td class="data"><?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
    	        </tr>
    	    <?php endforeach; ?>
    	    </tbody>
    	</table>
    	<script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
        <div class="clearer"></div><br/>
	  <?php endif;?>
	  <?php if ($_merchant->getStatus()==1): ?>
		<div class="description-box">	
			<?php echo $this->getMerchantDescription(); ?>
			<?php if ($this->getBusinessHours()!=''): ?>
				<h2><?php echo $this->__('Business Hours'); ?></h2>
				<?php echo $this->getBusinessHours(); ?>
			<?php endif; ?>
		</div>
		<div class="information-box">
			<h2><?php echo $this->getMerchantName(); ?></h2>
			<?php if ($_merchant->getMerchantLogo()!=''): ?>
				<div class="logo">
					<img style="width:150px; margin:0px 0 5px;" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$_merchant->getMerchantLogo(); ?>" alt="" />
				</div>
			<?php endif; ?>
			<div class="social-links">
				<?php if ($this->getWebsite()!=''): ?><a href="<?php echo $this->getWebsite(); ?>" target="blank"><?php echo $this->__('Company Website'); ?></a><br/><?php endif; ?>
				<?php if ($this->getFacebook()!=''): ?><a href="<?php echo $this->getFacebook(); ?>" target="blank"><?php echo $this->__('Facebook'); ?></a><br/><?php endif; ?>
				<?php if ($this->getTwitter()!=''): ?><a href="<?php echo $this->getTwitter(); ?>" target="blank"><?php echo $this->__('Twitter'); ?></a><br/><?php endif; ?>
				<?php if ($this->getEmail()!=''): ?><a href="mailto:<?php echo $this->getEmail(); ?>"><?php echo $this->__('Email'); ?></a><br/><?php endif; ?>
				<?php if ($this->getPhone()!=''): ?><b><?php echo $this->__('Phone:'); ?></b> <?php echo $this->getPhone(); ?><br/><?php endif; ?>
				<?php if ($this->getMobile()!=''): ?><b><?php echo $this->__('Mobile:'); ?></b> <?php echo $this->getMobile(); ?><br/><?php endif; ?>
			</div>
			<?php $addressCollection = $this->getAddressCollection($_merchant); $i = 'A'; ?>
			<?php if (count($addressCollection)!=0): ?>
				<div id="map_canvas"></div>
				<a href="" id="view_large" class="map_links" target="blank"><?php echo $this->__('View Larger Map'); ?></a><span style="color:#DDDDDD;"> || </span><a href="" id="get_directions" class="map_links" target="blank"><?php echo $this->__('Get Directions'); ?></a>

				<div class="adress-links">				
					<?php foreach ($addressCollection as $address): ?>
						<div class="adress-box"><div class="number"><?php echo $i; ?></div><a href="javascript:void(0)" style="cursor:hand" onClick="codeAddress('<?php echo $address; ?>', '<?php echo $i; ?>')"><?php echo $address; ?></a></div>
						<?php $i++; ?>
					<?php endforeach; ?>
				</div>
			<?php else: ?>
				<b><?php echo $this->getRedeem(); ?></b>
			<?php endif; ?>
		</div>
	  <?php endif; ?>
      <div class="clearer"></div><br/>
      <?php echo $this->getChildHtml('upsell_products') ?>
	  <?php if (Mage::getStoreConfig('groupdeals/configuration/enable_facebook_comments')): ?>
		<div class="facebook-section"><div class="fb-comments" data-href="<?php echo Mage::app()->getStore()->getCurrentUrl(false); ?>" data-num-posts="10" data-width="635" data-height="auto"></div></div>
	  <?php endif; ?>	
    </div>
	<?php endif; ?>
</div>
