<?php
/* backend values */

$image_height=Mage::getStoreConfig("adodis_bestsellers/adodis_general/adodis_bestsellers_prod_image_height");
$image_width=Mage::getStoreConfig("adodis_bestsellers/adodis_general/adodis_bestsellers_prod_image_width");
$listview=Mage::getStoreConfig("adodis_bestsellers/adodis_general/adodis_bestsellers_list_enable");
$title=Mage::getStoreConfig("adodis_bestsellers/adodis_general/adodis_bestsellers_title");
$enabled=Mage::getStoreConfig("adodis_bestsellers/adodis_general/adodis_bestsellers_enable");
?>


<?php if($enabled==1){?>
<h3 style="margin-top:10px;"><strong><span><?php echo $title; ?></span></strong></h3>
<?php if($listview==1){?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<ol class="products-list" id="products-list">
    <?php $i=0; foreach ($_products->getItems() as $_product): ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($image_width,$image_height) ?>" width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
                <div class="align-prodname-price-review">
		                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h3>
		                <?php echo $this->getPriceHtml($_product, true, '-new') ?>
		                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
		         </div>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                </div>
            </li>
    <?php endforeach; ?>
   </ol>
<?php endif; ?>
<?php } else { ?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<?php $colcount=Mage::getStoreConfig("adodis_bestsellers/adodis_general/adodis_bestsellers_column_count"); ?>
<?php $_columnCount = $colcount; ?>
    <?php $i=0; foreach ($_products->getItems() as $_product): ?>
        <?php if ($i++%$_columnCount==0  ): ?>
              <ul class="products-grid">
               <?php endif ;?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($image_width,$image_height) ?>" width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
                <div class="align-prodname-price-review">
		                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h3>
		                <?php echo $this->getPriceHtml($_product, true, '-new') ?>
		                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
		         </div>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==count($_products)): ?>
        </ul>
        <?php endif ?>
    <?php endforeach; ?>
<?php endif; ?>
<?php } ?>
<?php } ?>
