.slide-container {width:100%;float:left;text-align:left;margin-bottom:20px;}
#gallery {position:relative;}
#gallery a {float:left;position:absolute;}
#gallery a img {border:none;}
#gallery a.show {z-index:500}
#gallery .caption {z-index:600; background-color:#000; color:#ffffff;height:100px; width:100%; position:absolute;bottom:0;}
#gallery .caption .content {margin:5px}
#gallery .caption .content h3 {margin:0;padding:0;color:#1DCCEF;}
/* Clear */
.clear{width:100%;height:0px;clear:both;font-size:0px;line-height:0px;}
