.slide-container {width:100%;float:left;text-align:center;margin-bottom:20px;}
.slide-show{float:left;position:relative;}
.indentmenu{position:absolute;bottom:0;right:0;z-index:999;}
.banner-content-style1{position:absolute; top:0; left:0;}
.indentmenu ul{margin: 2px;padding:0;float:left;background: transparent;}
.indentmenu ul li{float:left;list-style:none;}
.indentmenu ul li a{float: left;margin: 2px;color: #000;padding: 0px 6px;text-decoration: none;border: 1px solid #ccc;background:#fff;}
.indentmenu ul li a:hover{background:#ddd;}
.indentmenu ul li a.selected{color: white !important;padding-top: 0px; /*shift text down 1px*/padding-bottom: 0px;border: 1px solid #F85601;background:#F85601;}
.indentmenu ul li a.selected:hover{color: white !important;padding-top: 0px; /*shift text down 1px*/padding-bottom: 0px;border: 1px solid #F85601;background:#F85601;}
.tabcontent{width:100%;float:left;position:relative;display:none;}
.tabcontent a{width:100%;float:left;z-index:9; text-decoration:none;}
@media print {.tabcontent {display:block !important;}}
.banner_content {padding:0px 10px 10px 10px;position:absolute;bottom:0;left:0;text-align:left;z-index:99; background:#000; opacity: 0.7; filter: alpha(opacity = 70);}
.banner_content p{color:#fff;}
/* Clear */
.clear{width:100%;height:0px;clear:both;font-size:0px;line-height:0px;}