#slider-3{}
.slide-container {width:100%;float:left;text-align:left;margin-bottom:20px;}
#gamesHolder {}
.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }
.cs-buttons { font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }
.cs-title { padding: 10px; background: #000000; color: #FFFFFF;}
#cs-navigation-games .cs-prev{width:31px; height:34px; background:url(arrows.png) top left no-repeat; cursor:pointer;}
#cs-navigation-games .cs-prev span{display:none;}
#cs-navigation-games .cs-next{width:31px; height:34px; background:url(arrows.png) top right no-repeat; cursor:pointer;}
#cs-navigation-games .cs-next span{display:none;}
#cs-navigation-games .cs-prev{}
