.slide-container {width:100%;float:left;text-align:left;margin-bottom:20px;}
#slider-5{}
.textholder span{color:#fff; float:left;}
.textholder{padding:10px}
/* Clear */
.clear{width:100%;height:0px;clear:both;font-size:0px;line-height:0px;}