.slide-container {width:100%;float:left;text-align:left;margin-bottom:20px;}
#slider-4{position:relative;}
.wrapper-content-slider4{position:relative;}
.slider-wrap{width:100%; float:left;}			
.stripViewer .panelContainer .panel ul{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer{ position: relative; overflow: hidden;}
.stripViewer .panelContainer	{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel{ float: left; height: 100%; position: relative;}
.stripNavL, .stripNavR, .stripNav{ display: none; }
.nav-thumb 	{}
#movers-row	{ margin: 0px 0 0 0px; float:left;}
#movers-row .image-thumb{ float: left; width:60px; margin-right: 5px; text-align:center;}
#movers-row div a.cross-link{ float: left; }
#movers-row div a.cross-link img{border:1px solid #09F;}
.photo-meta-data{ background:#000; padding: 10px; z-index: 9999; color: #fff; position:absolute; bottom:0; left:0; opacity: 0.7; filter: alpha(opacity = 70); }
.photo-meta-data span { font-size: 13px; }
.cross-link	{ display: block; margin-top: -11px; position: relative; padding-top: 15px; z-index: 9999; }
.active-thumb { background: url(icon-uparrowsmallwhite.jpg) top center no-repeat; }


/* Clear */
.clear{width:100%;height:0px;clear:both;font-size:0px;line-height:0px;}