<?php
/**
 * Luxe
 * Luxe_Bestsellers
 *
 * @category   design_default
 * @package    Luxe_Bestsellers
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
/**
 * Product list toolbar
 *
 * @see Luxe_Bestsellers_Block_List_Toolbar
 */
?>
<?php if($this->getCollection()->getSize()): ?>
    <table class="pager" cellspacing="0">
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
<?php endif ?>
