<!--@subject Your points at {{var store_name}} are about to expire@-->
<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}">
                                            <img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt=""  
                                 style="margin-bottom:10px;" border="0"/>
                            </a></td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>Dear {{var customer_name}},</p>
                            <p>This is a courtesy notice that your points balance of {{var points_balance}} 
                                at <a href="{{store url=""}}">{{var store_name}}</a>
                                may expire in <b>{{var days_left}} day(s)</b>. </p>
                            <p>You can stop the points from expiring by <a href="{{store url="customer/account/login"}}">
                                                                           logging in to your account</a> and either:
                            <ul>
                                <li>Spending your points towards a product or promotion, or</li>
                                <li>Earning more points on the site. </li>
                            </ul>    
                            </p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>