<!--@subject {{var customer_name}} invited you to join him on {{var store_name}}@-->
<!-- 
<pre>
[[ help ]]
store url : {{store url}}
customer_name : {{var customer_name}}
customer_email : {{var customer_email}}
friend_email : {{var friend_email}}
store_name : {{var store_name}}
points_transfered : {{var points_transfered}}
</pre>
-->
<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}">
                                            <img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt=""  
                                 style="margin-bottom:10px;" border="0"/>
                            </a></td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>Hello,</p>
                            <p>Your friend, {{var customer_name}}, just tried to send you a gift of <b>{{var points_transfered}}</b> at 
                            <a href="{{store url=""}}">{{var store_name}}</a>, but couldn't do this because you don't have a registered account.</p>
                            <p>Join him now by <a href="{{store url="customer/account/create"}}">creating an account at {{var store_name}}</a> and never miss this chance again in the future.</p>
                           
                            <p>Happy Shopping!</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>