<!--@subject Small gift from your friend, {{var customer_name}}@-->
<!-- 
<pre>
[[ help ]]
store url : {{store url}}
customer_name : {{var customer_name}}
customer_email : {{var customer_email}}
friend_name : {{var friend_name}}
friend_email : {{var friend_email}}
store_name : {{var store_name}}
points_transfered : {{var points_transfered}}
comment : {{var comment}}
</pre>
-->
<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}">
                                            <img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt=""  
                                 style="margin-bottom:10px;" border="0"/>
                            </a></td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>Dear {{var friend_name}},</p>
                            <p>You just received <b>{{var points_transfered}}</b> from your friend, {{var customer_name}} ({{var customer_email}}) which you can spend at <a href="{{store url=""}}">{{var store_name}}</a>.</p>
                            <p>Just <a href="{{store url="customer/account/login"}}">log in to your account</a> and start purchasing products using your points.</p>
                            <p>{{var customer_name}}'s personal message: <br />
                            	<i>{{var comment}}</i>
                            </p>
                            <p>Happy Shopping!</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>