<?php
/**
 * Affiliate's navigation template
 */
?>
<div class="block block-account">
    <div class="right-block-title">
        <strong style="background:none; padding:0;"><span><?php echo "My Account";//$this->getNavigationTitle(); ?></span></strong>
    </div>
    <div class="block-content" style="background:none;background-color:#1e252b; position: relative;height:800px; color:#ffffff;">
        <ul id="affiliateplus-navigation-<?php echo $this->getNameInLayout() ?>" style="background-color:#2a3137; padding:5px; text-transform:uppercase;">
            <?php $_links = $this->getLinks(); ?>
            <?php foreach ($_links as $_link): ?>
            	<?php if ($_link->getDisabled()) continue; ?>
                <?php if ($this->isActive($_link)): ?>
                    <li class="current"><strong><?php echo $_link->getLabel() ?></strong></li>
                <?php else: ?>
                	<?php if (strstr($_link->getLabel(), "My Commission balance")):?>
                		<li class="current" style="padding-bottom:5px;">
                			<?php echo $_link->getLabel() ?>
                		
                		</li>
                	<?php else: ?>	
                    	<li><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
        
      <!-- <div style="margin-left:-5px; position: relative; height:750px;">-->
        	<img src="<?php echo $this->getSkinUrl('images/aff_sidebar.png'); ?>" width="220px" alt="Reasons for joining" style="position: absolute; bottom: 0;margin-left:-5px;"/>
      <!--  </div>-->
        
        
        <script type="text/javascript">
        	decorateGeneric($('affiliateplus-navigation-<?php echo $this->getNameInLayout() ?>').childElements(),['last']);
        </script>
    </div>
</div>