<?php
/**
 * Sales transaction history template
 */
?>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js') ?>calendar/calendar.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js') ?>calendar/calendar-setup.js"></script>
<?php echo $this->getLayout()->createBlock('core/html_calendar')->setTemplate('page/js/calendar.phtml')->toHtml() ?>
<link rel="stylesheet" type="text/css" href="<?php echo Mage::getBaseUrl('js') ?>calendar/calendar-win2k-1.css"  />

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="page-title">
	<h2><?php echo $this->__('Commissions') ?></h2>
</div>
<div class="clear"></div>
<div class="std">
<?php echo $this->getChildHtml('payment_miniform') ?>

<?php echo $this->getChildHtml('sales_statistic') ?>

<form id="affiliateplus-transactions-search" method="get">
	<div class="affiliateplus-form-search">
		<div class="input-box left">
			<div class="label row left" style="min-width: 70px;">
				<label for="from-date" style="color:#ffffff"><?php echo $this->__('From Date') ?></label>
			</div>
			<div class="row left">
				<input type="text" class="input-text" id="from-date" name="from-date" value="<?php echo $this->getRequest()->getParam('from-date') ?>" readonly style="margin-left: 10px;" />
				<img src="<?php echo Mage::getBaseUrl('skin')?>/adminhtml/default/default/images/grid-cal.gif" alt="dateinput" class="v-middle" id="calendar-fromdate" title="dateinput"  />
			</div>
			<div style="clear: both;height: 5px;"></div>
			<div class="label row left" style="min-width: 70px;">
				<label for="to-date"  style="color:#ffffff"><?php echo $this->__('To Date') ?></label>
			</div>
			<div class="row left">
				<input type="text" class="input-text" id="to-date" name="to-date" value="<?php echo $this->getRequest()->getParam('to-date') ?>" readonly style="margin-left: 10px;" />
				<img src="<?php echo Mage::getBaseUrl('skin')?>/adminhtml/default/default/images/grid-cal.gif" alt="dateinput" class="v-middle" id="calendar-todate" title="dateinput"  />
			</div>
			<div style="clear: both;height: 5px;"></div>
			<div class="label row left" style="min-width: 70px;">
				<label for="status" style="color:#ffffff"><?php echo $this->__('Status') ?></label>
			</div>
			<div class="row left">
				<?php $status = $this->getRequest()->getParam('status') ?>
				<select name="status" id="commission-status" style="margin-left: 10px; width: 135px;">
					<option value></option>
					<option value="1" <?php if ($status == 1): ?>selected<?php endif ?>><?php echo $this->__('Completed') ?></option>
					<option value="2" <?php if ($status == 2): ?>selected<?php endif ?>><?php echo $this->__('Pending') ?></option>
					<option value="3" <?php if ($status == 3): ?>selected<?php endif ?>><?php echo $this->__('Cancel') ?></option>
				</select>
			</div>
		</div>
		<div class="button-set">
			<button class="form-button button" type="submit" style="margin-left:20px; min-width: 70px;">
				<span>
					<span style="color:#D97309;"><?php echo $this->__('Search') ?></span>
				</span>
			</button>
			<br /><div style="height: 5px;"></div>
			<button class="form-button button" type="button" onclick="setLocation('<?php echo $this->getUrl('*/*/*') ?>')" style="margin-left:20px; min-width: 70px;">
				<span>
					<span style="color:#D97309;"><?php echo $this->__('Reset') ?></span>
				</span>
			</button>
		</div>
	</div>
	<div style="clear: both;">&nbsp;</div>
</form>

<?php if ($commissionTabs = $this->getCommissionTabs()): ?>
<ul class="affiliate-commission-tab">
	<?php foreach ($commissionTabs as $name => $tab): ?>
		<?php if ($name == $this->getActiveTab()): ?>
		<li class="affiliate-tab-item active-tab">
			<span><?php echo $tab['label'] ?></span>
		</li>
		<?php else: ?>
		<li class="affiliate-tab-item">
			<a href="<?php echo $tab['link'] ?>" title="<?php echo $tab['label'] ?>">
				<span><?php echo $tab['label'] ?></span>
			</a>
		</li>
		<?php endif ?>
	<?php endforeach ?>
</ul>
<div style="border-top: 1px solid #E2E2E2;">&nbsp;</div>
<?php endif ?>
<?php echo $this->getTransactionHtml() ?>

<script type="text/javascript">
 Calendar.setup({
	inputField: "from-date",
	ifFormat: "%m-%d-%Y",
	showsTime: false,
	button: "calendar-fromdate",
	align: "Bl",
	singleClick : true
 });
Calendar.setup({
	inputField: "to-date",
	ifFormat: "%m-%d-%Y",
	showsTime: false,
	button: "calendar-todate",
	align: "Bl",
	singleClick : true
 });
</script>
</div>