<!--@subject {{var affiliate.name}} invites you to {{var store_name}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt=""  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>Dear {{var referral.referral_name}},</p>
                            <p>{{var affiliate.name}} ({{var affiliate.email}}) would like to invite you to join <a href="{{var affiliate_url}}">{{var store_name}}</a></p>
                            <p>{{var affiliate.name}}'s Message: <BR /> {{var msg}}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>