<!--@subject You've earned referral points! @-->
<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" 
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}">
                                            <img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt=""  
                                 style="margin-bottom:10px;" border="0"/>
                            </a></td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>Congrats {{var affiliate.name}}!</p>
                            <p>Your referral, {{var referral.referral_name}} ({{var referral.referral_email}}), did something on {{var store_name}}
                                that earned you some points.
                            </p>
                            <p><a href="{{store url=""}}">Log-in to {{var store_name}}</a> to check your balance today!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>