<section class="blog_slide">
<?php $posts = $this->getPosts();
$tot_post= count($posts);

$bc=0;
$ctr=0;
?>
<?php foreach ($posts as $post): 
$bc++;
$ctr++;
?>
<article class="latest_blog">
  <h5><?php echo $post->getTitle();?></a></h5>
  <p><?php echo substr(strip_tags($post->getPostContent()),0,60); ?>... </p>
  <article class="read_more_btn">
  <a href="<?php echo $post->getAddress();?>"><?php  echo $this->__('Read more')?></a>
  </article>
 </article>
  <?php if($bc==2 && $ctr < $tot_post){
  $bc=0;
  echo'</section><section class="blog_slide">';
  }?>
<?php endforeach; ?> 
</section>