<?php
/**
 * Fontis Australia Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Fontis
 * @package    Fontis_Australia
 * @author     Chris Norton
 * @copyright  Copyright (c) 2009 Fontis Pty. Ltd. (http://www.fontis.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<div>
	<p>
	<?php $data = @unserialize($this->getMethod()->getInfoInstance()->getAdditionalData()); ?>
	<?php if (isset($data['biller_code'])): ?>
		<?php echo $this->__('<b>Biller Code</b>: %s', $data['biller_code']); ?><br />
	<?php endif; ?>
	<?php if (isset($data['ref'])): ?>
		<?php echo $this->__('<b>Ref</b>: %s', $data['ref']); ?><br />
	<?php endif; ?>
	</p>
</div>
