<?php $quote = Mage::getSingleton('checkout/session')->getQuote(); ?>
<?php if ($quote): ?>
	<ul class="form-list">
		<li>
			<label class="required" for="coupon_from"><?php echo $this->__('From') ?></label>
			<div class="input-box">
				<input type="text" class="input-text required-entry" title="From" value="<?php echo $quote->getGroupdealsCouponFrom(); ?>" id="coupon_from" name="coupon_from">
			</div>
		</li>
		<li>
			<label class="required" for="coupon_to"><?php echo $this->__('To') ?></label>
			<div class="input-box">
				<input type="text" class="input-text required-entry" title="To" value="<?php echo $quote->getGroupdealsCouponTo(); ?>" id="coupon_to" name="coupon_to">
			</div>
		</li>
		<li class="radio">
			<div class="input-box">
				<input type="radio" onclick="document.getElementById('coupon_to_email').disabled='';document.getElementById('coupon_to_email').addClassName('required-entry')" class="input-text" title="Email to" value="" id="email_radio1" checked="checked" name="email_radio">
			</div>
			<label for="email_radio"><?php echo $this->__('Email to') ?></label>
		</li>
		<li>
			<div class="input-box">
				<input type="text" class="input-text validate-email required-entry" title="Email Address" value="<?php echo $quote->getGroupdealsCouponToEmail(); ?>" id="coupon_to_email" name="coupon_to_email" >
			</div>
		</li>
		<li class="radio">
			<div class="input-box">
				<input type="radio" onclick="document.getElementById('coupon_to_email').disabled='disabled'; document.getElementById('coupon_to_email').value=''; document.getElementById('coupon_to_email').removeClassName('required-entry'); if (document.getElementById('advice-required-entry-coupon_to_email')) {document.getElementById('advice-required-entry-coupon_to_email').style.display='none';}" class="input-text" title="I'll print it myself" value="" id="email_radio2" name="email_radio">
			</div>
			<label for="email_radio"><?php echo $this->__('I\'ll print it myself') ?></label>
		</li>
		<li class="wide">
			<label class="required" for="coupon_message"><?php echo $this->__('Message') ?> <small><?php echo $this->__('(Max 255 characters)') ?></small></label>
			<div class="input-box">
				<textarea rows="3" cols="5" onkeyup="this.maxLength=255;" class="input-text required-entry" title="Message" id="coupon_message" name="coupon_message"><?php echo $quote->getGroupdealsCouponMessage(); ?></textarea>
			</div>
		</li>
	</ul>
	<div class="actions">
		<div id="actions"><button type="submit" title="<?php echo $this->__('Save') ?>" class="button"><span><span><?php echo $this->__('Save') ?></span></span></button>
		&nbsp;<span><?php echo $this->__('or') ?></span>&nbsp; <span class="close" onClick="$('popup-gift-bg').fade(); $('popup-gift-content').fade(); return false;" ><?php echo $this->__('Cancel') ?></span></div>
		<span class="please-wait" id="gift-please-wait" style="display:none;">
			<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Saving...') ?>" title="<?php echo $this->__('Saving...') ?>" class="v-middle" /> <?php echo $this->__('Saving...') ?>
		</span>
	</div>
	<script type="text/javascript">
		if (document.getElementById('coupon_to_email').value=='' && document.getElementById('coupon_from').value!=''){
			document.getElementById('email_radio2').checked='checked';
			document.getElementById('coupon_to_email').disabled='disabled';
			document.getElementById('coupon_to_email').removeClassName('required-entry');
		}
	</script>
<?php endif; ?>
