<!--@subject Your question regarding {{var product_name}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento" border="0"/></a></p></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Dear {{htmlescape var=$customer_name}},</strong>,<br/>
                            Here is the answer to your question posted on {{var date_posted}} regarding product {{var product_name}} .</p>
                            <p>
                                <strong>Question: </strong><br />
                                {{htmlescape var=$question}}
                            </p>
                            
                            <p>
                                <strong>Answer: </strong><br />
                                {{htmlescape var=$answer}}
                            </p>
                           

                            <p>Thank you,<br/><strong>{{var store_name}}</strong></p>


                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
