<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.1.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php $posts = $this->getPosts(); ?>
<div class="blog_left_wraper">
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?> 
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?> 
</div>
<?php foreach ($posts as $post): ?>
    <div class="postWrapper">
        <div class="postTitle">
            <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>            
        </div>
        <div class="postContent">
			<div class="blog_created"><?php echo $post->getCreatedTime(); ?></div>    
			<div class="blog_posted_by"><?php echo Mage::helper('blog')->__('Posted'); ?>
			<?php echo$this->__("By"); ?><span> <?php echo $post->getUser(); ?></span>
			</div>
			<?php echo $post->getPostContent(); ?>
		</div>
        <?php echo $this->getBookmarkHtml($post) ?>
        <div class="tags"><?php echo $this->getTagsHtml($post) ?></div>
        <div class="postDetails">
        
            <?php if ($this->getCommentsEnabled()): ?>
                 <a href="<?php echo $post->getAddress(); ?>#commentBox" >Comments(<?php echo $post->getCommentCount(); ?>)</a>  
            <?php endif; ?> 
                       
             <a href="<?php echo $post->getLinkurl(); ?>"><?php echo $this->__('Read More'); ?></a>
            
           
            <?php /* $postCats = $post->getCats(); ?>
            <?php if (!empty($postCats)): ?>
                <?php echo Mage::helper('blog')->__('Posted in'); ?>
                <?php foreach ($postCats as $title => $url): ?>
                    <a href="<?php echo $url; ?>"><?php echo $title; ?></a> 
                <?php endforeach; ?> 
            <?php else: ?>
                <?php echo Mage::helper('blog')->__('Posted'); ?>
            <?php endif; ?><?php echo$this->__("By"); ?> <?php echo $post->getUser(); */ ?>
            </div>
    </div>
<?php endforeach; ?> 
<?php $this->getPages(); ?>
</div>
