<?php $_categories = $this->getStoreCategories() ?>
<?php if(count($_categories)): ?>
<div class="block block-custommenu">
    <div class="block-title">
        <strong><span>Catalog</span></strong>
    </div>
    <div id="custommenu" class="block-content">
        <?php foreach ($_categories as $_category): ?>
            <?php echo $this->drawCustomMenuItem($_category) ?>
        <?php endforeach ?>
        <div class="clearBoth"></div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
var CUSTOMMENU_POPUP_WIDTH = <?php echo (int)Mage::getStoreConfig('custom_menu/popup/width')?>;
var CUSTOMMENU_POPUP_BOTTOM_OFFSET = <?php echo (int)Mage::getStoreConfig('custom_menu/popup/bottom_offset')?>;
var CUSTOMMENU_POPUP_DELAY_BEFORE_DISPLAYING = <?php echo Mage::getStoreConfig('custom_menu/popup/delay_displaying') + 0; ?>;
var CUSTOMMENU_POPUP_DELAY_BEFORE_HIDING = <?php echo Mage::getStoreConfig('custom_menu/popup/delay_hiding') + 0; ?>;
var wpCustommenuTimerShow = {};
var wpCustommenuTimerHide = {};
//]]>
</script>
<?php endif ?>
