<?php $_categories = $this->getStoreCategories() ?>
<?php if(count($_categories)): ?>


<nav id="nav_bar">
 
	<div class="nav-container">
    <div id="custommenu">
       <article class="nav_left"></article>
	   	<article class="nav_mid">
	   <?php if ($this->showHomeLink()) : ?>
        <div class="menu">
            <div class="parentMenu">
                <a href="<?php echo $this->getUrl('') ?>">
                    <span><?php echo $this->__('Home'); ?></span>
                </a>
            </div>
        </div>
        <?php endif ?>
        <?php /*?><div class="menu">
            <div class="parentMenu">
                <a href="<?php echo $this->getUrl('blog') ?>">
                    <span><?php echo $this->__('Blog'); ?></span>
                </a>
        </div>
        </div><?php */?>
        
        <?php foreach ($_categories as $_category): ?>
            <?php echo $this->drawCustomMenuItem($_category) ?>
        <?php endforeach ?>
        <div class="clearBoth"></div>
        </article>
       <article class="nav_right"></article> 
    </div>
</div>
	<script type="text/javascript">
//<![CDATA[
var CUSTOMMENU_POPUP_WIDTH = <?php echo Mage::getStoreConfig('custom_menu/popup/width') + 0; ?>;
var CUSTOMMENU_POPUP_TOP_OFFSET = <?php echo Mage::getStoreConfig('custom_menu/popup/top_offset') + 0; ?>;
var CUSTOMMENU_POPUP_RIGHT_OFFSET_MIN = <?php echo Mage::getStoreConfig('custom_menu/popup/right_offset_min') + 0; ?>;
var CUSTOMMENU_POPUP_DELAY_BEFORE_DISPLAYING = <?php echo Mage::getStoreConfig('custom_menu/popup/delay_displaying') + 0; ?>;
var CUSTOMMENU_POPUP_DELAY_BEFORE_HIDING = <?php echo Mage::getStoreConfig('custom_menu/popup/delay_hiding') + 0; ?>;
var wpCustommenuTimerShow = {};
var wpCustommenuTimerHide = {};
//]]>
</script>
 
</nav>
<?php endif ?>
