<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background: #E4F1FA; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
    <div style="background: #E4F1FA; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" >
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" >
                        <tr>
                            <td valign="top" style="padding:0">
                                <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/top.jpg" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0" width="100%"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="background-color:#2C3339; color:#ffffff;">
                            	
                                <h1 style="font-size: 22px; font-weight: normal; line-height: 22px;  margin: 0 0 11px 0; padding-bottom:10px; border-bottom:1px solid #272c32;">Dear {{htmlescape var=$customer.name}},</h1>
                                <img src="{{skin url="images/fgt_pass.jpg" _area='frontend'}}" alt="iKoala" align="left" style="padding-right:10px;"/>
                                <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0; ">There was recently a request to change the password for your account.<br/></p>
                                <p style="font-size: 12px; line-height: 16px; margin: 0; ">If you requested this password change, please click on the following link to reset your password: <br/> <br/><a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a><br/><br/></p>
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">If clicking the link does not work, please copy and paste the URL into your browser instead.</p>
                                <br />
                                <p style="font-size:12px; line-height:16px; margin:0; ">If you did not make this request, you can ignore this message and your password will remain the same.</p>
                            </td>
                        </tr>
                        <tr>
        					<td align="center" valign="top" bgcolor="#FFFFFF" style="padding:0;"> <a href="ikoala.com.au"><img src="{{skin url="images/view-all-deals.jpg" _area='frontend'}}" width="100%" height="59" border="0" usemap="#Map3" /></a></td>
        				</tr>
				      <tr>
				        <td valign="top" style="padding:0;">
				        	<table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#E4F1FA;">
				          		<tr>
				            		<td width="66%">
				            			<p style="font-family:Trebuchet MS; font-size:12px; color:#83a2b7; line-height:20px; ">Have a question? Email us at <span style="color:#0f83e7; text-decoration:none;"><a href="mailto:dailydeals@ikoala.com.au" style="text-decoration:none; color:#0f83e7;">dailydeals@ikoala.com.au</a></span>
				             		 		<br />
				             		 		Team Ikoala | PO Box 6362 | North Sydney, NSW 2059, Australia Manage your subscription | Send to a friend<br />
				              				<br />
				              				Your Daily Deal - National / Unsubscribe
				              			</p>
				              		</td>
				            		<td width="34%" valign="top">
				            			<!--<img style="float:right;" src="{{skin url="images/share.jpg" _area='frontend'}}"  alt="" width="193" height="41" border="0"/>-->
				            		</td>
				            	</tr>
				          </table>
				         </td>
				       
				      </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

<!--<map name="Map4" id="Map4">
<area shape="circle" coords="99,20,15" href="#" target="_blank" />
<area shape="circle" coords="130,21,14" href="#" target="_blank" />
<area shape="circle" coords="161,19,14" href="#" target="_blank" />
</map>-->
</body>
