<?php $_products = $this->getProductCollection(); ?>
<?php $_collectionSize = sizeof($_products); ?>
<?php $_columnCount = Mage::getStoreConfig('homepage/options/count'); ?>


<div class="block block-homepage">
    <div class="block-title title-homepage-topsellers">
        <span><?php echo $this->getTitle(); ?></span>
    </div>
    <div class="block-content">

        <?php if (sizeof($_products)): ?>
            <?php $i=0; foreach ($_products->getItems() as $_product): ?>
                <?php if ($i++%$_columnCount==0): ?>
                <ul class="products-grid">
                <?php endif ?>

                        <?php# echo $_product->getData('is_salable') . Mage::getStoreConfig('homepage/options/salable');  ?>
                        <?php if ($_product->getData('is_salable')): ?>
                            <li class="item<?php if($i==sizeof($_products) ): ?> last<?php endif; ?>">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(130); ?>" width="130" height="130" alt="" /></a>
                                <div class="product-details">
                                    <p class="product-name"><a href="<?php echo $this->getProductUrl($_product) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></p>
                                    <?php if (Mage::getStoreConfig('homepage/options/price')):?>
                                        <?php echo $this->getPriceHtml($_product, true) ?>
                                    <?php endif; ?>
                                    <?php if (Mage::getStoreConfig('homepage/options/actions')):?>
                                        <a class="link-cart" href="<?php echo $this->getAddToCartUrl($_product) ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->__('Add to Cart') ?></a>
                                    <?php endif; ?>
                                </div>
                            </li>
                        <?php else: ?>
                            <?php if( Mage::getStoreConfig('homepage/options/salable')) : ?>
                                <li class="item">
                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(130); ?>" width="130" height="130" alt="" /></a>
                                    <div class="product-details">
                                        <p class="product-name"><a href="<?php echo $this->getProductUrl($_product) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></p>
                                        <?php if (Mage::getStoreConfig('homepage/options/price')):?>
                                            <?php echo $this->getPriceHtml($_product, true) ?>
                                        <?php endif; ?>
                                        <?php if (Mage::getStoreConfig('homepage/options/actions')):?>
                                            <a class="link-cart" href="<?php echo $this->getAddToCartUrl($_product) ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->__('Add to Cart') ?></a>
                                        <?php endif; ?>
                                    </div>
                                </li>
                            <?php endif; ?>
                        <?php endif; ?>

                <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
                </ul>
                <?php endif ?>
            <?php endforeach; ?>


        <?php else: ?>
            <ol id="bestseller-sidebar" class="mini-products-list">
                <li class="item odd">
                    <?php echo Mage::getStoreConfig('homepage/options/noproduct') ?>
                </li>
            </ol>
        <?php endif; ?>

    </div>
</div>
