
.col-main .facebook-like-rewards-notification {
    font-size: 11px; 
    font-family: arial, sans-serif; 
}

.main-container.col2-right-layout .col-main .facebook-like-rewards-notification {
    float: right; 
    top: -28px;
    position: relative; 
    left: 0px;
}

.main-container.col2-right-layout .col-main .facebook-like-rewards-notification-2 {
    top: -38px;
}

.main-container.col3-layout .col-main .facebook-like-rewards-notification {
	float: left;
	top: -4px;
	position: relative;
	left: 2px;
}

.main-container.col3-layout .col-main .facebook-like-rewards-notification-2 {
	float: none;
	top: -12px;
}

.facebook-like-rewards-notification .ajax-loading {
    background-image: url('../../../images/rewardssocial/facebook/ajax-loader.gif');
	background-repeat: no-repeat;
	line-height: 11px;
	height: 11px;
	width: 16px;
	padding: 0;
	margin: 0;
}