@charset "utf-8";/* CSS Document */
body{margin:0px;padding:0px;font-family:Arial, Helvetica, sans-serif;width:100%; min-width:1140px; position:relative;text-align: left; background:none;}
h1, h2, h3, h4, h5, h6, p, img, clear, span, ul, li, ol, dd, dl, dt, label, form, br{padding:0px;margin:0px; font-weight:normal;}
img{border:none;}
*{outline:none !important;}
.nobdr{border:none!important;}
.nobg{background:none!important;}
.nomargin{margin:0 !important;}
.nomargintop{margin-top:0px !important;}
.nomarginbtm{margin-bottom:0px !important;}
.nomarginleft{margin-left:0px !important;}
.nomarginright{margin-right:0px !important;}
.nopadding{padding:0 !important;}
.nopaddingtop{padding-top:0px !important;}
.nopaddingbtm{padding-bottom:0px !important;}
.nopaddingleft{padding-left:0px !important;}
.nopaddingright{padding-right:0px !important;}
.clear{clear:both;margin:0px;padding:0px;height:0px;}
@font-face{font-family:"Ultra";src:url("fonts/Ultra.eot?") format("eot"),url("fonts/Ultra.woff") format("woff"),url("fonts/Ultra.ttf") format("truetype"),url("fonts/Ultra.svg#Ultra") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'zurich_btbold';src:url('fonts/zurich-bt-bold.eot');src:url('fonts/zurich-bt-bold.eot?#iefix') format('embedded-opentype'), url('fonts/zurich-bt-bold.woff') format('woff'), url('fonts/zurich-bt-bold.ttf') format('truetype'), url('fonts/zurich-bt-bold.svg#zurich_btbold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'helveticaneuelight';src:url('fonts/helveticaneuelt-blackcond_0.eot');src:url('fonts/helveticaneuelt-blackcond_0.eot?#iefix') format('embedded-opentype'), url('fonts/helveticaneuelt-blackcond_0.woff') format('woff'), url('fonts/helveticaneuelt-blackcond_0.ttf') format('truetype'), url('fonts/helveticaneuelt-blackcond_0.svg#helvetica_neue_ltregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'ZurichBT-Roman';src:url('fonts/zurich-bt-roman.eot');src:url('fonts/zurich-bt-roman.eot?#iefix') format('embedded-opentype'), url('fonts/zurich-bt-roman.woff') format('woff'), url('fonts/zurich-bt-roman.ttf') format('truetype'), url('fonts/zurich-bt-roman.svg#zurich-bt-roman') format('svg');font-weight:normal;font-style:normal;}
@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-reg-webfont.eot');
    src: url('fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-reg-webfont.woff') format('woff'),
         url('fonts/lato-reg-webfont.ttf') format('truetype'),
         url('fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

 @font-face {
 font-family: 'ultraregular';
 src: url('fonts/ultra-webfont.eot');
 src: url('fonts/ultra-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/ultra-webfont.woff') format('woff'),  url('fonts/ultra-webfont.ttf') format('truetype'),  url('fonts/ultra-webfont.svg#ultraregular') format('svg');
 font-weight: normal;
 font-style: normal;
}

.call_us {float: right; height: 185px; overflow: hidden; position: absolute; right: 0; text-align: left !important; top: 0; width: 50px; z-index:999;}
.share{	background:url(../images/share_bg.png) left top no-repeat;	width:44px;	height:193px; position:fixed; top: 282px; left:0; padding-top:15px;}
.share a { padding:0 6px; display: block; margin: 4px 0;}
.outerwraper{width:100%;margin:0;padding:0;}
/*.header{width:100%;margin:0 auto;min-width:1110px;}*/
.second_deal_header{width:100%;margin:0 auto;min-width:1110px;}
.freesignup{width:100%;margin:0 auto;background:#2d383e;min-width:1110px;}
.freesignup .wrap{width:1100px;margin:0 auto;}
.freesignup .wrap h1{float:left;font:15px/39px Ultra, Arial, Helvetica, sans-serif;color:#93999c; font-weight:normal;}
.freesignup .wrap ul{float:right;background:#444e53;}
.freesignup .wrap ul li{color:#fff;list-style:none;float:left;background:url(../images/signlibg.gif) repeat-y left top;text-align:center;}
.freesignup .wrap ul li:first-child{background:none;width:100px;}
.freesignup .wrap ul li a{text-decoration:none;color:#fff;text-transform:uppercase;font:14px/39px zurich_btbold, Arial, Helvetica, sans-serif;display:block;padding:0 12px; cursor:pointer}
.freesignup .wrap ul li a img{vertical-align:text-bottom;}
.freesignup .wrap ul li:hover{background:#ff4200;}
.menu{background:url(../images/menubg.gif) repeat-x left top;width:100%;height:98px;min-width:1110px;}
.menu .wrap{width:1100px;margin:0 auto;}
.logo{float:left;padding:22px 0 0 0;}
.nav{float:right;}
.nav ul{}
.nav ul li, .nav ul#nav li{list-style:none;float:left;font:normal 19px/98px Ultra, Arial, Helvetica, sans-serif;background:url(../images/nav-bullets.png) no-repeat left 2px;padding:0 0 0 15px; position:relative; height: 32px; }
.nav ul li:first-child, .nav ul#nav li:first-child{background:none;}
.nav ul li a, .nav ul#nav li a{text-decoration:none;color:#6a7276;text-transform:uppercase;padding:0 15px;text-align:center}

.nav ul#nav li a.level-top{background: url("../images/arrowdown.png") no-repeat scroll right 46px transparent;}
.nav ul li:hover a, .nav ul#nav li:hover a{color:#FF4200}
.nav ul li a.active, .nav ul#nav li a.active{color:#FF4200}
.nav ul li a img, .nav ul#nav li a img {vertical-align:middle}
.nav ul#nav li ul{ position:absolute; left:0; top:30px; display:none;width:200px;background:#2d383e;z-index:999999;border-radius:5px;text-align:left;padding:10px 5px }
.nav ul#nav li:hover ul{ display:block;} 
.nav ul#nav li ul:before{ content:""; position:absolute; top:0; background:url(../images/drowdown.gif) 0 0 no-repeat; width:16px; height:14px; left:94px; top:-10px;}
.nav ul#nav li ul li, .nav ul#nav li ul li:first-child{width:100%;float:left;padding:0;font:11px/32px Arial, Helvetica, sans-serif;height:32px;background:url(../images/menu-arrow.gif) no-repeat 10px 12px;}
.nav ul#nav li ul li a{color:#fff;font:11px/32px Arial, Helvetica, sans-serif;height:32px;display:block;z-index:9999;text-transform:none;background:url(../images/menusep.gif) repeat-x left bottom;text-transform:uppercase;text-align:left;padding:0 0 0 25px }
.nav ul#nav li:hover ul li a span{color:#fff; padding:0;}
.nav ul#nav li:hover ul li a:hover span{color:#FF4200;}
.sendfree{width:100%;margin:0 auto;background:url(../images/sendfrebg.gif) repeat-x left bottom #ff4200;height:73px;min-width:1110px;}
.sendfree .wrap{width:1100px;margin:0 auto;}
.sendfree .wrap h3{float:left;text-transform:uppercase;font:normal 14px/20px zurich_btbold;color:#fff;padding:25px 0 0 0;}
.sendfree .wrap .city{margin:0 0 0 15px;float:left;background:url(../images/select-city.gif) no-repeat left top;height:39px;width:186px;}
.sendfree .wrap .city select{background:#d23600;border:0px none; width:180px; color:#fff;font:11px/31px Arial, Helvetica, sans-serif;padding:8px 5px 5px 7px;height:33px;margin:2px;}
.sendfree .wrap .city select option{color:#3c4448; background:#fff; padding:5px; border-bottom:1px solid #e7e7e7;}
.search_deal{float:left;padding:18px 0 0 0;width:531px;}
.sendfree #groupdeals-subscriptions{float:left;padding:18px 0 0 0;width:735px;}
.sendfree .wrap .email{background:url(../images/enter-email.gif) no-repeat left top;float:left;width:236px;height:39px;margin:0 0 0 4px;}
.sendfree .wrap .email input{background:none;width:219px;padding:0 0 0 10px;border:none;color:#fff;font:11px/39px Arial, Helvetica, sans-serif;height:34px;}
.sendfree .search:hover{background:url(../images/submit-h.png) no-repeat left top;}
.sendfree h4{font:12px/20px Arial, Helvetica, sans-serif; color:#fff; float:left; margin:7px 4px;}
div.selector, div.selector span, div.checker span,div.radio span, div.uploader, div.uploader span.action,div.button,div.button span{position:relative;background-repeat:no-repeat;-webkit-font-smoothing:antialiased;}
.selector, .radio, .checker, .uploader,.button, .selector *, .radio *, .checker *, .uploader *,.button *{margin:0;padding:0;}
.search{background:url(../images/submit.png) no-repeat left top;border:none;width:85px;height:37px;float:left;cursor:pointer;margin:1px 0 0 4px;text-indent:-99999px}
.categories{background:url(../images/categories.png) no-repeat left top;width:166px;height:32px;float:right;margin:21px 0 0;position:relative;font:13px/32px zurich_btbold, Arial, Helvetica, sans-serif;color:#fff}
.categories a{text-decoration:none;color:#fff;font:13px/32px zurich_btbold, Arial, Helvetica, sans-serif;padding:0 10px}
.categories ul{position:absolute;width:161px;top:32px;border-radius:5px;padding:10px 5px;}
.categories ul li{background:url("../images/menu-arrow.gif") no-repeat scroll 10px 12px transparent;float:left;font:11px/32px Arial,Helvetica,sans-serif;height:32px;padding:0;width:100%;}
.categories ul{background:#273035;border-radius:5px; z-index:999;}
.categories ul li{list-style:none;}
.categories ul li a{background:url("../images/menusep.gif") repeat-x scroll left bottom transparent;border-bottom:1px solid #2B3239;color:#FFFFFF;display:block;font:11px/32px Arial,Helvetica,sans-serif;height:32px;padding:0 0 0 25px;text-align:left;z-index:9999;text-decoration:none;}
.categories ul li a:hover{color:#FF4200;}
.today{width:100%;margin:0 auto; background:url(../images/bg.gif) repeat;min-width:1110px; border-top: 1px solid #FFFFFF; padding: 20px 0;}
 .deal{width:1075px;margin:0 auto; }
.deal .left{float:left;width:301px;background:#2d383e; height:346px; position:relative; padding:57px 0 0 0;}
.deal .left .ribbon{position:relative;left:-36px;background:url(../images/ribbon.png) no-repeat center top;text-align:center;height:57px;width:372px;font:21px/45px Ultra, Arial, Helvetica, sans-serif;color:#fff; text-transform:uppercase; position:absolute; top:0; z-index:9;}
.deal .right{float:left;background:#fff;width:774px; height:403px;}
.deal .right h3{background:url(../images/h3bg.gif) repeat-x left -1px;font:italic 16px/45px Arial, Helvetica, sans-serif;color:#a5a5a5;display:block;text-align:center; height:45px; padding-left:15px;}
.product{height:287px;width:774px;padding-top:2px; position:relative;}
.product img#pimgholder{}
.product .item{float:right;width:200px; top:58px; right:25px;position:absolute;}
.product .item ul li{margin:0 0 11px 11px;float:left;background:url(../images/item.png) no-repeat center top;width:88px;height:86px;list-style:none;}
.product .item ul li img{vertical-align:middle;text-align:center;margin:15px 0 0 21px;}
.deal .right h2{background:url(../images/dealon.gif) repeat-x left top ;text-align:center;text-transform:uppercase;width:267px;height:64px; float:left;font:normal 23px/23px helveticaneuelight, Arial, Helvetica, sans-serif;color:#fff;text-transform:uppercase;padding:7px 0 0 0;}
.deal .right h2 span{font:15px/20px helveticaneuelight, Arial, Helvetica, sans-serif;color:#bcbec0; text-transform:none;}
.deal .right h2 img{margin:4px 0 0 3px;}
.deal .right .buy{background:url(../images/rightbuy.png) no-repeat left top;height:70px;width:527px;position:absolute;left:266px;top:0}
.deal .right .buy span{font:24px/70px Ultra, Arial, Helvetica, sans-serif;float:left;}
.deal .right .buy span a{text-decoration:none;font:24px/70px Ultra, Arial, Helvetica, sans-serif;color:#b93101;text-shadow:1px 1px #d3983f;margin:0 0 0 67px; cursor:pointer;}
.deal .right .buy span a:hover{color:#1F282C;}
.pagewrap{background:#F9F9F9;width:100%;border-bottom:1px solid #dedede;min-width:1110px;}
.page{width:1070px;margin:0 auto;padding:23px 0 0 0;}
.followus{float:right;color:#7e704c;font:15px/70px helveticaneuelight, Arial, Helvetica, sans-serif;text-transform:none;padding:0 35px 0 0;}
.followus a img{vertical-align:middle;margin:0 0 0 5px;}
.minideals{background:url(../images/minidealbg.gif) repeat-x left bottom; height:45px;}
.minideals a{border-top:1px solid #d7d9da;border-left:1px solid #d7d9da;border-right:1px solid #d7d9da;float:left;text-decoration:none;color:#606365;font:16px/44px helveticaneuelight, Arial, Helvetica, sans-serif; padding:0 30px;background:#F9F9F9;margin:0 0 0 15px;text-transform:uppercase;}
.minideals .view{padding:11px 0 0; float:right;}
.minideals .view a{float:right;text-decoration:none;color:#fff;background:#ff4200;text-transform:uppercase;font:12px/33px ZurichBT-Roman, Arial, Helvetica, sans-serif;padding:0 13px;}
.minideals .view a:hover{background:#2D383E}
.minideals .view a img{margin:13px 0 0 10px;}
ul.listing{margin:0}
.deal .left #countdown_12{ min-height:97px;}
ul.listing li{background:url(../images/horizotal-sep.gif) repeat-x left bottom;list-style:none;padding:24px 0 24px 4px; float:left;}
ul.listing li:after{content:" "; width:100%; height:10px; clear:both; float:left;}
.deallist{float:left;width:222px;background:url(../images/minideallibg.gif) repeat-y right top;margin:0 3px 0 30px; padding:0 25px 0 0;}
.deallist h3{background:url(../images/listarrow.png) no-repeat left 5px;font:15px/20px Arial, Helvetica, sans-serif;padding:0 0 0 20px;color:#666c71;margin:0 0 12px 0}
.deallist img{float:left;}
.deallist .rgt{float:left;padding:3px 0 0 8px;}
.deallist .rgt ul{background:#f6f6f6}
.deallist .rgt ul li{list-style:none;background:url(../images/probg.gif) repeat-y left top;text-transform:uppercase;color:#676f73;font:11px/20px ZurichBT-Roman, Arial, Helvetica, sans-serif;float:left;width:66px;text-align:center;height:49px;padding:5px 0 0 0;}
.deallist .rgt ul li span{font:15px/20px zurich_btbold, Arial, Helvetica, sans-serif;}
.deallist .rgt ul li:first-child{background:none; color:#2A353B;}
.deallist .rgt ul li:first-child span{ color:#FE4200;}
.findout{background:url(../images/findout.png) no-repeat left top;text-indent:-99999px;width:131px;height:26px;margin:0 0 0 8px;float:left;cursor:pointer;}
.findout:hover{background:url(../images/findout-h.png) no-repeat left top;}
.poplulerwrap{background:#fff;width:100%;margin:0 auto;min-width:1110px;}
.whatonwrap{width:100%;margin:0 auto;min-width:1110px;}
.populerdeals{width:1074px;margin:0 auto;padding:30px 0 25px; display: table;}
.populerdeals h2{color:#424447;font:28px/30px helveticaneuelight, Arial, Helvetica, sans-serif;margin:0 0 20px 0}
.populer{float:left;background:#F0F0F0;width:249px;margin:0 0 15px 25px; height: 336px;}
.populer h3{    height: 41px;background:url("../images/listarrow.png") no-repeat scroll left 3px transparent;color:#666C71;font:15px/18px Arial,Helvetica,sans-serif;margin:13px 0 13px 12px;padding:0 0 0 20px;}
.populer > img{max-width:224px; margin:0 auto 10px auto;padding:0 12px; display:block;}
div.price2{background:url(../images/populerulbg.gif) repeat-x left top;height:56px;padding:14px 0 0;width:123px;float:left;color:#fff;text-align:center; font:10px/15px ZurichBT-Roman, Arial, Helvetica, sans-serif; text-transform:uppercase;}
div.price2 span{list-style:none;display:inline;width:100%;float:left;text-align:center;color:#fff;font:10px/15px ZurichBT-Roman, Arial, Helvetica, sans-serif;color:#fff;font:20px/30px zurich_btbold, Arial, Helvetica, sans-serif;text-align:center;}
.divider{background:url(../images/divider.gif) repeat-y center top;height:70px;float:left;width:3px; clear: inherit; margin:0px;}

.whaton{width:1074px;margin:0 auto;background:url(../images/shadow.gif) no-repeat center top;padding:35px 0 0 0}
.whaton .left{float:left;}
.whaton .right{float:right;width:365px;}
.whaton .right h2{font:normal 28px/35px helveticaneuelight, Arial, Helvetica, sans-serif;color:#424447}
.whaton .right h2 img{margin:0 0 0 30px; vertical-align:middle;}
.whaton .right ul, .whaton .right table{margin:15px 0 0 0;}
.whaton .right table tr td.reasontable{ vertical-align:middle; padding:0 10px 0 0;}
.whaton .right table tr td + td.reasontable{}
.whaton .right table tr{}
.whaton .right table tr td.reasontable img{ vertical-align:middle;}
.whaton .right ul li, .whaton .right table tr td{color:#989C9F;font:13px/25px Arial, Helvetica, sans-serif;list-style:none;}
.whaton .right ul li .tick{margin:0 17px 0 0;vertical-align:middle}
.whaton .right ul li .pay{margin:0 0 0 7px;vertical-align:middle}
.time{padding:14px 0 19px 33px;background:url(../images/bdrbtm.gif) repeat-x left bottom;width:268px;float:left;}
.time li{float:left;list-style:none;text-align:center;}
.time li.date{background:url(../images/time.png) no-repeat left top;width:59px;height:54px;font:27px/27px Ultra, Arial, Helvetica, sans-serif;text-transform:uppercase;color:#DDDDDD;padding:12px 0 0;}
.time li.date span{color:#afafaf;font:10px/10px ZurichBT-Roman, Arial, Helvetica, sans-serif;display:block;margin:5px 0 0 0}
.time li img{vertical-align:middle;margin:17px 5px 0;}
.price{width:100%;margin:0 auto;text-align:center;background:url(../images/bdrbtm.gif) repeat-x left bottom;color:#ff4200;font:51px/80px Ultra, Arial, Helvetica, sans-serif; height:80px;}
.choose{padding:20px 0 13px 35px;}
.deal .left .choose{width:280px;height:48px;padding:21px 10px 15px;color:#4e5458;font:10px/22px zurich_btbold, Arial, Helvetica, sans-serif;text-transform:uppercase;margin:0;
 background:none;}
  .deal .left .choose .last{}
 .deal .left .choose .last dt label{ display:none;}
.deal .left .choose select{width:228px;margin:0 0 3px 26px;padding:4px 3px 4px 10px;color:#4e5458;font:10px/22px zurich_btbold, Arial, Helvetica, sans-serif;text-transform:uppercase;height:22px;float:left}
.deal .left .choose select option{padding:0 10px;height:22px;font:10px/22px zurich_btbold, Arial, Helvetica, sans-serif;}
.value{position:absolute;background:url(../images/leftflybg.gif) repeat-x left bottom #20292C;height:83px;width:100%; display:block; bottom:0;}
.value .leftfly{background:url(../images/leftfly.png) no-repeat left top;width:7px;height:90px;left:-6px;position:absolute;}
.value ul{padding:4px 0; display:block; height:60px;}
.value ul li{list-style:none;float:left;color:#fff;text-transform:uppercase;background:url(../images/liverticle-sep.gif) repeat-y scroll right top;font:10px/25px ZurichBT-Roman, Arial, Helvetica, sans-serif;padding:10px 15px;text-align:center;height:54px;}
.value ul li span, .value ul li.paddm span span{display:block;font:20px/20px zurich_btbold, Arial, Helvetica, sans-serif;}
.value ul li.paddm{padding:10px 20px!important;float:right!important}
.value ul li.paddm span{font:inherit;}
.shadetabs{list-style-type:none;text-align:left;float:left;border-radius:0 0 0 10px;}
.shadetabs li{background:none;}
.shadetabs li a{text-decoration:none; text-transform:uppercase;position:relative;z-index:1;color:#C2C6C9;background:#2D383E;padding:0 0 0 29px;width:170px;display:block;border-bottom:1px solid #808588;border-right:1px solid #808588;font:12px/45px Arial, Helvetica, sans-serif;}
.shadetabs li a.selected{border-right:1px solid #232A30;border-bottom:1px solid #808588;background:#232A30;position:relative; color:#FBFBFB;}
.tabcontent{display:none;}
.tab{background:#232A30;float:left;height:183px;width:797px;padding:0 38px;border-radius:0 0 4px;  color:#fff; overflow:auto;}
.tab .tabcontent_scrol{ padding:6px 0 0 0;}
.tab .tabcontent_scrol .row_data .label{ float:left; margin-right:20px;}
.tab .tabcontent_scrol .row_data .data{ float:left;}
.tab .tabcontent_scrol table{}
.tab .tabcontent_scrol table tr td img { vertical-align: middle;}
.tabcontent h2{font:italic 16px/24px Arial, Helvetica, sans-serif;color:#fbfbfb;margin:28px 0 10px}
.tabcontent p{color:#BABEC1;font:12px/20px Arial, Helvetica, sans-serif;}
.whaton .left h2{color:#424447;font:28px/35px helveticaneuelight,Arial,Helvetica,sans-serif;}
.shadetabs2{list-style-type:none;text-align:left;float:left;border-radius:0 0 0 10px;}
.shadetabs2 li{background:none;}
.shadetabs2 li a{text-decoration:none;position:relative;z-index:1;color:#545d62;background:#fafafa;padding:0 0 0 18px;width:170px;display:block;border-bottom:1px solid #DDDFDF;border-right:1px solid #DDDFDF;font:11px/42px Arial, Helvetica, sans-serif;text-transform:uppercase;}
.shadetabs2 li a.selected{border-right:1px solid #fff;border-bottom:1px solid #DDDFDF;background:#fff;position:relative;}
.tab2{background:#fff;float:left;}
.tabsec{border:1px solid #dddfdf;width:657px;margin:16px 0 0;float:left;min-height:215px;}
.whaton .left h3{color:#2a2a2a;font:bold 21px/35px Arial,Helvetica,sans-serif;text-transform:uppercase;margin:18px 0 0;}
.whaton .left p{margin:8px 0 0;}
.tab2 .tabcontent{width:400px;margin:0 0 0 36px;}
.shadetabs2 li a img{vertical-align:middle;margin:0 12px 0 0}
.signup{background:#ff4200;width:100%;margin:40px auto 0;height:87px;min-width:1110px;}
.signup .wrap{width:1074px;margin:0 auto;padding:14px 0 0 0;}
.signup .wrap .sign{background:url(../images/signup2.png) no-repeat left top;height:63px;width:622px;float:left;margin:0 25px 0 18px;}
.signup .wrap .sign h4{float:left;text-transform:uppercase;color:#fff;font:16px/63px helveticaneuelight, Arial, Helvetica, sans-serif;margin:0 20px;}
.signup .wrap .sign form{ float:left; width:383px; margin:2px 0 0 0;}
.signup .wrap .sign form .input-box{ float:left;}
.signup .wrap .sign form .button{ float:right; }
.signup .wrap .sign form .button span{ border:none; padding:0;}
.signup .wrap .sign form span{ background:url(../images/signup.gif) no-repeat left top; width:100px; height:58px; float:right; text-indent:-99999px;}
.signup .wrap .sign input{background:url(../images/signbg.gif) no-repeat left top;width:236px;height:37px;border:none;float:left;margin:15px 0 0 0;color:#fff;font:11px/31px Arial, Helvetica, sans-serif;padding:0 15px;}
.signup .wrap .sign a{display:block;float:right;margin:3px}
.likeup{float:left;background:url(../images/likeup.gif) no-repeat left top;height:61px;width:387px;}
.likeup h4{float:left;text-transform:uppercase;color:#fff;font:16px/63px helveticaneuelight, Arial, Helvetica, sans-serif;margin:0 40px 0 20px;}
.likeup a{float:left;text-decoration:none;text-transform:uppercase;color:#c3ced6;font:11px/61px Arial, Helvetica, sans-serif;margin:0 8px;}
.likeup a img{vertical-align:middle;margin:0 7px 0 0;}
.footerwrap{width:100%;margin:0 auto;background:#2A333A;min-width:1110px}
.footerwrap .footer{width:1074px;margin:0 auto; padding:0;}
.footer ul{margin:0 103px 0 40px;padding:32px 0 0 0;float:left;}
.footer ul li{list-style:none;background:url(../images/footerlibg.gif) no-repeat left 8px;padding:0 0 0 16px; display:list-item;}
.footer ul li a{text-decoration:none;color:#b8bec1;font:11px/22px Arial, Helvetica, sans-serif;}
.footer ul li a:hover{color:#fff;}
.touch{float:right;margin:36px 56px 0 0;}
.touch p{color:#b8bec1;font:11px/22px Arial, Helvetica, sans-serif;margin:5px 0}
.footer2{width:1000px;margin:0 auto;background:url(../images/bdrbtm.gif) repeat-x left top;padding:12px 0 0 0;}
.footer2 p{font:11px/22px Arial, Helvetica, sans-serif;color:#b8bec1;margin:0;float:left;}
.footer2 img{float:right;margin:10px 0 33px 0;}
.get{width:140px;height:35px;background:url(../images/get-in-touch.jpg) no-repeat;display:block;text-indent:-99999px;margin:7px 0 22px 0;}
.get:hover{background:url(../images/get-in-touch-h.jpg) no-repeat;}
.slider_details{position:relative;}
.slider_details ul{ height:354px;}
.controls{position:absolute;right:5px;top:-41px;}
.nav ul li a.dropdown{background:url(../images/arrowdown.png) no-repeat right 9px;}
.nav ul#nav{ width:auto; padding: 38px 0 0; margin:0;}
.nav ul li:hover a.dropdown{background:url(../images/arrowdown-h.png) no-repeat right 9px;}
.chromestyle li ul.sub_menu{display:none;position:absolute;top:70px;left:549px;width:200px;background:#2d383e;z-index:999999;border-radius:5px;text-align:left;padding:10px 5px}
.chromestyle{float:right;position:relative; height:95px;}
.chromestyle li ul.sub_menu li{width:100%;float:left;padding:0;font:11px/32px Arial, Helvetica, sans-serif;height:32px;background:url(../images/menu-arrow.gif) no-repeat 10px 12px;}
.chromestyle li ul.sub_menu li span{position:absolute;top:-9px;left:83px;}
.chromestyle li ul.sub_menu li a{color:#fff;font:11px/32px Arial, Helvetica, sans-serif;height:32px;display:block;z-index:9999;text-transform:none;background:url(../images/menusep.gif) repeat-x left bottom;text-transform:uppercase;text-align:left;padding:0 0 0 25px }
.chromestyle li ul.sub_menu li:hover a{color:#ff4200;font:11px/32px Arial, Helvetica, sans-serif;height:32px;}
.orrange{ color:#FE4100!important}
.buynow a{ display:block; width:249px; height:50px; background:url(../images/buy-now.jpg) no-repeat left top;}


/***** All Deals page css start here *****/
.all_deal_wrapper{width:1075px;margin:0 auto; background:#141618; padding:0 0 15px 0; }
.all_deals{ background:url(../images/all_deals_bg.gif) repeat-x left top; height:47px;  position:relative; width:100%;}
.left_corner{ background:url(../images/left_corner.png) left top no-repeat; width:33px; height:56px; float:left; position:absolute; left:-32px; top:0;}
.right_corner{ background:url(../images/right_corner.png) right top no-repeat; width:33px; height:56px; float:right;  position:absolute; right:-32px; top:0;}
.all_deals h3{font:21px/47px Ultra, Arial, Helvetica, sans-serif; color:#fff; padding:0 15px 0 25px; text-transform:uppercase;}
.all_deals h3 span{ text-align:right; font:16px/47px helveticaneuelight, Arial, Helvetica, sans-serif; color:#fff; float:right;}

.populer_product{float:left; background:#20282d; width:249px; margin:15px 12px 0 0;}
.populer_product h3{height: 36px; background:url(../images/listarrow.png) no-repeat left 4px; color:#f2f2f2; font:17px/20px latoregular; margin:13px 0 13px 12px; padding:0 0 0 20px;}
.populer_product .img{width:224px;height:157px;margin:0 auto 10px auto;padding:0 12px;}
div.price2{background:url(../images/populerulbg.gif) repeat-x left top;height:56px;padding:14px 0 0;width:123px;float:left;color:#fff;text-align:center; font:10px/15px ZurichBT-Roman, Arial, Helvetica, sans-serif; text-transform:uppercase;}
div.price2 span{list-style:none;display:inline;width:100%;float:left;text-align:center;color:#fff;font:10px/15px ZurichBT-Roman, Arial, Helvetica, sans-serif;color:#fff;font:20px/30px zurich_btbold, Arial, Helvetica, sans-serif;text-align:center;}
 .divider{background:url(../images/divider.gif) repeat-y center top;height:70px;float:left;width:3px; clear: inherit; margin:0px}
.leftmargin{ margin-left:22px;}

.left_search{ width:203px; float:left; background:#eeefef; padding:25px 10px 40px 15px;}
.left_search h4{font:24px helveticaneuelight, Arial, Helvetica, sans-serif; color:#ff4200; text-transform:uppercase; padding-bottom:12px;}
.left_search select{ width:199px; height:28px; float:left; border:1px solid #dadcdd; padding:4px 2px 4px 10px; font:11px Arial, Helvetica, sans-serif; color:#585e63; text-transform:uppercase; margin-bottom:2px;}
.left_search input{ background:none; border:none; font:15px/37px zurich_btbold, Arial, Helvetica, sans-serif; color:#825202; text-transform:uppercase; cursor:pointer;}
.left_search input.submit{ background:url(../images/submit_btn.gif) left top no-repeat; width:84px; height:37px; float:left;  cursor:pointer; margin:2px 0 0 0;}
.left_search input:hover{ color:#ff4200;}

.category_list{ width:98%; float:left; padding:30px 0 0 5px;}
.category_list h5{font:16px helveticaneuelight, Arial, Helvetica, sans-serif; color:#41474c; text-transform:uppercase;}
.category_list ul{ list-style:none; float:left; padding-top:10px;}
.category_list ul.simpli li{ background:none; padding: 7px 1px 7px 0;}
.category_list ul.simpli li input{margin-right: 6px;} 
.category_list ul li{ float:left; width:90%; padding:7px 0 7px 15px; background:url(../images/arrow.gif) left 13px no-repeat;}
.category_list ul li a{ text-decoration:none; font-size:11px; color:#585e63; display:block;}
.category_list ul li a:hover{ color:#ff4200;}
.deals_wrapper{ width:800px; float:right;}
.deals_wrapper h5{ color: #424447; font: 28px/30px helveticaneuelight,Arial,Helvetica,sans-serif; text-transform: uppercase; margin:0 0 15px;}
.deals_wrapper p{ font-size:12px; color:#3c4448; line-height:20px; padding:0px 0 30px 0;}
.paging{ float:right; padding:23px 0 0 0;}
.paging ul{ list-style:none; float:left;}
.paging ul li{ float:left; padding:0 4px;}
.paging ul li a{ text-decoration:none; font-size:11px; color:#3c4448;}
.paging ul li a:hover{color:#ff4200;}
.paging ul li a img{ vertical-align:sub;}
.deals_wrapper p.note-msg{ background-color:#EEEFEF;   border: 1px solid #B6B6B6;
	 border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;-webkit-border-radius: 3px;}
/***** All Deals page css end here *****/
.deal .right .del_soldinfo {  background: url("../images/dealon.gif") repeat-x scroll left top transparent;   color: #FFFFFF;  font: 23px/30px helveticaneuelight,Arial,Helvetica,sans-serif;   height: 64px;    padding: 7px 0 0;    position: relative;    text-align: center;    text-transform: uppercase;
    width: 267px;	margin:0px; }
	
.deal .right .del_soldinfo h2{ background:none;}	
.product .item{float:left;width: 267px; }
/*****new css *****/
.deals_wrapper .toolbar .toolbar_left{}
.toolbar .toolbar_left .toolbar_right{ float:right;}
.toolbar_left .toolbar_right .pager{ background:none; float:left; border:none;}
.toolbar_left .toolbar_right .sorter{ background:none; float:left; border:none;}
.toolbar { clear: both;display: table;width: 100%; padding:10px 0;}
/*****new contact us page css *****/
.deals_wrapper .sydny h2{ color: #424447; font: 22px/30px 'latoregular',Arial,Helvetica,sans-serif normal; text-transform: uppercase; margin:0 0 0 10px; padding: 11px 20px; 
	float:left; background:#ccc; border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;}
.contactus{ }
.outerwraper .std { height:0;}	
.populerdeals .std{ border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-webkit-border-radius:5px;
	border:1px solid #dee0df; padding:10px; height:auto; }	
.contactus h2{   color: #2A2A2A;    font: normal 18px/35px Arial,Helvetica,sans-serif;    margin: 0;    text-transform: uppercase;}

.std h3{ color: #424447; font: 18px/30px 'latoregular'; text-transform: uppercase; margin:0 0 0px;}
.std h4 {  color: #424447; font: 14px/30px 'latoregular';  margin: 0 0 5px;  }	
.contactus .form1 .mid  h2{ color: #424447; font: 18px/30px 'latoregular'; text-transform: uppercase; margin:0 0 15px;}
.contactus .number{  color: #424447; font: italic 16px/24px Arial,Helvetica,sans-serif;  margin: 0px 0 10px;}
.contactus p {color: #585E63;font: 12px/20px Arial,Helvetica,sans-serif;}
.contactus .form1 {    margin: 0 auto;    overflow: hidden;}
.contactus .form1 .mid{ border-top: 1px solid #dee0df; clear:both; padding: 12px 0 0;}
.contactus .form1 .mid form { float: left;    }
.contactus .form1 .mid form span.bounce2{  display: block;  margin: 18px 0 0;}
.form1 .mid form .leftpart { float: left; padding: 0 20px 0 0px; width:220px;}
.form1 .mid form .rgtpart { float: left;padding: 0 20px 0 15px; width:220px;}
.contactus .form1 .mid label { color: #6E777F; font-family: Arial,Helvetica,sans-serif; font-size: 12px;}
.contactus .form1 .mid .inputbox3, .contactus .form1 .mid .inputbox{ margin: 3px 0 11px;}
.contactus .form1 .mid input, .contactus .form1 .mid select  { border:1px solid #dee0df; padding:5px;  width: 100%;
	border-radius:3px;-moz-border-radius:3px; -ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;}
.contactus .form1 .mid textarea 	{ border:1px solid #DEE0DF; padding:5px;  width: 100%;
	border-radius:3px;-moz-border-radius:3px; -ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;}
.contactus .form1 .mid form button.button, .feature-business .leftfeat1 button.send {background: url("../images/submit.png") no-repeat scroll left top transparent;
    height: 39px; width: 85px; border:none; cursor:pointer;}	
.contactus .form1 .mid form .bounce2 button.button span{ background:none; border:none;}	
.contactus .form1 .mid .contact {  float: right;    width: 220px;}
.contactus .form1 .mid .contact h3{ font-family:'latoregular'; font-size:13px;  line-height: 18px; margin:0 0 5px 0;}	
.std ul{ margin: 15px 0 0;}
.std ul li { color: #989C9F; font: 13px/25px Arial,Helvetica,sans-serif; list-style: none outside none;  padding: 0 0 0 26px;
	background: url("../images/li1.gif") no-repeat scroll left 5px transparent;}
/*****new feature_business page css *****/
.feature-business .leftfeat1{ float:left; width:310px; margin:0 20px 0 0;}
.feature-business .leftfeat2{float:left; width:310px; padding:0;}

.feature-business .inputfeat, .feature-business .inputfeattext{ padding:5px 0 5px 0; }
.feature-business .capt{padding: 10px 0;}
.feature-business .leftfeat1 .inputfeat input{ width:300px;}

.cart{ display: table;  margin: 0 auto;  padding: 30px 0 25px;  width: 1074px;}

.cart .sydny h2{ color: #424447; font: 22px/30px 'latoregular',Arial,Helvetica,sans-serif normal; text-transform: uppercase; margin:0 0 0 10px; padding: 11px 20px; 
	float:left; background:#ccc; border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;}
.cart #shopping-cart-table{}
.cart #shopping-cart-table thead{background:#eeefef;}
.cart #shopping-cart-table thead tr th{ background:none; border-bottom:1px solid #D9DDE3!important;  border-top:1px solid #D9DDE3;}
.cart #shopping-cart-table tfoot{ background:#eeefef; }
.cart #shopping-cart-table tfoot tr, .cart #shopping-cart-table tfoot tfoot tr td.a-right{ background:none!important;}
.data-table tfoot tr.first td{ background:none; border-top:1px solid #C2D3E0;border-bottom: 1px solid #C2D3E0!important;}

.cart .data-table tfoot button#continue_button{background: url("../images/shopping-button.png") no-repeat scroll left 0px transparent; width:184px; height:37px;}	
.data-table tfoot button#continue_button span, .cart .data-table tfoot button#update_shopping_button span{ background:none; border:none;}
.cart .data-table tfoot button#update_shopping_button{background: url("../images/update_shopping_button.png") no-repeat scroll left 0px transparent; width:207px; height:37px;}

.cart .data-table tr td span.price {  background: none;  color: #424447; font: 15px/18px Arial,Helvetica,sans-serif;  height: 80px;  margin: 0 auto; text-align: center;
    width: 100%; }	
/**********************************shopping-cart css***************************/
.shopping-cart .std{ padding:0;}
.shopping-cart .std .data-table{ border:none;}
.cart #shopping-cart-table thead tr th.a-center1{ border-right:none;}
.std ul.messages{ background: none;}
.std ul.messages li.error-msg, .std ul.messages li.success-msg{ background:none;   border: medium none !important;}	
.cart #shopping-cart-table thead tr.first {}
.cart #shopping-cart-table tbody{ text-align:center;}
.cart #shopping-cart-table tbody tr td{ text-align:center;}
#shopping-cart-totals-table{}
.cart-collaterals{}

.shopping-cart .std .cart-collaterals{}
.shopping-cart .std .cart-collaterals .totals{width: 328px; background: none repeat scroll 0 0 #EEEFEF; border:1px solid #C2D3E0;
	border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; margin-right:2px; margin-bottom:2px;}
#shopping-cart-totals-table tr td span.price { background: none; color: #424447; font: 15px/18px Arial,Helvetica,sans-serif;
    height: 80px; margin: 0 auto; text-align: center;   width: 100%;}
#shopping-cart-totals-table tr td.a-right{   text-align: left !important;}	
.std .cart-collaterals .totals ul.checkout-types{ padding:0; text-align:left;}
.cart-collaterals .totals ul.checkout-types li{ background:none; padding: 0 0 0 4px;}
.cart-collaterals .totals ul.checkout-types li .btn-proceed-checkout {background: url(../images/checkout.png) no-repeat scroll left top transparent; height: 39px; width: 158px;}
.totals ul.checkout-types li .btn-proceed-checkout span {background: none;}
/**********************************login css***************************/
.loginsign{background:#CCCCCC; border-radius: 3px 3px 0 0;color: #2d383e; float: left; font: 22px/30px 'latoregular',Arial,Helvetica,sans-serif normal;
    margin: 0 0 0 10px; padding: 11px 20px;  text-transform: uppercase;}
.loginsign img{ vertical-align:middle;}	
.contactus2, .sign_up_con{ background:#eeefef;border:1px solid #DEE0DF; padding:10px;
	border-radius:5px;-moz-border-radius:5px; -ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;
	}	
	
.login h2 { color: #000;float: left; font-family: 'latoregular'; font-size: 16px; font-weight: normal; padding: 0 0 0 58px;    text-align: left;
    width: 268px;  text-transform: uppercase;}
		
.contactus2 .form1 {  margin: 0 auto; overflow: hidden;width: 713px;}

.contactus2 .form1 .mid {  overflow: hidden;  width: 713px;}	

.leftlogin {  float: left;   width: 328px; }
.leftlogin p { color: #3F484E; font-family: Arial,Helvetica,sans-serif; font-size: 13px;line-height: 24px;  padding: 92px 0 88px; text-align: center;}
.signup1 {  cursor: pointer; display: block; float: left;  height: 39px;margin: 74px 0 0 43px;   padding: 0;    text-align: center;}
.rightlogin { float: left;min-height: 246px;  padding: 7px 0 0 40px;   width: 304px;background: url(../images/shadow1.png) left top no-repeat;}
.rightlogin p { color: #6E777F; font-family: 'latoregular';font-size: 14px;  margin: 5px 0 6px; padding:0 0 0px 0;}
.rightlogin label { color: #3F484E;font-family: Arial,Helvetica,sans-serif;  font-size: 12px;}
.inputlogin { color: #6E777F; font-family: Arial,Helvetica,sans-serif;  font-size: 12px; height: 36px;  margin: 5px 0;   width: 276px;}
.inputlogin input {  background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #DFDFDF;   border-radius: 5px 5px 5px 5px;
    color: #6E777F; height: 32px;  padding: 0 5px;  width: 258px;}
.signup4 {cursor: pointer;display: block;float: left;height: 39px;margin: 25px 0 0 43px;padding: 0;text-align: center;}
.signup4 input {  background: url("../images/loginbtn.png") no-repeat scroll left top transparent;
    border: 0 none; cursor: pointer;display: block;height: 37px;width: 101px;}	
/**********************************sign-up css***************************/	
.sign-up { height: auto; margin: 0 auto; padding: 0px 0 0;  width: 754px;}	
.sign-up h2 { color: #2d383e; font-family:'latoregular'; font-size: 16px;font-weight: bold;line-height: 37px; padding: 3px 0; margin:0;
   text-transform: uppercase;}
.sign-up h2 span {color: #DA7208;}
.just-fill {float: left; height: auto; width: auto;}
.just-fill h5 {color: #272624; font-family: 'latoregular'; font-size: 16px; font-weight: normal; margin: 0 0 5px 12px; text-transform: uppercase;}
.sign_up_con .form1 { margin: 0 auto; overflow: hidden;  width: 787px;}	
.leftpart1 {  float: left;margin: 0 15px 0 0px;  padding: 0 0 0 13px;}
.sign_up_con .form1 label {color: #3F484E; font-family: Arial,Helvetica,sans-serif;  font-size: 13px;}
.inputboxsign {    color: #6E777F;    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;    height: 36px;    margin: 5px 0;    width: 322px;}
.inputboxsign input {  background:#FFFFFF; border: 1px solid #DFDFDF;  color: #6E777F;  height: 32px; padding: 0 5px; width: 311px;    
	border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;}	
.rgtpart1 { float: left;  padding: 0 0 0 15px;}	
.inputboxsign select { background:#FFFFFF; border: 1px solid #DFDFDF; padding:5px;
	border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;}
.signup1 { cursor: pointer;display: block;float: left; height: 39px; margin: 0 0 0 13px; padding: 0; text-align: center;}
.signup1 input {  background: url("../images/signup4.png") no-repeat scroll left top transparent;
    border: 0;    cursor: pointer;  display: block;  height: 37px; width: 95px;}
/**********************************forgetpassword-up css***************************/
.forgetpassword{width: 748px;}
.forgetpassword #form-validate{display: table;}
#form-validate h2{ color: #2D383E;  font-family: 'latoregular';  font-size: 16px; font-weight: bold;    line-height: 37px;    margin: 0;    padding: 3px 0;
    text-transform: uppercase;}
.forgetpassword .fieldset {  background: none;  border: none;    margin: 0; padding: 30px 0 0 4px;}	
.forgetpassword .fieldset ul.form-list{}
.forgetpassword .fieldset ul.form-list li { background:none;    margin: 0 0 8px; padding:0;}
.forgetpassword .form-list input.input-text {  background: #FFFFFF;   border: 1px solid #DFDFDF; border-radius: 5px 5px 5px 5px; color: #6E777F;
    height: 32px;  padding: 0 5px; width: 258px;}
.forgetpassword #form-validate .buttons-set { border: medium none; clear: none; float: left;margin: 0;padding: 0 0 0 17px;}	

.forgetpassword #form-validate .buttons-set button.button {  background: url("../images/submit.png") no-repeat scroll left top transparent; float:left;
    height: 39px;  margin-bottom: 8px;  width: 101px;}
#form-validate .buttons-set button.button span { background: none repeat scroll 0 0 transparent;  border: medium none;}	
.forgetpassword #form-validate .buttons-set p.required{ text-align:left;}
/*******************************************popup page****************************************/
.registration {background: url(../images/popup-bg.png) 0 0 no-repeat;width: 769px;height: 464px;margin: 0 0 50px;position: relative;top: -4px;left: 0;padding: 0 0px;
	border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.close_btn {float: right;clear: both;margin: 0px 0px 0 0;}
.register2 {background: url(../images/registration-heading-bg.png) repeat left top;float: left;margin: 30px 0 0 66px;overflow: hidden;width: 602px;height: 302px;
	border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.registion_form {width: 508px;height: 59px;background: #F6E8D2;border: 2px solid #EB760F;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;
	-ms-border-radius: 10px;float: left;margin: 10px 0 0 120px;}
.registion_form .select1 {background: #fff;border-radius: 10px 10px 10px 10px;float: left;height: 20px;margin: 10px 10px 0 10px;padding: 8px 5px;
	position: relative;-moz-box-shadow: 0px 4px 0px #e2d4bf;-webkit-box-shadow: 0px 4px 0px #E2D4BF;box-shadow: 0px 4px 0px #E2D4BF;border: 1px solid #D2C7B6;width: 112px;
	}
.registion_form .select1 select {border: 0 none;color: #6E777F;font-family: Arial, Helvetica, sans-serif;font-size: 12px;height: 20px;line-height: 20px;margin: 0;width: 110px;
padding: 2px 0 0 0;}	
.registion_form .select2 {border-radius: 10px;-moz-box-shadow: 0px 4px 0px #e2d4bf;-webkit-box-shadow: 0px 4px 0px #E2D4BF;box-shadow: 0px 4px 0px #E2D4BF;
	border: 1px solid #D2C7B6	;background: white;height: 20px;width: 282px;position: relative;padding: 8px 5px 8px 7px;float: left;margin: 10px 5px 0 0;color: #6E777F;}	
.registion_form .select2 input {border: 0px none;height: 20px;margin: 0;width: 283px;line-height: 20px;font-family: arial;}	
.register_text {width: 100%;text-align: center;}	
.register_text h4 {font-family: 'ultraregular';font-weight: normal;line-height: 46px;
 font-size: 35px;color: #580324;margin: 96px 0 0 10px;}	
 .goregister {float: left;margin: 10px 0 0 0;}	
 /*******************************************gcheckout-onepage-wrap****************************************/
 
 /*******************************************gcheckout-onepage-wrap****************************************/
.checkout-wrap{ width:1000px; margin:0 auto;}
.checkout-wrap .page-title{ border-bottom:none; margin:0;}
.checkout-wrap .page-title h1 { background: #CCCCCC; color: #424447; float: left;font: 22px/30px 'latoregular',Arial,Helvetica,sans-serif normal; 
		margin: 0 0 0 10px; padding: 11px 20px; text-transform: uppercase;
		border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0;}

.checkout-wrap .std1{border: 1px solid #DEE0DF;padding: 10px; background:#EEEFEF;
    border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;    }
.cart-purchase-details {  color: #424447;  font-family: 'latoregular';  font-size: 16px;  font-weight: normal;    padding-top: 10px;
   text-transform: uppercase;}	
	
.checkout-wrap .std1 .glc {}
.checkout-wrap .std1 .glc #gcheckout-onepage-form	{}
#gcheckout-onepage-form #gcheckout-onepage-address{}
#gcheckout-onepage-address h2.glc-title{ background:#fac345;padding: 5px 5px 5px 10px;
	border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-ms-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;-o-border-radius: 5px 5px 0 0;}
h2.glc-title span { background:#fac345; color:#424447;  }	
.checkout-wrap .std1 span.price {background: none; color: #424447;font: 15px/18px Arial,Helvetica,sans-serif; height: 80px;
    margin: 0 auto; text-align: center;  width: 100%;}
#gcheckout-onepage-review{ float:left;  width: 633px;}
.checkout-wrap .std1 .totals #checkout-review-table-wrapper{ width: 635px;}
.glc #gcheckout-onepage-form .gcheckout-right-col{  width: 633px;	} 
.glc #gcheckout-onepage-form .gcheckout-right-col .shipping-methods h2.glc-title{ background:#fac345;padding: 5px 5px 5px 10px;
	border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-ms-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;-o-border-radius: 5px 5px 0 0;}
.glc #gcheckout-onepage-form .gcheckout-right-col #gcheckout-payment-methods h2.glc-title{ background:#fac345;padding: 5px 5px 5px 10px;
	border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-ms-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;-o-border-radius: 5px 5px 0 0;}	
#gcheckout-onepage-review h2.glc-title{ background:#fac345;padding: 5px 5px 5px 10px;
	border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-ms-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;-o-border-radius: 5px 5px 0 0;}		
#gcheckout-onepage-review #checkout-review-submit{}
#gcheckout-onepage-review #checkout-review-submit button#submit-btn{background: url(../images/place-order.png) 0 0 no-repeat; width:124px; height:37px;}	
#checkout-review-submit .submit-btn span{ background:none;}

.glc .form-list label.required, #gcheckout-onepage-address label{font: 13px/24px Arial, Helvetica, sans-serif;}
.glc #gcheckout-onepage-address input.input-text{ padding:5px;}
.glc #gcheckout-onepage-address select.required-entry{ padding:4px;}
.pager .pages strong{ display:none;}
.pager .pages li {display: inline; margin: 0 2px; color: #FF4200; padding: 0 2px;}
.pager .pages li a{color: #3C4448;  font-size: 11px;  text-decoration: none;}
.pager .pages li a:hover{  color: #FF4200;}
.pager .pages li a img.v-middle{ background:#cccccc; padding:3px;}
/*******************************************my-Account****************************************/
  /*******************************************my-Account****************************************/
  
.my-account{} 
.my-account .page-title{ border:none; margin:0;}
.my-account .page-title .loginsign{background:#CCCCCC; border-radius: 3px 3px 0 0;color: #2d383e; float: left; font: 22px/30px 'latoregular',Arial,Helvetica,sans-serif normal;
    margin: 0 0 0 10px; padding: 11px 20px;  text-transform: uppercase;} 
.my-account .welcome-msg{}
.my-account .welcome-msg p.hello {color: #2D383E;font-family: 'latoregular';font-size: 16px;font-weight: bold;line-height: 37px;padding: 3px 0;margin: 0;text-transform: uppercase;}
.my-account .welcome-msg p {color: #6E777F;font-family: 'latoregular';font-size: 14px;margin: 5px 0 6px;padding: 0 0 0px 0;}	
.welcome-msg a{color: #FF4200;}
.dashboard .box-recent {  margin: 10px 0; background:none; border:none; padding:0;}
.dashboard .box-recent h2{font-size: 18px;    font-weight: normal;    line-height: 1.25;  color: #6E777F;
    font-family: 'latoregular';} 
.dashboard .box-recent .box-head{ border:none;}	
#my-orders-table{  border: 1px solid #CCCCCC; font-family: 'latoregular'; font-size:13px;}
#my-orders-table thead th{ background:none; border:none; font-weight: bold; color:#fff; font-family: 'latoregular'; font-size:14px; }
#my-orders-table thead { background:#FAC345;}

#my-orders-table tbody{background:#ffffff;}
#my-orders-table tbody tr td{ background:none!important;   border-left:0 !important; border-bottom:none!important; border-color:#cccccc!important; border-top: 1px solid #CCCCCC;}
#my-orders-table tbody tr td span.price {background: none;color: #424447;font: 15px/18px Arial,Helvetica,sans-serif;height: 80px;margin: 0 auto;text-align: center;width: 100%;}
#my-orders-table tr td{ padding: 10px;}
#my-orders-table .odd { border-top:1px solid #cccccc;}
.dashboard .box-info .box-head h2{  color: #6E777F;font-family: 'latoregular';font-size: 18px;font-weight: normal;line-height: 1.25;}
.my-account-form{border: 1px solid #DEE0DF;padding: 10px;background: #EEEFEF;border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;		-webkit-border-radius: 5px; display:table; width: 100%;}
.my-account-form .fieldset{ margin:0; background:none; border:none; padding:0;}
.my-account .std{ padding:10px;}
.my-account-form .fieldset ul.form-list{ margin:0;}
.fieldset ul.form-list li{ background:none; padding:0;} 
.fieldset ul.form-list li label { font-weight:normal;color: #3F484E;font-family: Arial,Helvetica,sans-serif;font-size: 12px;}
.fieldset ul.form-list li input, .fieldset ul.form-list li select {border: 1px solid #DFDFDF;color: #6E777F;height: 32px;padding: 0 5px;width: 258px;
	border-radius:5px; -moz-border-radius:5px;-ms-border-radius:5px; -o-border-radius:5px; -webit-border-radius:5px;}
.fieldset ul.form-list li input.checkbox{ width:auto;}	
.fieldset ul.form-list li select {  height: 35px;    padding: 8px 5px	}
.my-account .std .buttons-set p.required { color: #EB340A;}	
.my-account .std .buttons-set button.save, .my-account .buttons-set button.button{background: url(../images/btn1.png) 0 0 no-repeat; width:104px; height:37px; border:none; font-family:'zurich_btbold';color:#825202;    text-align: center; line-height: 37px;	text-transform:uppercase; font-size:15px; cursor:pointer;}
.my-account .buttons-set .back-link a{color:#825202; text-decoration:none;}  
.my-account .std .buttons-set button.button{background: url(../images/bt-bg.gif) 0 0 repeat-x; height:37px; border:none;  padding:0 10px;
	border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px; width:auto;}   
.my-account .std .buttons-set button.button span{font-family:'zurich_btbold';color:#825202;    text-align: center;	text-transform:uppercase; font-size:15px; cursor:pointer;}
.my-account .std .buttons-set .back-link a{ text-decoration:none; color:#825202;}
.my-account-form .order-info{font-family:'zurich_btbold'; background:none;}
.my-account-form ul#order-info-tabs{}
.my-account-form ul#order-info-tabs li{ background:none; }
.my-account-form .order-info-box{ background:#fff; }
.orditms{ padding:10px 0 0 0;}
.populerdeals .box-title h2.shipping-address{font-family:'zurich_btbold'; font-weight:normal; font-size:15px; margin:0;}
.my-account-form .box-content address{color: #3F484E;font-family: Arial,Helvetica,sans-serif;font-size: 13px; line-height: 23px;}
.populerdeals h2.loginsign { background:#CCCCCC; color: #2D383E;    float: left;  font: 22px/30px 'latoregular',Arial,Helvetica,sans-serif normal;margin: 0 0 0 10px;
	 padding: 11px 20px; text-transform: uppercase;  border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0;-ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0;   	 	-webkit-border-radius: 3px 3px 0 0;}
.orditms #my-orders-table{ border: 1px solid #DEE0DF; border-radius: 5px 5px 5px 5px;}	 
.orditms #my-orders-table thead{}
.orditms #my-orders-table tfoot{}
.orditms #my-orders-table tfoot .price { background: none; color: #424447;  font: 15px/18px Arial,Helvetica,sans-serif; height: 80px; margin: 0 auto;text-align: center;
    width: 100%;}
.orditms #my-orders-table tfoot tr{ background:#ffffff!important;}	

.my-account .buttons-set .back-link,.order-items p.back-link{background: url(../images/bt-bg.gif) 0 0 repeat-x!important; height:37px; border:none;  padding:0 10px; font-family:'zurich_btbold';   text-align: center;	text-transform:uppercase; font-size:15px; cursor:pointer; line-height: 35px;
	border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px; width:auto;}   
.order-items p.back-link a{color:#825202; text-decoration:none;}	
.order-items .buttons-set{ border:none;}
.my-account
.my-account .buttons-set{ border:none;margin: 10px 0 0;}
.my-account-form .pager{ background:none; border-top:none;}
.orditms #my-orders-table h3.product-name{color: #3F484E;}

.products-gridnobg{ clear:both;  display: table;
    padding: 0 0 15px;}