<?php

?>

<button style="margin-top:5px;" onclick="location.href='<?php echo $this->getPurchaseUrl() ?>'" class="scalable add" type="button" >
	<span><?php echo $this->__('Purchase now')?></span>
</button><br/><br/>		
