<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.1
 * @since        Class available since Release 1.0
 */

?>
<label for="<?php echo $this->getPrefix();?>_country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
<div class="input-box input-box-country <?php echo $this->getPrefix();?>-country">
    <?php echo $this->getCountryHtmlSelect($this->getPrefix()); ?>
</div>