<!--@subject {{var store.getFrontendName()}}: New Transaction #{{var transaction.getId()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$transaction.getReferralName()":"Referral Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Hello {{htmlescape var=$transaction.getSalesName()}}</strong>,<br/>
                        There was a customer placing an order from {{var store.getFrontendName()}}.
                        One product of order items is presented by our referral. Therefore, a transaction was created. 
                        You can check the status of this transaction at <a href="{{store url="adminhtml/index/"}}" style="color:#1E7EC8;">logging into admin page</a>.
                    </p>
                    <p>Transaction confirmation is below.</p>

                    <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">Transaction  <small>(on {{var transaction.getCreatedAtFormated()}})</small></h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
							<th align="left" width="13%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Customer Email</th>
							<th align="left" width="1.5%"></th>
							<th align="left" width="13%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Account Email</th>
                            <th align="left" width="1.5%"></th>
							<th align="left" width="13%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Product(s)</th>
							<th align="left" width="1.5%"></th>
							<th align="left" width="13%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Total Amount</th>
                            <th align="left" width="1.5%"></th>
							<th align="left" width="13%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Discount</th>						
							<th align="left" width="1.5%"></th>
							<th align="left" width="13%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Commission</th>
                            {{depend transaction.getPlusCommission()>0}}
							<th width="2%"></th>
                            <th align="left" width="23.5%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Additional Commission</th>
							{{/depend}}
						</tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var transaction.getCustomerEmail()}}
                            </td>
							<td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var transaction.getAccountEmail()}}
                            </td>		
							<td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var transaction.getProducts()}}
                            </td>	
							<td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var transaction.getTotalAmountFormated()}}
                            </td>
							<td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var transaction.getDiscountFormated()}}
                            </td>		
							<td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var transaction.getCommissionFormated()}}
                            </td>
							{{depend transaction.getPlusCommission()>0}}
								<td>&nbsp;</td>
								<td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
									{{var transaction.getPlusCommissionFormated()}}
								</td>
							{{/depend}}
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    
                    <strong>{{var store.getFrontendName()}}</strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>