<?php
/**
 * WDCA - Sweet Tooth
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the WDCA SWEET TOOTH POINTS AND REWARDS 
 * License, which extends the Open Software License (OSL 3.0).
 * The Sweet Tooth License is available at this URL: 
 *      http://www.wdca.ca/solutions_page_sweettooth/Sweet_Tooth_License.php
 * The Open Software License is available at this URL: 
 *      http://opensource.org/licenses/osl-3.0.php
 * 
 * DISCLAIMER
 * 
 * By adding to, editing, or in any way modifying this code, WDCA is 
 * not held liable for any inconsistencies or abnormalities in the 
 * behaviour of this code. 
 * By adding to, editing, or in any way modifying this code, the Licensee
 * terminates any agreement of support offered by WDCA, outlined in the 
 * provided Sweet Tooth License. 
 * Upon discovery of modified code in the process of support, the Licensee 
 * is still held accountable for any and all billable time WDCA spent 
 * during the support process.
 * WDCA does not guarantee compatibility with any other framework extension. 
 * WDCA is not responsbile for any inconsistencies or abnormalities in the
 * behaviour of this code if caused by other framework extension.
 * If you did not receive a copy of the license, please send an email to 
 * contact@wdca.ca or call 1-888-699-WDCA(9322), so we can send you a copy 
 * immediately.
 * 
 * @category   [TBT]
 * @package    [TBT_Rewards]
 * @copyright  Copyright (c) 2009 Web Development Canada (http://www.wdca.ca)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/

/**
 * Customer Summary
 *
 * @category   TBT
 * @package    TBT_Rewards
 * @author     WDCA Sweet Tooth Team <contact@wdca.ca>
 */
?>
<div class="account-box ad-reviews mypoints-summary" style="background-color:#ffffff; padding:10px; display:none;">
    <div class="head head-alt2">
        <h4 class="title" style="color: #616161;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
   
    text-transform: uppercase;"><?php echo $this->__('Points Summary'); ?></h4>
        <img style="margin-top:-10px;"src="<?php echo $this->getSkinUrl('images/account_dashboard_bottom_line.png'); ?>" width="100%" />
    </div>
    
    <div class="usable-points" style="color: #616161;">
        <?php echo $this->__('You have %s in your account.', $this->getCustomerPointsSummary()); ?>
        <?php if($this->getDaysUntilExpiry()): ?>
           <div class="expiry-points"><?php echo $this->__('Your points balance will expire in %s days.', $this->getDaysUntilExpiry()); ?></div>
        <?php endif; ?>
    </div>
    <div class="pending-points"  style="color: #616161;">
        <?php if($this->hasPendingPoints()): ?>
            <div class="pendingevent-points">
                <?php echo $this->__('%s are pending approval.', $this->getCustomerPendingPointsSummary()); ?>
            </div>
        <?php endif; ?>
        <?php if($this->hasPendingTimePoints()): ?>
            <div class="pendingtime-points"  style="color: #616161;">
                <?php echo $this->__('%s are pending time.', $this->getCustomerPendingTimePointsSummary()); ?>
            </div>
        <?php endif; ?>
        <?php if($this->hasOnHoldPoints()): ?>
            <div class="pendingapproval-points"  style="color: #616161;">
                <?php echo $this->__('%s are on hold.', $this->getCustomerOnHoldPointsSummary()); ?>
            </div>
        <?php endif; ?>
    </div>
    
    <div class="msg">
        <?php echo $this->getSummaryMsg() /* this can be customized completely by modifying the display config option or by just removing this line and adding your own content.*/ ?>
    </div>
    
    <?php if ($this->doShowRewardsLink()): ?>
        <a href="<?php echo $this->getUrl('rewards/customer'); ?>">
            <?php echo $this->__('Visit My Points & Rewards Section') ?>
        </a>
    <?php endif; ?>
</div>
