<?php
/**
 * WDCA - Sweet Tooth
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the WDCA SWEET TOOTH POINTS AND REWARDS 
 * License, which extends the Open Software License (OSL 3.0).
 * The Sweet Tooth License is available at this URL: 
 *      http://www.wdca.ca/solutions_page_sweettooth/Sweet_Tooth_License.php
 * The Open Software License is available at this URL: 
 *      http://opensource.org/licenses/osl-3.0.php
 * 
 * DISCLAIMER
 * 
 * By adding to, editing, or in any way modifying this code, WDCA is 
 * not held liable for any inconsistencies or abnormalities in the 
 * behaviour of this code. 
 * By adding to, editing, or in any way modifying this code, the Licensee
 * terminates any agreement of support offered by WDCA, outlined in the 
 * provided Sweet Tooth License. 
 * Upon discovery of modified code in the process of support, the Licensee 
 * is still held accountable for any and all billable time WDCA spent 
 * during the support process.
 * WDCA does not guarantee compatibility with any other framework extension. 
 * WDCA is not responsbile for any inconsistencies or abnormalities in the
 * behaviour of this code if caused by other framework extension.
 * If you did not receive a copy of the license, please send an email to 
 * contact@wdca.ca or call 1-888-699-WDCA(9322), so we can send you a copy 
 * immediately.
 * 
 * @category   [TBT]
 * @package    [TBT_Rewards]
 * @copyright  Copyright (c) 2009 Web Development Canada (http://www.wdca.ca)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/

/**
 * Customer Transfers
 *
 * @category   TBT
 * @package    TBT_Rewards
 * @author     WDCA Sweet Tooth Team <contact@wdca.ca>
 */
?><?php 
        $transferArray = $this->_getTransferSummary();
        $table_id = 'my-transfers-table-' . md5($this->headerText);
?>
<div class="mypoints-transfers">
  <h2>
    <?php echo $this->headerText; ?>
  </h2>
  <div class="content">
    <!--Checks too see if the customer has any tramsfers  -->
    <?php if(sizeof($transferArray)): ?>
    <table cellspacing="0" class="data-table" id="<?php echo $table_id; ?>">
      <col width="125" />
      <col />
      <col />
      <col />
      <col />
      <col />
      <thead>
        <tr>
          <th>
            <?php if($this->headerText == $this->__('Earnings')) {
                                            echo $this->__('Points Earned');
                                    } else {
                                            echo $this->__('Points Spent');
                                    } ?>
          </th>
          <th>
            <?php echo $this->__('Date') ?>
          </th>
          <th>
            <?php echo $this->__('Comment') ?>
          </th>
          <th>
            <?php echo $this->__('Status') ?>
          </th>
          <th>&#160;</th>
        </tr>
      </thead>
      <tbody style="<?php if(sizeof($transferArray) < 7): ?>height:auto;<?php endif; ?>">
        <?php foreach ($transferArray as $transfer): ?>
        <tr>
          <td>
            <?php echo $transfer->getPointsCaption() ; ?>
          </td>
          <td>
            <?php echo $this->formatdate($transfer->getCreationTs()); ?>
          </td>
          <td>
            <?php echo nl2br($transfer->getComments()); ?>
          </td>
          <td>
            <?php echo $this->getStatusCaption($transfer->getStatus());?>
          </td><?php echo $this->getReferenceCellHtml($transfer); ?>
        </tr><?php endforeach; ?>
      </tbody>
    </table>
    <script type="text/javascript">
    decorateTable('<?php echo $table_id; ?>')</script><?php echo $this->getPagerHtml(); ?><?php else: ?>
    <p class="no_transfers">
      <?php echo $this->__('You have no transfers.'); ?>
    </p><?php endif ?>
  </div>
</div>