/*** GoMage LightCheckout Styles http://www.gomage.com/ ***/

/* Reset */
.glc form,
#login-form form{
  display:inline;
}
#login-form .form-list .input-box{
  clear:both;
}
.glc input,.glc select,.glc textarea,.glc button,
#login-form input,#login-form select,#login-form textarea,#login-form button{
	color:#2F2F2F;
	font:12px/15px Arial,Helvetica,sans-serif;
	vertical-align:middle;
}
.glc input.radio{
  margin-right: 3px;
}
.glc fieldset,
.glc .form-list,
.glc .form-list ul,
#login-form .form-list,
.glc .sp-methods dd ul{
	padding:0;
	margin:0;
	border:0;
	list-style:none;
}
.glc .sp-methods dd,
.glc .sp-methods{
	margin:0;
}
.glc .a-left{text-align:left !important;}
.glc .a-center{text-align:center !important;}
.glc .a-right{text-align:right !important;}
.glc .v-top{vertical-align:top;}
.glc .v-middle{vertical-align:middle;}
.glc .f-left,.glc .left{float:left !important;}
.glc .f-right,.glc .right{float:right !important;}
.glc .f-none{float:none !important;}
.glc .f-fix{float:left;width:100%;}
.glc .no-display{display:none;}
.glc .nobr{white-space: nowrap !important;}

/* Layout */
.glc{
	position:relative;
	margin-top:5px;
	font:12px/1.55 Arial,Helvetica,sans-serif;
	text-align:left;
}
.glc .gift-messages-form h4{
	color:#000;
	font-weight:400;
}
.glc.glc-bskin-round-orange .gift-messages-form h4{
	color:#E87403;
	font-weight:700;
}
.glc-content{
	margin:0 0 5px;
}
.glc #billing-new-address-form,
.glc #shipping-new-address-form{
	width:auto;
}
.glc .gcheckout-right-col{
	width:100%;
	float:left;
}
.glc.glc-skin-default .gcheckout-right-col{
	width:65%;
}
.glc .delivery-date #delivery_date{
	cursor:default;
	float:left;
	padding:0;
	line-height:15px;
  margin:3px 4px 0 2px;
}
.glc .methods .shipping-methods,
.glc .address{
	float:left;
	display:inline;
	padding-top:15px;
	margin-right:10px;
}
.glc .methods .shipping-methods .sp-methods{
	padding-right:5px;
}
.glc-skin-default .shipping-address{
	padding:0;
}
.delivery-date-delivery_date label{
	float:left;
	font-weight:700;
	padding-top:1px;
	color:#5F5F5F;
	line-height:18px;
}
.delivery-date-delivery_date.glc-skin-default label{
	color:#666;
}
.shipping-address{
	padding-top:10px;
}
.glc.glc-skin-default .methods .shipping-methods,
.glc.glc-skin-default .address{
	margin-right:15px;
}
.delivery-date-delivery_date{
	padding-right:7px;
}
.glc .address{
	width:67%;
}
.glc.glc-skin-default .address{
	width:33%;
}
.glc .methods .shipping-methods{
	width:70%;
	display:none;
}
.glc .methods .shipping-methods .shipping-methods {
	width:auto;
}
.glc.glc-skin-default .methods .shipping-methods{
	width:45%;
}
.glc.glc-skin-default .methods .shipping-methods{
	padding-right:15px;
}
.glc .methods #gcheckout-payment-methods{
	float:left;
	position:relative;
	padding-top:15px;
	width:70%;
}
.glc .methods #gcheckout-payment-methods .sp-methods{
	padding-right:5px;
}
.glc.glc-skin-default .methods #gcheckout-payment-methods{
	width:47%;
}
html body .not_shipping_mode .methods #gcheckout-payment-methods{
	width:67% !important;
}
.glc .review{
	left: 685px;
   /* padding-top: 15px;
   /* position: absolute;*/
    top: 0;
    width: 33%;
    height:100%;
   /* margin-top:-730px;*/
    padding-left:660px;
}
.glc .review .totals,
.customer-comment{
	padding-bottom:5px;
}
.glc .button-set{
	text-align:right;
	border:0;
	margin:0;
}
.glc .review .advanced-options select{
	max-width:100%;
	margin-bottom:5px;
}
.glc #checkout-review-table-wrapper .buttons-set{
	border:0;
	padding:10px 0 0;
	margin:0;
	text-align:left;
}
#checkout-review-table-wrapper{
  overflow:hidden;
  width:95%;  
}
.glc #payment_form_authorizenet_directpost .input-box select{
	width:100%;
}
.glc #payment_form_authorizenet_directpost input.input-text{
	width:99%;
}
#login-form .actions a{
	float:left;
	line-height:21px;
	color:#1E7EC8;
	text-decoration:underline;
}
#login-form .actions a:hover{
	text-decoration:none;
}
.glc .gcheckout-payment-methods dt{
	line-height:16px;
}
.glc.glc-skin-default .shipping-methods dl dt{
	line-height:18px;
}
.glc .sp-methods label{
	vertical-align:middle;
}
.glc .sp-methods label,
.glc .sp-methods label .price{
	font-weight:400;
	color:#5f6162;
	font-size:12px;
}
.glc-skin-default .sp-methods label,
.glc-skin-default .sp-methods label .price{
	font-weight:700;
	color:#666;
}
.glc.glc-skin-default .sp-methods dt{
	padding-top:3px;
	font:700 12px/18px Arial,Helvetica,sans-serif;
	margin-top:0;
	color:#2F2F2F;
}
.glc .sp-methods dt{
	padding-top:0;
	color:#5f5f5f;
	margin:0 0 5px;
}
.glc .gcheckout-payment-methods dd,
.glc .button-set,
.glc .totals .cart-tax-info, 
.glc .totals .cart-price,
.glc .gcheckout-payment-methods .sp-methods .form-list{
	padding:0;
}

.glc .button-set{
	position:absolute;
	right:0;
	padding-top:20px;
	bottom:0px;
	
	
	
}
.glc-paypal-express{
	position:relative;
	margin:0 0 -10px;
}
.glc-login-and-paypal .glc-paypal-express{
	float:right;
}
.glc-paypal-express p{
	text-align:right;
	margin:0 14px 0 4px;
}
.glc-paypal-express p .paypal-or{
	display:none;
}
/* Layout END */

/* Common styles */
.glc a{
	color:#1E7EC8;
}
.glc .v-fix{
	float:left;
}
.glc .totals td.attributes-col h4.title{
	font-weight:400;
}
.glc .gcheckout-qty{
	display:inline;
	padding:0 2px 0 1px;
	vertical-align:middle;
}
.glc .glc-qtybtn{
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
}
.glc .glc-qtybtn span{
	display:block;
	height:17px;
	line-height:16px;
	background:url("../../images/gomage/lightcheckout/pm_bg.png") no-repeat 0 0;
	padding:0 0 0 4px;
}
.glc .glc-qtybtn span span{
	padding:0 4px 0 0;
	width:7px;
	background-position:100% 0;
	text-align:center;
}
.glc .glc-plus span span{
	padding-top:1px;
}
.glc .btn-remove2{
	background:url("../../images/gomage/lightcheckout/btn_trash.png") no-repeat 0 0;
	display:block;
	font-size:0;
	height:16px;
	margin:0 auto;
	line-height:0;
	overflow:hidden;
	cursor:pointer;
	text-indent:-999em;
	width:16px;
}
/* Common styles END */

/* Inputs and labels */
.glc .form-list li,
.glc .form-list .input-box{
	margin:0;
}
.glc .form-list li.control{
	margin-bottom:4px;
}
.glc .form-list .input-box{
	padding-bottom:10px;
}
.glc.glc-skin-default .form-list li,
.glc.glc-skin-default .form-list .input-box{
	margin-bottom:4px;
	padding:0;
}
.glc .form-list .input-box,
.glc .form-list li.wide .input-box,
.glc .gift-messages-form .item .details .form-list li.wide .input-box{
	width:100%;
	clear:both;
}
.glc .form-list input.input-text{
	width:88%;
	height:20px;
}
.glc div.validation-passed,
.glc .validation-error{
	padding-right:0 !important;
	background:none !important;
}
.glc .form-list .fields .field{
	width:49%;
	float:left;
	clear:none;
	padding:0;
}
.glc .gift-messages-form .item .details .form-list .input-box{
	width:100%;
}
.glc .form-list .postcode-region .field-region{
	width:70%;
}
.glc .form-list .postcode-region .field-region input.input-text{
	width:86%;
}
.glc .form-list .postcode-region .field-region select{
	width:89%;
}
.glc.glc-skin-default .form-list .postcode-region .field-region select{
	width:88%;
}
.glc .form-list .postcode-region .field-postcode{
	width:28%;
}
.glc .form-list .fields .input-box{
	width:100%;
}
.glc .form-list .fields input.input-text{
height:20px;
	width:80%;
}
.glc .form-list .input-box select{
	width:90%;
}
.glc .gift-messages-form li.fields .gift-from{
	width:47% !important;
	margin-right:5% !important;
}
.glc .gift-messages-form li.fields .gift-to{
	width:47% !important;
}
.glc .sp-methods select.month{
	width:146px !important;
}
.glc .sp-methods select.year{
	width:79px !important;
}
.glc-skin-default .sp-methods select.month{
	width:154px !important;
}
.glc-skin-default .sp-methods select.year{
	width:79px !important;
}
.glc .form-list .fields select{
	width:84%;
}
.glc .form-list .region-postcode .field-region select{
	width:86%;
}
.glc .form-list .region-postcode .field-region input.input-text{
	width:84%;
}
.glc .form-list li.control label,
.glc p.control label{
	float:none;
	display:inline;
	vertical-align:middle;
	padding-left:3px;
	color:#666;
	font-weight:400;
}
.glc li.control input.radio,
.glc .control input,
.glc p.control input.checkbox,
.glc p.control input.radio{
	margin:0 !important;
	display:inline;
	vertical-align:middle;
}
.not_shipping_mode .methods #gcheckout-payment-methods .form-list .input-box select{
	width:45%;
}
.not_shipping_mode .methods #gcheckout-payment-methods .form-list .input-box select.month{
	width:159px !important;
}
.not_shipping_mode .methods #gcheckout-payment-methods .form-list input.input-text{
	width:44%;
}
.glc .gift-messages p.control{
	color:#666;
	font-weight:400;
}
.glc .customer-comment label{
	display:block;
	font-weight:400;
}
.glc .customer-comment textarea{
	overflow:auto;
	width:99%;
	height:60px;
}
.glc p.control{
	margin:0 0 10px;
}
.glc .button-set p.control{
	padding:10px 0 0;
}
.glc .gift-messages-form .form-list .fields input.input-text,
.glc .gift-messages-form .form-list li.wide textarea{
	width:100%;
}
.glc .gift-messages-form .whole-order .form-list li.wide textarea{
	width:99%;
}
.glc .gift-messages-form .item .details .form-list li.wide textarea{
	width:99%;
}
.glc.glc-skin-default .form-list label.required,
.glc.glc-skin-default .form-list label,
#login-form .form-list label.required{
	color:#666;
	float:left;
	padding:0;
	font:700 12px/18px Arial,Helvetica,sans-serif;
	position:relative;
	z-index:0;
}
#login-form .form-list label.required{
	color:#5f5f5f;
	padding-bottom:2px;
	width:auto;
}
#login-form.glc-pskin-default .form-list label.required{
	color:#666;
	padding-bottom:0;
}
.glc .form-list label.required em,
#login-form .form-list label.required em{
	color:#EB340A;
	float:right;
	font-style:normal;
	position:absolute;
	right:-8px;
	top:0;
	margin:0;
}
.glc .delivery-date li input,
.glc .delivery-date li span,
#gcheckout-payment-methods dl dt input,
#gcheckout-payment-methods dl dt label{
	vertical-align:middle;
}
#gcheckout-payment-methods dl dt input,
#gcheckout-payment-methods dl dt label{
	line-height:16px;
}
#login-form .form-list li .input-box .input-text{
	width:254px;
}
.glc .customer-name-prefix .name-prefix,
.glc .customer-name-suffix .name-suffix{
	width:23% !important;
}
.glc .customer-name-prefix .name-firstname,
.glc .customer-name-suffix .name-firstname{
	width:36% !important;
}
.glc .customer-name-prefix .name-lastname,
.glc .customer-name-suffix .name-lastname{
	width:36% !important;
}
.glc .customer-name-prefix .name-lastname input.input-text,
.glc .customer-name-prefix .name-firstname input.input-text,
.glc .customer-name-suffix .name-lastname input.input-text,
.glc .customer-name-suffix .name-firstname input.input-text{
	width:81% !important;
}
.glc .customer-name-prefix .name-prefix input.input-text,
.glc .customer-name-prefix-suffix .name-prefix input.input-text{
	width:76% !important;
}
.glc .customer-name-prefix .name-prefix select,
.glc .customer-name-prefix-suffix .name-prefix select{
	width:79% !important;
}
.glc .customer-name-middlename-suffix .name-firstname,
.glc .customer-name-middlename-suffix .name-middlename{
	width:49% !important;
}
.glc .customer-name-middlename-suffix .name-firstname input.input-text,
.glc .customer-name-middlename-suffix .name-middlename input.input-text{
	width:80% !important;
}
.glc .customer-name-middlename-suffix .name-lastname{
	width:72% !important;
}
.glc .customer-name-middlename-suffix .name-lastname input.input-text{
	width:90% !important;
}
.glc .customer-name-suffix .name-suffix input.input-text{
	width:70% !important;
}
.glc .customer-name-middlename-suffix .name-suffix{
	width:23% !important;
}
.glc .customer-name-middlename-suffix .name-suffix input.input-text{
	width:70% !important;
}
.glc .customer-name-middlename-suffix .name-suffix select{
	width:79% !important;
}
.glc .customer-name-suffix .name-suffix select{
	width:79% !important;
}
.glc .customer-name-middlename-suffix .name-suffix input.input-text{
	width:70% !important;
}
.glc .customer-name-middlename-suffix .name-suffix select{
	width:79% !important;
}
.glc .customer-name-prefix-suffix .name-suffix input.input-text{
	width:70% !important;
}
.glc .customer-name-prefix-suffix .name-suffix select{
	width:79% !important;
}
.glc .customer-name-prefix-suffix .name-prefix,
.glc .customer-name-prefix-suffix .name-suffix{
	width:23% !important;
}
.glc .customer-name-prefix-suffix .name-firstname{
	width:76% !important;
}
.glc .customer-name-prefix-suffix .name-lastname{
	width:72% !important;
}
.glc .customer-name-prefix-suffix .name-firstname input.input-text,
.glc .customer-name-prefix-suffix .name-lastname input.input-text{
	width:86% !important;
}
.glc .customer-name-prefix-middlename .name-prefix{
	width:23% !important;
}
.glc .customer-name-prefix-middlename .name-prefix input.input-text{
	width:70% !important;
}
.glc .customer-name-prefix-middlename .name-prefix select{
	width:79% !important;
}
.glc .customer-name-prefix-middlename .name-firstname{
	width:74% !important;
}
.glc .customer-name-prefix-middlename .name-firstname input.input-text{
	width:88% !important;
}
.glc .customer-name-prefix-middlename .name-middlename{
	width:49% !important;
}
.glc .customer-name-prefix-middlename .name-lastname{
	width:49% !important;
}
.glc .customer-name-prefix-middlename .name-middlename input.input-text,
.glc .customer-name-prefix-middlename .name-lastname input.input-text{
	width:80% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-prefix{
	width:23% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-prefix input.input-text{
	width:70% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-prefix select{
	width:79% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-firstname{
	width:74% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-middlename{
	width:35% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-lastname{
	width:35% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-firstname input.input-text{
	width:88% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-middlename input.input-text{
	width:80% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-lastname input.input-text{
	width:80% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-suffix{
	width:26% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-suffix input.input-text{
	width:70% !important;
}
.glc .customer-name-prefix-middlename-suffix .name-suffix select{
	width:77% !important;
}
.glc .form-list li.customer-dob .field{
	width:98%;
	float:none;
}
.glc .form-list li.customer-dob-gender .field{
	width:49%;
	float:left;
}
.glc .form-list li.customer-dob .field label{
	display:block;
	clear:both;
	overflow:visible;
	font-size:12px;
	color:#666;
	font-weight:700;
}
.glc .form-list .fields .field .customer-dob .input-box,
.glc .form-list .fields .field .customer-dob .dob-month,
.glc .form-list .fields .field .customer-dob .dob-day,
.glc .form-list .fields .field .customer-dob .dob-year{
	width:32% !important;
	float:left;
	margin-right:0;
	clear:none;
}
.glc .form-list .fields .field .customer-dob .input-box input.input-text,
.glc .form-list li.customer-dob .input-box input.input-text{
	width:81% !important;
	display:block;
}
.glc .form-list li.customer-dob .field .input-box label{
	display:block;
	color:#888;
	font-size:10px;
	font-weight:400;
	width:85% !important;
	text-align:center;
}
.glc .form-list li.customer-dob-gender .field .input-box label{
	width:94% !important;
}
/* Inputs and labels END */

/* Nubmers */
.glc-skin-default .glc-title{
	background:none !important;
	color:#404040;
	font-size:15px;
	font-weight:700;
	height:28px;
	line-height:20px;
	margin:0 0 7px;
	padding:6px 0 0 0;
	text-transform:uppercase;
}
.glc-skin-default .glc-title span{
  background:none;
}
.glc-skin-default .shipping-address .glc-title{
	margin-top:20px;
}
/* Nubmers END */

/* Overlay and Popups */
.loadinfo{
	position:fixed;
	left:50%;
	top:45%;
	width:250px;
	margin-left:-150px;
	padding:8px 8px 8px 35px;
	border:1px solid #0A263C;
	background:url('../../images/gomage/lightcheckout/loadinfo.gif') 5px 50% no-repeat #fff;
	font-weight:700;
	-moz-box-shadow:3px 3px 3px #999;
	-webkit-box-shadow:3px 3px 3px #999;
	box-shadow:3px 3px 3px #999;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#login-form .form-list li{
	margin:0 0 8px;
}
#login-form .loadinfo{
	clear:both;
	overflow:hidden;
	margin:0;
	width:220px;
}
#login-form{
	text-align:left;
	font:12px/15px Arial,Helvetica,sans-serif;
}
#login-form .details h2{
	font-weight:400;
	color:#464646;
	font-size:18px;
	line-height:1.35;
	margin:0 0 5px;
}
#login-form.glc-pskin-default .details h2{
	color:#0A263C;
}
.gomage-checkout-overlay{
	position:fixed;
	left:0;
	top:0;
	z-index:999;
	background:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
	width:100%;
	height:100%;
}
.simple_overlay{
	z-index:10000;
	text-align:left;
	display:none;
	width:320px;
}
#login-form.simple_overlay{
	width:308px;
}
.simple_overlay .light-checkout-popup-content-bg-in{
	min-height:155px;
	_height:155px;
}
#terms-block.simple_overlay{
	width:400px;
	height:250px;
}
#terms-block.simple_overlay .details{
	height:100%;
}
#terms-block.simple_overlay .popup-content{
	overflow:auto;
	height:100%;
}
#login-form .loadinfo{
	position:static;
	border:0;
	background-position:0 50%;
	padding:5px 5px 5px 35px;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.simple_overlay .close{
	background-image:url(../../images/gomage/lightcheckout/close.png);
	background-position:0 0;
	position:absolute;
	right:-14px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}
.glc-bskin-round-black .close,
.glc-bskin-round-blue .close,
.glc-bskin-round-green .close,
.glc-bskin-round-gray .close,
.glc-bskin-round-red .close{
	right:-10px;
}
	/* Overlay colors */
.glc-bskin-round-black .close{
	background-position:-70px 0;
}
.glc-bskin-round-blue .close{
	background-position:-105px 0;
}
.glc-bskin-round-green .close{
	background-position:-140px 0;
}
.glc-bskin-round-gray .close{
	background-position:-175px 0;
}
.glc-bskin-round-red .close{
	background-position:-35px 0;
}
	/* Overlay colors END */
/* Overlay and Popups END */

.glc .gcheckout-payment-methods dd img{
	max-width:100%;
}
.glc .shipping-methods .messages li{
	margin-right:17px !important;
}
/* Buttons */
.simple_overlay button.button,
.glc button.button,
.glc button.btn-checkout{
	background:none;
	border:0;
	cursor:pointer;
	margin:0;
	overflow:visible;
	display:inline;
	height:auto !important;
	padding:0;
	float:none;
	width:auto;
	text-indent:0px !important;
	text-shadow:none;
}
.glc button.btn-checkout{
	height:41px !important;
	float:none !important;
	display:inline !important;
}
.simple_overlay .actions button.button{
	float:right;
}
.simple_overlay button.button span,
.glc button.button span{
	background:#F18200;
	border:1px solid #DE5400;
	color:#FFF;
	display:block;
	font:700 12px/19px Arial,Helvetica,sans-serif;
	height:19px;
	padding:0 8px;
	text-align:center;
	white-space:nowrap;
	margin:0;
}
.simple_overlay button.button span span,
.glc button.button span span{
	border:0;
	padding:0;
	margin:0;
}
.glc button.btn-checkout span{
	/*background:url("../../images/gomage/lightcheckout/buttons/btn_orange.png") no-repeat 0 0;*/
	border:0 !important;
	color:#FFF;
	float:left;
	font:700 15px/40px Arial,Helvetica,sans-serif;
	height:40px;
	padding:0 0 0 9px;
	text-indent:0px;
	white-space:nowrap;
	margin:0;
}
.glc button.btn-checkout span span{
	background-position:100% 0;
	text-indent:0px !important;
	padding:0 25px 0 16px;
	margin:0;
}
.glc button.disabled span{
	background:url("../../images/gomage/lightcheckout/buttons/btn_orange.png") no-repeat 0 -40px !important;
	border:0 !important;
}
.glc button.disabled span span{
	background-position:100% -40px !important;
}

.glc button.button::-moz-focus-inner,.simple_overlay button.button::-moz-focus-inner{ padding:0; border:0; }
.glc button.button,.simple_overlay button.button{ -webkit-border-fit:lines; 

background-image:url("../../images/gomage/lightcheckout/newsubmit.png") !important;
margin-right:19px;
width:252px;
height:125px !important;
}
/* Buttons END */

/* Validation */
.validation-advice{
	margin:0;
	padding:0;
	background:none;
	opacity:0.87;
}
.validation-advice-container{
	background:#EE0101;
	border:2px solid #DDD;
	color:#FFF;
	font-family:Tahoma,Geneva,Kalimati,sans-serif;
	font-size:11px;
	padding:4px 10px;
	width:130px;
	text-align:center;
	font-weight:100;
	box-shadow:0px 0px 6px #000;
	-moz-box-shadow:0px 0px 6px #000;
	-webkit-box-shadow:0px 0px 6px #000;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
.advice-absolute .arrow{
	position:absolute;
	bottom:0;
	left:20px;
	width:15px; 
	height:15px;
	z-index:5001;
}
.advice-absolute .arrowBottom{top:0;margin:-6px;}

.advice-absolute .arrow div{
	border-left:2px solid #ddd;
	border-right:2px solid #ddd;
	box-shadow:0px 2px 3px #444;
	-moz-box-shadow:0px 2px 3px #444;
	-webkit-box-shadow:0px 2px 3px #444;
	font-size:0px; height:1px; background:#ee0101;margin:0 auto;line-height:0px; font-size:0px; display:block;
}
	.advice-absolute .arrowBottom div{
		box-shadow:none;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
	}
	
.greenPopup .arrow div{background:#33be40;}
.blackPopup .arrow div{background:#393939;color:#FFF;}

.advice-absolute{cursor:pointer; z-index:998;}
.advice-absolute .arrow .line10{width:15px;border:0;} 
.advice-absolute .arrow .line9{width:13px;border:0;} 
.advice-absolute .arrow .line8{width:11px;} 
.advice-absolute .arrow .line7{width:9px;} 
.advice-absolute .arrow .line6{width:7px;} 
.advice-absolute .arrow .line5{width:5px;} 
.advice-absolute .arrow .line4{width:3px;} 
.advice-absolute .arrow .line3{width:1px;
	border-left:2px solid #ddd;
	border-right:2px solid #ddd;
	border-bottom:0;} 
.advice-absolute .arrow .line2{width:3px;border:0;background:#ddd;}
.advice-absolute .arrow .line1{width:1px;border:0;background:#ddd;}

/* Validatoin END */

/* Discount form */
.lightcheckout-discount-form .input-box,
.lightcheckout-discount-form label,
.lightcheckout-discount-form button.button{
	display:inline;
}
.lightcheckout-discount-form .input-box{
	padding-right:3px;
}
.lightcheckout-discount-form .input-box input.input-text{
	width:200px;
}
.glc-skin-default .lightcheckout-discount-form .input-box input.input-text{
	width:170px;
}
.lightcheckout-discount-form label{
	font:700 13px/16px Arial,Helvetica,sans-serif;
	text-transform:uppercase;
	color:#E26703;
	vertical-align:middle;
	padding-right:3px;
}
.lightcheckout-discount-form{
	margin:0;
	border:1px solid #eaeaea;
	border-top:0;
	border-bottom:0;
	padding:12px 16px;
}
.discount-bottom .lightcheckout-discount-form{
	border-bottom:1px solid #eaeaea;
}
.glc-skin-default .lightcheckout-discount-form,
.glc-skin-default .discount-bottom .lightcheckout-discount-form{
	border:0;
	padding:0;
	margin:12px 0;
}
/* Discount form END */

/* Mage agreements */
.glc .checkout-agreements .agreement-content{
	border:1px solid #B6B6B6;
}
.glc .checkout-agreements .agree{
	margin:0;
	padding:5px 0;
}
.glc .checkout-agreements .agree label{
	color:#666;
	font-weight:400;
}
.glc .checkout-agreements li{
	margin:20px 0;
}
/* Mage agreements END */

/* Colors */

	/* Black */
.glc-bskin-round-black button.button span{
	background:#303b40;
	border-color:#262f33;
}
.glc-bskin-round-black button.btn-checkout span{
	background:url("../../images/gomage/lightcheckout/buttons/btn_black.png") no-repeat 0 0;
}
.glc-bskin-round-black button.disabled span{
	background:url("../../images/gomage/lightcheckout/buttons/btn_black.png") no-repeat 0 -40px !important;
}

	/* Blue */
.glc-bskin-round-blue button.button span{
	background:#1a81d4;
	border-color:#2a77c4;
}	
.glc-bskin-round-blue button.btn-checkout span{
	background:url("../../images/gomage/lightcheckout/buttons/btn_blue.png") no-repeat 0 0;
}
.glc-bskin-round-blue button.disabled span{
	background:url("../../images/gomage/lightcheckout/buttons/btn_blue.png") no-repeat 0 -40px !important;
}
	/* Green */
.glc-bskin-round-green button.button span{
	background:#74a322;
	border-color:#81ad41;
}	
.glc-bskin-round-green button.btn-checkout span{
	background:url("../../images/gomage/lightcheckout/buttons/btn_green.png") no-repeat 0 0;
}
.glc-bskin-round-green button.disabled span{
	background:url("../../images/gomage/lightcheckout/buttons/btn_green.png") no-repeat 0 -40px !important;
}
	/* Grey */
.glc-bskin-round-gray button.button span{
	background:#b8b9bb;
	border-color:#a5a9ac;
}	
.glc-bskin-round-gray button.btn-checkout span{
	background:url("../../images/gomage/lightcheckout/buttons/btn_grey.png") no-repeat 0 0;
}
.glc-bskin-round-gray button.disabled span{
	background:url("../../images/gomage/lightcheckout/buttons/btn_grey.png") no-repeat 0 -40px !important;
}
	/* Red */
.glc-bskin-round-red button.button span{
	background:#ea2e28;
	border-color:#97000b;
}
.glc-bskin-round-red button.btn-checkout span{
	background:url("../../images/gomage/lightcheckout/buttons/btn_red.png") no-repeat 0 0;
}
.glc-bskin-round-red button.disabled span{
	background:url("../../images/gomage/lightcheckout/buttons/btn_red.png") no-repeat 0 -40px !important;
}
/* Colors END */

/* Skins */
.glc .customer-comment label{
	color:#5f6162;
	padding:2px 0 4px 16px;
}
.glc-skin-default .customer-comment label{
	color:#2f2f2f;
	padding:0;
}
.glc .form-list label.vat-label input{
	display:inline;
}
.glc .form-list label.vat-label span{
	vertical-align:middle;
	font-weight:400;
	padding-left:3px;
}
.glc.glc-skin-default .form-list label.vat-label{
	padding-bottom:0;
}
.glc .form-list label.vat-label{
	padding-bottom:10px;
}
.glc-skin-default .methods .shipping-methods,
.glc-skin-default .address{
	background:url("../../images/gomage/lightcheckout/gradient.png") no-repeat 100% 0;
}
.glc-skin-default{
	border-top:1px solid #bec1c5;
}
#gcheckout-login-link{
	border:0;
	font-weight:700;
	padding:0 0 5px;
}
.glc-login-and-paypal #gcheckout-login-link{
	float:left;
	white-space:nowrap;
	padding:5px 0 0;
}
.glc-skin-default .glc-col,
.glc-skin-default .glc-col-in{
	background:none;
	padding:0 !important;
}
.glc-col{
	background:url("../../images/gomage/lightcheckout/col-bg.png") no-repeat 0 100%;
	padding:0 0 0 6px;
}
.glc-col-in{
	background:url("../../images/gomage/lightcheckout/col-bg.png") no-repeat 100% 100%;
	padding:15px 0 15px 10px;
}
.glc-title{
	color:#616161;
	
	font:700 12px/30px Arial,Helvetica,sans-serif;
	margin:0;
	padding:0 0 0 17px;
	text-transform:uppercase;
	background:url("../../images/gomage/lightcheckout/cart-header.png") no-repeat top;
	background-size: 100% 100%;
	height:58px;
	
	
}

.glc .a-right .price {
	text-align:left !important;
}
.clear{
height:0px;
}
.agreetab{
	margin-top:56px !important;
}
.cart-purchase-details{
	color: #FFFFFF;
    font-family: ZurichBTBold;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    padding-top:10px;
}

#gcheckout-onepage-review .glc-title{
	background:none;
	color: #FFFFFF;
    font-family: ZurichBTBold;
    font-size: 16px;
    font-weight: normal;
    height:30px;
    border-bottom:1px solid #000000;
    padding-bottom:5px;
    margin-right:15px;
}
.a-right .last{
	text-align: left !important;
}
.glc-bskin-round-black .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/rn-black.png) !important;
}
.glc-bskin-round-blue .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/rn-blue.png) !important;
}
.glc-bskin-round-green .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/rn-green.png) !important;
}
.glc-bskin-round-gray .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/rn-gray.png) !important;
}
.glc-bskin-round-orange .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/rn-orange.png) !important;
}
.glc-bskin-round-red .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/rn-red.png) !important;
}
.glc-bskin-square-black .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-black.png) !important;
}
.glc-bskin-square-blue .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-blue.png) !important;
}
.glc-bskin-square-brown .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-brown.png) !important;
}
.glc-bskin-square-grey .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-gray.png) !important;
}
.glc-bskin-square-green .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-green.png) !important;
}
.glc-bskin-square-light-blue .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-lblue.png) !important;
}
.glc-bskin-square-light-green .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-lgreen.png) !important;
}
.glc-bskin-square-orange .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-orange.png) !important;
}
.glc-bskin-square-red .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-red.png) !important;
}
.glc-bskin-square-pink .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-rose.png) !important;
}
.glc-bskin-square-violet .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-violet.png) !important;
}
.glc-bskin-square-yellow .glc-title span span{
	background-image:url(../../images/gomage/lightcheckout/numbers/sn-yellow.png) !important;
}
.glc .address .billing-address .glc-title span span{
	background-position:0 -130px;
}
.glc .shipping-methods .glc-title span span{
	background-position:-21px -104px;
}
.glc .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-42px -78px;
}
.glc .gcheckout-payment-methods .glc-title span span{
	background-position:-63px -52px;
}
.glc .review .glc-title span span{
	/*background-position:-105px 0;*/
}
.not_shipping_mode .gcheckout-payment-methods .glc-title span span{
	background-position:-21px -104px !important;
}
.diferent_shipping_address .address .billing-address .glc-title span span{
	background-position:0 -130px;
}
.diferent_shipping_address .shipping-methods .glc-title span span{
	background-position:-42px -78px;
}
.diferent_shipping_address .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-63px -52px;
}
.diferent_shipping_address .gcheckout-payment-methods .glc-title span span{
	background-position:-84px -26px;
}
.diferent_shipping_address .shipping-address .glc-title span span{
	background-position:-21px -104px;
}
.not_deliverydate_mode .gcheckout-payment-methods .glc-title span span{
	background-position:-42px -78px;
}
.notddate_diferent_shipping_address .gcheckout-payment-methods .glc-title span span{
	background-position:-63px -52px;
}
.notddate_diferent_shipping_address .shipping-address .glc-title span span{
	background-position:-21px -104px;
}
.notddate_diferent_shipping_address .shipping-methods .glc-title span span{
	background-position:-42px -78px;
}
.glc.glc-bskin-round .address .billing-address .glc-title span span{
	background-position:0 -141px;
}
.glc.glc-bskin-round .shipping-methods .glc-title span span{
	background-position:-23px -113px;
}
.glc.glc-bskin-round .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-46px -85px;
}
.glc.glc-bskin-round .gcheckout-payment-methods .glc-title span span{
	background-position:-69px -57px;
}
.glc.glc-bskin-round .review .glc-title span span{
	background-position:-115px -1px;
}
.not_shipping_mode.glc-bskin-round .gcheckout-payment-methods .glc-title span span{
	background-position:-23px -113px !important;
}
.diferent_shipping_address.glc-bskin-round .shipping-methods .glc-title span span{
	background-position:-46px -85px;
}
.diferent_shipping_address.glc-bskin-round .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-69px -57px;
}
.diferent_shipping_address.glc-bskin-round .gcheckout-payment-methods .glc-title span span{
	background-position:-92px -29px;
}
.diferent_shipping_address.glc-bskin-round .shipping-address .glc-title span span{
	background-position:-23px -113px;
}
.not_deliverydate_mode.glc-bskin-round .gcheckout-payment-methods .glc-title span span{
	background-position:-46px -85px;
}
.notddate_diferent_shipping_address.glc-bskin-round .gcheckout-payment-methods .glc-title span span{
	background-position:-69px -57px;
}
.notddate_diferent_shipping_address.glc-bskin-round .shipping-address .glc-title span span{
	background-position:-23px -113px;
}
.notddate_diferent_shipping_address.glc-bskin-round .shipping-methods .glc-title span span{
	background-position:-46px -85px;
}
.glc-title span{
	display:block;
	/*background-image:url("../../images/gomage/lightcheckout/title_bg.png");*/
}
.glc-title span span{
/*	background-image:url(../../images/gomage/lightcheckout/sn.png) !important;*/
	padding:1px 0 0;
  width:21px;
  margin:0 8px 0 0;
  float:left;
	background-repeat:repeat-y;
	height:29px;
}
.glc.glc-skin-black .glc-title{
	background-position:0 0 !important;
}
.glc.glc-skin-black .glc-title span{
	background-position:100% -360px;
}
.glc.glc-skin-blue .glc-title{
	background-position:0 -30px !important;
}
.glc.glc-skin-blue .glc-title span{
	background-position:100% -390px;
}
.glc.glc-skin-brown .glc-title{
	background-position:0 -60px !important;
}
.glc.glc-skin-brown .glc-title span{
	background-position:100% -420px;
}
.glc.glc-skin-gray .glc-title{
	background-position:0 -90px !important;
}
.glc.glc-skin-gray .glc-title span{
	background-position:100% -450px;
}
.glc.glc-skin-green .glc-title{
	background-position:0 -120px !important;
}
.glc.glc-skin-green .glc-title span{
	background-position:100% -480px;
}
.glc.glc-skin-light-blue .glc-title{
	background-position:0 -150px !important;
}
.glc.glc-skin-light-blue .glc-title span{
	background-position:100% -510px;
}
.glc.glc-skin-light-green .glc-title{
	background-position:0 -180px !important;
}
.glc.glc-skin-light-green .glc-title span{
	background-position:100% -540px;
}
.glc.glc-skin-orange .glc-title{
	/*background-position:0 -210px !important;*/
}
.glc.glc-skin-orange .glc-title span{
	background-position:100% -570px;
	padding-top:15px;
}

#gcheckout-onepage-review .glc-title span{
	padding-top:0;
	
}


.glc.glc-skin-red .glc-title{
	background-position:0 -270px !important;
}
.glc.glc-skin-red .glc-title span{
	background-position:100% -630px;
}
.glc.glc-skin-pink .glc-title{
	background-position:0 -240px !important;
}
.glc.glc-skin-pink .glc-title span{
	background-position:100% -600px;
}
.glc.glc-skin-violet .glc-title{
	background-position:0 -300px !important;
}
.glc.glc-skin-violet .glc-title span{
	background-position:100% -660px;
}
.glc.glc-skin-yellow .glc-title{
	background-position:0 -330px !important;
}
.glc.glc-skin-yellow .glc-title span{
	background-position:100% -690px;
}
.glc.glc-bskin-square-black .glc-title,
.glc.glc-bskin-square-blue .glc-title,
.glc.glc-bskin-square-brown .glc-title,
.glc.glc-bskin-square-grey .glc-title,
.glc.glc-bskin-square-green .glc-title,
.glc.glc-bskin-square-light-blue .glc-title,
.glc.glc-bskin-square-light-green .glc-title,
.glc.glc-bskin-square-orange .glc-title,
.glc.glc-bskin-square-red .glc-title,
.glc.glc-bskin-square-pink .glc-title,
.glc.glc-bskin-square-violet .glc-title,
.glc.glc-bskin-square-yellow .glc-title{
	padding:5px 0 0;
}
.glc.glc-bskin-square-black .glc-title span span,
.glc.glc-bskin-square-blue .glc-title span span,
.glc.glc-bskin-square-brown .glc-title span span,
.glc.glc-bskin-square-grey .glc-title span span,
.glc.glc-bskin-square-green .glc-title span span,
.glc.glc-bskin-square-light-blue .glc-title span span,
.glc.glc-bskin-square-light-green .glc-title span span,
.glc.glc-bskin-square-orange .glc-title span span,
.glc.glc-bskin-square-red .glc-title span span,
.glc.glc-bskin-square-pink .glc-title span span,
.glc.glc-bskin-square-violet .glc-title span span,
.glc.glc-bskin-square-yellow .glc-title span span{
	width:26px;
  margin-right:0 !important;
}
.glc-rtl.glc-bskin-square-black .glc-title span span,
.glc-rtl.glc-bskin-square-blue .glc-title span span,
.glc-rtl.glc-bskin-square-brown .glc-title span span,
.glc-rtl.glc-bskin-square-grey .glc-title span span,
.glc-rtl.glc-bskin-square-green .glc-title span span,
.glc-rtl.glc-bskin-square-light-blue .glc-title span span,
.glc-rtl.glc-bskin-square-light-green .glc-title span span,
.glc-rtl.glc-bskin-square-orange .glc-title span span,
.glc-rtl.glc-bskin-square-red .glc-title span span,
.glc-rtl.glc-bskin-square-pink .glc-title span span,
.glc-rtl.glc-bskin-square-violet .glc-title span span,
.glc-rtl.glc-bskin-square-yellow .glc-title span span{
	margin-left:5px !important;
  width:21px;
}
.glc .address .billing-address .glc-title span span{
	/*background-position:0 -130px;*/
	width:27px;
	background:url(../../images/gomage/lightcheckout/number1.png) no-repeat !important;
}
.glc .shipping-methods .glc-title span span{
	/*background-position:-21px -104px;*/
	width:27px;
	background:url(../../images/gomage/lightcheckout/number2.png) no-repeat !important;
}
.glc .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-42px -78px;
}
.glc .gcheckout-payment-methods .glc-title span span{
	background-position:-63px -52px;
}
.glc .review .glc-title span span{
	/*background-position:-105px 0;*/
	
	width:27px;
	background:url(../../images/gomage/lightcheckout/arrowdown.png) no-repeat !important;
}
.not_shipping_mode .gcheckout-payment-methods .glc-title span span{
	background-position:-21px -104px !important;
}
.diferent_shipping_address .shipping-methods .glc-title span span{
	background-position:-42px -78px;
}
.diferent_shipping_address .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-63px -52px;
}
.diferent_shipping_address .gcheckout-payment-methods .glc-title span span{
	background-position:-84px -26px;
}
.diferent_shipping_address .shipping-address .glc-title span span{
	background-position:-21px -104px;
}
.not_deliverydate_mode .gcheckout-payment-methods .glc-title span span{
	/*background-position:-42px -78px;*/
	width:27px;
	background:url(../../images/gomage/lightcheckout/number2.png) no-repeat !important;
}
.notddate_diferent_shipping_address .gcheckout-payment-methods .glc-title span span{
	background-position:-63px -52px;
}
.notddate_diferent_shipping_address .shipping-address .glc-title span span{
	background-position:-21px -104px;
}
.notddate_diferent_shipping_address .shipping-methods .glc-title span span{
	background-position:-42px -78px;
}
.glc .form-list label.required,
.glc .form-list label{
	color:#5f5f5f;
	float:left;
	width:auto;
	padding-right:0;
	position:relative;
	padding-bottom:0;
	z-index:0;
}
.glc .gcheckout-payment-methods .form-list label.required,
.glc .gcheckout-payment-methods .form-list label{
	line-height:14px;
	padding-top:0;
}
.glc .shipping-advanced{
	padding-top:10px;
}
.glc.glc-skin-default input.input-text,
.glc.glc-skin-default select,
.glc.glc-skin-default textarea,
#login-form.glc-pskin-default .form-list li .input-box .input-text{
	background:#FFF;
	border:1px solid #B6B6B6;
	-moz-border-radius:0; -webkit-border-radius:0; border-radius:0;
}
.glc input.input-text,
.glc select,
.glc textarea,
#login-form .form-list li .input-box .input-text{
	background:#fff url("../../images/gomage/lightcheckout/input_bg.gif") repeat-x 0 0;
	border:1px solid #d7d7d7;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
}
.glc textarea{
	resize:none;
}
.glc input.input-text,
.glc textarea,
#login-form input.input-text{
	padding:2px;
}

	/* Skins colors */
#login-form.glc-pskin-blue .actions a.
#login-form.glc-pskin-brown .actions a,
#login-form.glc-pskin-gray .actions a,
#login-form.glc-pskin-green .actions a,
#login-form.glc-pskin-light-blue .actions a,
#login-form.glc-pskin-light-green .actions a,
#login-form.glc-pskin-orange .actions a,
#login-form.glc-pskin-red .actions a,
#login-form.glc-pskin-pink .actions a,
#login-form.glc-pskin-violet .actions a,
#login-form.glc-pskin-yellow .actions a,
#login-form.glc-pskin-black .actions a{
	line-height:26px;
}
		/* Black */
.glc.glc-skin-black .lightcheckout-discount-form label,
#login-form.glc-pskin-black .actions a,
.glc.glc-skin-black a,
.glc.glc-bskin-square-black .lightcheckout-discount-form label,
#login-form.glc-bskin-square-black .actions a,
.glc.glc-bskin-square-black a,
.glc-bskin-square-black a,
.glc-skin-black a,
.glc.glc-bskin-round-black .lightcheckout-discount-form label,
#login-form.glc-bskin-round-black .actions a,
.glc.glc-bskin-round-black a,
.glc-bskin-round-black a{
	color:#252525;
}
.glc .sp-methods dd li{
	line-height:14px;
	margin:5px 0;
}
.simple_overlay.glc-pskin-black .close,
.simple_overlay.glc-bskin-square-black .close{
	background-position:0 -35px;
}
.simple_overlay.glc-pskin-black button.button span,
.simple_overlay.glc-bskin-square-black button.button span,
.glc.glc-skin-black button.button span,
.glc.glc-bskin-square-black button.button span{
	background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_black.png") !important;
}
		/* Black END */

		/* Blue */
.glc.glc-skin-blue .lightcheckout-discount-form label,
#login-form.glc-pskin-blue .actions a,
.glc.glc-skin-blue a,
.glc.glc-bskin-square-blue .lightcheckout-discount-form label,
#login-form.glc-bskin-square-blue .actions a,
.glc.glc-bskin-square-blue a,
.glc-bskin-square-blue a,
.glc-skin-blue a,
.glc.glc-bskin-round-blue .lightcheckout-discount-form label,
#login-form.glc-bskin-round-blue .actions a,
.glc.glc-bskin-round-blue a,
.glc-bskin-round-blue a{
	color:#285ea0;
}
.simple_overlay.glc-pskin-blue .close,
.simple_overlay.glc-bskin-square-blue .close{
	background-position:-140px -35px;
}
.simple_overlay.glc-pskin-blue button.button span,
.simple_overlay.glc-bskin-square-blue button.button span,
.glc.glc-skin-blue button.button span,
.glc.glc-bskin-square-blue button.button span{
	background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_blue.png") !important;
}
		/* Blue END */

		/* Brown */
.glc.glc-skin-brown .lightcheckout-discount-form label,
#login-form.glc-pskin-brown .actions a,
.glc.glc-skin-brown a,
.glc.glc-bskin-square-brown .lightcheckout-discount-form label,
#login-form.glc-bskin-square-brown .actions a,
.glc.glc-bskin-square-brown a,
.glc-skin-brown a,
.glc-bskin-square-brown a{
	color:#411a09;
}
.simple_overlay.glc-pskin-brown .close,
.simple_overlay.glc-bskin-square-brown .close{
	background-position:-175px -35px;
}
.simple_overlay.glc-pskin-brown button.button span,
.simple_overlay.glc-bskin-square-brown button.button span,
.glc.glc-skin-brown button.button span,
.glc.glc-bskin-square-brown button.button span{
	background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_brown.png") !important;
}
		/* Brown END */

		/* Gray */
.glc.glc-skin-gray .lightcheckout-discount-form label,
#login-form.glc-pskin-gray .actions a,
.glc.glc-skin-gray a,
.glc.glc-bskin-square-grey .lightcheckout-discount-form label,
#login-form.glc-bskin-square-grey .actions a,
.glc.glc-bskin-square-grey a,
.glc-bskin-square-grey a,
.glc-skin-gray a,
.glc.glc-bskin-round-gray .lightcheckout-discount-form label,
#login-form.glc-bskin-round-gray .actions a,
.glc.glc-bskin-round-gray a{
	color:#585858;
}
.simple_overlay.glc-pskin-gray .close,
.simple_overlay.glc-bskin-square-grey .close{
	background-position:0 -70px;
}
.simple_overlay.glc-pskin-gray button.button span,
.simple_overlay.glc-bskin-square-grey button.button span,
.glc.glc-skin-gray button.button span,
.glc.glc-bskin-square-grey button.button span{
	background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_gray.png") !important;
}
		/* Gray END */

		/* Green */
.glc.glc-skin-green .lightcheckout-discount-form label,
#login-form.glc-pskin-green .actions a,
.glc.glc-skin-green a,
.glc.glc-bskin-square-green .lightcheckout-discount-form label,
#login-form.glc-bskin-square-green .actions a,
.glc.glc-bskin-square-green a,
.glc-bskin-square-green a,
.glc-skin-green a,
.glc.glc-bskin-round-green .lightcheckout-discount-form label,
#login-form.glc-bskin-round-green .actions a,
.glc.glc-bskin-round-green a,
.glc-bskin-round-green a{
	color:#379a11;
}
.simple_overlay.glc-pskin-green .close,
.simple_overlay.glc-bskin-square-green .close{
	background-position:-35px -70px;
}
.simple_overlay.glc-pskin-green button.button span,
.simple_overlay.glc-bskin-square-green button.button span,
.glc.glc-skin-green button.button span,
.glc.glc-bskin-square-green button.button span{
	background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_green.png") !important;
}
		/* Green END */

		/* Light-blue */
.glc.glc-skin-light-blue .lightcheckout-discount-form label,
#login-form.glc-pskin-light-blue .actions a,
.glc.glc-skin-light-blue a,
.glc.glc-bskin-square-light-blue .lightcheckout-discount-form label,
#login-form.glc-bskin-square-light-blue .actions a,
.glc.glc-bskin-square-light-blue a,
.glc-bskin-square-light-blue a,
.glc-skin-light-blue a{
	color:#45c3ee;
}
.simple_overlay.glc-pskin-light-blue .close,
.simple_overlay.glc-bskin-square-light-blue .close{
	background-position:-70px -35px;
}
.simple_overlay.glc-pskin-light-blue button.button span,
.simple_overlay.glc-bskin-square-light-blue button.button span,
.glc.glc-skin-light-blue button.button span,
.glc.glc-bskin-square-light-blue button.button span{
	background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_lblue.png") !important;
}
		/* Light-blue END */

		/* Light-green */
.glc.glc-skin-light-green .lightcheckout-discount-form label,
#login-form.glc-pskin-light-green .actions a,
.glc.glc-skin-light-green a,
.glc.glc-bskin-square-light-green .lightcheckout-discount-form label,
#login-form.glc-bskin-square-light-green .actions a,
.glc.glc-bskin-square-light-green a,
.glc-bskin-square-light-green a,
.glc-skin-light-green a{
	color:#83b433;
}
.simple_overlay.glc-pskin-light-green .close,
.simple_overlay.glc-bskin-square-light-green .close{
	background-position:-70px -70px;
}
.simple_overlay.glc-pskin-light-green button.button span,
.simple_overlay.glc-bskin-square-light-green button.button span,
.glc.glc-skin-light-green button.button span,
.glc.glc-bskin-square-light-green button.button span{
	background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_lgreen.png") !important;
}
		/* Light-green END */

		/* Orange */
.glc.glc-skin-orange .lightcheckout-discount-form label,
#login-form.glc-pskin-orange .actions a,
.glc.glc-skin-orange a,
.glc.glc-bskin-square-orange .lightcheckout-discount-form label,
#login-form.glc-bskin-square-orange .actions a,
.glc.glc-bskin-square-orange a,
.glc-bskin-square-orange a,
.glc-skin-orange a,
.glc.glc-bskin-round-orange .lightcheckout-discount-form label,
#login-form.glc-bskin-round-orange .actions a,
.glc.glc-bskin-round-orange a,
.glc-bskin-round-orange a{
	color:#ea8717;
}
.simple_overlay.glc-pskin-orange .close,
.simple_overlay.glc-bskin-square-orange .close{
	background-position:-105px -70px;
}
.simple_overlay.glc-pskin-orange button.button span,
.simple_overlay.glc-bskin-square-orange button.button span,
.glc.glc-skin-orange button.button span,
.glc.glc-bskin-square-orange button.button span{
	/*background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_orange.png") !important;*/
	
}
		/* Orange END */

		/* Red */
.glc.glc-skin-red .lightcheckout-discount-form label,
#login-form.glc-pskin-red .actions a,
.glc.glc-skin-red a,
.glc.glc-bskin-square-red .lightcheckout-discount-form label,
#login-form.glc-bskin-square-red .actions a,
.glc.glc-bskin-square-red a,
.glc-bskin-square-red a,
.glc-skin-red a{
	color:#d82535;
}
.simple_overlay.glc-pskin-red .close,
.simple_overlay.glc-bskin-square-red .close{
	background-position:-140px -70px;
}
.simple_overlay.glc-pskin-red button.button span,
.simple_overlay.glc-bskin-square-red button.button span,
.glc.glc-skin-red button.button span,
.glc.glc-bskin-square-red button.button span{
	background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_red.png") !important;
}
		/* Red END */

		/* Rose */
.glc.glc-skin-pink .lightcheckout-discount-form label,
#login-form.glc-pskin-pink .actions a,
.glc.glc-skin-pink a,
.glc.glc-bskin-square-pink .lightcheckout-discount-form label,
#login-form.glc-bskin-square-pink .actions a,
.glc.glc-bskin-square-pink a,
.glc-bskin-square-pink a,
.glc-skin-pink a{
	color:#df4bab;
}
.simple_overlay.glc-pskin-pink .close,
.simple_overlay.glc-bskin-square-pink .close{
	background-position:-175px -70px;
}
.simple_overlay.glc-pskin-pink button.button span,
.simple_overlay.glc-bskin-square-pink button.button span,
.glc.glc-skin-pink button.button span,
.glc.glc-bskin-square-pink button.button span{
	background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_rose.png") !important;
}
		/* Rose END */

		/* Violet */
.glc.glc-skin-violet .lightcheckout-discount-form label,
#login-form.glc-pskin-violet .actions a,
.glc.glc-skin-violet a,
.glc.glc-bskin-square-violet .lightcheckout-discount-form label,
#login-form.glc-bskin-square-violet .actions a,
.glc.glc-bskin-square-violet a,
.glc-bskin-square-violet a,
.glc-skin-violet a{
	color:#453d75;
}
.simple_overlay.glc-pskin-violet .close,
.simple_overlay.glc-bskin-square-violet .close{
	background-position:-35px -35px;
}
.simple_overlay.glc-pskin-violet button.button span,
.simple_overlay.glc-bskin-square-violet button.button span,
.glc.glc-skin-violet button.button span,
.glc.glc-bskin-square-violet button.button span{
	background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_violet.png") !important;
}
		/* Violet END */

		/* Yellow */
.glc.glc-skin-yellow .lightcheckout-discount-form label,
#login-form.glc-pskin-yellow .actions a,
.glc.glc-skin-yellow a,
.glc.glc-bskin-square-yellow .lightcheckout-discount-form label,
#login-form.glc-bskin-square-yellow .actions a,
.glc.glc-bskin-square-yellow a,
.glc-bskin-square-yellow a,
.glc-skin-yellow a{
	color:#eabb17;
}
.simple_overlay.glc-pskin-yellow .close,
.simple_overlay.glc-bskin-square-yellow .close{
	background-position:-105px -35px;
}
.simple_overlay.glc-pskin-yellow button.button span,
.simple_overlay.glc-bskin-square-yellow button.button span,
.glc.glc-skin-yellow button.button span,
.glc.glc-bskin-square-yellow button.button span{
	background-image:url("../../images/gomage/lightcheckout/buttons/nbtn_yellow.png") !important;
}
		/* Yellow END */
.glc.glc-nbutton button.button span,
.simple_overlay.glc-nbutton button.button span{
	background-color:transparent;
}
.simple_overlay.glc-nbutton button.button span{
	border:0;
	height:27px;
	padding:0 0 0 23px;
	background-position:0 -25px;
}
.simple_overlay.glc-nbutton button.button span span{
	padding:0 23px 0 0;
	font:400 12px/27px Arial,Helvetica,sans-serif;
	background-position:100% -25px;
}
.glc.glc-nbutton button.button span{
	border:0;
	height:25px;
	padding:0 0 0 10px;
	background-position:0 0;
}
.glc.glc-nbutton button.button span span{
	padding:0 10px 0 0;
	background-position:100% 0;
	font:400 12px/25px Arial,Helvetica,sans-serif;
}
.glc.glc-nbutton button.btn-checkout span{
	border:0;
	height:41px;
	padding:0 0 0 24px;
	background-position:0 -52px;
	display:none;
}
.glc.glc-nbutton button.btn-checkout span span{
	padding:0 24px 0 0;
	background-position:100% 0;
	font:700 15px/41px Arial,Helvetica,sans-serif;
	background-position:100% -52px;
}
.glc.glc-nbutton button.btn-checkout.disabled span{
	background-position:0 -93px !important;
}
.glc.glc-nbutton button.btn-checkout.disabled span span{
	background-position:100% -93px !important;
}
	/* Skins colors END */

/* Skins END */

/* Table styles */

	/* New */
	
	.std1 {
	background: url("../../images/gomage/lightcheckout/rightbg.gif") repeat-x scroll left bottom #2B3238;
	color: #FFFFFF;
    /*overflow: hidden;*/
    padding: 10px;
    min-height:100%;
    overflow-y:visible;
    
	}
.glc .data-table{
	/*border:1px solid #e1e1e1;*/
	border-collapse:collapse;
	/*color:#3e3e3e;*/
	width:100%;
	padding:0;
	margin:0;
  border-spacing:0;
  empty-cells:show;
  font-size:100%;
  margin-bottom:125px;
}
.glc .data-table tfoot th{
	font-weight:normal;
	border-right:1px solid #E4E4E4;
}
.glc .data-table h3{
	margin:0;
}
.glc .data-table tr.last th, .glc .data-table tr.last td{
	border-bottom:1px solid #1b2025 !important;
}
.glc .data-table thead th{
	background:url("../../images/gomage/lightcheckout/bkg_th2.gif") repeat-x 0 0 #f0f0f0;
}
.glc .data-table thead th{
	/*border-right:1px solid #e4e4e4;*/
/*	color:#5f6162;*/
	font-weight:700;
	vertical-align:middle;
	white-space:nowrap;
}
.glc .data-table td{
padding-top:5px !important;
padding-bottom:5px !important;
vertical-align:middle;
}
.glc .data-table tbody td .product-name{
	color: #C0C1C3;
	
}
.odd .last .cart-price .price{
	color: #F98409;
    font-family: 'ZurichBT-BoldCondensed';
    font-size: 20px;
}

.even .last .cart-price .price{
	color: #F98409;
    font-family: 'ZurichBT-BoldCondensed';
    font-size: 20px;
}
.glc .data-table thead tr.last th{
  background:#f3f3f3;
}
.glc .data-table thead tr.first th{
  border-bottom:1px solid #1b2025 !important;
  background:url("../../images/gomage/lightcheckout/bkg_th2.gif") repeat-x 0 0 #f0f0f0;
  background:none !important;
}
.glc .data-table tfoot tr,.glc .data-table tfoot tr.first td{
	background:none !important;
}
.glc .data-table tfoot{
	/*background:url("../../images/gomage/lightcheckout/bkg_tfoot_new.png") repeat-x 0 0 #f2f2f2;*/
}
.glc .data-table tfoot td{
	/*border-bottom:0;*/
	border-bottom: 1px solid #1b2025 !important;
    border-left: medium none !important;
    border-right: medium none;
	/*border-right:1px solid #e4e4e4;*/
	padding-bottom:1px #000000 !important;
	padding-top:1px #000000 !important;
}
.glc .data-table .odd,
.glc .data-table .even{
	/*background:#fff;*/
}
.glc .data-table tbody th, .glc .data-table tbody td{
	border-bottom:1px solid #1b2025;
	border-right:none;
	border-left:none;
	padding-top:5px;
	padding-bottom:5px;
	
}
.glc .data-table tfoot strong{
	/*font-size:17px;*/
	
	color:#ffffff;
	padding: 5px 0 5px 2px;
    text-align: right;
    font: 14px/19px Arial
}

.glc .data-table tfoot strong .price{
	color: #299002;
    font-family: 'ZurichBT-BoldCondensed';
    font-size: 20px !important;
}
.glc .data-table tfoot td strong .price{
	font-size:17px;
}

	/* Default */
.glc-skin-default .data-table{
	border:1px solid #BEBCB7;
	color:#2F2F2F;
	border-collapse:separate;
}
.glc .cvv-what-is-this{
	float:left;
	margin-top:3px;
	line-height:14px;
}
.glc-skin-default .data-table tr.last th, .glc-skin-default .data-table tr.last td{
	border-bottom:0 !important;
}
.glc-skin-default .data-table thead th{
	background:url("../../images/gomage/lightcheckout/bkg_th.gif") repeat-x 0 100% #D9E5EE !important;
}
.glc .data-table thead th{
	padding:10px 8px;
}
.glc-skin-default .data-table thead th{
	border-right:1px solid #C2D3E0;
	color:#0A263C;
	font-weight:700;
	vertical-align:middle;
	white-space:nowrap;
}
.glc.glc-skin-default .data-table thead tr.first th{
  border-bottom:0;
}
.glc-skin-default .data-table tfoot tr{
	background-color:#DEE5E8 !important;
}
.glc-skin-default .data-table tfoot tr.first td{
	background:#DEE5E8 url("../../images/gomage/lightcheckout/bkg_tfoot.gif") repeat-x 0 0 !important;
}
.glc-skin-default .data-table tfoot td{
	border-bottom:0;
	border-right:1px solid #D9DDE3;
	padding-bottom:1px;
	padding-top:1px;
}
.glc-skin-default .data-table tfoot th{
	border-right:1px solid #D9DDE3;
}
.glc .data-table td{
	padding:3px 0px 3px 8px;
}
.glc .data-table td.light-chechout-remove-td{
	padding:3px 8px;
}
.glc-skin-default .data-table .odd{
	background:#F8F7F5;
}
.glc-skin-default .data-table .even{ background:#eeeded; }
.glc-skin-default .data-table tr.last th, .glc-skin-default .data-table tr.last td{
	border-bottom:0 !important;
}
.glc-skin-default .data-table tbody th, .glc-skin-default .data-table tbody td{
	border-bottom:1px solid #D9DDE3;
	border-right:1px solid #D9DDE3;
}
.glc-skin-default tfoot strong,.glc-skin-default .data-table tfoot td.last strong{
	font-size:15px;
	color:#2f2f2f;
	font-weight:700;
}
.glc .data-table tr.summary-details-first td{
  border-top:0;
  background:#F2F2F2;
  color:#1C1C1C;
  font-size:11px;
}
.glc .data-table tr.summary-total .summary-collapse {
  background:url("../../images/gomage/lightcheckout/bkg_collapse.gif") no-repeat 0 5px;
  cursor:pointer;
  float:right;
  padding-left:20px;
  text-align:right;
}
.glc .data-table tr.show-details .summary-collapse {
  background-position:0 -52px;
}
.glc-skin-default .data-table tr.summary-details-first td{
  background:#DEE5E8;
}
/* Table styles END */
.glc-popup-head,
.glc-popup-head-in,
.glc-popup-bottom,
.glc-popup-bottom-in{
	overflow:hidden;
	background-image:url("../../images/gomage/lightcheckout/popup_bg1.png");
}
.glc-popup-head{
	height:10px;
	background-position:0 0;
	padding:0 0 0 7px;
}
.glc-popup-head-in{
	height:10px;
	background-position:100% 0;
	padding:0;
}
.glc-popup-bottom{
	height:15px;
	background-position:0 -11px;
	padding:0 0 0 12px;	
}
.glc-popup-bottom-in{
	height:15px;
	background-position:100% -11px;
	padding:0;
}
.glc-popup-content{
	background:url("../../images/gomage/lightcheckout/popup_bg2.png") repeat-y 0 0;
	padding:0 0 0 1px;
}
.glc-popup-content-in{
	background:url("../../images/gomage/lightcheckout/popup_bg2.png") repeat-y 100% 0;
	padding:0 27px 0 20px;
}
.glc .tool-tip{
	background:#fff;
	border:1px solid #D7D7D7;
	padding:15px 20px;
	position:absolute;
	z-index:9999;
	top:20%;
	right:0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;	
}
.glc.glc-skin-default .tool-tip{
	background:#EAF6FF;
	border:1px solid #7BA7C9;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;	
}
.glc .tool-tip .btn-close{
	margin:-9px -14px 0;
	text-align:right;
}
.glc .tool-tip .tool-tip-content{
	padding:5px;
}
.glc .tool-tip .btn-close a{
	display:block;
	height:15px;
	margin:0 0 0 auto;
	overflow:hidden;
	text-align:left;
	text-indent:-999em;
	width:15px;
	background:url("../../images/gomage/lightcheckout/btn_window_close.png") no-repeat 100% 0;
}
#gcheckout-payment-methods dl dt label{	
	padding:0 !important;
	background:none !important;
}
.glc #gcheckout-payment-methods dl dt.gcheckout-onepage-sagepay label{
	padding:0 0 1px 65px !important;
	background:url(../../images/gomage/lightcheckout/sagepay.png) no-repeat 0 2px !important;
}
.glc input.input-text:focus,
.glc select:focus,
.glc textarea:focus,
.simple_overlay input.input-text:focus,
.simple_overlay select:focus,
.simple_overlay textarea:focus{background:#edf7fd !important;}

.glc .delivery-date img{
	cursor:pointer;
}
html body div.glc-skin-default .glc-title span{
/* 	background:none !important;
	display:inline;
	padding:0;
	  float:none;
	  margin:0; */
}
html body div.glc-skin-default .glc-title span span,
html body div.glc-skin-default.not_shipping_mode .glc-title span span{
  width:27px;
  height:27px;
  padding-top:0;
  margin-top:-6px;
}

/* Right to left layout */
.glc-rtl,
.glc-rtl *{
  direction:rtl;
  text-align:right;
}
.glc-rtl.glc-login-and-paypal #gcheckout-login-link{
  float:right;
}
.glc-rtl.glc-login-and-paypal .glc-paypal-express{
  float:left;
}
.glc-rtl.simple_overlay .close{
  left:-14px;
  right:auto;
}
.glc-rtl.glc .form-list label.required,
.glc-rtl.glc .form-list label,
.glc-rtl#login-form .form-list label.required{
  float:right;
}
.glc-rtl.glc .form-list label.required em,
.glc-rtl#login-form .form-list label.required em{
  left:-8px;
  right:auto;
}
.glc-rtl#login-form .actions a{
  float:right;
}
.glc-rtl.simple_overlay .actions button.button{
  float:left;
}
.glc-rtl.glc .methods .shipping-methods,
.glc-rtl.glc .address{
  float:right;
  margin-right:0;
  margin-left:10px;
}
.glc-rtl .glc-title{
  padding:0 17px 0 0;
  background-image: url("../../images/gomage/lightcheckout/title_bg_rtl.png");
}
.glc-rtl.glc-skin-default .glc-title{
  padding-right:0;
}
.glc-rtl .glc-title span {
  background-image: url("../../images/gomage/lightcheckout/title_bg_rtl.png");
}
.glc-rtl .glc-title span span{
  float:right;
  margin:0 0 0 8px;
}
.glc-rtl.glc .address .billing-address .glc-title span span{
	background-position:0 -130px;
}
.glc-rtl.glc .shipping-methods .glc-title span span{
	background-position:-21px -104px;
}
.glc-rtl.glc .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-42px -78px;
}
.glc-rtl.glc .gcheckout-payment-methods .glc-title span span{
	background-position:-63px -52px;
}
.glc-rtl.glc .review .glc-title span span{
	background-position:-105px 0;
}
.glc-rtl.not_shipping_mode .gcheckout-payment-methods .glc-title span span{
	background-position:-21px -104px !important;
}
.glc-rtl.diferent_shipping_address .address .billing-address .glc-title span span{
	background-position:0 -130px;
}
.glc-rtl.diferent_shipping_address .shipping-methods .glc-title span span{
	background-position:-42px -78px;
}
.glc-rtl.diferent_shipping_address .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-63px -52px;
}
.glc-rtl.diferent_shipping_address .gcheckout-payment-methods .glc-title span span{
	background-position:-84px -26px;
}
.glc-rtl.diferent_shipping_address .shipping-address .glc-title span span{
	background-position:-21px -104px;
}
.glc-rtl.not_deliverydate_mode .gcheckout-payment-methods .glc-title span span{
	background-position:-42px -78px;
}
.glc-rtl.notddate_diferent_shipping_address .gcheckout-payment-methods .glc-title span span{
	background-position:-63px -52px;
}
.glc-rtl.notddate_diferent_shipping_address .shipping-address .glc-title span span{
	background-position:-21px -104px;
}
.glc-rtl.notddate_diferent_shipping_address .shipping-methods .glc-title span span{
	background-position:-42px -78px;
}
.glc-rtl.glc.glc-bskin-round .address .billing-address .glc-title span span{
	background-position:0 -141px;
}
.glc-rtl.glc.glc-bskin-round .shipping-methods .glc-title span span{
	background-position:-23px -113px;
}
.glc-rtl.glc.glc-bskin-round .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-46px -85px;
}
.glc-rtl.glc.glc-bskin-round .gcheckout-payment-methods .glc-title span span{
	background-position:-69px -57px;
}
.glc-rtl.glc.glc-bskin-round .review .glc-title span span{
	background-position:-115px -1px;
}
.glc-rtl.not_shipping_mode.glc-bskin-round .gcheckout-payment-methods .glc-title span span{
	background-position:-23px -113px !important;
}
.glc-rtl.diferent_shipping_address.glc-bskin-round .shipping-methods .glc-title span span{
	background-position:-46px -85px;
}
.glc-rtl.diferent_shipping_address.glc-bskin-round .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-69px -57px;
}
.glc-rtl.diferent_shipping_address.glc-bskin-round .gcheckout-payment-methods .glc-title span span{
	background-position:-92px -29px;
}
.glc-rtl.diferent_shipping_address.glc-bskin-round .shipping-address .glc-title span span{
	background-position:-23px -113px;
}
.glc-rtl.not_deliverydate_mode.glc-bskin-round .gcheckout-payment-methods .glc-title span span{
	background-position:-46px -85px;
}
.glc-rtl.notddate_diferent_shipping_address.glc-bskin-round .gcheckout-payment-methods .glc-title span span{
	background-position:-69px -57px;
}
.glc-rtl.notddate_diferent_shipping_address.glc-bskin-round .shipping-address .glc-title span span{
	background-position:-23px -113px;
}
.glc-rtl.notddate_diferent_shipping_address.glc-bskin-round .shipping-methods .glc-title span span{
	background-position:-46px -85px;
}
.glc-rtl.glc-skin-black .glc-title{
	background-position:100% 0 !important;
}
.glc-rtl.glc-skin-black .glc-title span{
	background-position:0 -360px;
}
.glc-rtl.glc-skin-blue .glc-title{
	background-position:100% -30px !important;
}
.glc-rtl.glc-skin-blue .glc-title span{
	background-position:0 -390px;
}
.glc-rtl.glc-skin-brown .glc-title{
	background-position:100% -60px !important;
}
.glc-rtl.glc-skin-brown .glc-title span{
	background-position:0 -420px;
}
.glc-rtl.glc-skin-gray .glc-title{
	background-position:100% -90px !important;
}
.glc-rtl.glc-skin-gray .glc-title span{
	background-position:0 -450px;
}
.glc-rtl.glc-skin-green .glc-title{
	background-position:100% -120px !important;
}
.glc-rtl.glc-skin-green .glc-title span{
	background-position:0 -480px;
}
.glc-rtl.glc-skin-light-blue .glc-title{
	background-position:100% -150px !important;
}
.glc-rtl.glc-skin-light-blue .glc-title span{
	background-position:0 -510px;
}
.glc-rtl.glc-skin-light-green .glc-title{
	background-position:100% -180px !important;
}
.glc-rtl.glc-skin-light-green .glc-title span{
	background-position:0 -540px;
}
.glc-rtl.glc-skin-orange .glc-title{
	background-position:100% -210px !important;
}
.glc-rtl.glc-skin-orange .glc-title span{
	background-position:0 -570px;
}
.glc-rtl.glc-skin-red .glc-title{
	background-position:100% -270px !important;
}
.glc-rtl.glc-skin-red .glc-title span{
	background-position:0 -630px;
}
.glc-rtl.glc-skin-pink .glc-title{
	background-position:100% -240px !important;
}
.glc-rtl.glc-skin-pink .glc-title span{
	background-position:0 -600px;
}
.glc-rtl.glc-skin-violet .glc-title{
	background-position:100% -300px !important;
}
.glc-rtl.glc-skin-violet .glc-title span{
	background-position:0 -660px;
}
.glc-rtl.glc-skin-yellow .glc-title{
	background-position:100% -330px !important;
}
.glc-rtl.glc-skin-yellow .glc-title span{
	background-position:0 -690px;
}
.glc-rtl.glc .address .billing-address .glc-title span span{
	background-position:0 -130px;
}
.glc-rtl.glc .shipping-methods .glc-title span span{
	background-position:-21px -104px;
}
.glc-rtl.glc .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-42px -78px;
}
.glc-rtl.glc .gcheckout-payment-methods .glc-title span span{
	background-position:-63px -52px;
}
.glc-rtl.glc .review .glc-title span span{
	background-position:-105px 0;
}
.glc-rtl.not_shipping_mode .gcheckout-payment-methods .glc-title span span{
	background-position:-21px -104px !important;
}
.glc-rtl.diferent_shipping_address .shipping-methods .glc-title span span{
	background-position:-42px -78px;
}
.glc-rtl.diferent_shipping_address .shipping-methods .shipping-advanced .glc-title span span{
	background-position:-63px -52px;
}
.glc-rtl.diferent_shipping_address .gcheckout-payment-methods .glc-title span span{
	background-position:-84px -26px;
}
.glc-rtl.diferent_shipping_address .shipping-address .glc-title span span{
	background-position:-21px -104px;
}
.glc-rtl.not_deliverydate_mode .gcheckout-payment-methods .glc-title span span{
	background-position:-42px -78px;
}
.glc-rtl.notddate_diferent_shipping_address .gcheckout-payment-methods .glc-title span span{
	background-position:-63px -52px;
}
.glc-rtl.notddate_diferent_shipping_address .shipping-address .glc-title span span{
	background-position:-21px -104px;
}
.glc-rtl.notddate_diferent_shipping_address .shipping-methods .glc-title span span{
	background-position:-42px -78px;
}
.glc-rtl .glc-col-in{
  padding-left:0;
  padding-right:17px;
}
.glc-rtl input.radio{
  margin-right:0;
  margin-left:3px;
}
.glc-rtl .form-list .fields .field,
.glc-rtl .form-list li.customer-dob-gender .field{
  float:right;
}
.glc-rtl .loadinfo{
  padding: 8px 35px 8px 8px;
  background-position:264px 50%;
}
.glc-rtl .delivery-date-delivery_date.left,
.glc-rtl .delivery-date-delivery_time.left{
  float:right !important;
}
.glc-rtl .delivery-date-delivery_date label,
.glc-rtl .delivery-date #delivery_date{
  float:right;
}
.glc-rtl .delivery-date-delivery_date{
  padding:0 0 0 7px;
}
.glc-rtl .lc-calendar-ctrl .lc-calendar-but-title{
  text-align:center;
}
.glc-rtl .v-fix{
  float:right;
}
.glc-rtl .a-right{
  text-align:left !important;
}
.glc-rtl .a-left{
  text-align:right !important;
}
.glc-rtl .summary-collapse{
  text-align:left;
}
.glc-rtl .sp-methods select.month{
  margin-right:0;
  margin-left:10px;
}
.glc-rtl .gift-messages-form li.fields .gift-from{
  margin-right:0 !important;
  margin-left:5% !important;
}
.glc-rtl .gift-messages-form .item .product-img-box{
  float:right;
}
.glc-rtl .gift-messages-form .item .details{
  margin-left:0;
  margin-right:90px;
}
.glc-rtl input.checkbox{
  margin-right:0;
  margin-left:3px;
}
.glc-rtl .methods .shipping-methods .sp-methods,
.glc-rtl .methods #gcheckout-payment-methods .sp-methods{
  padding-right:0;
  padding-left:5px;
}
.glc-rtl#login-form .loadinfo{
  padding:5px 35px 5px 5px;
  background-position:236px 50%;
}
.glc-rtl .form-list .fields .field .customer-dob .input-box,
.glc-rtl .form-list .fields .field .customer-dob .dob-month,
.glc-rtl .form-list .fields .field .customer-dob .dob-day, .glc .form-list .fields .field .customer-dob .dob-year{
  float:right;
}
.glc-rtl.glc-skin-default .methods .shipping-methods,
.glc-rtl.glc-skin-default .address{
  background-position:0 0;
}
.glc.glc-rtl .button-set,
.glc.glc-rtl .button-set p.control{
  text-align:left;
}
.validation-advice-rtl .arrow{
  left:auto;
  right:20px;
}
/* Right to left layout END */

/* Fix klarna payment */
.glc .klarna_box{
  min-width:1px;
  width:auto;
  display:block;
  margin-right:12px;
}
.glc .klarna_box_bottom_left,
.glc .klarna_box_bottom_right{
  float:none;
  width:auto;
}
.glc .klarna_box .invoice_type label{
  padding-top:4px !important;
}

/* Clears */
.glc:after,
.glc .methods:after,
.glc .delivery-date li:after,
#login-form .actions:after,
.delivery-date:after,
.glc .form-list .input-box:after,
.glc-col-in:after,
.glc-content:after,
.glc-login-and-paypal:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.glc,
.glc .methods,
.glc .delivery-date li,
#login-form .actions,
.glc .data-table .glc-qtybtn,
.delivery-date,
.glc .form-list .input-box,
.glc-col-in,
#login-form .form-list,
.glc-content,
.glc-login-and-paypal{zoom:1;}
/* Clears END */

/* IE styles */
.glc #gcheckout-payment-methods dl dt.gcheckout-onepage-sagepay label{/background-position:19px 2px !important;}
.glc .data-table .gcheckout-plus,.glc .data-table .gcheckout-minus{/display:inline;}
.glc .gift-messages-form .item .details .form-list .input-box,.glc .gift-messages-form .form-list .fields input.input-text,.glc .gift-messages-form .form-list li.wide textarea{_width:99%;}
.loadinfo{_position:absolute;_top:0;}
.gomage-checkout-overlay{_position:absolute;}
.glc .form-list li.control-stta{/float:left;/white-space:nowrap;}
/* IE styles END */