<a name="question-form"></a>
<form action="<?php echo Mage::getUrl('productfaq/index/addFaq'); ?>" id="questionForm" method="post" style="display: none;">
    <div class="fieldset">
        <h5 class="legend"><?php echo Mage::helper('productfaq')->__('Post your question') ?></h5>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="name" class="required"><em>*</em><?php echo Mage::helper('productfaq')->__('Name') ?></label>
                    <div class="input-box">
                        <input name="name" id="name" title="<?php echo Mage::helper('productfaq')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="email" class="required"><em>*</em><?php echo Mage::helper('productfaq')->__('Email') ?></label>
                    <div class="input-box">
                        <input name="email" id="email" title="<?php echo Mage::helper('productfaq')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                    </div>
                </div>
            </li>           
            <li class="wide">
                <label for="comment" class="required"><em>*</em><?php echo Mage::helper('productfaq')->__('Question') ?></label>
                <div class="input-box">
                    <textarea name="question" id="question" title="<?php echo Mage::helper('productfaq')->__('Question') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo Mage::helper('productfaq')->__('* Required Fields') ?></p>
        <input type="hidden" name="product_id" value="<?php echo Mage::registry('product')->getId(); ?>" />
        <input type="hidden" name="store_id" value="<?php echo Mage::app()->getStore(true)->getStoreId(); ?>" />
        <input type="hidden" name="store_id" value="<?php echo Mage::app()->getStore(true)->getStoreId(); ?>" />
        <button type="submit" title="<?php echo Mage::helper('productfaq')->__('Submit') ?>" class="button form-button"><span><span><?php echo Mage::helper('productfaq')->__('Submit') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    $('add-question').observe('click', function(event){
        $('questionForm').toggle(); 
    });
    
    var contactForm = new VarienForm('questionForm', true);
//]]>
</script>
