.groupdeals-adminhtml-groupdeals-edit .entry-edit-head .form-buttons .add{display:none;}
.groupdeals-adminhtml-merchants-edit .buttons-set .add-widget {display:none !important;}
.groupdeals-adminhtml-merchants-edit .buttons-set .add-image {display:none !important;}
.groupdeals-adminhtml-merchants-edit .buttons-set .add-variable {display:none !important;}