<?php
/**
 *
 * @category   RedStage
 * @package     Who Viewed This Also Viewed
 * @author     amorris@redstage.com
 */
if($this->isEnable() && $this->getCount()):
if($this->getDefaultPosition() == "right_column"):?>
<div class="block block-list block-viewed">
 <article class="other_pro other_cust_viewded"> 
  <h2><?php echo $this->__('Other');?> <span><?php echo $this->__('Customers Also Viewed');?></span></h2>
  <div class="block-content">  	
	    <ol id="recently-viewed-items">
 <?php foreach ($this->_productCollection as $item){?>
		<?php 
		$model = Mage::getModel('catalog/product'); //getting product model	
		$model->load($item->getId());
		$thumb = $model->getThumbnail();
		?>
      	<article class="other_pro_box">
	        <li class="item">
        <figure><a href="<?php echo $item->getProductUrl()?>"><img src="<?php echo $this->helper('catalog/image')->init($item,'thumbnail',$thumb)->resize(50);?>" alt="<?php echo $this->htmlEscape($item->getName())?>" width="50" height="50" /></a></figure>
      <article class="other_pro_dis">      
                        <?php $oc_productNameStripped = $this->htmlEscape($model->getName());                   
                     
		$uc_prodname = trim(strip_tags($oc_productNameStripped));
		$limit = 50;
   		 if (strlen($uc_prodname) > $limit) {
     		 $uc_prodname = substr($uc_prodname, 0, strrpos(substr($uc_prodname, 0, $limit), ' '))."...";
   		 } ?>
       	<p><?php echo $uc_prodname ?></p>
        <?php echo $this->getPriceHtml($model, true) ?>               
       
       </article> 
	   <div class="clear"></div>
	     <div class="recently_addto_box">
		 	<a  title="<?php echo $this->__('Add to Cart') ?>" class="smallbtn-addtocart" onclick="setLocation('<?php echo $this->getAddToCartUrl($item) ?>')"><span><img src="<?php echo $this->getSkinUrl('images/plus_icon.png'); ?>" ><?php echo $this->__('Add to Cart') ?></span></a>
		</div>
      </li>
    	</article>	  
      <?php } ?>
    </ol>
   
  </div>
 </article> 
</div>
<?php endif;endif;?>