<?php if(count($this->getItemCollection()->getItems())): 
 //echo count($this->getItemCollection()->getItems());
?>
<!--product of the day-->
<aside class="pro_of_day">
  <article class="pro_top_corner"> </article>
  <article class="pro_mid">
    <article class="pro_top_btn">
      <h3><?php echo $this->__('You May'); ?><span> <?php echo $this->__('also like');?></span></h3>
    </article>
    <section class="pro_slide">
      <article class="slider_details">
        <?php $this->setColumnCount(count($this->getItemCollection()->getItems())); // this line if you want to have another number of columns. also can be changed in layout ?>
        <?php $this->resetItemsIterator() ?>
        <?php for($_i=0;$_i<$this->getRowCount();$_i++): ?>
        <article class="slider_details_upsell">
          <?php for($_j=0;$_j<$this->getColumnCount();$_j++): ?>
          <?php if($_link=$this->getIterableItem()): ?>
          <section class="pro_slider"> 
             <a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>" class="product-image">
          <img src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize(135,135) ?>" width="135" height="135" alt="<?php echo $this->htmlEscape($_link->getName()) ?>" />
           </a>
            <article class="pro_slider_text">
              <?php 
  				$pname =  $this->htmlEscape($_link->getName());
  				$pname = trim(strip_tags($pname));
				$word_limit = 65;
   				 if (strlen($pname) > $word_limit) {
     			 $pname = substr($pname, 0, strrpos(substr($pname, 0, $word_limit), ' '));
   				 }
   		 ?>
              <p><?php echo  $pname ?></p>
            </article>
            <section class="pro_price">
              <h4><?php echo $this->getPriceHtml($_link, true, '-upsell') ?></h4>
                <a  class="btn-addtocart" title="<?php echo $this->__('Add to Cart') ?>"  onclick="setLocation('<?php echo $this->getAddToCartUrl($_link) ?>')"><span><img src="<?php echo $this->getSkinUrl('images/plus_icon.png'); ?>" ><?php echo $this->__('Add to Cart') ?></span></a>
                
            </section>
            <?php //echo $this->getReviewsSummaryHtml($_link) ?>
          </section>
          <?php else: ?>
          <section class="empty">&nbsp;</section>
          <?php endif; ?>
          <?php endfor; ?>
        </article>
        <?php endfor; ?>
      </article>
      <article id="previmg"> </article>
      <article id="nextimg"> </article>
    </section>
    <!--product slider--> 
  </article>
  <article class="pro_bot_corner"> </article>
</aside>
<script type="text/javascript">decorateTable('upsell-product-table')</script> 
<!--product of the day--> 
<script type="text/javascript">
jQuery(function() {
	//jQuery('#pager').html('');
	jQuery('.slider_details_upsell').cycle({
		fx: 'scrollHorz',
		//fx: 'fade',
		pause: true,
		prev: '#previmg',
		//timeout:0,
		next: '#nextimg'
	});	
	});	
</script>
<?php endif ?>
