<?php
/**
 * Affiliate's navigation template
 */
?>

<div class="affiliateplus-account-bottom" style="margin-bottom:60px; padding-bottom:40px; padding-top:67px; background-color:#171e24; padding-left:20px;">
<br/><br/>
	<?php if(Mage::helper('affiliateplus/account')->customerNotLogin()): ?>
		<button onclick="location.href='<?php echo $this->getUrl('affiliateplus/account/login') ?>'" class="form-button button" style="margin: 0px 40px 0px 10px;">
			<img src="<?php  echo Mage::getBaseUrl('media')?>affiliateplus/default/affiliate_login.gif">
		</button>
	<?php endif ?>
	<?php if(Mage::helper('affiliateplus/account')->accountNotRegistered()): ?>
		<button onclick="location.href='<?php echo $this->getUrl('affiliateplus/account/register') ?>'" class="form-button button" style="margin-right: 40px;">
			<img src="<?php echo Mage::getBaseUrl('media')?>affiliateplus/default/affiliate_signup.gif">
		</button>
	<?php endif ?>
	<button onclick="location.href='<?php echo $this->getUrl('contacts') ?>'" class="form-button button">
		<img src="<?php echo Mage::getBaseUrl('media')?>affiliateplus/default/affiliate_contact.gif">
	</button>
</div>