<?php
/**
 * Login form
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
        <h1><?php echo $this->__('Login or create an account') ?></h1>
    </div>
<div class="clear"></div>
<div class="account-login" style="padding:20px; margin-bottom:50px;">
    
    <form action="<?php echo $this->getUrl('affiliateplus/account/loginPost') ?>" method="post" id="login-form">
        <div class="col2-set">
        	<div class="col-1 new-users">
        		<div class="content">
        			<h2><?php echo $this->__('New Account') ?></h2>
        			<p><?php echo $this->getRegisterDescription() ?></p>
        		</div>
        	</div>
            <div class="col-2 registered-users">
                <div class="content">
                    <h2><?php echo $this->__('Affiliate Login') ?></h2>
                    <ul class="form-list">
                        <li>
                            <label for="email" class="required" style="color:#ffffff;"><em>*</em><?php echo $this->__('Email Address') ?></label>
                            <div class="input-box">
                                <input type="text" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
                            </div>
                        </li>
                        <li>
                            <label for="pass" class="required" style="color:#ffffff;"><em>*</em><?php echo $this->__('Password') ?></label>
                            <div class="input-box">
                                <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
                            </div>
                        </li>
                    </ul>
                    <p class="required" style="text-align:left;"><?php echo $this->__('* Required Fields') ?></p>
                    <div class="forget">
<a href="/index.php/customer/account/forgotpassword/">Forgotten Password?</a>
</div>
                </div>
            </div>
        </div>
        <div class="col2-set">
        	<div class="col-1 new-users">
        		<div class="buttons-set">
        			<button type="button" class="button" title="<?php echo $this->__('Signup') ?>" onclick="setLocation('<?php echo $this->getRegisterUrl() ?>')">
        				<span><span style="font-size:15px; color:#D97309;"><?php echo $this->__('Signup') ?></span></span>
        			</button>
        		</div>
        	</div>
            <div class="col-2 registered-users">
                <div class="buttons-set">
                    <button type="submit" style="background-image:none;" class="button" title="<?php echo $this->__('Login') ?>" name="send" id="send2"><span><span style="font-size:15px; color:#D97309;"><?php echo $this->__('Login') ?></span></span></button>
                </div>
            </div>
        </div>
     </form>
</div>