* { margin:0; padding:0; outline:0; }
.Fleft { float:left!important; }
.Fright { float:right!important; }
.Middle { vertical-align:middle; }
.nobdr { border:none !important; }
.nobg { background:none !important; }
.nobdr_top { border-top:none !important; }
.nomargin { margin:0px !important; }
.nopadding { padding:0px !important; }
.alignbottom { vertical-align:text-top; }
img { border:0px; }
ul { list-style-type:none; padding:0; margin:0; }
ul li { list-style:none; padding:0; margin:0; }
a { text-decoration:none; outline:none; }
.clear { padding:0; margin:0; line-height:0; height:0; font-size:0; clear:both; width:100%; display:block; }
aside, details, figcaption, figure, ins, summary, small, mark, title, video footer, header, hgroup, nav, section, article { display: block }
.clear { padding:0; margin:0; clear:both; }
h1, h2, h3, h4, h5, h6 { padding:0; margin:0; }
html, body { height: 100%; width: 100%; padding: 0; margin: 0; }
/***************************************************
			     font face styles
********************************************/
@font-face {
 font-family: 'open_sansregular';
 src: url('fonts/opensans-regular-webfont.eot');
 src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-regular-webfont.woff') format('woff'), url('fonts/opensans-regular-webfont.ttf') format('truetype'), url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'open_sansbold';
 src: url('fonts/opensans-bold-webfont.eot');
 src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-bold-webfont.woff') format('woff'), url('fonts/opensans-bold-webfont.ttf') format('truetype'), url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: "ZurichBT-Bold";
 src: url('fonts/zurchb-webfont.eot');
 src: url('fonts/zurchb-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/zurchb-webfont.woff') format('woff'), url('fonts/zurchb-webfont.ttf') format('truetype'), url('fonts/zurchb-webfont.svg#ZurichBTBold') format('svg');
 font-weight: normal;
 font-style: normal;
 line-height:normal;
}
@font-face {
 font-family: 'ZurichBT-Roman';
 src: url('fonts/zurich-bt-roman.eot');
 src: url('fonts/zurich-bt-roman.eot?#iefix') format('embedded-opentype'), url('fonts/zurich-bt-roman.woff') format('woff'), url('fonts/zurich-bt-roman.ttf') format('truetype'), url('fonts/zurich-bt-roman.svg#zurich-bt-roman') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'ZurichCnBTBold';
 src: url('fonts/zurchbc-webfont.eot');
 src: url('fonts/zurchbc-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/zurchbc-webfont.woff') format('woff'), url('fonts/zurchbc-webfont.ttf') format('truetype'), url('fonts/zurchbc-webfont.svg#ZurichCnBTBold') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'philosopherregular';
 src: url('fonts/philosopher-webfont.eot');
 src: url('fonts/philosopher-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/philosopher-webfont.woff') format('woff'), url('fonts/philosopher-webfont.ttf') format('truetype'), url('fonts/philosopher-webfont.svg#philosopherregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'ZurichCnBTRegular';
 src: url('fonts/zurchc-webfont.eot');
 src: url('fonts/zurchc-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/zurchc-webfont.woff') format('woff'), url('fonts/zurchc-webfont.ttf') format('truetype'), url('fonts/zurchc-webfont.svg#ZurichCnBTRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
body { background:#fff url(../images/bg.jpg) center top no-repeat; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; position:relative; min-width:1000px; }
/***** Page Css ***********/
.call_us { float: right; height: 171px; overflow: hidden; position: absolute; right: 0!important; text-align: left !important; top: 90px; width: 50px; z-index:99999; }
#outer_wrapper { width:100%; margin:0 auto; min-width:1000px; }
#page { width:1000px; margin:0 auto; padding:0 0 46px 0; height:auto; }
/*****header start*****/
#header { width:1000px; }
.logo { width:248px; float:left; }
.logo a { display:block; text-decoration:none; width:248px; }
.header-right { float:right; margin:0; padding-right:10px; width:700px; }
.top-links { float:right; margin:0 8px 0 0; background:url(../images/toplinkbg.jpg) no-repeat bottom; padding:0 0 3px 0; }
.top-links ul { list-style:none; margin:8px 0 0 0; float:left; }
.top-links ul li { font-size:11px; font-family: 'open_sansregular'; color:#656566; float:left; display:inline-block; padding:0 18px; border-right:1px dotted #a1a1a1; }
.top-links ul li a { text-decoration:none; text-transform:uppercase; color:#7a7a7a; }
.top-links ul li a:hover { text-decoration:none; color:#f9a402; }
.top-links ul li img { padding:0 7px 0 0; vertical-align:middle; }
.top-links ul li.last { background: url(../images/drop_down_arrow.gif) 104px 10px no-repeat; }
.flag_box { float: right; height: 33px; margin-bottom: 7px; margin-left: 0; margin-right: 0; margin-top: -4px !important; padding: 0; width: 103px; position:relative; }
.searchbox { float:right; padding-top:5px; }
.searchbox .shipping { float:left; }
.searchbox .shipping p { background:url(../images/free-shipping.gif) no-repeat left center; padding:0 48px 0 32px; font-family: "ZurichBT-Bold"; font-size:25px; line-height:45px; color:#908f8f; text-transform:uppercase; }
.searchbox .shipping p span { font-family: 'ZurichBT-Roman'; font-size:12px; line-height:30px; color:#908f8f; text-transform:uppercase; }
.searchbox .search { float:left; margin:7px 0 0 0; }
.searchbox .search form { line-height:45px; }
.searchbox .search input[type="text"] { width:209px; height:25px; line-height:25px; border:1px solid #ceced0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background:url(../images/search_icon.gif) no-repeat left center; padding:0 5px 0 20px }
.searchbox .search .searchbtn { background:url(../images/search.png) left top no-repeat; width:73px; height:25px; text-indent:-999999em; border:none; cursor:pointer; margin-left:5px; }
.searchbox .search .searchbtn:hover { background:url(../images/search.png) left -25px no-repeat; }
/*****header end*****/

/*****navigation start*****/
#nav_bar { width:836px; float:left; font-size:inherit!important;}
#nav_bar #custommenu{width:100%; padding:0;}
.nav_left { background:url(../images/nav-left.gif) left top no-repeat; width:4px; height:38px; float:left; }
.nav_right { background:url(../images/nav-right.gif) right top no-repeat; width:4px; height:38px; float:left; }
.nav_mid { background: url(../images/nav_mid.gif) repeat-x left top; width:823px; float:left; height:38px; position:relative; }
.nav_mid ul { list-style:none; width:100%; float:left; }
#nav_bar .nav_mid > div.menu:first-child{background:none;}
#nav_bar .nav_mid > div.menu { float:left; padding:0 11px; background:url(../images/divider.gif) left top no-repeat; position:relative; cursor: pointer;}
#nav_bar .nav_mid > div.menu a > span { text-decoration:none; font-family: 'ZurichBT-Roman'; font-size:12px; color:#fff; line-height:38px; text-transform:uppercase; display:block; }

#nav_bar .nav_mid > div.menu a.itemMenuName{  background: url(../images/drop_down_divider.gif) repeat-x scroll left bottom transparent;  padding: 0 0 8px;}
#nav_bar .nav_mid > div.menu a.itemMenuName span{ text-transform:none; background: url(../images/arrow3.png) no-repeat scroll left 7px transparent;  padding: 0 0 0 10px; line-height:20px;}

.nav_mid ul li.rghtpadd { padding-right:0; }
.nav_mid ul li a:hover { color:#147526; }
.nav_mid ul li a img { vertical-align:middle; padding:0 2px 0 0; }
/****drop down menu****/
#nav_bar .nav_mid > div.wp-custom-menu-popup .block{padding:0; border:none;}
#nav_bar .nav_mid > div.wp-custom-menu-popup, #nav_bar .nav_mid > .menu div.wp-custom-menu-popup { border:none; display: none;margin:0; padding:0px 0 6px 0; position: absolute; top:37px!important; /*width:161px;*/ background:#221d1d; z-index:999; border-bottom:4px solid #219736; moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; -o-border-radius:0 0 4px 4px; -ms-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px; left:0!important; }
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories{}
#nav_bar .nav_mid > div.wp-custom-menu-popup .column a, #nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li
{width:100%; float:left; margin:0; background:url(../images/drop_down_divider.gif) repeat-x left bottom; position:relative;}
#nav_bar .nav_mid > div.wp-custom-menu-popup .column a span, #nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > a
{ font-family: 'ZurichBT-Roman'; font-size:12px; color:#8b8b8b; background:url(../images/arrow3.png) left 13px no-repeat; padding:0 0 0 12px; width:96%; height:auto; line-height:34x; display:block; z-index:9999; text-transform:none; line-height:32px; display:block; margin:0 0 0 5px;}
.nav_mid li ul.sub_menu1 li a:hover { color:#147526; }
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li{ float:left; width:160px; margin:0 20px 0 0; font-weight:bold; height: 180px;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul{min-height:100px; background:url(../images/drop_down_divider.gif) repeat-x left top;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li ul li, #nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li ul li a{background:none;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li{margin:0 0 0 8px;}

#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li a{ font-weight:normal;
font-family: 'ZurichBT-Roman'; font-size:12px; color:#8b8b8b; padding:0 0 0 12px;  display:block; line-height:20px; }
#nav_bar .nav_mid > div.wp-custom-menu-popup .column{float:none; padding:0;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li ul ul{display:none; position:absolute; border:1px solid #219736;  background:#fff; color:#000; z-index:999;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li ul li:hover ul{display:block;}

/****drop down menu****/
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li.ctgr-more .ctgr-more-menu{ position:relative;}

#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li.ctgr-more .ctgr-more-menu ul{  top: -19px;  left: 94px;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li.ctgr-more a{ font-weight:bold; color:#379e36;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li.ctgr-more a:hover{ color:#F59F02;}

#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li.ctgr-more .ctgr-more-menu{}

/*#allpopup921{ width:700px; position:absolute; left:300px!important;}*/

/*****navigation end*****/
.cart_item { background:url(../images/cart_btn.gif) left top no-repeat; width:155px; height:38px; float:left; }
.cart_item a { background:url(../images/icon1.png) 10px 7px no-repeat; text-decoration:none; font-family: 'open_sansbold'; line-height:38px; display:block; text-align:center; color:#fff; text-transform:uppercase; font-size:14px; padding-left:20px; }
.cart_item a:hover { color:#ecffd1; }
/****sub menu start*****/
.sub_menu { width:99%; float:left; margin:5px 0 11px 0; border:1px solid #cecece; margin-bottom:15px; border-top:1px solid #dedede; border-bottom:1px solid #dedede; background:#fff; moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; border-radius:5px; }
.sub_menu_left { background:url(../images/sub_menu_left_bg.png) left top no-repeat; width:5px; height:34px; float:left; }
.sub_menu_right { background:url(../images/sub_menu_right_bg.png) right top no-repeat; width:5px; height:34px; float:left; }
.sub_menu_mid { float:left; }
.sub_menu_mid ul { list-style:none; float:left; }
.sub_menu_mid ul li { float:left; padding:0 0 0 18px; border-right:1px dotted #bbbbbb; margin:2px 0; height:28px; width:175px; }
.sub_menu_mid ul li.rightpadd { padding-right:0; }
.sub_menu_mid ul li a { text-decoration:none; font-family: 'open_sansregular'; font-size:12px; color:#504e4e; line-height:32px; background:url(../images/sub_menu_icon.png) left 2px no-repeat; padding:0 0 0 18px; text-transform:uppercase; }
.sub_menu_mid ul li a.latest_pro { background:url(../images/sub_menu_icon.png) left -13px no-repeat; }
.sub_menu_mid ul li a.brand { background:url(../images/sub_menu_icon.png) left -31px no-repeat; }
.sub_menu_mid ul li a.blog { background:url(../images/sub_menu_icon.png) left -48px no-repeat; }
.sub_menu_mid ul li a.seller { background:url(../images/sub_menu_icon.png) left -63px no-repeat; }
.sub_menu_mid ul li a:hover { color:#4da736; }
/****sub menu end*****/

/****left_produt of the day start*****/
.pro_of_day { width:194px; float:left; margin-left:8px;  }
.pro_top_corner { background:url(../images/pro_top_bg.png) left top no-repeat; width:194px; height:4px; float:left; }
.pro_bot_corner { background:url(../images/pro_bot_bg.png) left bottom no-repeat; width:194px; height:4px; float:left; }
.pro_mid { width:192px; float:left; background:#fff; border-left:1px solid #dedede; border-right:1px solid #dedede; padding-bottom:5px; }
.pro_top_btn { background:url(../images/product_bg.gif) center top no-repeat; width:182px; height:47px; float:left; margin:3px 0 0 5px; }
.pro_top_btn h3 { font-family: "ZurichBT-Bold"; font-size:16px; color:#fff; text-transform:uppercase; line-height:38px; font-weight:normal; padding:0 0 0 13px; }
.pro_top_btn h3 span { font-family: 'ZurichBT-Roman'; font-size:15px; text-transform:none; font-weight:normal; }
/*****pro slider start****/
.slider_details { float:left; width:100%; height:235px!important; }
.pro_slide { width:100%; float:left; position:relative; margin:0px 0 0 0; text-align:center; }
.pro_slide .item{ background:#fff; display:block;}
.pro_slide .product-image{}
.pro_left_arrow { float:left; background:url(../images/arrow1.png) left top no-repeat; width:22px; height:54px; cursor:pointer; position:absolute; left:-9px; top:20px; }
.pro_right_arrow { float:right; background:url(../images/arrow1.png) right -54px no-repeat; width:22px; height:54px; cursor:pointer; position:absolute; right:-9px; top:20px; }
.pro_slider { width:100%; float:left; text-align:center; }
.pro_slider_text { width:78%; float:left; text-align:center; padding:0 0 0 20px; }
.pro_slider_text p, .product-name, .product-name a { font-family: 'open_sansregular'; font-size:12px; color:#504e4e; line-height:20px; }
#previmg { background:url(../images/arrow5.png) left top no-repeat; width:20px; height:50px; float:left; position:absolute; left:-8px; top:40px; cursor:pointer; z-index:999; }
#nextimg { background:url(../images/arrow5.png) right -50px no-repeat; width:20px; height:50px; position:absolute; right:-8px; top:40px; cursor:pointer; z-index:999; }
/*****pro slider end****/
.pro_price { width:100%; float:left; background:url(../images/shad.gif) left top no-repeat; margin:25px 0 5px 0; }
.pro_price h4 { font-family: 'philosopherregular'; font-size:19px; color:#201f1f; float:left; padding:17px 10px 0 12px; font-weight:normal; }
.pro_price a { background:url(../images/add_to_cart.png) left top no-repeat; width:100px; height:27px; line-height:28px; font-family: 'ZurichCnBTBold'; font-weight:normal; font-size:14px; color:#fff; text-transform:uppercase; float:left; margin:13px 0 0 0; text-decoration:none; display:block; text-align:center; }
.pro_price a:hover { background:url(../images/add_to_cart.png) left -28px no-repeat; }
/****left_produt of the day end*****/

/****banner start*****/
#outer_banner { width:566px; border:1px solid #dfdfdf; float:left; padding:3px; margin:0 3px 0 14px; moz-border-radius:5px; -webkit-border-radius:3px; -o-border-radius:3px; -ms-border-radius:3px; border-radius:3px; height:317px; }
.slider_details1 { float:left; width:100%; }
.banner { background:url(../images/banner_bg.jpg) left top no-repeat; width:566px; height:317px; float:left; }
.banner_left { width:264px; float:left; padding:42px 0 0 20px; }
.paging { float:left; padding:10px 0 0 5px; }
.banner_right { width:263px; float:right; padding-top:72px; }
#pager { height:8px; float:left; position: relative; left: 23px; top: -20px; z-index: 999; padding:0;}
			 
#pager li{  float:left; list-style-type:none;}
#pager li.activeSlide{}
#pager li a { background:url(../images/paging_icon1.png) no-repeat left top; float: left; height: 8px; padding: 0 3px 0 0; text-indent: -3333em; width:8px; }
#pager li.activeSlide a { background:url(../images/paging_icon1.png) no-repeat left -8px; width:8px; height:8px; }
/****banner start*****/

/****reasion to buy start*****/
.reasion_to_buy { background:url(../images/product_bg1.gif) center top no-repeat; width:172px; height:53px; float:left; margin:3px 0 0 5px; padding:7px 0 0 10px; }
.reasion_to_buy h3 { font-family: 'ZurichBT-Roman'; font-size:15px; text-transform:uppercase; font-weight:normal; color:#fff; }
.reasion_to_buy span { font-family: "ZurichBT-Bold"; font-size:16px; text-transform:uppercase; font-weight:normal; color:#fff; }
.reasion_list { width:182px; float:left; margin:0 0 0 10px; }
.reasion_list ul { list-style:none; float:left; }
.reasion_list ul li { float:left; width:100%; background:url(../images/bullte_icon.gif) left 9px no-repeat; }
.reasion_list ul li span { background:url(../images/shad1.gif) left bottom no-repeat; float:left; width:93%; display:block; color:#3d464c; padding:4px 0 20px 12px; font-size:12px; }
.reasion_list ul li a span { color:#7c7777; }
.reasion_list ul li a.nopadd { padding-bottom:14px; }
.reasion_list ul li a:hover { color:#4DA736; }
.reasion_list ul li a:hover span { color:#4DA736; }
/****reasion to buy end*****/

/****featured_con start*****/
#featured_wrap { width:100%; float:left; padding:30px 0 0 0; }
.featured_top { width:100%; float:left; }
.featured_top h1 { font-family: "ZurichBT-Bold"; font-weight:normal; color:#201f1f; font-size:20px; text-transform:uppercase; }
.featured_top h1 span { font-family: 'ZurichBT-Roman'; font-size:19px; color:#686766; text-transform:none; }
.feature_slider { width:98%; float:left; margin-left:20px; }
.slider_details2 { float:left; width:100%!important; height:281px !important; }
#previmg2 { background:url(../images/arrow2.png) left top no-repeat; width:29px; height:44px; float:left; position:absolute; left:0; top:120px; cursor:pointer; z-index:999; }
#nextimg2 { background:url(../images/arrow2.png) left -44px no-repeat; width:29px; height:44px; position:absolute; right:0; top:120px; cursor:pointer; z-index:999; }
.feature_con { width:100%; float:left; background:url(../images/shad_bg.png) left top no-repeat; padding:22px 0 0 0; margin:12px 0 0 0; position:relative; }
.feature_left_arrow { background:url(../images/arrow2.png) left top no-repeat; width:29px; height:44px; float:left; margin:96px 0 0 0; cursor:pointer; }
.feature_right_arrow { background:url(../images/arrow2.png) left -44px no-repeat; width:29px; height:44px; float:left; cursor:pointer; margin:96px 0 0 0; }
.feature_box { width:180px; float:left; background:url(../images/divider1.gif) right top no-repeat; margin-left:8px; height:281px !important; }
.feature_img { text-align:center; }
.feature_text_box { width:99%; float:left; }
.feature_text_box p { font-size:12px; color:#504e4e; line-height:20px; width:89%; text-align:left; padding:0!important; margin:0;  }
.pro_price1 { width:93%; float:left; padding-top:0px; position: absolute; bottom: 0; }
.pro_price1 h4 { font-family: 'philosopherregular'; font-size:17px; color:#201f1f; float:left; padding:5px 0 0 0; font-weight:normal; }
.pro_price1 a { background:url(../images/add_to_cart.png) left top no-repeat!important; width:100px!important; height:27px!important; line-height:28px!important; font-family: 'ZurichCnBTBold'; font-weight:normal!important; font-size:12px!important; color:#fff!important; text-transform:uppercase; float:left!important; text-decoration:none!important; display:block; text-align:center!important;   margin-left: 8px;  bottom:0; cursor:pointer; /*position: absolute; */}
.pro_price1 div.price-box{padding:0px; font-size:17px;}
.pro_price1 div.price-box .price {padding:0px;}
.pro_price1 a:hover { background:url(../images/add_to_cart.png) left -28px no-repeat!important; }
.bot_shad { background:url(../images/bot_shad_bg.gif) left top no-repeat; width:100%!important; height:29px; float:left; }
/****featured_con end*****/

/****tab con start*****/
#tab_con { width:631px; float:left; border:1px solid #dedede; margin:28px 0 0 12px; position:relative; padding-bottom:11px; }
.tab_left_arrow { float:left; background:url(../images/arrow1.png) left top no-repeat; width:22px; height:54px; cursor:pointer; position:absolute; left:-9px; top:145px; }
.tab_right_arrow { float:right; background:url(../images/arrow1.png) right -54px no-repeat; width:22px; height:54px; cursor:pointer; position:absolute; right:-9px; top:145px; }
.tabs { width:100%; float:left; }
.tabs ul { list-style:none; float:left; background:url(../images/tab_bg.gif) repeat-x left top; height:46px; border-bottom:1px solid #dcdcdc; width:100%; }
.tabs ul li { float:left; border-right:1px solid #dddddd; }
.tabs ul li a { text-decoration:none; font-family: 'ZurichBT-Roman'; color:#201f1f; font-size:14px; text-transform:uppercase; line-height:46px; display:block; float:left; padding:0 20px; }
.tabs ul li a:hover, .tabs ul li a.active { background:#fff; color:#4DA736; }
.product { width:185px; float:left; background:url(../images/divider1-1.gif) right top no-repeat; margin:15px 0 0 20px; min-height:263px; }
.tabs a.activeLink { background-color: #fff; }
.hide { display: none; }
.tab_slider { width:100%; float:left; }
.tabcontent { border: 1px solid #e3e5e4; border-top: 0; -moz-border-radius: 0px 0px 3px 3px; /* Firefox */ -webkit-border-radius: 0px 0px 3px 3px; /* Safari and Chrome */ border-radius:0px 0px 3px 3px; padding-bottom:1px; }
.slider_details3 { float:left; width:100%; height: 279px; }
#previmg3 { background:url(../images/arrow1.png) left top no-repeat; width:22px; height:54px; float:left; position:absolute; left:-9px; top:146px; cursor:pointer; z-index:999; }
#nextimg3 { background:url(../images/arrow1.png) right -54px no-repeat; width:22px; height:54px; position:absolute; right:-10px; top:146px; cursor:pointer; z-index:999; }
.slider_details4 { float:left; width:100%; height: 279px; width:642px; }
#previmg4 { background:url(../images/arrow1.png) left top no-repeat; width:22px; height:54px; float:left; position:absolute; left:-9px; top:146px; cursor:pointer; z-index:999; }
#nextimg4 { background:url(../images/arrow1.png) right -54px no-repeat; width:22px; height:54px; position:absolute; right:-10px; top:146px; cursor:pointer; z-index:999; }
.slider_details5 { float:left; width:100%; height: 279px; width:642px; }
#previmg5 { background:url(../images/arrow1.png) left top no-repeat; width:22px; height:54px; float:left; position:absolute; left:-9px; top:146px; cursor:pointer; z-index:999; }
#nextimg5 { background:url(../images/arrow1.png) right -54px no-repeat; width:22px; height:54px; position:absolute; right:-10px; top:146px; cursor:pointer; z-index:999; }
/****tab con end*****/

/****ad con start*****/
.ad_con { width:320px; float:right; border:1px solid #dedede; padding:5px; margin:28px 0 0 0; }
.ad { background:url(../images/ad_img.jpg) left top no-repeat; width:318px; height:275px; float:left; position:relative; }
.warehouse { background:url(../images/warehouse_bg.png) left top no-repeat; width:183px; height:39px; float:left; margin:10px 0 0 -14px; }
.warehouse span { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; text-align:center; line-height:31px; display:block; font-weight:normal; }
.free_shipping { width:93%; float:left; padding:10px 0 0 22px; }
.free_shipping h3 { font-family: "ZurichBT-Bold"; color:#2e302f; font-size:23px; text-transform:uppercase; padding:7px 0 0 0; font-weight:normal; }
.see_detail { background:url(../images/detail_bg.gif) repeat-x left top; width:100%; height:36px; float:left; padding:14px 0 0 0; }
.see_detail a { float:left; text-align:center; width:100%; }
/****ad con end*****/

/****footer con start*****/
#outer_footer { background:#181e23 url(../images/foot_bg.jpg) repeat-x left top; width:100%; min-height:335px; min-width:1000px; padding:10px 0 0 0; }
.footer { width:1000px; margin:0 auto; }
/****footer left con start*****/
.foot_left { width:250px; float:left; background:url(../images/foot_right_divider.gif) repeat-y right top; min-height:287px; }
.foot_left h4 { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; padding:5px 0 15px 0; font-weight:normal; }
.slider_details6 { float:left; width:99%; height:250px; }
.blog_slide { width:100%; float:left; height:250px!important; background:none!important; }
.latest_blog { width:99%; float:left; padding:15px 0 0 0; background:url(../images/foot_bot_divider.gif) repeat-x left top; }
.latest_blog h5 { font-size:13px; color:#fff; font-weight:bold; }
.latest_blog p { width:90%; font-size:11px; color:#bdbfc1; line-height:20px; padding-top:3px; }
.read_more_btn { background: url(../images/read_more_btn.png) left top no-repeat; width:85px; height:24px; float:left; margin:3px 0 11px 0; }
.read_more_btn a { text-decoration:none; font-family: "ZurichBT-Bold"; color:#3b444a; font-size:11px; text-transform:uppercase; text-align:center; display:block; line-height:25px; font-weight:normal; }
.read_more_btn a:hover { background: url(../images/read_more_btn.png) left -25px no-repeat; color:#fff; }
/****footer left con end*****/

/****footer right con start*****/
.foot_right { width:725px; float:left; margin:0 0 0 20px; }
.email_sign_up { background:#2f3941; height:36px; float:left; width:98%; padding:10px 0 0 15px }
.email_sign_up h5 { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; font-weight:normal; width:162px; float:left; padding:5px 0 0 0; }
.email_sign_up h5 img { vertical-align:middle; }
.sign_form { width:313px; float:left; }
.sign_form form .signup_input { background:url(../images/email_input_bg.gif) left top no-repeat; min-width:203px; height:27px; float:left; padding:0 0 0 3px; position:relative; }
.sign_form form .signup_input input { background:none; border:none; width:207px; height:21px; line-height:27px; float:left; font-size:11px; color:#7c7c7c; font-style:italic; }
.sign_form form input.sign_me { background:url(../images/sign_up_btn.gif) left top no-repeat; width:97px; height:27px; float:left; border:none; font-size:10px; color:#cde5c3; text-transform:uppercase; cursor:pointer; font-weight:bold; }
.sign_form form input.sign_me:hover { background:url(../images/sign_up_hover_btn.gif) left top no-repeat; }
.email_taxt { width:219px; float:right; padding:0 2px 0 0; }
.email_taxt p { font-size:12px; color:#c1c4c6; font-style:italic; }
.contact_con { background:#2f3941; height:46px; float:left; width:98%; padding:0px 0 0 15px; margin:23px 0 0 0; }
.contact_con h5 { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; font-weight:normal; width:145px; float:left; line-height:48px; }
.contact_con h5 img { vertical-align:middle; }
.contact_text { float:left; }
.contact_text p { font-size:12px; color:#9a9fa2; float:left; line-height:48px; }
.contact_text span { font-family: "ZurichBT-Bold"; font-size:16px; color:#fff; text-transform:uppercase; font-weight:normal; padding:0 0 0 10px; float:left; line-height:48px; }
.foot_links { width:200px; float:left; background:url(../images/foot_right_divider.gif) repeat-y right top; padding:20px 0 0 0; min-height:152px; }
.foot_links h4 { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; font-weight:normal; }
.foot_links ul { list-style:none; float:left; width:100%; padding-top:10px; }
.foot_links ul li { float:left; padding:3px 0; width:100%; }
.foot_links ul li a { text-decoration:none; font-size:11px; color:#bbbdbf; }
.foot_links ul li a:hover { color:#fff; }
.foot_links1 { width:340px; float:left; background:url(../images/foot_right_divider.gif) repeat-y right top; padding:20px 0 0 20px; min-height:152px; }
.foot_links1 h4 { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; font-weight:normal; }
.foot_links1 ul { list-style:none; float:left; width:50%; padding-top:10px; }
.foot_links1 ul li { float:left; padding:3px 0; width:100%; }
.foot_links1 ul li a { text-decoration:none; font-size:11px; color:#bbbdbf; }
.foot_links1 ul li a:hover { color:#fff; }
.follow_us { width:135px; float:left; padding:20px 0 0 17px; text-align:center; }
.follow_us span { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; }
.follow_us_img { text-align:center; padding:15px 0 14px 0; }
.paypal { background:url(../images/foot_link_bg.gif) repeat-x left top; width:98%; height:26px; float:left; padding:6px 5px 0 10px; }
.paypal img { float:left; padding-right:2px; }
/****footer right con end*****/
.foot_bot { width:100%; float:left; background:url(../images/foot_bot_divider.gif) repeat-x left top; }
.copy_right { width:520px; float:left; padding:13px 0 0 0; }
.copy_right p { font-size:11px; color:#676666; float:left; }
.copy_right ul { list-style:none; float:left; padding-left:6px; }
.copy_right ul li { float:left; padding:0 3px; font-size:11px; color:#676666; background:none;}
.copy_right ul li a { text-decoration:none; font-size:11px; color:#676666; }
.copy_right ul li a:hover { color:#fff; }
.fb_like { background:url(../images/fb_like_bg.gif) repeat-x left top; width:276px; float:right; height:32px; padding:5px 0 0 0; margin-top:1px; text-align:center; }
/****footer con end*****/

/************************details page css start************************/
.buy_koala_logo { margin: 7px 0 7px 10px; width:222px; height:87px; float:left; }
#side_bar { width:185px; height:auto; float:left; margin-right:25px; }
#side_bar .product_category { width:182 px; padding:5px; height:auto; border:1px solid #dedede; -moz-border-radius: 3px; /* Firefox */ -webkit-border-radius: 3px; /* Safari and Chrome */ border-radius:3px; background:#fff; margin-bottom:18px; }
#side_bar .product_category h2 { color: #FFFFFF; font-family: "ZurichBT-Bold"; font-size: 16px; font-weight: normal; line-height: 38px; padding-left:10px; text-transform: uppercase; background:url(../images/product_bg.gif) no-repeat scroll center top transparent; }
#side_bar .product_category h2 span { font-family: 'ZurichBT-Roman'; font-size: 15px; font-weight: normal; text-transform: none; }
#side_bar .product_category ul { margin:0px; padding:0px; }
#side_bar .product_category ul li { border-bottom:1px dotted #a1a1a1; /*padding-left:10px;*/ }
#side_bar .product_category ul li a { color:#504e4e; font-family: 'open_sansregular'; font-size:13px; /*background:url(../images/product-category-arrow.gif) no-repeat left center;*/ padding-left:10px; line-height:30px; }
#side_bar .product_category ul li a:hover { color:#ea8c04; }
#side_bar .free_shipping { width:186px; height:auto; border:1px solid #dedede; background:url(../images/free-shipping-img.jpg) no-repeat; padding:0px; height:240px; margin: 18px 0 0 5px; }
#side_bar .free_shipping a { float: left; margin: 154px 0 0 56px; }
#side_bar .free_shipping h4 { background:url(../images/free-shippinh-heading-bg.png) no-repeat; color: #FFFFFF; font-family: "ZurichBT-Bold"; font-size:9px; text-transform:uppercase; width:135px; height:29px; padding: 8px 0 0 16px; margin:12px 0 0 -8px; font-weight:normal; }
#side_bar .other_pro { width:182 px; padding:5px; height:auto; border:1px solid #dedede; -moz-border-radius: 3px; /* Firefox */ -webkit-border-radius: 3px; /* Safari and Chrome */ border-radius:3px; background:#fff; margin-top:18px; float:left; }
#side_bar .other_pro h2 { color: #FFFFFF; font-family: "ZurichBT-Bold"; font-size: 14px; font-weight: normal; line-height: 18px; padding-left:10px; margin-bottom:5px; text-transform: uppercase; background:url(../images/product_bg.gif) no-repeat scroll center top transparent; }
#side_bar .other_pro h2 span { font-family: 'ZurichBT-Roman'; font-size: 14px; font-weight: normal; text-transform: none; }
.other_pro_box { width:100%; background:url(../images/shad.gif) left bottom no-repeat; float:left; padding-bottom:18px; }
.other_pro_box figure { border:1px solid #bebebe; width:50px; float:left; margin:0 6px 0 0; }
.other_pro_dis { width:122px; float:left; }
.other_pro_dis p { font-family: 'open_sansregular'; font-size:12px; color:#504e4e; padding-bottom:5px; }
.other_pro_dis span { font-size:13px; color:#201f1f; font-family: 'philosopherregular'; float:left; padding-right:7px; }
.other_pro_dis a { background:url(../images/add_to_cart_btn.png) left top no-repeat; width:74px; height:17px; float:left; text-decoration:none; font-family: "ZurichBT-Bold"; font-size:9px; text-transform:uppercase; text-align:center; color:#fff; line-height:17px; font-weight:normal; }
.other_pro_dis a:hover { background-position:left -18px; }
#content_wrapper { width:auto; float:left; }
#content_wrapper .product_description { width:430px; float:left; }
#content_wrapper .product_description .social_icon { width:100%; float:left; margin: 20px 0 0 97px; }
#content_wrapper .product_description h2 { color:#201f1f; font-family: "ZurichBT-Bold"; font-size:20px; text-transform:uppercase; border-bottom:1px dotted #a1a1a1; padding-bottom:6px; font-weight:normal; }
#content_wrapper .product_description .add-to-cart-btn { width:auto; margin:22px 0 0 97px; height:26px; float:left; }
#content_wrapper .product_description .add-to-cart-btn a { background:url(../images/btn-bg.gif) repeat-x scroll 0 0 transparent; padding:6px 4px 2px 4px; border:1px solid #389E36; -moz-border-radius:3px; /* Firefox */ -webkit-border-radius:3px; /* Safari and Chrome */ -ms-border-radius:3px; /* Firefox */ border-radius:3px; color: #FFFFFF; font-family: "ZurichBT-Bold"; font-size: 12px; text-transform: uppercase; margin-right:7px; height:18px; float:left; font-weight:normal; }
#content_wrapper .product_description .add-to-cart-btn a img { vertical-align:middle; margin:0 5px 4px 0; }
#content_wrapper .product_description .add-to-cart-btn a:hover { background: url(../images/add-to-cart-hover.gif) repeat-x scroll 0 0 transparent; border: 1px solid #DB7407; }
#content_wrapper .product_description p { color:#504e4e; font-family: 'open_sansregular'; font-size:13px; line-height:25px; margin:15px 0 6px; }
#content_wrapper .product_description .product_detail { width:430px; float:left; border-bottom:1px dotted #a1a1a1; line-height:35px; }
#content_wrapper .product_description .product_detail label { color:#504e4e; font-family: 'open_sansregular'; font-size:12px; text-align:right; width:85px; float:left; margin-right:11px; }
#content_wrapper .product_description .product_detail span { font-size:12px; color:#898686; font-family: 'open_sansregular'; float:left; }
#content_wrapper .product_description .product_detail h5 { font-size:20px; color:#201f1f; font-family: 'philosopherregular'; }
#content_wrapper .product_description .product_detail h5 span { font-size:12px; color:#fd7604; font-family: 'open_sansregular'; float:none!important; font-weight:normal; }
#content_wrapper .product_description .product_detail h5 span img { vertical-align:middle; }
#content_wrapper .product_description .product_detail select { background:#fff; width:170px; border:1px solid #ccccce; -moz-border-radius: 3px; /* Firefox */ -webkit-border-radius: 3px; /* Safari and Chrome */ border-radius:3px; font-size:13px; height:21px; line-height:22px; color:#898686; font-family: 'open_sansregular'; }
#content_wrapper .product_description .product_detail input { border:1px solid #ccccce; -moz-border-radius: 3px; /* Firefox */ -webkit-border-radius: 3px; /* Safari and Chrome */ border-radius:3px; font-size:13px; color:#898686; font-family: 'open_sansregular'; line-height:22px; height:21px; width:45px; }
#content_wrapper #product_info { clear: both; float: left; height: auto; width: 774px; margin-top:25px; }
.tab-box { border-bottom: 1px solid #DDD; padding-bottom:8px; }
.tab-box a { color:#666666; padding: 6px 15px; text-decoration:none; text-transform:uppercase; font-family: 'ZurichCnBTRegular'; font-size:13px; }
.tab-box a.activeLink { background:url(../images/tab-heading-bg.gif) repeat-x; border-bottom: 0; padding: 10px 15px; font-family: 'ZurichCnBTRegular'; font-size:13px; text-transform:uppercase; color:#FFF; -moz-border-radius: 3px 3px 0 0; /* Firefox */ -webkit-border-radius: 3px 3px 0 0; /* Safari and Chrome */ border-radius:3px 3px 0 0; }
.tabcontent1 { border-top: 0; -moz-border-radius: 0px 0px 3px 3px; /* Firefox */ -webkit-border-radius: 0px 0px 3px 3px; /* Safari and Chrome */ border-radius:0px 0px 3px 3px; }
.tabcontent ul { margin:0px; padding:0px; }
.tabcontent ul li { width:auto; background:#efefef; border:1px solid #FFF; border-bottom:none; line-height:35px; }
.tabcontent ul li label { display:block; width:97px; text-align:right; font-family: 'open_sansregular'; color:#504e4e; font-size:12px; float:left; }
.tabcontent ul li span { font-family: 'open_sansregular'; color:#504e4e; font-size:12px; margin-left:8px; }
.color_chnge { background:#f6f6f6 !important; }
.hide { display: none; }
#content_wrapper .product_gallery { width:310px; height:auto; float:right; }
#content_wrapper .product_gallery span { float:left; margin-top:30px; width:9px; display:block; }
#content_wrapper .product_gallery .gallery_view { width:302px; border:1px solid #dfdfdf; -moz-border-radius:3px; /* Firefox */ -webkit-border-radius:3px; /* Safari and Chrome */ border-radius:3px; background:#fdfdfd; padding:4px; }
#content_wrapper .product_gallery ul { background: url(../images/gallery-bg1.gif) repeat scroll 0 0 transparent; border: 1px solid #DFDFDF; border-radius: 2px 2px 2px 2px; float: left; height: 56px; margin: 8px 7px 0; padding-right: 0; padding-top: 6px; width: 273px; padding-left: 2px; }
#content_wrapper .product_gallery ul li { float: left; margin: 0 0 0 5px; }
.img_holder { width:780px; height:15px; margin:0px auto; padding-top:15px; clear:both; }
.img_holder img { width:750px; }
/************************details page css end************************/

/************************listing page css starts************************/
#content_wrapper .product_det { width:460px; height:auto; float:left; margin-right:29px; }
#content_wrapper .product_det h2 { border-bottom: 1px dotted #A1A1A1; color: #201F1F; font-family: "ZurichBT-Bold"; font-size: 20px; padding-bottom: 6px; text-transform: uppercase; font-weight:normal; }
#content_wrapper .product_det p { color:#504e4e; font-size:13px; font-family: 'open_sansregular'; line-height:25px; margin-top:7px; }
#content_wrapper .product_det_img { float:right; }
#content_wrapper .products_catagory { width:774px; height:auto; float:left; clear:both; margin-top:20px; margin-bottom:40px; }
#content_wrapper .products_catagory ul { background:url(../images/listing-bottom-shadow.png) no-repeat bottom center; margin:0px; padding-bottom:15px; float:left; }
#content_wrapper .products_catagory ul li { background: url(../images/product-listing-right-bg.gif) no-repeat scroll right top transparent; float: left; margin: 20px 0px 10px 0; padding-right: 4px; width: 178px; }
#content_wrapper .products_catagory ul li span { color:#201f1f; font-family: 'philosopherregular'; font-size:20px; line-height:27px; float:left; }
.free_ship { width:100%; float:left; margin-bottom:15px; }
.free_ship h4 { font-size:12px; color:#fe7401; font-weight:normal; }
.free_ship h4 img { vertical-align:middle; }
#content_wrapper .products_catagory ul li .cart-btn { width:100px; height:28px; float:left; margin-top:0px; margin-left:6px; }
#content_wrapper .products_catagory ul li .cart-btn a { background: url(../images/add_to_cart.png) no-repeat scroll left top transparent !important; color: #FFFFFF !important; display: block; float: right !important; font-family: 'ZurichCnBTBold'; font-size: 13px !important; font-weight: normal !important; height: 27px !important; line-height: 27px !important; text-align: center !important; text-decoration: none !important; text-transform: uppercase; width: 100px !important; }
#content_wrapper .products_catagory ul li .cart-btn img { margin-right:3px; }
#content_wrapper .products_catagory ul li .cart-btn a:hover { background: url(../images/add_to_cart.png) no-repeat scroll left -28px transparent !important; }
#content_wrapper .products_catagory ul li h2 { font-family: 'open_sansregular'; font-size:13px; text-transform:uppercase; color:#4c4c4c; margin:10px 0 5px; }
#content_wrapper .products_catagory ul li p { color:#504e4e; font-size:12px; line-height:20px; margin-bottom:7px; }
#content_wrapper .products_catagory ul li .product_img { background:url(../images/product-img-bottom-shadow.png) no-repeat bottom center; padding-bottom:10px; width:191px; margin:0px auto; text-align:center; }
.products_catagory_top_bg { height:57px; background:url(../images/top-head-bg.gif) repeat-x; -moz-border-radius:3px; /* Firefox */ -webkit-border-radius:3px; /* Safari and Chrome */ border-radius:3px; width:97.5%; float:left; padding:0 10px; }
.products_catagory_top_bg .top_content { width:100%; height:27px; }
.products_catagory_top_bg .top_content span { font-size:11px; font-family: 'open_sansregular'; color:#FFF; margin-top:7px; display:block; float:left; }
.products_catagory_top_bg .top_content span img { vertical-align:middle; margin-left:5px; }
.products_catagory_top_bg .top_content p { float:right; font-size:11px; font-family: 'open_sansregular'; color:#FFF; }
.products_catagory_top_bg .top_content p label { font-size:11px; font-family: 'open_sansregular'; color:#FFF; display:block; }
.products_catagory_top_bg .top_content p select { font-size:10px; color:#d6d6d6; background:#4f565e; border:1px solid #71767c; font-family: 'open_sansregular'; margin-top:5px; padding-top:1px; width:100px; height:18px; }
.products_catagory_top_bg .bottom_content { width:100%; height:28px; }
.products_catagory_top_bg .bottom_content span { font-size:11px; font-family: 'open_sansregular'; color:#FFF; margin-top:7px; display:block; float:left; }
.products_catagory_top_bg .bottom_content .pagination { width:270px; height:12px; margin:8px 0 0 150px; float:left; }
.products_catagory_top_bg .bottom_content .pagination span { float:right; margin:0 0 0 3px; }
.products_catagory_top_bg .bottom_content .pagination a { font-size:11px; font-family: 'open_sansregular'; color:#FFF; display:block; vertical-align:middle; margin:0 2px 0 4px; float:left; }
.products_catagory_top_bg .bottom_content .pagination a:hover { color:#e68705; text-decoration:none; }
.products_catagory_top_bg .bottom_content p { font-size:11px; font-family: 'open_sansregular'; color:#FFF; margin-top:1px; display:block; float:right; }
.products_catagory_top_bg .bottom_content p select { font-size:10px; color:#d6d6d6; background:#4f565e; border:1px solid #71767c; font-family: 'open_sansregular'; margin:5px 5px 0; width:46px; height:18px; padding-top:1px; }
.nomrgn_rght { margin-right:0px !important; }
/************************listing page css end************************/
	
	
/* branad page css*/	
.brand_logo_container { float:left; width:724px; padding:2px 0 0 0; margin:0 4px; height:auto; }
#sliderbrand { float:left; position:relative; width:724px; padding:2px 0 10px 0; margin:0 4px 24px; margin-left:0px; height:140px; top:10px; overflow:hidden; border-bottom:1px solid #c2c2c2; }
#whole_most_prod .navigation ul { border-bottom: 1px solid #C2C2C2; float: left; list-style: none outside none; margin: 0 0 7px; padding: 0 0 17px 63px; width: 92%; }
#whole_most_prod .navigation ul li { margin: 0 0 0 5px; padding:0; float:left; }
#whole_most_prod .navigation ul li a { display:inline-block; text-decoration:none; color: #5D5D5D; font-family: 'Calibri'; font-size: 13px; font-weight: normal; margin: 0 0 0 0px; padding:0px 4px; border:1px solid #c2c2c2; text-align: center; }
#whole_most_prod .navigation ul li .current_char { color:#FF0000; }
#whole_most_prod .navigation h3 { margin:0; color: #6EB00B; font-family: Arial, Helvetica, sans-serif; font-size: 18px; padding: 0 0 10px 0; font-weight:normal; text-transform: uppercase; }
#product_con .brand_logo_container h3 { margin:0; padding:0 0 6px 0; color: #6EB00B; font-family: Arial, Helvetica, sans-serif;; font-size: 20px; border-bottom:1px solid #c2c2c2; text-transform:uppercase; font-weight: normal; }
#whole_most_prod .navigation ul li a:hover { border:1px solid #c2c2c2c; background:#999999; }
#whole_most_prod .brand_list { clear:both; }
#whole_most_prod .brand_list .brand_normal .column1 { float:left; }
#whole_most_prod .brand_list .brand_normal .column1 li { margin:0; padding:0; float:left; border-right: 1px solid #C2C2C2; }
#whole_most_prod .brand_list .brand_normal .column1 li a { text-decoration:none; color: #5D5D5D; display: inline-block; font-family: 'Calibri'; font-size: 13px; font-weight: normal; margin: 0 0 0 2px; padding: 0 4px; }
#whole_most_prod .brand_list .brand_normal .column1 li a:hover { color: #1E7EC8; }
#whole_most_prod .brand_list .brand_normal .column2 { float:left; }
#whole_most_prod .brand_list .brand_normal .column2 li { margin:0; padding:0; float:left; border-right: 1px solid #C2C2C2; }
#whole_most_prod .brand_list .brand_normal .column2 li a { text-decoration:none; color: #5D5D5D; display: inline-block; font-family: 'Calibri'; font-size: 13px; font-weight: normal; margin: 0 0 0 2px; padding: 0 4px; }
.featured_brand { height:auto; width:130px; float:left; }
.featured_brand img { cursor:pointer; border:3px solid #e6e6e6; padding:5px 0px 0 0px; margin:0 0px 0 4px!important; }
.featured_brand p strong { text-align:center; padding:5px 0 2px; display:block; }
.featured_brand a { text-align:center; display:block; }
#whole_most_prod { float:left; width:724px; padding:2px 0 0 0; margin:0 4px; }
.row .price-box .price-label { float:left; width:130px; color: #676767; font-family: 'Calibri'; font-size: 12px; margin:0 8px 8px 0; clear:both; text-align: left; text-transform: uppercase; }
.row .price-box .price { float:right; font-weight:normal; }
#sliderbrand ul { margin:0; padding:0; list-style:none; }
#sliderbrand ul li { margin:0; padding:0; float:left; }
#sliderbrand ul li p { margin:0; padding:0; color: #5D5D5D; font-family: 'Calibri'; font-size: 12px; text-align:center; font-weight: normal; }
/* end of brand page css*/


.ibanners.animated .html { position:absolute; z-index:99; bottom:35px; left:20px;}

.html .shop_now_btn { width:270px; float:left; padding:23px 0 0 0; }

.html .shop_now_btn a{ display:block; }

.last { background:none !important; }

