.collateral-box h4 {
	color:#e26703;
}
.collateral-box .head {
	margin-bottom:1em;
	border-bottom:1px solid #e5dcc3;
	padding-bottom:1px;
	font-size:1.15em;
}

.collateral-box
{
	float:left;
	text-align:left !important;
	width:100%;
}
.checkbox-container
{
	margin-right:10px;
}
.collateral-box .producttd
{
	padding-left: 25px;
	background: url(../images/Plus.png) no-repeat 5px 50%;
	width:auto;
	max-width:100px;
	background:none !important;
}
.collateral-box .producttd-first
{
	width:auto;
	max-width:75px;
}
.viewdContent{
	float:left;
	font-size:11px;
	padding:0px;
	width:100%;
}
.viewdContent p{
	margin:0px !important;
}