.redstage_mostviewed_main {
	margin: 0 0 15px 0;
	border:solid 1px #c4c1bc;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
	text-align:left;
}
.redstage_mostviewed_main .head {
	width:193px;
	background:#F8F7F5;
	float:left;
}
.redstage_mostviewed_main .icon{
	margin:6px 0 0 10px;
	width:16px;
	height:16px;
    background: url("../images/icon_clip.gif") no-repeat scroll left 0px transparent;
	position:absolute;
}
.redstage_mostviewed_main .head h1 {
	margin:0;
	padding:10px 10px 13px 30px;
	width:153px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
	font-weight:bold;
	text-transform:uppercase;
	border-bottom:solid 1px #c4c1bc;
	font-size:14px;
	background:url(../images/bg.jpg) left top repeat-x #fff;
	color:#E26703;
}
.redstage_mostviewed_main .head p {
	margin:0 10px 0 10px;
	padding:0;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	color:#1b2d3b;
	}
.redstage_mostviewed_main .head p a {
	margin:0;
	color:#1e7ec8;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}
.redstage_mostviewed_main .productlist {
	padding:0 10px;
	width:173px;
	background:#F8F7F5;
	float:left;
}
.redstage_mostviewed_main .productlist ul {
	margin:0;
	padding:0;
}
.redstage_mostviewed_main .productlist ul li {
	margin:8px 0 8px 0;
	padding:0;
	width:173px;
	list-style:none;
	font-size:13px;
	font-weight:bold;
	float:left;
}
.redstage_mostviewed_main .productlist ul li .checkbox {
	width:15px;
	float:left;
}
.redstage_mostviewed_main .productlist ul li .checkbox input {
	vertical-align:top;
}
.redstage_mostviewed_main .productlist ul li .proImg {
	margin:0 10px 0 5px;
	width:50px;
	height:50px;
	background:#fff;
	border:solid 1px #a9a9a9;
	float:left;
}
.redstage_mostviewed_main .productlist ul li .proDetail {
	width:90px;
	float:left;
	line-height:12px;
}
.redstage_mostviewed_main .productlist ul li .proDetail p.proName {
	margin:0 0 2px 0;
	padding:0;
}
.redstage_mostviewed_main .productlist ul li .proDetail p.proName a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:normal;
	font-weight:normal;
	color:#1E7EC8;
	text-decoration:underline;
}
.redstage_mostviewed_main .productlist ul li p.proPrice {
	margin:5px 0 5px 0;
	font-size:13px;
	font-weight:bold;
	color:#2f2f2f;
}
.redstage_mostviewed_main .productlist ul li p.proAdd {
	margin:0;
	padding:0;
	width:85px;
	float:left;
}
.redstage_mostviewed_main .productlist ul li p.proAdd a {
	font-size:12px;
	font-weight:bold;
	color:#DC6809;
	text-decoration:underline;
}