<br />
<div class="account-login facebook-login">
    <div class="page-title">
        <h1><?php echo $this->__('Connect with Facebook') ?></h1>
    </div>
    
	<div class="content new-users" style="min-height: 100px;">
		<h2><?php echo $this->__('Facebook Users') ?></h2>
		<p><?php echo $this->__('Use your Facebook account to login or register within our store. You\'re just one click away.' ) ?></p>
	</div>
    
	<div class="buttons-set">
		<button rel="facebook-connect" type="button" title="<?php echo $this->__('Connect with Facebook') ?>" class="button"><span><span><?php echo $this->__('Connect with Facebook') ?></span></span></button>
	</div>

</div>