<div id="whole_most_prod">
    <div class="most_prod_hd"><img src="<?php echo Mage::getBaseUrl()?>skin/frontend/default/patronstore/images/most_prod_box_hd_left.jpg" class="floatLeft"><img src="<?php echo Mage::getBaseUrl()?>skin/frontend/default/patronstore/images/most_prod_box_hd_right.jpg" class="floatRight"></div>
    <div class="most_prod_cont">
        <h1>Featured Brands</h1>
        <?php $_category = Mage::registry('current_category');
        $categoryId = $_category->getId();
        $categoryBrands = $this->getBrandCategories($categoryId);
        foreach($categoryBrands as $brand):?>
        <div class="most_prod_row">
            <div class="mstprod_eabox line_mprd">
                <a title="<?php echo $brand['title']?>" href="<?php echo Mage::getBaseUrl()."brand/index/view/manufacturer/".$brand['brand_id'].'/?brandname='.$brand['title'] ?>" class="img_hover">
                    <img border="0" alt="<?php echo $brand['title']?>" src="<?php echo $brand['logo']?>">
                </a>
                <h4>
                    <?php echo $brand['content']?>
                </h4>

            </div>
            <div class="clear"></div>
        </div>
        <?php endforeach ?>
    </div>
    <div class="most_prod_ft"><img src="<?php echo Mage::getBaseUrl()?>skin/frontend/default/patronstore/images/most_prod_box_ft_left.jpg" class="floatLeft"><img src="<?php echo Mage::getBaseUrl()?>skin/frontend/default/patronstore/images/most_prod_box_ft_right.jpg" class="floatRight"></div>
</div>