<?php
/**
 *
 * @category   RedStage
 * @package     Who Viewed This Also Viewed
 * @author     amorris@redstage.com
 */
 
if($this->isEnable() && $this->getCount()):
if($this->getDefaultPosition() == "main_column"):
	$tdCount = 1;
	$addFirstClass = false; 
    $_product = $this->getProduct();
	if($_product->getSpecialPrice()!=''){
		$_total_price = $_product->getSpecialPrice();
	}else{
		$_total_price = $_product->getPrice();
	}
	
	$arrPrice[$_product->getID()] = $_product->getPrice();
?>
<script type="text/javascript">
var isUseWVTAVAnim = true;
var arrPrice_WVTAV = new Array();
</script>
<br>
<div class="collateral-box" style="padding-top:12px;" id="whoviewalso">
<div class="head">
	<h4><?php echo $this->__('Customers Who Viewed This Also Viewed'); ?></h4>
</div>
    <div class="content">
    <table style="width:100%;" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
	<table cellpadding="0" cellspacing="0" width="100%;">
	<tr style="width:auto;height: 80px;">
    <?php /*?><td class="producttd-first" id="td_WVTAV_product_<?php echo $_product->getID();?>">
        <a href="<?php echo $_product->getProductUrl()?>"><img src="<?php echo $this->helper('catalog/image')->init($_product,'thumbnail')->resize(75);?>" alt="<?php echo $this->htmlEscape($_product->getName())?>" width="75" height="75" /></a>
    </td><?php */?>
	<?php foreach ($this->_productCollection as $item){
	$model = Mage::getModel('catalog/product'); //getting product model
	
		$model->load($item->getId());
		$thumb = $model->getThumbnail();
	    $rating_collection = Mage::getModel('rating/rating')->getEntitySummary($item->getData('entity_id'),true);
	
	if($tdCount%(int)($this->getProductLimit()+1) == 0){echo '</tr><tr style="width:auto;height: 80px;">';$addFirstClass = true;}?>
  	  <td class="<?php echo ($addFirstClass) ? "producttd-first" : "producttd";?>" id="td_WVTAV_product_<?php echo $item->getID();?>">
		<a href="<?php echo $item->getProductUrl()?>"><img src="<?php echo $this->helper('catalog/image')->init($item,'thumbnail',$thumb)->resize(75);?>" alt="<?php echo $this->htmlEscape($item->getName())?>" width="75" height="75" /></a>
        <div class="viewdContent">
          <p style="color:#0000FF;text-decoration:none;"><a href="<?php echo $item->getProductUrl()?>" ><?php echo $this->htmlEscape($model->getName())?></a></p>
      
					<?php
                    $_reviews = Mage::getModel('review/review')->getResourceCollection();              
                      $_reviews->addStoreFilter( Mage::app()->getStore()->getId() )  
                                ->addEntityFilter('product', $item->getId())
                              ->addStatusFilter( Mage_Review_Model_Review::STATUS_APPROVED )  
                              ->setDateOrder()  
                              ->addRateVotes(); 
                    
                            $avg = 0; 
                            $ratings = array(); 
                            if (count($_reviews) > 0){
                            foreach ($_reviews->getItems() as $_review): 
                            foreach( $_review->getRatingVotes() as $_vote ): 
                                     $ratings[] = $_vote->getPercent();   
                             endforeach; 
                             endforeach;   
                            $avg = array_sum($ratings)/count($ratings);
							  }   
                            ?>
                   
                    <div class="rating-box">  
                      <div class="rating" style="width: <?php echo ceil($avg) ; ?>%;"></div>  
                    </div>
                    <?php
					if(isset($rating_collection['count']))
					{
				      echo "(".$rating_collection['count'].")";
					}
					else
					{
					}
					?>
                     
        <p class="proPrice"><strong style="color:#E26703;font-size:14px;margin-top:5px;"><?php 
		if($model->getSpecialPrice()!='')
		{
		
		 echo Mage::helper('core')->currency($model->getSpecialPrice());
			//echo "$".number_format($model->getSpecialPrice(),2);
		}
		else
		{
		 echo Mage::helper('core')->currency($model->getPrice());
		//echo "$".number_format($model->getPrice(),2); 
		}
		?>
        </strong>
        </p>
          
                 </div>
	 </td>
    
	<?php
	if($model->getSpecialPrice()!=''){
		
		$_total_price = $_total_price + $model->getSpecialPrice();
		$arrPrice[$item->getID()] = $model->getSpecialPrice();
	}else{
		$_total_price = $_total_price + $model->getPrice();
		$arrPrice[$item->getID()] = $model->getPrice();
	}
	
	
	$tdCount++;
	$addFirstClass = false;
	}?>
	</tr></table>
    </td>
    <td style="padding-left:10px;" id="WVTAV_td_totalPrice"><table>
        <tbody>
          <?php /*?><tr>
            <td width="60%"><strong>Price for all selected :</strong></td>
            <td style="padding-left:5px; color:#CC0000; font-weight:bold">$<span class="price" id="WVTAV_sp_price"><?php echo $_total_price;?></span></td>
          </tr><?php */?>
        </tbody>
      </table>
     <!-- <button onclick="bt_WVTAV_addToCart();" type="button" class="form-button button btn-cart" ><span style="background:#E26703; border:none;">Add selected to cart</span></button>-->
      </td>
       </tr>
        </tbody>
      </table>
    <br />
     <?php /*?><ol>
        <li>
         <span class="checkbox-container">
          <input type="checkbox" name="WVTAV_related_products[]" id="WVTAV_related_products_<?php echo $_product->getID();?>" value="<?php echo $_product->getID();?>" checked="checked" onclick="WVTAV_UpdatePrice(arrPrice_WVTAV, this.value)" class="WVTAV_related_checkbox" disabled="disabled" /></span>
          <b>This item</b>:&nbsp;  <a href="<?php echo $_product->getProductUrl()?>"><?php echo $this->htmlEscape($_product->getName())?></a>
        </li>
      	<?php foreach($this->_productCollection as $item){
		$model = Mage::getModel('catalog/product'); //getting product model
		$model->load($item->getId());
    	$pname = $model->getName();
		
		 ?>
		<li> 
        <span class="checkbox-container"><input type="checkbox" name="WVTAV_related_products[]" id="WVTAV_related_products_<?php echo $item->getID();?>" value="<?php echo $item->getID();?>" checked="checked" onclick="WVTAV_UpdatePrice(arrPrice_WVTAV, this.value)" class="WVTAV_related_checkbox"  /></span>
        <a href="<?php echo $item->getProductUrl()?>"><?php echo $this->htmlEscape($pname)?></a>
        </li>
		<?php }?>
      </ol><?php */?>
    </div>
</div> 
<p class="powered">Powered by <a href="<?php echo $this->getUrl('who-viewed-this-also-viewed.html');?>">Redstage Who Viewed This Also Viewed Extension</a></p>
<script type="text/javascript">
<?php foreach($arrPrice as $key => $val){?>
arrPrice_WVTAV[<?php echo $key?>] = <?php echo $val?>;
<?php }?>
</script>
<?php endif;endif;?>

<style type="text/css">
#whoviewalso .producttd {
    background: none no-repeat scroll 5px 50% transparent !important;
    max-width: 100px;
    padding-left: 25px;
    width: auto;
}
</style>