<?php $cityCollection = $this->getCityCollection(null, $this->getActiveRecentIds()); 
//print_r($cityCollection); echo '<br>';
//echo Mage::getStoreConfig('groupdeals/configuration/subscribe_popup');
?>
<?php if (count($cityCollection)>0 && Mage::getStoreConfig('groupdeals/configuration/subscribe_popup')): ?>
<?php Mage::getModel('core/cookie')->set('popup-subscribe', true); ?>
<script language='javascript'>

function popupcode(){
 
  $('popup-subscribe-bg').appear({ duration: 0.7 });
  $('popup-subscribe-content').appear({ duration: 0.7 });
}
<?php if (!Mage::getModel('core/cookie')->get('popup-subscribe')): ?>

window.onload = function(){
	
	//alert('true');
	popupcode()
} 
<?php endif; ?>
</script>
<div id="popup-subscribe-bg" class="groupdeals-popup-subscribe-bg" style="display:none;" ></div>
<div id="popup-subscribe-content" class="groupdeals-popup-subscribe-content" style="display:none;"> 
	<div class="content">
		<?php /*?><div class="title">
			<h1><?php echo $this->__('Subscribe to our deals!') ?></h1>
			<p><?php echo $this->__('Subscribe to receive updates whenever a new deal is posted, when it reaches it\'s target or when it\'s over.') ?></p>
		</div>
		<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="groupdeals-subscriptions">
			<ul class="form-list">
				<li>
					<label class="required" for="telephone"><em>*</em><?php echo $this->__('City') ?></label>
					<div class="input-box">
						<select class="input-text required-entry" name="city" id="city" >
							  <?php foreach ($cityCollection as $city): ?>
								<option value="<?php echo $city ?>"><?php echo $city ?></option>
							  <?php endforeach; ?>
						</select> 
					</div>
				</li>
				<li>
                    <label class="required" for="email_address"><em>*</em><?php echo $this->__('Email Address') ?></label>
                    <div class="input-box">
                        <input type="text" class="input-text validate-email required-entry" title="Email Address" value="" id="email_address" name="email">
                    </div>
                </li>
			</ul>
			<div class="actions">
				<span class="close" onClick="$('popup-subscribe-bg').fade(); $('popup-subscribe-content').fade(); return false;" ><?php echo $this->__('Already Subscribed?') ?></span>
				<button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
			</div>
		</form>
		<script type="text/javascript">
		//<![CDATA[
			var groupdealsSubscriberFormDetail = new VarienForm('groupdeals-subscriptions');
		//]]>
		</script><?php */?>
<?php 
     	$current = 40;
		$category = Mage::getModel('catalog/category')->load($current);
		$children = $category->getChildren();
		$children = explode(",",$children);
		
		if (strlen($children[0]) > 0)
		{
		    foreach($children as $child)
		    {
		        $_child = Mage::getModel('catalog/category')->load($child);
		               
					$optionarray[] = $_child->getName(); 
		    }
		}
		sort($optionarray);
		foreach ($optionarray as $value)
		{
			$option.="<option value='$value'>$value</option>";
		}
		
	?>		
		<div class="registration">
	<div class="close_btn">
		<a href="#" onclick="$('popup-subscribe-bg').fade(); $('popup-subscribe-content').fade(); return false;" style="float:right">
			<img src="<?php echo $this->getSkinUrl('images/close.png'); ?>" width="23" height="23" alt="close" />
		</a>
		<!--<br/>
		<div style="float: right; font-size: small; width: 60px;"><a href="<?php echo $this->getUrl('customer/account/login')?>" >Already a Member?<br/> Click here</a></div>-->
	</div>
	<div class="clear"></div>
	<div class="register2">
	  <div class="register_text">
            <h4>Keep Me Updated<br />
              with "Grown Up" deals!</h4>
          </div>
     </div>
      <div class="registion_form">
		<form name="deals-subscribe1" action="<?php echo $this->getUrl('groupdeals/product/subscribe') ?>" method="post" id="groupdeals-subscriptions" onsubmit="return validateForm1()">
		<?php /*?><form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="groupdeals-subscriptions"><?php */?>
			<div class="select1">
				<select class="input-text required-entry" name="city" id="city" >
					<option value="">Select City</option>
					<?php echo $option ?>
				</select>
			</div>
			
			<div class="select2">
				<input type="text" class="input-text validate-email required-entry" value="Enter Your Email Address" onclick="this.value=''" title="Email Address"  id="email_address" name="email">
				</div>
			
			<span class="goregister">
          <button type="submit"  title="<?php echo $this->__('Subscribe') ?>" class="button"><img src="<?php echo $this->getSkinUrl('images/go.png')?>" alt="subscribe"/></button>
		
            </span>
			
			<div class="clear"></div>
			
			
		</form>
	</div>
</div>
		
	</div>
</div>
<script type="text/javascript">
	function validateForm1()
	{
		var x=document.forms["deals-subscribe1"]["email"].value;
		var y=document.forms["deals-subscribe1"]["city"].value;
		var atpos=x.indexOf("@");
		var dotpos=x.lastIndexOf(".");
		if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
		 {
			  alert("Please enter a valid e-mail address");
			  return false;
		 }
		 if (y == "")
		 {
		 	  alert("Please select your city");
			  return false;
		 }
		 return true;
	}
</script>
<script type="text/javascript">
		//<![CDATA[
			var groupdealsSubscriberFormDetail = new VarienForm('groupdeals-subscriptions');
		//]]>
		</script>
<?php endif; ?>
