<?php
/**
 * Moo Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Moo
 * @package    Moo_Catalog
 * @author     Mohamed Alsharaf <mohamed.alsharaf@gmail.com>
 * @copyright  Copyright (c) 2010 Mohamed Alsharaf. (http://jamandcheese-on-phptoast.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>
<?php /*?><script src="<?php echo $this->getSkinUrl()?>/js/jquery.cycle.als" type="text/javascript"></script><?php */?>


<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>


<div class="highslide-gallery">
<?php
$mainImagePath = '';
$galleryImages = $this->getGalleryImages();
$counter = 0;
$total_items = count($galleryImages);
if (count($galleryImages) > 0) {
    $gallery = '<div class="more-views" id="slidermoreviews">';
    //$gallery .= '<h2>' . $this->__('More Views') . '</h2>';
    
	$gallery .= '<ul>';
    foreach ($galleryImages as $_image) {
		
        if ($_image->getFile() == $_product->getData('small_image')) {
            $mainImagePath = $this->getGalleryUrl($_image);
        }
        $gallery .= '<li>'
                 .  '<a href="' . $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile()) . '" '
                 .  'rel="popupWin:\'' . $this->getGalleryUrl($_image) . '\', useZoom: \'cloudZoom\', smallImage: \'' . $this->getCloudImage($this->getProduct(), $_image) .  '\'" class="cloud-zoom-gallery" title="' . $this->htmlEscape($_image->getLabel()) . '">'
                 .  '<img src="' . $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(56) . '" width="56" height="56" alt="' . $this->htmlEscape($_image->getLabel()) . '" />'
                 .  '</a></li>';
				 
				 $counter++;
    			if( is_int($counter / 4) && $total_items > $counter )
				{
					//echo $counter;
					$gallery .= '</ul><ul>';
				}
   
    }// end of foreach
   
	$gallery .= '</ul></div>';
}
?>

<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<article class="gallery_view">
<p class="product-image product-image-zoom">
    <a rel="<?php echo $this->renderCloudOptions(); ?>" gallery="<?php echo $mainImagePath; ?>" href="<?php echo $this->helper('catalog/image')->init($_product, 'image'); ?>" class="cloud-zoom" id="cloudZoom">
    <?php
        $_img = '<img id="image" src="'.$this->getCloudImage($_product).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
    </a>
</p>
</article>

    <?php if(isset($gallery)): ?>
    <br />
        <?php /*?><p class="zoom-notice" id="track_hint"><?php echo $this->__('Click on above image to view full picture') ?></p><?php */?>
         <span><a href="#" id="prev2"><img src="<?php echo $this->getSkinUrl();?>images/gallery_arrow.gif" width="9" height="16" alt="buy koala"></a></span>
			<?php echo $gallery; ?>
        <span><a href="#" id="next2"><img src="<?php echo $this->getSkinUrl();?>images/gallery-arrow-right.gif" width="9" height="16" alt="buy koala"></a></span>
        
    <?php endif; ?>
    
<?php else: ?>

<p class="product-image">
    <?php
        $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(265).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</p>
<?php endif; ?>

</div>
<script type="text/javascript">
jQuery(function() {
		
		jQuery('#slidermoreviews').cycle({ 
			 fx:     'scrollHorz', 
			 speed:  'fast', 
			 timeout: 0, 
			 next:   '#next2', 
			 prev:   '#prev2'
    	});
});

</script>