<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $_groupdeals = $this->getGroupdeals();	
	$_merchant = $this->getMerchant($_groupdeals);
	$groupdealsModel = Mage::getModel('groupdeals/groupdeals');	
?>
<?php /*?>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
 var geocoder;  
 var map;
  
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(0, 0);
    var myOptions = {
      zoom: 14,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }

  function codeAddress(address, letter) {
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
		document.getElementById("view_large").href = 'http://maps.google.com/maps?z=14&q='+address;
		document.getElementById("get_directions").href = 'http://maps.google.com/maps?f=d&daddr='+address;
        var marker = new google.maps.Marker({
            map: map, 
			title: 'A',
			icon: '<?php echo $this->getSkinUrl('groupdeals/images'); ?>/marker'+letter+'.png',
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
  
  window.onload = function(){
  		document.getElementById('taba').style.color = "#3F3E3E";
		document.getElementById("taba").style.backgroundImage="url('<?php echo $this->getSkinUrl('groupdeals/images/tab_hov.png')?>')";
		<?php if (!Mage::getModel('core/cookie')->get('popup-subscribe') && Mage::getStoreConfig('groupdeals/configuration/subscribe_popup')): ?>
			popupcode();
		<?php endif; ?>
  		<?php if ($_merchant->getStatus()==1): ?>
			initialize();
			<?php if ($this->getMainAddress($_merchant)!=''): ?>
				codeAddress('<?php echo $this->getMainAddress($_merchant); ?>', 'A');
			<?php endif; ?>
		<?php endif; ?>
  }
</script>

<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) {return;}
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	
	
</script>
<?php /*/?>
<?php //echo $this->getSlideshowConfiguration(); ?>
<?php /*?>
<div id="messages_product_view" style=" background-color: #282E34; padding:10px;">

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php */?>
        				
     				
 <?php  
							if (Mage::registry('current_product') )
							{
								$product = Mage::registry('current_product');
								
								$product_store = $product->getAttributeText('product_store');
							
								?>
								<?php /*?>
								<div class="share2"><br />
							        <a href="http://www.facebook.com/pages/Ikoalacomau/105494469524646"><img src="<?php echo $this->getSkinUrl('images/fb1.jpg'); ?>" /></a><br />
							        <a href="https://twitter.com/#!/ikOalaEveryday"><img src="<?php echo $this->getSkinUrl('images/twitter1.jpg'); ?>" /></a><br />
							        <a href="mailto:"><img src="<?php echo $this->getSkinUrl('images/email2.jpg'); ?>" /></a><br />
							      </div>
							      <?php */?>
							      
				
										
							
								<?php
							}
					
					?>
					<?php
						//everyday = 5
						//kids = 3
						//business = 6
						//travel = 4
						/*
						$store_array = array(5,3,6,4);
						foreach ($store_array as $store)
						{
							$collection = Mage::getModel('catalog/product')->getCollection()
					  		->addFieldToFilter('product_store', array('finset'=>$store))
					  		->setOrder('groupdeal_type','ASC')
					  		->addAttributeToSelect( '*' ) 
					  		->load();
					   		foreach ($collection as $collect)
					   		{		   		
					   			$store_url[$store] = $this->getUrl('');
						   		$id = $collect->getId();	   		
						   		$_topprod = Mage::getModel('catalog/product')->load($id);
						   		if (($_topprod->getGroupdealStatus()==1) && ($_topprod->isSaleable()))
						   		{
						   			$topcat = $_topprod->getCategoryIds();  
			    	     			unset ($topcatname);
									foreach ($topcat as $value)
									{
										$_cate = Mage::getModel('catalog/category')->load($value);
										$topcatname[] = $_cate->getName();	
									}	
						   			if (in_array($_REQUEST['city'], $topcatname))
									{
										$store_url[$store] = $_topprod->getProductUrl();
										if ($_REQUEST['city'] && $_REQUEST['city']!="")
						                {
						                	$store_url[$store].="?city=".urlencode($_REQUEST['city'])."&";
						                }
						                else 
						                {
						                	$store_url[$store].="?";
						                }
										break;
									}
									elseif(in_array('National', $topcatname))
									{
										$store_url[$store] = "".$_topprod->getProductUrl()."?";
										break;
									}
						   		}
					   		}
						}
						*/
					?>
					

  <!--header ends here-->
 <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

  <div class="today">
    <div class="deal">
      <div class="left">
        <div class="ribbon">        
        <?php if($_REQUEST['city'])
						{
										
						echo $_REQUEST['city']." Deals";
										
						}
					else
					{
					echo "National deals";
										
				}
			?>
        
        </div>
        <?php echo $this->getCountdown(); ?> 
       
        <div class="clear"></div>
        
        <div class="price"><?php echo $groupdealsModel->getFormatedPrice($_product, $_product->getSpecialPrice()); ?></div>
        <div class="clear"></div>
        
        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
					<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
				<?php else: ?>
					<div class="choose">
					          <select disabled>
					          <option>N/A</option>
					               
					              </select>
					              <select disabled>
					                <option>N/A</option>
					                
					       	       </select>
								</div>
							<?php endif;?>
   
        <div class="clear"></div>
        <div class="value">
          <div class="leftfly"></div>
          <ul >
            <li><?php echo $this->__('Value') ?> <span><?php echo $groupdealsModel->getFormatedPrice($_product, $_product->getPrice()); ?></span> </li>
            <li><?php echo $this->__('Discount') ?> <span><?php echo $this->getDiscountPercent($_product); ?></span> </li>
            <li class="paddm"><span><?php echo $this->__('Save') ?> <span><?php echo $groupdealsModel->getFormatedPrice($_product, ($_product->getPrice() - $_product->getSpecialPrice())); ?></span> </li>
          </ul>
          
        </div>
      </div>
      <div class="right">
        <h3><?php echo $this->getName()?></h3>        
          <?php echo $this->getChildHtml('media') ?> 
        <div class="del_soldinfo">
        <?php  $sales_number = $this->getSalesNumber($_groupdeals); ?> 
						<?php $minimum_qty = $_groupdeals->getMinimumQty(); ?>			
						<?php if ($minimum_qty>0): ?>
							<?php $progress_bar_width = number_format(190*$sales_number/$minimum_qty,0); ?> 
							
								<?php /*?>	<h2>
								<?php echo $this->__('%s Deals Sold', ($sales_number + 4)); ?>	
									<br><span>	
								<img src="<?php echo $this->getSkinUrl('images/thumb.png')?>" alt="" /></span>
								</span> </h2>
								<?php */?>
						<?php if ($_product->getGroupdealStatus()!=4 && $_product->isSaleable()): ?>
							<?php if ($sales_number<$minimum_qty): ?>
										<?php if ($sales_number!=0): ?>
											<!--<div class="progress_bar_marker">
												<img style="padding-left:<?php echo $progress_bar_width-1; ?>px;" src="<? echo $this->getSkinUrl('groupdeals/images/arrow.png') ?>" />	
											</div>-->
										<?php endif; ?>
									
									<h2>
								<?php echo $this->__('This Deal is On ') ?>	
									<br><span>	
								<img src="<?php echo $this->getSkinUrl('images/thumb.png')?>" alt="" /></span>
								</span> </h2>
								<?php else: ?>
								<h2>
								<?php echo $this->__('This Deal is On ') ?>	
									<br><span>								
								<?php echo $this->__('Tipped at %s with %s bought', $this->getTippingTime($_groupdeals), $minimum_qty); ?>	
								<img src="<?php echo $this->getSkinUrl('images/thumb.png')?>" alt="" /></span>
								</span> </h2>										
														
										
									<?php endif; ?>
								<?php else: ?>		
									<?php if ($sales_number>=$minimum_qty): ?>
									 <h2>
											<?php echo $this->__('The deal is over.') ?>
									<br><span>	
											<?php echo $this->__('Tipped at %s with %s bought', $this->getTippingTime($_groupdeals), $minimum_qty); ?>
										</span> </h2>
									<?php else: ?>
										<h2>
											<?php echo $this->__('The deal is over.') ?>
											
									<br><span>
											<?php echo $this->__('The deal\'s target wasn\'t met.') ?>
										</span> </h2>
									<?php endif; ?>
								<?php endif; ?>
							
						<?php elseif ($_product->getGroupdealStatus()!=4 && $_product->isSaleable()): ?>
								 <h2>
									<?php 
										
											echo $this->__('%s Deals Sold', ($sales_number + 4)); 
										
									?>
							<br><span>								
							<?php echo $this->__('This Deal is On ') ?>					
							<img src="<?php echo $this->getSkinUrl('images/thumb.png')?>" alt="" /></span>
								</span> </h2>
							
						<?php else: ?>
						 <h2>
							<?php 									
								echo $this->__('%s Deals Sold', ($sales_number + 4)); 									
								
							?>
							<br><span>
									<?php echo $this->__('The deal is over.') ?>
								<img src="<?php echo $this->getSkinUrl('images/thumb.png')?>" alt="deal on" /></span></h2>
						
						<?php endif; ?>
        
          
           <div class="buy">
           <span>
          	<?php if($_product->isSaleable() && $_product->getGroupdealStatus()!=4): ?>
									
									<a  onclick="productAddToCartForm.submit(this)"><?php echo $this->__('BUY NOW') ?></a> 
									      
									<?php else: ?>
										<a ><?php echo $this->__('DEAL OVER') ?></a> 
										      
									<?php endif; ?>
         </span>
            <div class="followus">Share This:
            <a href="http://www.facebook.com/pages/Ikoalacomau/105494469524646" target="_blank"><img src="<?php echo $this->getSkinUrl('images/fb.png')?>" alt="facebook" /></a>
           <a href="https://twitter.com/#!/ikOalaEveryday" target="_blank"><img src="<?php echo $this->getSkinUrl('images/twitter.png')?>" alt="twitter" /></a>            
		<a href="mailto:?subject=<?php echo $_product->getName();?> for you &body=<?php echo $_product->getProductUrl();?>"><img src="<?php echo $this->getSkinUrl('images/email.png')?>" alt="email" /></a>
		</div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <ul id="countrytabs1" class="shadetabs">
        <li><a  rel="country1" class="selected">Deals Info</a></li>
        <li><a  rel="country2">What you get</a></li>
        <li><a  rel="country3">Conditions</a></li>
        <li><a  rel="country4" style="border-bottom:none!important; border-radius: 0 0 0 4px;">why buy?</a></li>
      </ul>
          			
      <div class="tab">
        <div id="country1" class="tabcontent">
          <h2><?php echo $this->getMerchantName();?></h2> 
         		 <div class="tabcontent_scrol">
	       			<?php echo $this->getMerchantDescription();?>
	       			</div>
                 </div>
        <div id="country2" class="tabcontent">
         <div class="tabcontent_scrol">
           <?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getwhatuget(), 'whatuget');?>
         </div>
         </div>
        <div id="country3" class="tabcontent">
         <div class="tabcontent_scrol">
           <?php 
	       			echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getconditions(), 'conditions');	       			
	       		 ?>  </div>
	       		 </div>
        <div id="country4" class="tabcontent">
              <div class="tabcontent_scrol">
           <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('reson_to_buy')->toHtml() ?>
                   </div></div>
      </div>
      <script type="text/javascript">

var countries=new ddtabcontent("countrytabs1")
countries.setpersist(true)
countries.setselectedClassTarget("link") //"link" or "linkparent"
countries.init()

</script>
      <div class="clear"></div>
    </div>
  </div>
	</form>
     		
    
    <script type="text/javascript">
    //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button){
                if (this.validator.validate()) {
                    this.form.submit();
                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);
            
            var productAddToCartFormGift = new VarienForm('product_addtocart_form');
            productAddToCartFormGift.submit = function(button){
                if (this.validator.validate()) {
                	document.getElementById('product_addtocart_form').action = document.getElementById('product_addtocart_form').action + 'gift/1/';
                    this.form.submit();
                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);
    //]]>
    </script>
    
    
	 
	  
	  <!--  mini deals -->
	  
	   <?php echo $this->getLayout()->createBlock('groupdeals/product_list_universaldeals')->setTemplate('groupdeals/product/list/universaldeals.phtml')->toHtml()?>  
	  
	  
	   <!--  mini deals end -->
	  
	  
	<script src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN); ?>frontend/default/2nddeal_theme/js/jquery.min.js" type="text/javascript"></script>
	 <script src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN); ?>frontend/default/2nddeal_theme/js/jquery.cycle.all.js" type="text/javascript"></script>
	
 <div class="poplulerwrap">
    <div class="populerdeals">
      <h2>Populer Deals </h2>
      <div class="slider_details">
        <div class="controls"><a id="previmg"><img src="<?php echo $this->getSkinUrl('images/prev.gif')?>" alt="Previous" /></a> <a  id="nextimg"><img src="<?php echo $this->getSkinUrl('images/next.gif')?>" alt="Next" /></a></div>
        <ul> 
 		<?php
		 $websiteid= Mage::app()->getStore()->getWebsiteId();
		  $numb = 0;		  
		  $cat = 48; 		  
		 $sql = "SELECT ccp.product_id  FROM catalog_category_product ccp , catalog_product_website cpw WHERE ccp.product_id = cpw.product_id AND cpw.website_id = $websiteid AND ccp.category_id=$cat";
		 $data = Mage::getSingleton('core/resource') ->getConnection('core_read')->fetchAll($sql);
					  
					  //echo "<pre>";print_r($data);die();
					  	
						foreach($data as $value)
						{
						
							foreach ($value as $newvalue)
							{
								$popular = Mage::getModel('catalog/product')->load($newvalue);
								
								$sql = "SELECT city, datetime_from, datetime_to FROM groupdeals WHERE product_id=$newvalue ";
								$pop_city = Mage::getSingleton('core/resource') ->getConnection('core_read')->fetchAll($sql);
								//echo "<pre>";print_r($pop_city);die();
								
								$time_from = strtotime($pop_city[0]['datetime_from']);
								$time_to = strtotime($pop_city[0]['datetime_to']);
								$current_time = Mage::getModel('core/date')->timestamp(time());
								if (($current_time > $time_from) && ($current_time < $time_to))
								{
								
									$pop_url = $popular->getProductUrl()/*.'?city='.urlencode($pop_city[0]['city'])*/;
									?>
									<?php 
									$cls="";
									if ($numb == 0)
									{ 
										$cls="nomarginleft";
									?>
										<li>
										
									<?php 
									} 
									?>
								      <div class="populer <?php echo $cls?>">
								              <h3><?php echo substr($popular->getName(), 0 , 64)?>..</h3>
								              <img class="img" src="<?php echo $this->helper('catalog/image')->init($popular, 'thumbnail')->resize(186,139) ?>" alt="product" />
							               <div class="price2"> Price<br />
								                <span class="orrange"><?php echo $groupdealsModel->getFormatedPrice($popular, $popular->getPrice(), 'price');?></span></div>
								              <div class="divider"><img src="images/sep22.jpg" /></div>
								              <div class="price2"> Save<br />
								                <span><?php echo "".$groupdealsModel->getFormatedPrice($popular, ($popular->getPrice() -$popular->getSpecialPrice()))."";?></span> </div>
								             <a href="<?php echo $pop_url;?>" class="buynow"><img src="<?php echo $this->getSkinUrl('images/buy-now.jpg')?>" alt="buy now" width="249" /></a> 
								              </div>
								        
        
       								 <?php 
										$numb++;
										if ($numb == 4)
										{
										?>
										</li>	
										<?php 
										$numb = 0;
										}?>	
											
						<?php	  
									
								}
							}
						}
					
						?>  
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <script type="text/javascript">
var jq = jQuery.noConflict();
jq(document).ready(function($){
	$('div.slider_details ul').cycle({
		fx: 'scrollHorz',
		//fx: 'fade',
		pager: '#pager',
		pause: true,
		prev: '#previmg',
		next: '#nextimg'
	});	
 });

</script>
 
</div>
<div class="clear"></div>
  <!--populerdeals section ends and What is a 2ND$DEAL$?  starts here-->
  <div class="whatonwrap">
    <div class="whaton">
      <div class="left">
        <h2>What is a 2ND$DEAL$? </h2>
        <div class="tabsec">
          <ul id="countrytabs2" class="shadetabs2">
            <li><a  rel="country5" class="selected"><img src="<?php echo $this->getSkinUrl('images/c1.png')?>" alt="arrow" />Factory 2nd</a></li>
            <li><a rel="country6"><img src="<?php echo $this->getSkinUrl('images/c2.png')?>" alt="arrow" />Packaging damage</a></li>
            <li><a  rel="country7"><img src="<?php echo $this->getSkinUrl('images/c3.png')?>" alt="arrow" />manufacturer refurb</a></li>
            <li><a  rel="country8"><img src="<?php echo $this->getSkinUrl('images/c4.png')?>" alt="arrow" />excess stock</a></li>
            <li><a  rel="country9" style="border-bottom:none!important;"><img src="<?php echo $this->getSkinUrl('images/c5.png')?>" alt="arrow" />Big Bargains</a></li>
          </ul>
          <div class="tab2">
            <div id="country5" class="tabcontent">
              <h3>Factory 2nd</h3>
             <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('factory_2nd')->toHtml() ?>
               </div>
            <div id="country6" class="tabcontent">
              <h3>Packaging damage</h3>
             <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('packaging_damage')->toHtml() ?>
               </div>
            <div id="country7" class="tabcontent">
             <h3>manufacturer refurb</h3>
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('manufacturer_refurb')->toHtml() ?>
                 </div>
            <div id="country8" class="tabcontent">
             <h3>excess stock</h3>
             <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('excess_stock')->toHtml() ?>
                           </div>
            <div id="country9" class="tabcontent">
             <h3>Big Bargains</h3>
             <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('big_bargains')->toHtml() ?>          
               </div>
          </div>
          <script type="text/javascript">

var countries=new ddtabcontent("countrytabs2")
countries.setpersist(true)
countries.setselectedClassTarget("link") //"link" or "linkparent"
countries.init()

</script>
        </div>
        <div class="clear"></div>
      </div>
      <div class="right">
        <h2>Reasons To Buy<img src="<?php echo $this->getSkinUrl('images/lock.gif')?>" alt="lock" /></h2>
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('reson_to_buy')->toHtml() ?>
      
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- What is a 2ND$DEAL$? section ends and subscription starts here-->