<aside class="pro_of_day">
  <article class="pro_top_corner"> </article>
  <article class="pro_mid">
    <article class="pro_top_btn">
      <h3>Product <span>of the day</span></h3>
    </article>
    <section class="pro_slide">
      <div class=""> <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_of_the_day')->toHTML();?> </div>
      <article id="previmg"> </article>
      <article id="nextimg"> </article>
    </section>
    <!--product slider--> 
  </article>
  <article class="pro_bot_corner"> </article>
</aside>
<!--product of the day-->

<section id="outer_banner">
  <?php //echo $this->getChildHtml('ibanners.homepage') ?>
  <?php echo $this->getLayout()->getBlock('homebanner')->toHtml();?>
  <?php //echo $this->getLayout()->createBlock('core/template')->setTemplate('page/html/homebanner.phtml')->toHtml();?>
</section>

<!--banner-->

<aside class="pro_of_day">
  <article class="pro_top_corner"></article>
  <article class="pro_mid"> <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_top_left_reason_to_buy_text')->toHtml();?> </article>
  <article class="pro_bot_corner"></article>
</aside>
<!--reasion to buy--> 

<!-- featured block --> 
<?php echo $this->getLayout()->createBlock('catalog/product_featured')->setTemplate('catalog/product/featured.phtml')->toHtml();?>
<article class="bot_shad"> </article>
<section id="tab_con">
  <article class="tabs">
    <ul>
      <li><a href="javascript:;" class="tabLink activeLink" id="cont-1"><?php echo $this->__('On Sale') ?></a></li>
      <li><a href="javascript:;" class="tabLink " id="cont-2"><?php echo $this->__('New Arrivals') ?></a></li>
      <li><a href="javascript:;" class="tabLink " id="cont-3"><?php echo $this->__('Best sellers') ?></a></li>
    </ul>
  </article>
  <section class="tabcontent" id="cont-1-1"> <?php echo $this->getLayout()->createBlock('catalog/product_onsale')->setTemplate('catalog/product/onsale.phtml')->toHtml();?> </section>
  <section class="tabcontent hide" id="cont-2-1"> <?php echo $this->getLayout()->createBlock('catalog/product_new')->setTemplate('catalog/product/newslide.phtml')->toHtml();?> </section>
  <section class="tabcontent hide" id="cont-3-1"> <?php echo $this->getLayout()->createBlock('catalog/product_bestsellers')->setTemplate('catalog/product/bestsellersslide.phtml')->toHtml();?> </section>
</section>
<!--tab con-->

<aside class="ad_con">
  <section class="ad">
    <article class="warehouse"> <span>warehouse to you</span> </article>
    <div class="clear"></div>
    <article class="free_shipping"> <img src="<?php echo $this->getSkinUrl();?>images/img8.gif" alt="Buy Koala">
      <h3>to your local area!</h3>
    </article>
  </section>
  <article class="see_detail"> <a href="#"><img src="<?php echo $this->getSkinUrl();?>images/see_detail_btn.gif" alt="Buy Koala"></a> </article>
</aside>
<!--ad_con--> 
