<?php echo $this->getCoupon($this->getRequest()->getParam('coupon_id')); ?>

<script type="text/javascript">window.print();</script>
<style type="text/css">
<!--
.groupdeals-coupons-print .print-head { display:none; }
-->
</style>