<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $_groupdeals = $this->getGroupdeals();	
	$_merchant = $this->getMerchant($_groupdeals);
	$groupdealsModel = Mage::getModel('groupdeals/groupdeals');
?>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>

<script type="text/javascript">
 var geocoder;  
 var map;
  
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(0, 0);
    var myOptions = {
      zoom: 14,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }

  function codeAddress(address, letter) {
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
		document.getElementById("view_large").href = 'http://maps.google.com/maps?z=14&q='+address;
		document.getElementById("get_directions").href = 'http://maps.google.com/maps?f=d&daddr='+address;
        var marker = new google.maps.Marker({
            map: map, 
			title: 'A',
			icon: '<?php echo $this->getSkinUrl('groupdeals/images'); ?>/marker'+letter+'.png',
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
  
  window.onload = function(){
  		document.getElementById('taba').style.color = "#3F3E3E";
		document.getElementById("taba").style.backgroundImage="url('<?php echo $this->getSkinUrl('groupdeals/images/tab_hov.png')?>')";
		<?php if (!Mage::getModel('core/cookie')->get('popup-subscribe') && Mage::getStoreConfig('groupdeals/configuration/subscribe_popup')): ?>
			popupcode();
		<?php endif; ?>
  		<?php if ($_merchant->getStatus()==1): ?>
			initialize();
			<?php if ($this->getMainAddress($_merchant)!=''): ?>
				codeAddress('<?php echo $this->getMainAddress($_merchant); ?>', 'A');
			<?php endif; ?>
		<?php endif; ?>
  }
</script>

<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) {return;}
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	
	
</script>
<?php echo $this->getSlideshowConfiguration(); ?>

<div id="messages_product_view" style=" background-color: #282E34; padding:10px;"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>

<div class="product-view groupdeals">
    <div class="product-essential">
    
    	<form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
			<div class="dealinfo" >
		    	<div class="no-display">
		            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
		            <input type="hidden" name="related_product" id="related-products-field" value="" />
		        </div>
		        <div class="product-name">
		            <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
		        </div>
	        
		        <div class="top-txt">
		        	<span><?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getDescription(), 'description') ?></span>
		        </div>
		        <div style="height:2px;">
		        	<img src="<?php echo $this->getSkinUrl('images/dealpbg.jpg')?>" width="100%" height="2px" alt=""/>
		        </div>
	        	<?php if ($_product->isSaleable() && $this->hasOptions()):?>
					<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
				<?php endif;?>
	
				
			
		        <div class="product-shop" >
			        <div class="product-shop-left">
			        <div class="count-box"><?php echo $this->getCountdown(); ?>
			        	<div class="belowtimer"><img src="<?php echo $this->getSkinUrl('images/belowtimer.png')?>"   alt=""/></div>
			        </div>
			        	<img src="<?php echo $this->getSkinUrl('images/dealpbg.jpg')?>" width="200px" height="2px" alt=""/>
						<div class="add-to-box">
							<div class="box" id="price-box">
								<span>
									<?php echo $groupdealsModel->getFormatedPrice($_product, $_product->getSpecialPrice()); ?>
								</span>
							</div>
							
								<div class="choose">
					              <select>
					                <option>choose your colour</option>
					                <option>Red</option>
					                <option>green</option>
					                <option>Blue</option>
					              </select>
					              <select>
					                <option>choose your Size</option>
					                <option>10</option>
					                <option>11</option>
					                <option>12</option>
					       	       </select>
								</div>
							
								<div class="buy">		
									<?php if($_product->isSaleable() && $_product->getGroupdealStatus()!=4): ?>
										<div class="add-to-cart">						
											<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button-groupdeals" onclick="productAddToCartForm.submit(this)">
												<span style="margin-top:0px;"><span><?php echo $this->__('BUY NOW') ?></span>
											</button>
										</div>               
									<?php else: ?>
										<div class="add-to-cart">						
											<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button-groupdeals disabled" disabled="disabled">
												<span style="margin-top:0px;"><span ><?php echo $this->__('DEAL OVER') ?></span>
											</button>
										</div>           
									<?php endif; ?>
								</div>
								<div id="value-discount">
									<div class="box">
										<small><?php echo $this->__('Value') ?></small><br/>
										<?php echo $groupdealsModel->getFormatedPrice($_product, $_product->getPrice()); ?>
									</div>
									<div class="box">
										<small><?php echo $this->__('Discount') ?></small><br/>
										<?php echo $this->getDiscountPercent($_product); ?>
									</div>
									<div class="box" style="width:34%">
										<small><?php echo $this->__('You Save') ?></small><br/>
										<?php echo $groupdealsModel->getFormatedPrice($_product, ($_product->getPrice() - $_product->getSpecialPrice())); ?>
									</div>
								</div>
			            
					
					
					
						<?php $sales_number = $this->getSalesNumber($_groupdeals); ?> 
						<?php $minimum_qty = $_groupdeals->getMinimumQty(); ?>			
						<?php if ($minimum_qty>0): ?>
							<?php $progress_bar_width = number_format(190*$sales_number/$minimum_qty,0); ?> 
							<div class="progress_bar"  >
								<h1>
									<?php 
										if ($sales_number < 4)
										{
											echo $this->__('%s Deals Sold', 4); 
										}
										else 
										{
											echo $this->__('%s Deals Sold', $sales_number); 
										}
									?>
								</h1>
								<?php if ($_product->getGroupdealStatus()!=4 && $_product->isSaleable()): ?>
									<?php if ($sales_number<$minimum_qty): ?>
										<?php if ($sales_number!=0): ?>
											<!--<div class="progress_bar_marker">
												<img style="padding-left:<?php echo $progress_bar_width-1; ?>px;" src="<? echo $this->getSkinUrl('groupdeals/images/arrow.png') ?>" />	
											</div>-->
										<?php endif; ?>
										<div class="cross-check"><?php echo $this->__('This Deal is On ') ?><img src="<? echo $this->getSkinUrl('groupdeals/images/thumbsup.jpg') ?>" alt="check"/></div>
										<div class="clearer"></div>		
										
									<?php else: ?>
										<div class="cross-check">
											
											<?php echo $this->__('This Deal is On ') ?>
											<img src="<? echo $this->getSkinUrl('groupdeals/images/thumbsup.jpg') ?>" alt="check"/>
										</div>
										<div class="clearer"></div>						
										<i>
											<?php echo $this->__('Tipped at %s with %s bought', $this->getTippingTime($_groupdeals), $minimum_qty); ?>
										</i>
									<?php endif; ?>
								<?php else: ?>		
									<?php if ($sales_number>=$minimum_qty): ?>
										<div class="cross-check" style="padding-left:40px;">
											<?php echo $this->__('The deal is over.') ?>
										</div>
										<i>
											<?php echo $this->__('Tipped at %s with %s bought', $this->getTippingTime($_groupdeals), $minimum_qty); ?>
										</i>
									<?php else: ?>
										<div class="cross-check" style="padding-left:40px;">
											<?php echo $this->__('The deal is over.') ?>
										</div>
										<i>
											<?php echo $this->__('The deal\'s target wasn\'t met.') ?>
										</i>
									<?php endif; ?>
								<?php endif; ?>
							</div>
						<?php elseif ($_product->getGroupdealStatus()!=4 && $_product->isSaleable()): ?>
							<div class="progress_bar" >	
								<h1>
									<?php 
										if ($sales_number < 4)
										{
											echo $this->__('%s Deals Sold', 4); 
										}
										else 
										{
											echo $this->__('%s Deals Sold', $sales_number); 
										}
									?>
								</h1>
								
								<div class="cross-check">
									<?php echo $this->__('This Deal is On ') ?>
									<img src="<? echo $this->getSkinUrl('groupdeals/images/thumbsup.jpg') ?>" alt="check"/>
								</div>
							</div>
						<?php else: ?>
							<div class="progress_bar" >
								<h1>
									<?php 
								
										if ($sales_number < 4)
										{
											echo $this->__('%s Deals Sold', 4); 
										}
										else 
										{
											echo $this->__('%s Deals Sold', $sales_number); 
										}
								
									?>
								</h1>
								<div class="cross-check" style="padding-left:40px;">
									<?php echo $this->__('The deal is over.') ?>
								</div>
							</div>
						<?php endif; ?>
					</div>
					
				</div>
				<div class="product-img-box" style="display:inline;">
		            	<?php echo $this->getChildHtml('media') ?>
		       		</div>
		        
	       	</div>
	       	</div>
	       <div style="padding-bottom:30px;">
				<img src="<? echo $this->getSkinUrl('groupdeals/images/contactusbtm.png') ?>" alt="product bottom"/>
			</div>
			
			<?php 
				$reas = "<table>
					<tr>
						<td width=\"4%\" class=\"reasontable\">
							<img style=\"padding-right:5px; padding-top:5px;\" height=\"11px\" width=\"11px\" src=\"".$this->getSkinUrl('images/tick.jpg')."\">
						<td class=\"reasontable\">
							Safe and secure shopping guaranteed
						<td>	
					</tr>
					<tr>
						<td width=\"4%\" class=\"reasontable\">
							<img style=\"padding-right:5px; padding-top:5px;\" height=\"11px\" width=\"11px\" src=\"".$this->getSkinUrl('images/tick.jpg')."\">
						<td class=\"reasontable\">
							Phone orders
						<td>	
					</tr>
					<tr>
						<td width=\"4%\" class=\"reasontable\">
							<img style=\"padding-right:5px; padding-top:5px;\" height=\"11px\" width=\"11px\" src=\"".$this->getSkinUrl('images/tick.jpg')."\">
						<td class=\"reasontable\">
							Amazing offers from businesses you can trust
						<td>	
					</tr>
					<tr>
						<td width=\"4%\" class=\"reasontable\">
							<img style=\"padding-right:5px; padding-top:5px;\" height=\"11px\" width=\"11px\" src=\"".$this->getSkinUrl('images/tick.jpg')."\">
						<td class=\"reasontable\">
							Peace of mind with an Aussie company
						<td>	
					</tr>
					<tr>
						<td width=\"4%\" class=\"reasontable\">
							<img style=\"padding-right:5px; padding-top:5px;\" height=\"11px\" width=\"11px\" src=\"".$this->getSkinUrl('images/tick.jpg')."\">
						<td class=\"reasontable\">
							Dedicated live chat support
						<td>	
					</tr>
					<tr>
						<td width=\"4%\" class=\"reasontable\">
							<img style=\"padding-right:5px; padding-top:5px;\" height=\"11px\" width=\"11px\" src=\"".$this->getSkinUrl('images/tick.jpg')."\">
						<td class=\"reasontable\">
							 	Shop with confidence
						<td>	
					</tr>
					<tr>
						<td width=\"4%\" class=\"reasontable\">
							<img style=\"padding-right:5px; padding-top:5px;\" height=\"11px\" width=\"11px\" src=\"".$this->getSkinUrl('images/tick.jpg')."\">
						<td class=\"reasontable\">
							Telephone customer service 1800 Ikoala (456252)
						<td>	
					</tr>
					<tr>
						<td width=\"4%\" class=\"reasontable\">
							<img style=\"padding-right:5px; padding-top:5px;\" height=\"11px\" width=\"11px\" src=\"".$this->getSkinUrl('images/tick.jpg')."\">
						<td class=\"reasontable\">
							 	Your Order is Secure and Safe <img style=\"padding-right:5px;\"  width=\"15px\" src=\"".$this->getSkinUrl('images/safe.jpg')."\">
						<td>	
					</tr>
					<tr>
						<td width=\"4%\" class=\"reasontable\">
							<img style=\"padding-right:5px; padding-top:5px;\" height=\"11px\" width=\"11px\" src=\"".$this->getSkinUrl('images/tick.jpg')."\">
						<td class=\"reasontable\">
							 	 	Convenient payment options
						<td>	
					</tr>
					<tr>
						<td colspan =\"2\" class=\"reasontable\">
							<img style=\"padding-right:5px;\"  width=\"40px\" src=\"".$this->getSkinUrl('images/visa1.jpg')."\">
							<img style=\"padding-right:5px;\"  width=\"40px\" src=\"".$this->getSkinUrl('images/master1.jpg')."\">
							<img style=\"padding-right:5px;\"  width=\"40px\" src=\"".$this->getSkinUrl('images/american1.jpg')."\">
							<img style=\"padding-right:5px;\"  width=\"40px\" src=\"".$this->getSkinUrl('images/paypal1.jpg')."\">
					</tr>
				<table>";
				$reas = str_replace('\n','', $reas);
				$reas = str_replace('\r','', $reas);
				$reas = str_replace('"','\'', $reas); 
			?>
	       
	       	<!----------------------------------------->
	       	<script type="text/javascript">
	       		function display_whatuget()
	       		{		//background:url(../images/tabaleft.jpg) no-repeat left top;
	       			document.getElementById('taba').style.color = "#3F3E3E";
	       			document.getElementById('taba').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_hov.png'))?>')";
	       			
	       			document.getElementById('tabb').style.color = "#ffffff";
	       			document.getElementById('tabb').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabc').style.color = "#ffffff";
	       			document.getElementById('tabc').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabd').style.color = "#ffffff";
	       			document.getElementById('tabd').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabe').style.color = "#ffffff";
	       			document.getElementById('tabe').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabinfo').innerHTML =  "<?php 
	       			
	       			$value = $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getwhatuget(), 'whatuget');
	       			$value = str_replace('\n','', $value);
	       			$value = str_replace('\r','', $value);
	       			
	       			$value = str_replace('"','\'', $value); 
	       			echo trim( preg_replace( '/\s+/', ' ', $value ) ); 
	       			?>";
	       		}
	       			
	       		function display_conditions()
	       		{		
	       			document.getElementById('tabb').style.color = "#3F3E3E";
	       			document.getElementById('tabb').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_hov.png'))?>')";
	       			
	       			document.getElementById('taba').style.color = "#ffffff";
	       			document.getElementById('taba').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabc').style.color = "#ffffff";
	       			document.getElementById('tabc').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabd').style.color = "#ffffff";
	       			document.getElementById('tabd').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabe').style.color = "#ffffff";
	       			document.getElementById('tabe').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabinfo').innerHTML = "<?php 
	       			$value = $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getconditions(), 'conditions');
	       			$value = str_replace('\n','', $value);
	       			$value = str_replace('\r','', $value);
	       			
	       			$value = str_replace('"','\'', $value); 
	       			echo trim( preg_replace( '/\s+/', ' ', $value ) ); ?>";
	       		}
	       		
	       		function display_details()
	       		{		
	       			
	       			document.getElementById('tabc').style.color = "#3F3E3E";
	       			document.getElementById('tabc').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_hov.png'))?>')";
	       			
	       			document.getElementById('tabb').style.color = "#ffffff";
	       			document.getElementById('tabb').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('taba').style.color = "#ffffff";
	       			document.getElementById('taba').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabd').style.color = "#ffffff";
	       			document.getElementById('tabd').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabe').style.color = "#ffffff";
	       			document.getElementById('tabe').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabinfo').innerHTML = "<?php $value = $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getdetails(), 'details');
	       			$value = str_replace('\n','', $value);
	       			$value = str_replace('\r','', $value);
	       			
	       			$value = str_replace('"','\'', $value); 
	       			echo trim( preg_replace( '/\s+/', ' ', $value ) );  ?>";
	       		}
	       		
	      		function display_company()
	       		{		
	       			document.getElementById('tabd').style.color = "#3F3E3E";
	       			document.getElementById('tabd').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_hov.png'))?>')";
	       			
	       			document.getElementById('tabb').style.color = "#ffffff";
	       			document.getElementById('tabb').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabc').style.color = "#ffffff";
	       			document.getElementById('tabc').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('taba').style.color = "#ffffff";
	       			document.getElementById('taba').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabe').style.color = "#ffffff";
	       			document.getElementById('tabe').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabinfo').innerHTML = "<h3><?php $value1 = $this->getMerchantName();
	       			$value1 = str_replace('\n','', $value1);
	       			$value1 = str_replace('\r','', $value1);
	       			
	       			$value1 = str_replace('"','\'', $value1); 
	       			echo trim( preg_replace( '/\s+/', ' ', $value1 ) ); 
	       			?></h3> <?php $value2 = $this->getMerchantDescription(); 
	       			$value2 = str_replace('\n','', $value2);
	       			$value2 = str_replace('\r','', $value2);
	       			
	       			$value2 = str_replace('"','\'', $value2); 
	       			echo trim( preg_replace( '/\s+/', ' ', $value2 ) ); ?>";
				
				
	
	       		}   
	       		
	       		function display_reason()
	       		{		
	       			document.getElementById('tabe').style.color = "#3F3E3E";
	       			document.getElementById('tabe').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_hov.png'))?>')";
	       			
	       			document.getElementById('tabb').style.color = "#ffffff";
	       			document.getElementById('tabb').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabc').style.color = "#ffffff";
	       			document.getElementById('tabc').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('taba').style.color = "#ffffff";
	       			document.getElementById('taba').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabd').style.color = "#ffffff";
	       			document.getElementById('tabd').style.backgroundImage = "url('<?php echo($this->getSkinUrl('groupdeals/images/tab_idle1.png'))?>')";
	       			
	       			document.getElementById('tabinfo').innerHTML = "<?php echo trim( preg_replace( '/\s+/', ' ', $reas ) );?>";
				
				
	
	       		} 
	       		
	       		   		
	       
	       	</script>
				<div class="details-box left" style="width:100%">
					<div class="tab_header">
						<table width="730px">
			       			<tr>
			       				<td class="tabs" id="taba"  onclick="display_whatuget()">
			       					What you Get
			       				</td>
			       				<td style="width:5px;">
			       				&nbsp;
			       				</td>
			       				<td class="tabs" id="tabb" onclick="display_conditions()">
			       					Conditions
			       				</td>
			       				<td style="width:5px;">
			       				&nbsp;
			       				</td>
			       				<td class="tabs" id="tabc"  onclick="display_details()" style="display:none;">
			       					The Details
			       				</td>
			       				<td style="width:5px; display:none;">
			       				&nbsp;
			       				</td>
			       				<td class="tabs" id="tabd"  onclick="display_company()">
			       					The Company
			       				</td>
			       				<td style="width:5px;">
			       				&nbsp;
			       				</td>
			       				<td class="tabs" id="tabe"  onclick="display_reason()" >
			       					Reasons to buy
			       				</td>
			       			</tr>
			       		</table>
						<!--<ul id="countrytabs2" class="shadetabs">
				            <li><a href="#" id="taba" rel="country6" onclick="display_whatuget()" ><span>What you get</span> </a></li>
				            <li><a href="#" id="tabb" rel="country7" onclick="display_conditions()"><span>Conditions</span> </a></li>
				            <li><a href="#" id="tabc" rel="country8" onclick="display_details()"><span>The Details</span></a></li>
				            <li><a href="#" id="tabd" rel="country9" onclick="display_company()"> <span>The company</span></a></li>
				            <li><a href="#" id="tabe" rel="country10"><span>reasons to buy</span></a></li>
				          </ul>-->
						
		       		</div>
		       		<div class="product_tabs">
			       		<div id="tabinfo">	      			
			       			<?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getwhatuget(), 'whatuget');?>
						</div>
						<div class="image_gal">							
			       			<?php $image_gal = Mage::getModel('catalog/product')->load($_product->getID())->getMediaGalleryImages(); ?>
			       			<table>
			       			<?php
			       				$img_numb = 0;
				       			foreach ($image_gal as $images)
				       			{
				       				echo "<tr><td>";?>
				       				<a href="#" onclick="popWin('<?php echo $images->getUrl();?>', 'gallery', 'width=700,height=700,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="">
				       					<!--<a href="<?php echo $images->getUrl();?>" target="_blank" title="">-->
				       						<?php echo "<img src='".$images->getUrl()."' width='240px' />";?>
				       					</a>
				       				<?php
									echo "</td></tr>";
									$img_numb++;
									if ($img_numb == 4)
									{
										break;
									}
				       			}
			       			?>
			       			</table>
						</div>
						
					</div>	
					
					<div class="bottom-price">
		        		<div class="bottom-price-left">
		        			<span><?php echo $groupdealsModel->getFormatedPrice($_product, $_product->getSpecialPrice()); ?></span>
		        			<?php 
		        				$product_store = $_product->getAttributeText('product_store');
		        				if (in_array('ikoala kids',$product_store) || $product_store == 'ikoala kids')
		        				{
									$popular_style = "style=\"background-image: url('".$this->getSkinUrl('images/kids/minideal2.png')."');\"";
		        					$buynow_style = "style=\"background-image: url('".$this->getSkinUrl('images/kids/rgtbg.jpg')."');\"";		        					
		        				}
								elseif (in_array('ikoala business',$product_store) || $product_store == 'ikoala business')
								{
									$popular_style = "style=\"background-image: url('".$this->getSkinUrl('images/business/minideal2business.png')."');\"";
		        					$buynow_style = "style=\"background-image: url('".$this->getSkinUrl('images/business/rgtbg.jpg')."');\"";
								}
		        			?>
		        			
		        			
		        			<div class="bottom-price-right">
			        			<button type="button" <?php echo $buynow_style;?> title="<?php echo $this->__('Add to Cart') ?>" class="bottom-button" onclick="productAddToCartForm.submit(this)">
			        				BUY NOW
			        			</button>
		        			</div>
		        		</div>
	        			<div class="share">
	        			<span>
	        				Share This 
	        			</span>
	        			<a href="http://www.facebook.com/pages/Ikoalacomau/105494469524646"><img src="<?php echo $this->getSkinUrl('images/fb1.jpg'); ?>" /></a>
						<a href="https://twitter.com/#!/ikOalaEveryday"><img src="<?php echo $this->getSkinUrl('images/twitter1.jpg'); ?>" /></a>
						<a href="mailto:"><img src="<?php echo $this->getSkinUrl('images/email2.jpg'); ?>" /></a>
					</div>
	        		</div>  
	        		
	        	</div>
	        	
	        </div>
	   <!--------------------------------------------->
    </form>
    <script type="text/javascript">
    //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button){
                if (this.validator.validate()) {
                    this.form.submit();
                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);
            
            var productAddToCartFormGift = new VarienForm('product_addtocart_form');
            productAddToCartFormGift.submit = function(button){
                if (this.validator.validate()) {
                	document.getElementById('product_addtocart_form').action = document.getElementById('product_addtocart_form').action + 'gift/1/';
                    this.form.submit();
                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);
    //]]>
    </script>
    
	<?php $attributesBlock = new Mage_Catalog_Block_Product_View_Attributes; ?>
	<?php if ($_merchant->getStatus()==1 || count($_product->getUpSellProductCollection()->addStoreFilter()->load()->getItems()) || Mage::getStoreConfig('groupdeals/configuration/enable_facebook_comments') || $attributesBlock->getAdditionalData()): ?>
	<div class="product-collateral">
	  <?php if($_additional = $attributesBlock->getAdditionalData()): ?>
    	<h2><?php echo $this->__('Additional Information') ?></h2>
    	<table class="data-table" id="product-attribute-specs-table">
    	    <col width="25%" />
    	    <col />
    	    <tbody>
    	    <?php foreach ($_additional as $_data): ?>
    	        <tr>
    	            <th class="label"><?php echo $this->htmlEscape($this->__($_data['label'])) ?></th>
    	            <td class="data"><?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
    	        </tr>
    	    <?php endforeach; ?>
    	    </tbody>
    	</table>
    	<script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
        <div class="clearer"></div><br/>
	  <?php endif;?>
	  
	<!--<script src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>groupdeals/popular_slides.js" type="text/javascript"></script>
-->
<script src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>groupdeals/popular_slides2.js" type="text/javascript"></script>
<script type="text/javascript">
var jq = jQuery.noConflict();
  jq(document).ready(function($){
    $('#popslider').bxpopslider();
  });
</script>
	 <div class="popular-tab" <?php echo $popular_style;?>>
	 	POPULAR DEALS
	 </div>
	  <div class="populardeals">
		  
		  <div id="popslider">
		  		
		  			 <?php
		  $numb = 0;
		  
		  $store_id = $this->helper('core')->getStoreId(); 
		  if ($store_id == 1)
		  {
		  		$cat = 4;
		  }
		  elseif ($store_id == 4)
		  {
		  		$cat = 30;
		  }
		  elseif ($store_id == 5)
		  {
		  		$cat = 31;
		  }
		  elseif ($store_id == 6)
		  {
		  		$cat = 32;
		  }
		   elseif ($store_id == 7)
		  {
		  		$cat = 40;
		  }
		  else 
		  {
		  		$cat = 4;
		  }
		  
		  
					  $sql = "SELECT product_id  FROM catalog_category_product WHERE category_id=$cat";
					  $data = Mage::getSingleton('core/resource') ->getConnection('core_read')->fetchAll($sql);
					  
					  //echo "<pre>";print_r($data);die();
					  	
						foreach($data as $value)
						{
						
							foreach ($value as $newvalue)
							{
								$popular = Mage::getModel('catalog/product')->load($newvalue);
								
								$sql = "SELECT city, datetime_from, datetime_to FROM groupdeals WHERE product_id=$newvalue ";
								$pop_city = Mage::getSingleton('core/resource') ->getConnection('core_read')->fetchAll($sql);
								//echo "<pre>";print_r($pop_city);die();
								
								$time_from = strtotime($pop_city[0]['datetime_from']);
								$time_to = strtotime($pop_city[0]['datetime_to']);
								$current_time = Mage::getModel('core/date')->timestamp(time());
								if (($current_time > $time_from) && ($current_time < $time_to))
								{
									
									$pop_url = $popular->getProductUrl()/*.'?city='.urlencode($pop_city[0]['city'])*/;
									?>
									<?php if ($numb == 0)
									{ 
									?>
										<div>
									<?php 
									} 
									?>	
									
									<div class="box2" style="margin-bottom:0;">
							            <div class="boxtop"></div>
							            <div class="boxmid">
							              <p><?php echo substr($popular->getName(), 0 , 64)?>..</p>
							              <img src="<?php echo $this->helper('catalog/image')->init($popular, 'thumbnail')->resize(186,139) ?>" alt="product" />
							              <div class="boxp">
							                <div class="boxreal">Value<br />
							                  <span><?php echo $groupdealsModel->getFormatedPrice($popular, $popular->getPrice(), 'price');?></span></div>
							                <div class="boxreal">Discount<br />
							                  <span><?php $special_percent = ceil(100 - (( 100/$popular->getPrice() ) * $popular->getSpecialPrice() )); echo $special_percent.'%';?></span></div>
							                <div class="boxreal">Save<br />
							                  <span><?php echo "".$groupdealsModel->getFormatedPrice($popular, ($popular->getPrice() -$popular->getSpecialPrice()))."";?></span></div>
							              </div>
							              <div class="boxprice">
							                <div class="left"><?php echo $groupdealsModel->getFormatedPrice($popular, $popular->getSpecialPrice());?></div>
							                <div class="right"><a href="<?php echo $pop_url;?>">View now</a></div>
							              </div>
							            </div>
							            <div class="boxbtm"></div>
							          </div>
									
									<!--<div style="text-align:center; width:229px; display:inline; float:left; <?php if ($numb%3 !=0){echo "margin-left:33px;";} ?>">
											<div style="background-color: #FFFFFF; border: 1px solid #E2E2E2;border-radius: 12px 12px 12px 12px;padding: 7px; margin-right: 10px;">
												<div class="product-details">
								                	<p class="product-name" style="padding-bottom:0px;">
								                		<a class="right-product-name" href="<?php echo $pop_url; ?>">
								                			<?php echo $_helper->productAttribute($popular, $popular->getName(), 'name') ?>
								                		</a>
								                	</p>
								                </div>
								                <a href="<?php echo $pop_url; ?>" class="product-image" >
								                	<img src="<?php echo $this->helper('catalog/image')->init($popular, 'thumbnail')->resize(184,147) ?>" width="184px" height="147px" alt="" />
								                	<img alt="" src="<?php echo $this->getSkinUrl('images/right_img_bg.png'); ?>">
								                </a>
								                <div class="moreinfo-1">
								                 	<table width="186px"  height="38px">
								                 		<tr>
								                 			
								         					<td width="33%" style="text-align:center; font-size:9px; color:#ffffff; padding-top:7px;">
								     							Value</br>
								     							<p style="font-size:15px; font-weight:bold;">
								     								<?php echo $groupdealsModel->getFormatedPrice($popular, $popular->getPrice(), 'price');?>
								     							</p>
								     						</td>
								     						<td width="43%"style="text-align:center; font-size:9px; color:#ffffff; padding-top:7px;">
								     							Discount</br>
								     							<p style="font-size:15px; font-weight:bold;">
								     								<?php $special_percent = ceil(100 - (( 100/$popular->getPrice() ) * $popular->getSpecialPrice() )); echo $special_percent.'%';?>
								     							</p>
															</td>
								     						<td width="33%"style="text-align:center; font-size:9px; color:#ffffff; padding-top:7px;">
								     						    Save</br>
								     						    <p style="font-size:15px; font-weight:bold;">
								     						    	<?php echo "".$groupdealsModel->getFormatedPrice($popular, ($popular->getPrice() -$popular->getSpecialPrice()))."";?>
								     						    </p>
								     						</td>
								         						
								     					</tr>
								     					
								                 	</table>
								                
									             	<table class="popbottom" width="196px">
									             		<tr>
									             			<td id="miniprice" height="34px" width="43%" style="text-align:center; font-size:15px; color:#ffffff; font-weight: bold; padding:3px 0;">
									             				<?php echo $groupdealsModel->getFormatedPrice($popular, $popular->getSpecialPrice());?>
									             			</td>
									             			<td id="miniview" width="50%" style="text-align:center; font-size:15px; font-weight: bold; padding:3px 0;">
									             				<a style="color:#ffffff; text-decoration:none;" href="<?php echo $pop_url; ?>"><?php echo "view" ?></a>
									             			</td>
									             		</tr>
									             	</table>
								             	</div>
											</div>
										</div>-->
										<?php 
										$numb++;
										if ($numb == 3)
										{
										?>
											</div>	
										<?php 
										$numb = 0;
										}?>	
											
						<?php	  
									
								}
							}
						}
						if ($numb != 0)
						{
							echo "</div>";
						}
						?>  			
		  			
		  	</div>
	  </div>
	  
	 <!-- <?php /*if ($_merchant->getStatus()==1): ?>
		<div class="description-box">	
			<?php echo $this->getMerchantDescription(); ?>
			<?php if ($this->getBusinessHours()!=''): ?>
				<h2><?php echo $this->__('Business Hours'); ?></h2>
				<?php echo $this->getBusinessHours(); ?>
			<?php endif; ?>
		</div>
		<div class="information-box">
			<h2><?php echo $this->getMerchantName(); ?></h2>
			<?php if ($_merchant->getMerchantLogo()!=''): ?>
				<div class="logo">
					<img style="width:150px; margin:0px 0 5px;" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$_merchant->getMerchantLogo(); ?>" alt="" />
				</div>
			<?php endif; ?>
			<div class="social-links">
				<?php if ($this->getWebsite()!=''): ?><a href="<?php echo $this->getWebsite(); ?>" target="blank"><?php echo $this->__('Company Website'); ?></a><br/><?php endif; ?>
				<?php if ($this->getFacebook()!=''): ?><a href="<?php echo $this->getFacebook(); ?>" target="blank"><?php echo $this->__('Facebook'); ?></a><br/><?php endif; ?>
				<?php if ($this->getTwitter()!=''): ?><a href="<?php echo $this->getTwitter(); ?>" target="blank"><?php echo $this->__('Twitter'); ?></a><br/><?php endif; ?>
				<?php if ($this->getEmail()!=''): ?><a href="mailto:<?php echo $this->getEmail(); ?>"><?php echo $this->__('Email'); ?></a><br/><?php endif; ?>
				<?php if ($this->getPhone()!=''): ?><b><?php echo $this->__('Phone:'); ?></b> <?php echo $this->getPhone(); ?><br/><?php endif; ?>
				<?php if ($this->getMobile()!=''): ?><b><?php echo $this->__('Mobile:'); ?></b> <?php echo $this->getMobile(); ?><br/><?php endif; ?>
			</div>
			<?php $addressCollection = $this->getAddressCollection($_merchant); $i = 'A'; ?>
			<?php if (count($addressCollection)!=0): ?>
				<div id="map_canvas"></div>
				<a href="" id="view_large" class="map_links" target="blank"><?php echo $this->__('View Larger Map'); ?></a><span style="color:#DDDDDD;"> || </span><a href="" id="get_directions" class="map_links" target="blank"><?php echo $this->__('Get Directions'); ?></a>

				<div class="adress-links">				
					<?php foreach ($addressCollection as $address): ?>
						<div class="adress-box"><div class="number"><?php echo $i; ?></div><a href="javascript:void(0)" style="cursor:hand" onClick="codeAddress('<?php echo $address; ?>', '<?php echo $i; ?>')"><?php echo $address; ?></a></div>
						<?php $i++; ?>
					<?php endforeach; ?>
				</div>
			<?php else: ?>
				<b><?php echo $this->getRedeem(); ?></b>
			<?php endif; ?>
		</div>
	  <?php endif; */?>-->
      <div class="clearer"></div><br/>
      <?php echo $this->getChildHtml('upsell_products') ?>
	<!--  <?php if (Mage::getStoreConfig('groupdeals/configuration/enable_facebook_comments')): ?>
		<div class="facebook-section"><div class="fb-comments" data-href="<?php echo Mage::app()->getStore()->getCurrentUrl(false); ?>" data-num-posts="10" data-width="635" data-height="auto"></div></div>
	  <?php endif; ?>	-->
    </div>
	<?php endif; ?>
</div>
