.groupdeals .product-essential { /*padding:25px 20px 25px 20px;*/ }
.groupdeals .product-essential .product-name h1 { font-size:32px; }

/* View Type: Grid */
.groupdeals-normal-list .products-grid li.item .info .left { float:left; width:198px; }
.groupdeals-normal-list .products-grid .product-image img{ display:block; margin:0 auto; border:2px solid #FFFFFF; }
.groupdeals-category-products .products-grid { border-bottom:0; background:none; position:relative; }
.groupdeals-category-products .products-grid.last { border-bottom:0; }
.groupdeals-category-products .products-grid li.item { float:left; width:48%; border:1px solid #CCCCCC;  box-shadow:1px 2px 3px #CCCCCC; padding:17px 0 15px; margin:0 0 20px 0; background:#F6F6F6;}
.groupdeals-category-products .products-grid li.last { float:right; }
.groupdeals-category-products .products-grid .product-image { display:block; height:auto;  margin:0 0 10px; width:100%; }
.groupdeals-category-products .products-grid .info { padding:0 17px; }
.groupdeals-category-products .products-grid .product-name { min-height:40px; margin:0 0 5px; font-weight:bold; font-size:13px; color:#333; }
.groupdeals-category-products .products-grid .product-name a { color:#333; }
.groupdeals-category-products .products-grid .price-box { margin:5px 0; }
.groupdeals-category-products .products-grid .add-to-section{ height:21px; padding:5px 5px 5px 8px; background:#ebebeb; margin:0 1px 0px 0; float:left; width:184px; }
.groupdeals-category-products .products-grid .box { float:left; margin:1px 0 0 0;  }
.groupdeals-category-products .products-grid .box .box-item{ float:left; width:55px; text-align:center; padding:5px 5px; margin:0 1px 3px 0; background:#ebebeb; height:38px; }

.groupdeals-category-products .products-grid .main-box { float:left; margin:0px 0 0px 0;  }
.groupdeals-category-products .products-grid .main-box .box-item{  padding:0; background:none; font-size:13px; float:none; width:auto; clear:both; text-align:left; }

.groupdeals-category-products .products-grid .timer { float:right; width:192px; padding:0px; text-align:center; }
.groupdeals-category-products .products-grid .box .box-item span{ font-size:12px; }
.groupdeals-category-products .products-grid .box .box-label{ color:#333; margin:0px 0px 0px 0; font-size:12px; font-weight:bold;  }
.groupdeals-category-products .products-grid .box .discount-label{ color:#333; font-size:12px; font-weight:bold;  }
.groupdeals-category-products .products-grid .timer .box-label{ float:none; display:block; color:#666; margin:0px 0px 5px; font-size:14px; font-weight:bold; text-align:center; }

.groupdeals-category-products .products-grid .small-target { float:left; padding:7px 10px; background:#ebebeb; text-align:center; width:76px; height:66px; }
.groupdeals-category-products .products-grid .small-target .target img { margin-bottom:5px; }
.groupdeals-category-products .products-grid .small-target .bought { font-size:20px; padding-top:7px; }
.groupdeals-category-products .products-grid .small-target .upcoming { font-size:31px; }

.groupdeals-category-products .products-grid .availability { line-height:21px; }
.groupdeals-category-products .products-grid .actions { position:static; bottom:0; text-align:right; margin:0px 0 0px; }
.col2-left-layout .groupdeals-category-products .products-grid,
.col2-right-layout .groupdeals-category-products .products-grid { width:auto; margin:0 auto; }
.col1-layout .groupdeals-category-products .products-grid { width:790px; margin:0 auto; }

.groupdeals-category-products .products-grid li.item.main { float:left; width:100%; min-height:0; padding:17px 0;  }
.groupdeals-category-products .products-grid li.item.main .product-image { float:left; width:43%;  margin:0 0 0 17px; }
.groupdeals-category-products .products-grid li.item.main .info { float:right; width:49%; margin:0 17px 0 0px; padding:0; }

.groupdeals-category-products .products-grid li.item.main .box { float:left; margin:2px 0 0px 0; }
.groupdeals-category-products .products-grid li.item.main .box .box-label { width:auto; float:left;  }
.groupdeals-category-products .products-grid li.item.main .box .box-item { padding:0; background:none; font-size:13px; float:none; width:auto; clear:both; text-align:left;height:auto; }
.groupdeals-category-products .products-grid li.item.main .box .box-item span{ font-size:13px; }
.groupdeals-category-products .products-grid li.item.main .timer { float:right; width:192px; padding:0px; margin:0; text-align:center; }
.groupdeals-category-products .products-grid li.item.main .product-name { min-height:0; margin:0 0 5px; font-weight:bold; font-size:18px; color:#333; }
.groupdeals-category-products .products-grid li.item.main .product-name a { color:#333; }
.groupdeals-category-products .products-grid li.main .description { padding-bottom:7px; }
.groupdeals-category-products .products-grid li.item.main .box .box-item .countdown .js_countdown { font-size:22px !important; font-weight:bold; text-align:right; padding-top:5px; }
.groupdeals-category-products .products-grid li.item.main .actions .target { float:left;  }
.groupdeals-category-products .products-grid li.item.main .actions { border-top:2px solid #d4d4d4; padding-top:7px; }

/* View Type: Grid 2 */
.groupdeals-detailed-list .products-grid { border-bottom:0; background:none; position:relative; }
.groupdeals-detailed-list .products-grid.last { border-bottom:0; }
.groupdeals-detailed-list .products-grid li.item { float:left; width:48%; border:1px solid #CCCCCC;  box-shadow:1px 2px 3px #CCCCCC; padding:17px 0 15px; margin:0 0 20px 0; background:url("../../images/bkg_product-view.gif") no-repeat scroll 100% 0 #FFFFFF;}
.groupdeals-detailed-list .products-grid .product-image { display:block; height:auto;  margin:0 0 10px; width:406px; }
.groupdeals-detailed-list .products-grid .product-name { padding:0px 17px; font-size:20px; }
.groupdeals-detailed-list .products-grid li.item { float:left; width:100%; min-height:0; padding:17px 0; }
.groupdeals-detailed-list .products-grid li.item .info { float:left; width:214px !important; }
.groupdeals-detailed-list .products-grid li.item .info .add-to-box{ background:#CBECF5; color:#333333; border:1px solid #45CFF5; margin:10px 0px 10px 0px; padding-bottom:5px; }
.groupdeals-detailed-list .products-grid li.item .info .add-to-box .buy{ background:url(../images/price_tag.png) no-repeat; width:278px; height:92px; margin:-3px 0 -5px -65px; }
.groupdeals-detailed-list .products-grid li.item .info .add-to-box .buy .special-price{ color:#FFFFFF; font-weight:normal; float:left; margin:11px 0 0 52px; font-size:32px; position:absolute; }
.groupdeals-detailed-list .products-grid li.item .info .add-to-box .buy .add-to-cart{ float:right; margin:7px 7px 0 0; background:none; padding:0px; border:0px; }
.groupdeals-detailed-list .products-grid li.item .info .add-to-box .buy .add-to-cart button.button-groupdeals span{ padding:0px; border:0px; margin:2px 5px 0px 0px; background:url(../images/buy.png) no-repeat; width:100px; height:60px;  }
.groupdeals-detailed-list .products-grid li.item .info .add-to-box .buy .add-to-cart button.disabled span{ background:url(../images/buy_disabled.png) no-repeat !important; }
.groupdeals-detailed-list .products-grid li.item .info .add-to-box .buy .add-to-cart button.button-groupdeals span span{ display:none; }
.groupdeals-detailed-list .products-grid li.item .info .add-to-box .box{ float:left; text-align:center; font-weight:bold; font-size:16px; width:70px;}
.groupdeals-detailed-list .products-grid li.item .info .add-to-box .box small{ font-size:12px; }
.groupdeals-detailed-list .products-grid li.item .count-box { background:#F6F6F6; border:1px solid #DDDDDD; text-align:center; font-weight:bold; padding:2px 0px 0px 0px; margin:0px 0px 10px 0px; }
.groupdeals-detailed-list .products-grid li.item .count-box .countdown { padding-top:2px; }
.groupdeals-detailed-list .products-grid li.item .count-box .js_countdown { font-size:20px; padding-bottom:5px; }
.groupdeals-detailed-list .products-grid li.item .product-img-box { float:right; width:410px !important; margin:7px 17px 10px 0; }
.groupdeals-detailed-list .products-grid .progress_bar { background:#F6F6F6; padding:5px 5px 5px 7px; width:200px; border:1px solid #DDDDDD; text-align:center; font-weight:bold; margin:0px 0px 10px 0px;}
.groupdeals-detailed-list .products-grid .progress_bar  h1{ font-size:20px; font-weight:bold; margin-bottom:15px; color:#333333; }
.groupdeals-detailed-list .products-grid .progress_bar  .qtys { float:left; width:100%; margin:0px 0px 10px 0px; font-size:16px; }
.groupdeals-detailed-list .products-grid .progress_bar  .cross-check { text-align:center; height:42px; font-size:16px; margin:-5px 0px 5px -5px; }
.groupdeals-detailed-list .products-grid .progress_bar  .cross-check img { vertical-align:middle; }
.groupdeals-detailed-list .products-grid .progress_bar  i { font-weight:normal; }
.groupdeals-detailed-list .products-grid .progress_bar .progress_bar_marker { width:197px; text-align:left; margin:0px 0px -8px 0px; }
.groupdeals-detailed-list .products-grid .progress_bar .progress_bar_bottom { background:url(../images/progress_bar_bottom.png) no-repeat; padding:3px 0px 0px 4px; width:197px; height:13px; }
.groupdeals-detailed-list .products-grid .progress_bar .progress_bar_top { background:url(../images/progress_bar_top.png) no-repeat left; height:7px; }


/* Product Shop */
button.button-groupdeals::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button-groupdeals { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button-groupdeals { overflow:visible; width:100%; border:0; padding:0; margin:0; background:transparent; cursor:pointer; /*background:url(../images/buynowleft.png) no-repeat scroll top left transparent;*/ height:76px;}
button.button-groupdeals span { display:block; height:19px; border:1px solid #de5400; background:#f18200; padding:0 8px; font:bold 12px/19px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; }
button.button-groupdeals span span { border:0; padding:0; }

.product-shop-left{width:214px !important;display:inline; float:left;  padding-right:5px; padding-top:10px;  background: url("../images/dealleftbg.jpg") repeat-y scroll right top transparent;}
.groupdeals .product-shop { float:left; width:100%; background: url("../images/rightbg.gif") repeat-x scroll left top #2B3238; color:#ffffff;/*background-color:#282e34;*/ padding:0px 20px 0px 20px;margin-left:-20px;/*width:214px !important;*/ }
.groupdeals .product-shop .add-to-box{ /*background:#CBECF5;*/ color:#333333; /*border:1px solid #45CFF5; margin:10px 0px 0px 0px;*/ width:214px !important; display:inline; float:left; margin-left:-20px;}
.groupdeals .product-shop .add-to-box .buy{ /*background:url(../images/buy_now_bg.png) no-repeat;*/ width:278px; height:92px; margin:-3px 0 -5px 0px; }
.groupdeals .product-shop .add-to-box .buy .special-price{ color:#FFFFFF; font-weight:normal; float:left; margin:11px 0 0 52px; font-size:32px; position:absolute; }
.groupdeals .product-shop .add-to-box .buy .add-to-cart{ /*margin:7px 7px 0 0; */background:none; padding:0; border:0px; width:300px; margin-left:-16px; height:76px;}
.groupdeals .product-shop .add-to-box .buy .add-to-cart button.button-groupdeals span{ padding:0px; border:0px; margin:2px 5px 0px 0px; background:url(../images/buynowleft.png) no-repeat scroll top left transparent; width:232px; height:76px;  }
.groupdeals .product-shop .add-to-box .buy .add-to-cart button.disabled span{ /*background:url(../images/buy_disabled.png) no-repeat !important; */}
.groupdeals .product-shop .add-to-box .buy .add-to-cart button.button-groupdeals span span
{
font-family: ZurichBT-BoldCondensed; line-height: 57px; font-size:40px; font-weight:bold; text-shadow:1px 1px 1px #333333; margin-top:0px; padding-left:20px;background:url(../images/butnowbg.jpg) repeat-x top;

}
.groupdeals .product-shop .add-to-box .buy .add-to-cart button.button-groupdeals:hover span span{
	color:#2c3239;
}

.groupdeals .product-shop .add-to-box .box{ float:left; text-align:center; font-weight:bold; font-size:16px; width:33%; color:#ffffff; margin-top:-18px; }
#value-discount .box{background: url("../images/discountlibg.jpg") no-repeat scroll left top transparent; height:50px; background-color:#3F484E;}
.groupdeals .product-shop .add-to-box .box small{ font-size:12px; }
.groupdeals .product-shop .product-options p.required{ display:none; }
.groupdeals .product-shop .product-options { margin:0px 0px 10px 0px; }
.groupdeals .product-shop .give-as-gift { margin:10px 0 0px; background:#43bfde; text-align:center; padding:5px 0; }
.groupdeals .product-shop .give-as-gift a{ background:url(../images/icon_gift.png) left center no-repeat; display:inline-block; height:37px; line-height:37px; font-weight:bold; color:#fff; padding:0px 0px 0px 37px; font-size:18px; text-decoration:none; }
.groupdeals .product-shop .give-as-gift a:hover{ text-decoration:underline; }
.groupdeals .product-shop .count-box { background:url(../images/timerulbg.jpg) repeat-x; text-align:center; font-weight:bold; padding:2px 0px 0px 0px; margin:0px 0px 0px -20px; height:69px; }
.groupdeals .product-shop .count-box .countdown { padding-top:2px; }
.groupdeals .product-shop .count-box .js_countdown { /*font-size:36px; padding-bottom:5px; font-family: arial;*/
color: #FFFFFF;
    display: inline;
  font-family: ZurichBT-Roman;
    
    font-size: 36px;
    line-height: 40px;
    list-style: none outside none;
  
    text-align: center;
    width: 44px;

}
.groupdeals .product-shop .progress_bar {background: url("../images/dealsoldbg.jpg") repeat-x scroll left top transparent; color:#ffffff; text-align:center; width:236px; padding-top:6px; !important;display:inline; float:left; /*background:#F6F6F6; padding:5px 5px 5px 7px; width:200px; border:1px solid #DDDDDD; text-align:center; font-weight:bold; margin:0px 0px 10px 0px;*/}
.groupdeals .product-shop .progress_bar  h1{ 
 color: #FFFFFF;
    font-family: ZurichBTBold;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;

/*font-size:20px; font-weight:bold; margin-bottom:15px; color:#ffffff;*/ }
.groupdeals .product-shop .progress_bar  .qtys { float:left; width:100%; margin:0px 0px 10px 0px; font-size:16px; }
.groupdeals .product-shop .progress_bar  .cross-check { /*background: url("../images/deal_on_bg.png") no-repeat scroll 0 0 transparent;*/
text-align:center; 
font-size:18px; 

color:#ffffff; 
    font-family: ZurichBT-Roman;
    font-size: 15px;
    padding: 20px 0 0;
    text-transform: none;}
.groupdeals .product-shop .progress_bar  .cross-check img { vertical-align:middle; margin-top:-5px;}
.groupdeals .product-shop .progress_bar  i { font-weight:normal; display:none;}
.groupdeals .product-shop .progress_bar .progress_bar_marker { width:197px; text-align:left; margin:0px 0px -8px 0px; }
.groupdeals .product-shop .progress_bar .progress_bar_bottom { background:url(../images/progress_bar_bottom.png) no-repeat; padding:3px 0px 0px 4px; width:197px; height:13px; }
.groupdeals .product-shop .progress_bar .progress_bar_top { background:url(../images/progress_bar_top.png) no-repeat left; height:7px; }
.groupdeals .product-shop .share-box { background:#F6F6F6; border:1px solid #DDDDDD; padding:5px; margin:0px 0px 10px 0px;}
.groupdeals .product-shop .share-box b{ margin:0px 2px 5px 0px; color: #333333; font-size: 20px; font-weight: bold; text-align:center; display:block; }
.groupdeals .product-shop .share-box div { display:block; }
.groupdeals .product-shop .share-box div.facebook { float:left; margin:0 0 0 15px; }
.groupdeals .product-shop .share-box div.twitter { float:left; margin:0 10px 0 0; }
.groupdeals .product-shop .share-box div.google { float:left; margin:2px 0px 0 2px; }
.groupdeals .product-shop .share-box div.share-this { display:block; clear:both; padding:10px 0 0 0; }
.groupdeals .product-shop .share-box div.share-this .addthis_toolbox { float:left; margin:0 10px 0 10px; }
.groupdeals .product-shop .share-box div.share-this a { text-decoration:none; }
.groupdeals .product-shop .no-rating { text-decoration:none; text-align:center; }

/* Product Images */
.groupdeals .product-img-box {  padding-top:20px; /*width:480px !important;*/  position:relative; }
.groupdeals .product-img-box .product-image { margin:0; padding:0px; border:2px solid #DDDDDD; width:406px; margin-bottom:5px; }
.groupdeals .product-img-box .zoom-notice { font-size:11px; margin:0 0 5px; text-align:center; }
.groupdeals .product-img-box .details-box { width:47%; padding:10px 0px 0px 0px; }
.groupdeals .product-img-box .details-box ul{ list-style-type:disc !important; margin-left:14px; } 
.groupdeals .product-img-box .details-box ol{ list-style-type:decimal !important; margin-left:14px; } 
.groupdeals .product-img-box .details-box h3 { color:#333333; }

.groupdeals .product-img-box #container {	width:496px;margin:0 auto;	position:relative;z-index:0; min-height:260px; display:block;}
.groupdeals .product-img-box #slides-data {width:496px;position:relative;}
.groupdeals .product-img-box #slides {position:absolute;left:0px;z-index:100;}
.groupdeals .product-img-box .slides_container {width:496px;overflow:hidden;	position:relative;display:none;}
.groupdeals .product-img-box #slides .slide {width:496px;height:409px;display:block;}
.groupdeals .product-img-box #slides .prev {display:none;	position:absolute;top:120px;left:0px;width:24px;height:43px;/*display:block;*/z-index:101;}
.groupdeals .product-img-box #slides .next {display:none;	position:absolute;top:120px;right:0px;width:24px;height:43px;/*display:block;*/z-index:101;}
.groupdeals .product-img-box .pagination {/*margin:10px auto 0;*/float:right; margin-top:-30px; z-index:1000; margin-left:430px;	width:60px; position:absolute;}
.groupdeals .product-img-box .pagination li {display:inline;margin:0 1px;list-style:none; z-index:1000;}
.groupdeals .product-img-box .pagination li a {width:12px;height:0;padding-top:12px; background:url(../images/bannerinactive.png) no-repeat; float:left;overflow:hidden; z-index:1000;}
.groupdeals .product-img-box .pagination li.current a { background:url(../images/banneractive.png) no-repeat;}

/* Product Colateral */
.groupdeals  .product-collateral { padding:0px 0 25px 0; }
.groupdeals  .product-collateral h2 { font-weight:bold; font-size:15px; /*color:#e26703;*/ border-bottom:1px solid #e5dcc3; padding:0 0 1px; margin:0 0 10px; }
.groupdeals  .product-collateral .description-box { float:left; width:400px; }
.groupdeals  .product-collateral .description-box h2 { color:#333333; font-size:13px; }
.groupdeals  .product-collateral .information-box { float:right; width:200px; }
.groupdeals  .product-collateral .information-box .social-links{ padding:0px 0px 10px 0px;  }
.groupdeals  .product-collateral .information-box .social-links a{ color:#2F2F2F; text-decoration:none; background:url(../images/about-button.png) left center no-repeat; padding:0px 0px 0px 10px; }
.groupdeals  .product-collateral .information-box .social-links a:hover{ text-decoration:underline; }
.groupdeals  .product-collateral .information-box #map_canvas { width:200px; height:200px; border:2px solid #DDDDDD; }
.groupdeals  .product-collateral .information-box .map_links { font-size:80%; }
.groupdeals  .product-collateral .information-box .adress-links { padding:10px 0px 0px 0px; }
.groupdeals  .product-collateral .information-box .adress-links .adress-box{ padding:0px 0px 5px 20px; float:left; width:180px; }
.groupdeals  .product-collateral .information-box .adress-links .adress-box a{ text-decoration:none; color:#2F2F2F;  }
.groupdeals  .product-collateral .information-box .adress-links .adress-box a:hover{ text-decoration:underline; }
.groupdeals  .product-collateral .information-box .adress-links .adress-box .number{ float:left; font-style:italic; margin:2px 0px 0px -20px; background:url(../images/marker-small.png) no-repeat; font-size:8px; width:14px; height:14px; color:#fff; text-align:center; position:absolute; }
.groupdeals .product-collateral .facebook-section {padding:20px 0 0; border-top:1px solid #E5DCC3; }

/* Group Deals List */
.target-box {  padding:0; margin:0 !important; width:130px; color:#333; float:right; }
.target-green { color:#009900; font-weight:bold; text-transform:uppercase; }
.target-red { color:#BF0000; font-weight:bold; text-transform:uppercase; }

/* Header Pop Up */
.white_content_groupdeals { position:absolute;	top:25%; left:25%; width:50%; min-height:300px ; padding:10px 7px 20px 20px; background:#fff; -moz-border-radius:10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; border: 10px solid #fff; z-index:1002;	overflow: auto;	text-align:left; }	
.white_content_groupdeals .close a{color:#333; font-weight:normal; font-size:10px; font-family:Arial; float:right; display:block; padding:0px 0px; margin:-10px 0 0 0; }
.white_content_groupdeals .titles{font-size:18px; font-weight:normal; color:#333; float:left; width:90%; font-family: Arial; }
.white_content_groupdeals .titles h1{font-size:18px; font-weight:bold; color:#333; float:left; margin:2px 10px 0px 0px;}
.white_content_groupdeals .titles ul{font-size:18px; font-weight:normal; color:#fff; float:left; }
.white_content_groupdeals .titles ul li{ cursor:pointer; padding:0px 10px; float:left; }
.white_content_groupdeals .titles ul li.tab_hover{ color:#fff; background:#333333; }
.white_content_groupdeals .titles ul li.tab_hover a { color:#fff; }
.white_content_groupdeals .states{ float:left; width:90%; margin:10px 0px 0px 0px; padding:0px 15px 0 0; }
	
.white_content_groupdeals ul {float:left; }
.white_content_groupdeals ul li{display:block; padding:1px 0px 1px 5px; color:#333; }
.white_content_groupdeals .states ul li{font-weight:normal; width:160px; }
.white_content_groupdeals ul li a{color:#333; text-decoration:none; padding:0px 5px; font-family:Arial; display:block; }
.white_content_groupdeals ul li:hover { background:#444; color:#fff;}	
.white_content_groupdeals ul li.city_tab_hover { background:#333333; color:#666;}
.white_content_groupdeals ul li.city_tab_hover a{ color:#fff;}
.white_content_groupdeals ul li:hover a{ color:#fff;}
.white_content_groupdeals ul li.main-city{font-size:1.6em; font-weight:normal; color:#333; padding:0px; font-family: Arial; background:none; }

/* Embed */
.embed{ width:650px; }

/* Subscribe Add */
.block-subscribe-add{background:url(../images/merchant_subscribe_add.jpg) no-repeat; height:81px; border:0; padding:10px 13px 10px 13px; text-align:left; cursor:pointer;}
.block-subscribe-add h1{ font-size:17px; font-family:Arial; color:#666; font-weight:600; } 
.block-subscribe-add p{ font-size:11px; } 

/* Subscribe Pop-up */
.groupdeals-popup-subscribe-bg { position:fixed; width:100%; height:100%; background:url(../images/pop-up-bg.png) repeat; z-index:1001; left:0;  }	
.groupdeals-popup-subscribe-content { position:fixed; width:100%; height:100%; z-index:1002;	overflow: auto;	text-align:left; left:0; }	 
.groupdeals-popup-subscribe-content .close{ font-size:11px; float:left; margin:10px 0 0; text-decoration:underline; cursor:pointer; }	 
.groupdeals-popup-subscribe-content .close:hover{ text-decoration:none; }	 
.groupdeals-popup-subscribe-content .title{  color:#000; font-size:10px; }	 
.groupdeals-popup-subscribe-content .title h1{ font-family:Impact, Verdana, Arial; font-size:19px; color:#333; text-transform:uppercase; }	  
.groupdeals-popup-subscribe-content .content{ width:1000px; margin:100px auto 0; -moz-border-radius:10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; }	  
.groupdeals-popup-subscribe-content .content .form-list { margin:20px 0 0px; }
.groupdeals-popup-subscribe-content .content .form-list li { margin:0 0 25px; }
.groupdeals-popup-subscribe-content .content .form-list label { color:#161616; }
.groupdeals-popup-subscribe-content .content .form-list .input-box { display:block; clear:both; width:200px; }
.groupdeals-popup-subscribe-content .content .form-list .field { float:left; width:200px; }
.groupdeals-popup-subscribe-content .content .form-list input.input-text { width:194px; border:1px solid #dae5e5; background:#f5f5f5; }
.groupdeals-popup-subscribe-content .content .form-list select { width:200px; border:1px solid #dae5e5; background:#f5f5f5; }
.groupdeals-popup-subscribe-content .content .actions { text-align:right; }
.groupdeals-popup-subscribe-content .content .actions button.button span { background:url(../images/subscribe_button.png) no-repeat; padding:0; margin:0; height:28px; border:0; margin:0px 0px 0px 10px; width:73px; }
.groupdeals-popup-subscribe-content .content .actions button.button span span { /*display:none; */}

/* Give as Gift Pop-up */ 
.groupdeals-popup-gift-bg { position:fixed; width:100%; height:100%; background:url(../images/pop-up-bg.png) repeat; z-index:1001; left:0; }	
.groupdeals-popup-gift-content { position:fixed; width:100%; height:100%; z-index:1002;	overflow: auto;	text-align:left; left:0; }	 
.groupdeals-popup-gift-content .close{ font-size:11px; float:none; margin:10px 0 0; text-decoration:underline; cursor:pointer; }	 
.groupdeals-popup-gift-content .close:hover{ text-decoration:none; }	 
.groupdeals-popup-gift-content .title{  color:#000; font-size:10px; }	 
.groupdeals-popup-gift-content .title h1{ font-family:Impact, Verdana, Arial; font-size:19px; color:#333; text-transform:uppercase; }
	  
.groupdeals-popup-gift-content .content{ width:450px; padding:25px; margin:200px auto 0;  background:#fff; -moz-border-radius:10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; border: 10px solid #fff; }	  
.groupdeals-popup-gift-content .content .form-list { margin:20px 0 0px; position:relative; /margin:-10px 0 0; /display:block;}
.groupdeals-popup-gift-content .content .form-list li { margin:0 0 5px;  }
.groupdeals-popup-gift-content .content .form-list label { color:#161616; }
.groupdeals-popup-gift-content .content .form-list .input-box { display:block; clear:both; width:200px; }
.groupdeals-popup-gift-content .content .form-list .field { float:left; width:200px; }
.groupdeals-popup-gift-content .content .form-list input.input-text { width:194px; border:1px solid #dae5e5; background:#f5f5f5; }
.groupdeals-popup-gift-content .content .form-list select { width:200px; border:1px solid #dae5e5; background:#f5f5f5; }
.groupdeals-popup-gift-content .content .form-list .radio label{ margin:2px 0 0 0; }
.groupdeals-popup-gift-content .content .form-list  label small{ font-size:10px; }
.groupdeals-popup-gift-content .content .form-list .radio .input-box{ width:auto; float:left;  }
.groupdeals-popup-gift-content .content .form-list .radio .input-box input.input-text{ width:auto; margin:0px 5px 0 0; }
.groupdeals-popup-gift-content .content .form-list .wide{ position:absolute; right:6px; top:0; /top:20px; }
.groupdeals-popup-gift-content .content .form-list .wide textarea{ width:200px; height:110px; border:1px solid #dae5e5; background:#f5f5f5; }
.groupdeals-popup-gift-content .content .actions { text-align:right; }
.groupdeals-popup-gift-content .content .actions span{ font-size:11px; }

/* Groupdeals Related Block */
.groupdeals-block-related .info{float:left; margin:10px 0 0 0; text-align:left; width:100%;}
.groupdeals-block-related .info .special-price{float:left;}
.groupdeals-block-related .info .button{float:right;}

#price-box{
	/*background: url("../images/price_bg.png") no-repeat scroll 0 0 transparent;*/
	width:237px;
	height:72px;
	font:38px/70px 'Ultra';
	font-weight:bold;
	color:#f98409;	
	background-color:#232a30;
	
	
	
}
#price-box span{
	background: url("../images/valuebg.jpg") repeat-x scroll left top transparent;
    color: #F98409;
    float: left;
    font-family: ZurichBTBold;
    font-size: 56px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    width: 238px;
}

#value-discount{
	/*background: url("../images/deal_price_bg_left.png") no-repeat scroll 0 0 transparent;*/
	/*background-color:#3f484e;*/
	width:237px;
	height:55px;
	margin-top:25px;
	
	
	
}
.count-box{
	width:237px;
	/*background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #DDDDDD;
    #F6F6F6
    #333333
    */
	padding:14px 7px 5px 5px;
	
	
}



#newbar{
	background: url("../images/deal_sold_bg.png") no-repeat scroll 0 0 transparent;
}


.tabs{
	color:#ffffff;
	/*font:16px/40px 'Ultra';*/
	font-family: ZurichBTBold;
    font-size: 15px;
    font-weight: normal;
text-transform: uppercase;
	height:42px;
line-height: 42px;
	text-align:center;
	cursor:pointer !important;
	background: url("../images/tab_idle1.png") no-repeat scroll 0 0px transparent;
	background-size:100% 100%;
	
	
}

.tabs:hover{
	color:#3f3e3e !important;
	background: url("../images/tab_hov.png") no-repeat scroll 0 0 transparent !important;
	background-size:100% 100% !important;
}

#tabinfo{

background-color:#ffffff;
border-radius:5px;

color:#3f484e;
display:inline;
float:left;

}
.image_gal{
	display:inline;
	float:right;
	
	
}

.image_gal table tr td{
	padding-bottom:10px;
	
}
.image_gal table tr td img{
border:thin solid #e2e6ef;
border-radius:5px;
}
.product_tabs{
	display:block;
	overflow:hidden;
	background-color:#ffffff;
	margin-top:-12px;
	padding:10px;
}

.populardeals{
	width:754px !important;
	
}
.bx-prev{
text-decoration:none;
color:#4d556a;
	float:left;
}
.bx-next{
text-decoration:none;
color:#4d556a;
	float:right;
}

.tab_header{

	height:48px;
	width:734px;
	padding-top:16px;
	padding-left:10px;
	background: url("../images/tab_header.png") no-repeat scroll 0 0 transparent;
}

.choose {
	 background: none repeat scroll 0 0 #000000;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 0 0 3px 6px;
    padding: 7px 7px 4px;
    width: 206px;
    
}

.choose select { border: 0 none; color: #4E5458; float: left; font-family: ZurichBTBold; font-size: 10px; height: 20px; margin: 0px 0 3px 0px; padding:3px 5px; text-transform: uppercase; width: 205px; }
.choose select option { text-transform:uppercase; color:#4e5458; font-family:ZurichBTBold; font-size:10px; padding: 2px; height:22px; }
#slides a.prev{display:none}
#slides a.next{display:none}

