<?php
/**
 * WDCA - Sweet Tooth
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the WDCA SWEET TOOTH POINTS AND REWARDS 
 * License, which extends the Open Software License (OSL 3.0).
 * The Sweet Tooth License is available at this URL: 
 *      http://www.wdca.ca/solutions_page_sweettooth/Sweet_Tooth_License.php
 * The Open Software License is available at this URL: 
 *      http://opensource.org/licenses/osl-3.0.php
 * 
 * DISCLAIMER
 * 
 * By adding to, editing, or in any way modifying this code, WDCA is 
 * not held liable for any inconsistencies or abnormalities in the 
 * behaviour of this code. 
 * By adding to, editing, or in any way modifying this code, the Licensee
 * terminates any agreement of support offered by WDCA, outlined in the 
 * provided Sweet Tooth License. 
 * Upon discovery of modified code in the process of support, the Licensee 
 * is still held accountable for any and all billable time WDCA spent 
 * during the support process.
 * WDCA does not guarantee compatibility with any other framework extension. 
 * WDCA is not responsbile for any inconsistencies or abnormalities in the
 * behaviour of this code if caused by other framework extension.
 * If you did not receive a copy of the license, please send an email to 
 * contact@wdca.ca or call 1-888-699-WDCA(9322), so we can send you a copy 
 * immediately.
 * 
 * @category   [TBT]
 * @package    [TBT_Rewards]
 * @copyright  Copyright (c) 2009 Web Development Canada (http://www.wdca.ca)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/**
 * Checkout Rewards Discount
 *
 * @category   TBT
 * @package    TBT_Rewards
 * @author     WDCA Sweet Tooth Team <contact@wdca.ca>
 */
?>
<tr>
    <td style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right cart-points-total_item_discounts" colspan="<?php echo $this->getColspan(); ?>" id="item_discounts_td">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?>
            <span class="rendering_area">
            <?php endif; ?>
            <?php echo $this->getTotal()->getTitle() ?>
            <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?>
            </span>
        <?php endif; ?>
    </td>
    <td style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right cart-points-total_item_discounts">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?>
            <span class="rendering_area">
            <?php endif; ?>
            <?php echo $this->helper('checkout')->formatPrice($this->getRewardDiscountDisplay()) ?>
            <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?>
            </span>
        <?php endif; ?>
    </td>
</tr>