<?php
/* import setting from backend */
$disptype=Mage::getStoreConfig('adodis_featuredproducts/adodis_general/adodis_featuredproducts_display_type');
$carouselheight=Mage::getStoreConfig('adodis_featuredproducts/adodis_carousel/adodis_featuredproduct_carousel_product_image_size_height');
$carouselwidth=Mage::getStoreConfig('adodis_featuredproducts/adodis_carousel/adodis_featuredproduct_carousel_product_image_size_width');
$carousel_autoscroll=Mage::getStoreConfig('adodis_featuredproducts/adodis_carousel/adodis_featuredproduct_carousel_auto_scroll');
$carousel_tot_product=Mage::getStoreConfig('adodis_featuredproducts/adodis_carousel/adodis_featuredproduct_carousel_product_number');
$carousel_wrap=Mage::getStoreConfig('adodis_featuredproducts/adodis_carousel/adodis_featuredproduct_carousel_wrap');
$carousel_animation=Mage::getStoreConfig('adodis_featuredproducts/adodis_carousel/adodis_featuredproduct_carousel_animation_speed');
$varticalcarouselshow=Mage::getStoreConfig('adodis_featuredproducts/adodis_carousel/adodis_featuredproduct_carousel_vertical');
$carousel_visibility=Mage::getStoreConfig('adodis_featuredproducts/adodis_carousel/adodis_featuredproduct_carousel_product_visibility');
$carousel_horizontal_outerheight=Mage::getStoreConfig('adodis_featuredproducts/adodis_carousel/adodis_featuredproduct_carousel_outer_height');
$carousel_vertical_height=Mage::getStoreConfig('adodis_featuredproducts/adodis_carousel/adodis_featuredproduct_carousel_vertical_height');
$carousel_vertical_height_clip=Mage::getStoreConfig('adodis_featuredproducts/adodis_carousel/adodis_featuredproduct_carousel_vertical_clip_height');
$block_product_image_width=Mage::getStoreConfig('adodis_featuredproducts/adodis_block/adodis_featuredproduct_block_product_image_size_width');
$block_product_image_height=Mage::getStoreConfig('adodis_featuredproducts/adodis_block/adodis_featuredproduct_block_product_image_size_height');
$block_product_per_row=Mage::getStoreConfig('adodis_featuredproducts/adodis_block/adodis_featuredproduct_block_product_column_number');
$featured_enable_disable=Mage::getStoreConfig('adodis_featuredproducts/adodis_general/adodis_featuredproduct_enable');
?>
<?php if($featured_enable_disable==1){ ?>

  <section id="featured_wrap">
  <article class="featured_top">
  <h1><?php echo $this->__('our Featured') ?> <span><?php echo $this->__('Items') ?></span></h1>
  </article>
  <section class="feature_con">
  <article class="slider_details2">
  <ul class="feature_slider">
  
  
 
<?php if($disptype=='carousel'){?>

<?php $_products = $this->getProductCollection(); ?>
 <?php 
 $i=0; $ik=0; foreach ($_products->getItems() as $_product): 
 $i++;
 $ik++;
 if($i<= $carousel_tot_product)
 {
 ?> 

  <li class="feature_box">
  <article class="feature_img">
  <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
  <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($carouselwidth,$carouselheight) ?>" width="<?php echo $carouselwidth; ?>" height="<?php echo $carouselheight; ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
  </a>
  </article>
  <article class="feature_text_box">
  <div class="p_title">
  <?php 
  $pname =  $this->htmlEscape($_product->getName());
  	$pname = trim(strip_tags($pname));
		$word_limit = 65;
   		 if (strlen($pname) > $word_limit) {
     		 $pname = substr($pname, 0, strrpos(substr($pname, 0, $word_limit), ' '));
   		 }
   		 ?>
  <p>
 <?php echo $pname ?></p>
  </div>
  <section class="pro_price1">
 <?php echo $this->getPriceHtml($_product, true, '-new') ?>  
 
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('free_delivery_icon')->toHtml() ?>
        
 
   <?php if($_product->isSaleable()): ?>
      <a  class="btn-addtocart" title="<?php echo $this->__('Add to Cart') ?>"  onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><img src="<?php echo $this->getSkinUrl('images/plus_icon.png'); ?>" ><?php echo $this->__('Add to Cart') ?></span></a>
    <?php endif; ?>
  
  </section>
  </article>
  </li> 
  <?php if ($i==$carousel_visibility &&  count($_products)> $ik ) { ?>
  </ul>
  <ul class="feature_slider">
  <?php } ?>
<?php } 
endforeach; ?>
 </ul>
  </article>
  <article id="previmg2">
  </article>
  <article id="nextimg2">
  </article>
  </section>
  </section>
  <!--featured_wrap-->
<?php } ?>
<?php if($disptype=='block'){?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<?php $_columnCount = $block_product_per_row; ?>
    <?php $i=0; foreach ($_products->getItems() as $_product): ?>
        <?php if ($i++%$_columnCount==0  ): ?>
              <ul class="products-grid">
               <?php endif ;?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($block_product_image_width,$block_product_image_height) ?>" width="<?php echo $block_product_image_width; ?>" height="<?php echo $block_product_image_height; ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
                <div class="align-prodname-price-review">
		                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h3>
		                <?php echo $this->getPriceHtml($_product, true, '-new') ?>
		                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
		         </div>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==count($_products)): ?>
        </ul>
        <?php endif ?>
    <?php endforeach; ?>
<?php endif; ?>
<?php }?>
<?php } ?>