<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<?php $_columnCount = $this->getColumnCount(); ?>
   <article class="slider_details3"> 
	<?php $i=0; foreach ($_products->getItems() as $_product): 
	//print_r($_product->getAttributeSetId());
	//if($_product->getStoreId()=='10')
	//if($_product->getAttributeSetId()=='4')
	//{	
	?>
        <?php if ($i++%$_columnCount==0): ?>
        <section class="products-grid tab_slider">
        <?php endif ; ?>
            <section class="product item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <article>
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="feature_img">
                	<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(166,123) ?>" width="166" height="123" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
                </a>
                </article>
                <img alt="Buy Koala" src="<?php echo $this->getSkinUrl();?>images/shad_bg1.gif">
            
                <article class="feature_text_box">
	                 
	                  <div class="p_title">
  					<?php 
  				$pname =  $this->htmlEscape($_product->getName());
  				$pname = trim(strip_tags($pname));
				$word_limit = 65;
   				 if (strlen($pname) > $word_limit) {
     				 $pname = substr($pname, 0, strrpos(substr($pname, 0, $word_limit), ' '));
   				 }
   			 ?>
 	 	<p> <?php echo $pname ?></p>
 			 </div>
                    <section class="pro_price1">
                        <?php echo $this->getPriceHtml($_product, true, '-new') ?>
                  
				
     				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('free_delivery_icon')->toHtml() ?>
     			               
                    <?php if($_product->isSaleable()): ?>
                        
                        <a  class="btn-addtocart" title="<?php echo $this->__('Add to Cart') ?>"  onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><img src="<?php echo $this->getSkinUrl('images/plus_icon.png'); ?>" ><?php echo $this->__('Add to Cart') ?></span></a>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                   </section> 
                   
                </article>
            </section>
        <?php if ($i%$_columnCount==0 || $i==count($_products)): ?>
        </section>
        <?php endif ?>
    <?php //} 
    endforeach; ?>
 </article>
 <article id="previmg3"></article>
<article id="nextimg3"></article>   
<?php endif; ?>
