<?php
    $_productCollection=$this->getLoadedProductCollection();
	//print_r($_productCollection);
    //$_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
<?php else: ?>
    <?php // List mode ?>
<?php $_iterator = 0; ?>
<ul class="product_of_the_day">
    <?php foreach ($_productCollection as $_product): ?>
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
            <?php // Product Image ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
            <?php // Product description ?>
            <div class="product-shop">
                <div class="f-fix">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); 
                    
                     
		$prodname = trim(strip_tags($_productNameStripped));
		$limit = 65;
   		 if (strlen($prodname) > $limit) {
     		 $prodname = substr($prodname, 0, strrpos(substr($prodname, 0, $limit), ' '));
   		 } ?>
 	
                
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $prodname;?></a></h2>
                    <?php if($_product->getRatingSummary()): ?>
                    <?php echo $this->getReviewsSummaryHtml($_product) ?>
                    <?php endif; ?>
                    <?php echo $this->getPriceHtml($_product, true) ?>
                    <?php if($_product->isSaleable()): ?>
                    <a class="btn-addtocart"  title="<?php echo $this->__('Add to Cart') ?>"  onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><img src="<?php echo $this->getSkinUrl('images/plus_icon.png'); ?>" ><?php echo $this->__('Add to Cart') ?></span></a>
                    <?php /*?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                      <?php */?>
                   
                    <?php else: ?>
                        <div class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></div>
                    <?php endif; ?>
                    <?php /*?>
                    <div class="desc std">
                        <?php //echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                    </div>
                
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul><?php */?>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
</ul>    
<?php endif; ?>