<!--@subject New Deal Available in {{var data.city}}! @-->
<!--@vars
{"var data.name":"name",
"var data.city":"city",
"var data.click":"click",
"var data.unsubscribe_url":"unsubscribe_url",
"var data.image_url":"image_url",
"var data.url":"url"
"var data.website_url":"website_url",
"var data.website":"website",
"var data.email":"email",
"var data.date":"date",
"var data.special_price":"special_price",
"var data.price":"price",
"var data.discount":"discount",
"var data.you_save":"you_save",
"var data.merchant_name":"merchant_name",
"var data.merchant_phone":"merchant_phone",
"var data.merchant_mobile":"merchant_mobile",
"var data.merchant_email":"merchant_email",
"var data.has_merchant_website":"has_merchant_website",
"var data.merchant_website":"merchant_website",
"var data.merchant_address_1":"merchant_address_a",
"var data.merchant_address_2":"merchant_address_b",
"var data.merchant_address_3":"merchant_address_c",
"var data.merchant_address_4":"merchant_address_d",
"var data.merchant_address_5":"merchant_address_e",
"var data.merchant_description_width":"merchant_description_width",
"var data.merchant_description":"merchant_description",
"var data.has_side_deals":"has_side_deals",
"var data.side_deals":"side_deals",
"var data.all_deals_url":"all_deals_url",
"var data.recent_deals_url":"recent_deals_url",
"var data.contact_us_url":"contact_us_url",}
@-->
<html>
<!--<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Daily Deals</title>
<style type="text/css">
	body{ margin:0px; padding:0px; background-color:#e4f1fa;}
</style>
</head>-->

<body>
<table width="100%" cellpadding="0" cellspacing="0" style="background:#e4f1fa;">
  <tr><td>

<table width="664" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="54">&nbsp;</td>
    <td width="610"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/last_chance_email_top.jpg" width="609" height="119" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td align="right" valign="top" style="padding-top:"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-email-socail-icon.jpg" width="55" height="374" border="0" usemap="#Map5" /></td>
    <td><table width="565" border="0" align="center" cellpadding="0" cellspacing="0" dwcopytype="CopyTableCell">
      <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-main.jpg" width="578" height="374" /></td>
                </tr>
                <tr>
                  <td><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/moredeals.jpg" width="578" height="66" /></td>
                </tr>
                <tr>
                  <td valign="top" bgcolor="#FFFFFF" width="578">
                  
                  <table width="570px" border="0" align="center" cellpadding="0" cellspacing="5" style="padding:4px;">
                    <tr>
                    {{var data.side_deals}}
<!--<td width="178px" valign="top">
	<table width="176px" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #e2e6ef;">                  
		<tr>
			<td align="center" valign="middle" style="padding:15px 0 15px 0;"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/img1.jpg" width="176" height="144" /></td>
		</tr>
		<tr>
			<td>
				<table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:43px; background:#3f484e; color:#fff; font-family:Arial; font-size:12px; font-weight:bold;">
					<tr>
						<td width="33%" align="center">Value<br />
							$269
						</td>
						<td width="2%" align="center">
							<img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" />
						</td>
						<td width="32%" align="center">Discount<br />
							58%
						</td>
						<td width="4%" align="center">
							<img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" />
						</td>
						<td width="29%" align="center">Save<br />
							$157
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px; margin:0px;">
					<tr>
						<td width="60%" style="background:#ed9104; height:33px; text-align:center; color:#fff; font-family:Arial; font-size:16px; font-weight:bold;">
							$20
						</td>
						<td width="40%">
							<a href="#" target="_blank">
								<img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-view-more.jpg" width="91" height="33" border="0" />
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</td>
                      		<td width="178px" valign="top"><table width="176px" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #e2e6ef;">
                          
                          <tr>
                            <td align="center" valign="middle" style="padding:15px 0 15px 0;"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/img1.jpg" width="176" height="144" /></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:43px; background:#3f484e; color:#fff; font-family:Arial; font-size:12px; font-weight:bold;">
                                <tr>
                                  <td width="33%" align="center">Value<br />
                                    $269</td>
                                  <td width="2%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="32%" align="center">Discount<br />
                                    58%</td>
                                  <td width="4%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="29%" align="center">Save<br />
                                    $157</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px; margin:0px;">
                                <tr>
                                  <td width="60%" style="background:#ed9104; height:33px; text-align:center; color:#fff; font-family:Arial; font-size:16px; font-weight:bold;">$20</td>
                                  <td width="40%"><a href="#" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-view-more.jpg" width="91" height="33" border="0" /></a></td>
                                </tr>
                            </table></td>
                          </tr>
                      </table></td>
                        <td width="178px" valign="top"><table width="176px" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #e2e6ef;">
                          
                          <tr>
                            <td align="center" valign="middle" style="padding:15px 0 15px 0;"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/img1.jpg" width="176" height="144" /></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:43px; background:#3f484e; color:#fff; font-family:Arial; font-size:12px; font-weight:bold;">
                                <tr>
                                  <td width="33%" align="center">Value<br />
                                    $269</td>
                                  <td width="2%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="32%" align="center">Discount<br />
                                    58%</td>
                                  <td width="4%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="29%" align="center">Save<br />
                                    $157</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px; margin:0px;">
                                <tr>
                                  <td width="60%" style="background:#ed9104; height:33px; text-align:center; color:#fff; font-family:Arial; font-size:16px; font-weight:bold;">$20</td>
                                  <td width="40%"><a href="#" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-view-more.jpg" width="91" height="33" border="0" /></a></td>
                                </tr>
                            </table></td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                       <td width="178px" valign="top"><table width="176px" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #e2e6ef;">
                          
                          <tr>
                            <td align="center" valign="middle" style="padding:15px 0 15px 0;"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/img1.jpg" width="176" height="144" /></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:43px; background:#3f484e; color:#fff; font-family:Arial; font-size:12px; font-weight:bold;">
                                <tr>
                                  <td width="33%" align="center">Value<br />
                                    $269</td>
                                  <td width="2%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="32%" align="center">Discount<br />
                                    58%</td>
                                  <td width="4%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="29%" align="center">Save<br />
                                    $157</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px; margin:0px;">
                                <tr>
                                  <td width="60%" style="background:#ed9104; height:33px; text-align:center; color:#fff; font-family:Arial; font-size:16px; font-weight:bold;">$20</td>
                                  <td width="40%"><a href="#" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-view-more.jpg" width="91" height="33" border="0" /></a></td>
                                </tr>
                            </table></td>
                          </tr>
                      </table></td>
                      <td width="178px" valign="top"><table width="176px" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #e2e6ef;">
                          
                          <tr>
                            <td align="center" valign="middle" style="padding:15px 0 15px 0;"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/img1.jpg" width="176" height="144" /></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:43px; background:#3f484e; color:#fff; font-family:Arial; font-size:12px; font-weight:bold;">
                                <tr>
                                  <td width="33%" align="center">Value<br />
                                    $269</td>
                                  <td width="2%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="32%" align="center">Discount<br />
                                    58%</td>
                                  <td width="4%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="29%" align="center">Save<br />
                                    $157</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px; margin:0px;">
                                <tr>
                                  <td width="60%" style="background:#ed9104; height:33px; text-align:center; color:#fff; font-family:Arial; font-size:16px; font-weight:bold;">$20</td>
                                  <td width="40%"><a href="#" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-view-more.jpg" width="91" height="33" border="0" /></a></td>
                                </tr>
                            </table></td>
                          </tr>
                      </table></td>
                        <td width="178px" valign="top"><table width="176px" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #e2e6ef;">
                          
                          <tr>
                            <td align="center" valign="middle" style="padding:15px 0 15px 0;"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/img1.jpg" width="176" height="144" /></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:43px; background:#3f484e; color:#fff; font-family:Arial; font-size:12px; font-weight:bold;">
                                <tr>
                                  <td width="33%" align="center">Value<br />
                                    $269</td>
                                  <td width="2%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="32%" align="center">Discount<br />
                                    58%</td>
                                  <td width="4%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="29%" align="center">Save<br />
                                    $157</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px; margin:0px;">
                                <tr>
                                  <td width="60%" style="background:#ed9104; height:33px; text-align:center; color:#fff; font-family:Arial; font-size:16px; font-weight:bold;">$20</td>
                                  <td width="40%"><a href="#" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-view-more.jpg" width="91" height="33" border="0" /></a></td>
                                </tr>
                            </table></td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                    <td width="178px" valign="top"><table width="176px" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #e2e6ef;">
                          
                          <tr>
                            <td align="center" valign="middle" style="padding:15px 0 15px 0;"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/img1.jpg" width="176" height="144" /></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:43px; background:#3f484e; color:#fff; font-family:Arial; font-size:12px; font-weight:bold;">
                                <tr>
                                  <td width="33%" align="center">Value<br />
                                    $269</td>
                                  <td width="2%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="32%" align="center">Discount<br />
                                    58%</td>
                                  <td width="4%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="29%" align="center">Save<br />
                                    $157</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px; margin:0px;">
                                <tr>
                                  <td width="60%" style="background:#ed9104; height:33px; text-align:center; color:#fff; font-family:Arial; font-size:16px; font-weight:bold;">$20</td>
                                  <td width="40%"><a href="#" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-view-more.jpg" width="91" height="33" border="0" /></a></td>
                                </tr>
                            </table></td>
                          </tr>
                      </table></td>
                      <td width="178px" valign="top"><table width="176px" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #e2e6ef;">
                          
                          <tr>
                            <td align="center" valign="middle" style="padding:15px 0 15px 0;"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/img1.jpg" width="176" height="144" /></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:43px; background:#3f484e; color:#fff; font-family:Arial; font-size:12px; font-weight:bold;">
                                <tr>
                                  <td width="33%" align="center">Value<br />
                                    $269</td>
                                  <td width="2%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="32%" align="center">Discount<br />
                                    58%</td>
                                  <td width="4%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="29%" align="center">Save<br />
                                    $157</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px; margin:0px;">
                                <tr>
                                  <td width="60%" style="background:#ed9104; height:33px; text-align:center; color:#fff; font-family:Arial; font-size:16px; font-weight:bold;">$20</td>
                                  <td width="40%"><a href="#" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-view-more.jpg" width="91" height="33" border="0" /></a></td>
                                </tr>
                            </table></td>
                          </tr>
                      </table></td>
                       <td width="178px" valign="top"><table width="176px" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #e2e6ef;">
                          
                          <tr>
                            <td align="center" valign="middle" style="padding:15px 0 15px 0;"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/img1.jpg" width="176" height="144" /></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:43px; background:#3f484e; color:#fff; font-family:Arial; font-size:12px; font-weight:bold;">
                                <tr>
                                  <td width="33%" align="center">Value<br />
                                    $269</td>
                                  <td width="2%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="32%" align="center">Discount<br />
                                    58%</td>
                                  <td width="4%" align="center"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/vertical_line.jpg" width="2" height="43" /></td>
                                  <td width="29%" align="center">Save<br />
                                    $157</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px; margin:0px;">
                                <tr>
                                  <td width="60%" style="background:#ed9104; height:33px; text-align:center; color:#fff; font-family:Arial; font-size:16px; font-weight:bold;">$20</td>
                                  <td width="40%"><a href="#" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-view-more.jpg" width="91" height="33" border="0" /></a></td>
                                </tr>
                            </table></td>
                          </tr>
                      </table></td>
                    </tr>
                  </table>
                  
                  </td>-->
                </tr>
                <tr>
                  <td><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/view-deals.jpg" width="577" height="54" border="0" usemap="#Map6" /></td>
                </tr>
              </table></td>
              <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td valign="top" style="padding-bottom:3px;"><a href="http://www.ikoalaeveryday.com.au/" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/everyday.jpg" width="31" height="116" border="0" alt="Everyday" /></a></td>
                </tr>
                <tr>
                  <td style="padding-bottom:3px;"><a href="http://www.ikoalaeveryday.com.au/" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/kids.jpg" width="31" height="76" border="0" alt="Kids" /></a></td>
                </tr>
                <tr>
                  <td style="padding-bottom:3px;"><a href="http://www.ikoalabusiness.com.au/" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/business.jpg" width="31" height="109" border="0" alt="Business" /></a></td>
                </tr>
                <tr>
                  <td style="padding-bottom:3px;"><a href="www.ikoala.com.au/deals/ikoala.php" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/travel.jpg" width="31" height="85" border="0" alt="Travel" /></a></td>
                </tr>
                <tr>
                  <td style="padding-bottom:3px;"><a href="http://www.ikoala.com.au/deals/ikoala.php" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/all-deals.jpg" width="31" height="102" border="0" alt="All Deals" /></a></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="67%"><p style="font-family:Trebuchet MS; font-size:12px; color:#83a2b7; line-height:20px;">Have a question? Email us at <span style="color:#0f83e7; text-decoration:none;"><a href="mailto:dailydeals@ikoala.com.au" style="text-decoration:none; color:#0f83e7;">dailydeals@ikoala.com.au</a></span> <br />
                    Team Ikoala | PO Box 6362 | North Sydney, NSW 2059, Australia Manage your subscription | Send to a friend<br />
                    <br />
                    Your Daily Deal - National / Unsubscribe </p></td>
                  <td width="33%" valign="top"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/share.jpg"  alt="" width="193" height="41" border="0" usemap="#Map4Map"/></td>
                </tr>
              </table>
                <map name="Map4Map" id="Map4Map">
                  <area shape="circle" coords="99,20,15" href="#" target="_blank" />
                  <area shape="circle" coords="130,21,14" href="#" target="_blank" />
                  <area shape="circle" coords="161,19,14" href="#" target="_blank" />
                </map></td>
              <td valign="top">&nbsp;</td>
            </tr>
            
            
            
            
            
        </table></td>
      </tr>
    </table>
      <map name="Map2" id="Map2">
        <area shape="rect" coords="72,77,198,93" href="#" target="_blank" />
        <area shape="rect" coords="91,97,216,112" href="#" target="_blank" />
      </map>
      <map name="Map3" id="Map3">
        <area shape="rect" coords="454,10,545,43" href="#" target="_blank" />
      </map>
      <map name="Map4" id="Map4">
        <area shape="circle" coords="99,20,15" href="#" target="_blank" />
        <area shape="circle" coords="130,21,14" href="#" target="_blank" />
        <area shape="circle" coords="161,19,14" href="#" target="_blank" />
      </map></td>
  </tr>
</table>
</td></tr></table>

<map name="Map" id="Map">
<area shape="rect" coords="528,1,605,32" href="#" target="_blank" />
</map>
<map name="Map5" id="Map5">
  <area shape="circle" coords="26,99,14" href="#" target="_blank" />
  <area shape="circle" coords="26,60,14" href="#" target="_blank" />
  <area shape="circle" coords="26,23,14" href="#" target="_blank" />
</map>

<map name="Map6" id="Map6"><area shape="rect" coords="463,11,553,42" href="http://www.ikoala.com.au/deals/ikoala.php" target="_blank" />
</map></body>
</html>

<!--<html>
<body style="font-size:12px; font-family:Arial; color:#454545;">
<table width="700" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td style="text-align:center; font-size:11px; padding:0 0 10px 0;color:#454545;">
				Go to <a style="color:#0981BE;text-decoration:none;" href="{{var data.website_url}}">{{var store.getFrontendName()}}</a> &nbsp;|&nbsp; <a style="color:#0981BE;text-decoration:none;"  href="{{var data.unsubscribe_url}}">Unsubscribe</a> <br/>
				Be sure to add <font style="color:#454545;">{{var data.email}}</font> to your address book or safe sender list so our emails get to your inbox. 
			</td>
		</tr>
		<tr>
			<td>
				<table width="700" style="border:10px solid #F0F1F3" bgcolor="#F0F1F3" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td bgcolor="#313131">
								<table width="100%" cellspacing="0" cellpadding="0">
									<thead>
										<tr style="text-align:left;border-bottom:2px solid #F1461E;color:#FFFFFF">
											<th style="padding:20px 15px 20px;width:130px;">
												<a href="{{var data.url}}"><img alt="{{var store.getFrontendName()}}" src="{{skin url="images/logo.gif" _area='frontend'}}"></a>
											</th>											
											<th style="padding:20px 15px 20px 0;line-height:170%; ">
												<span style="display:block; border-left:2px solid #444444;padding:0px 0px 0px 15px;">
													<h1 style="font-size:12px;margin:0px;font-weight:normal;">New Deal for</h1>
													<strong style="font-size:24px;">{{var data.city}}</strong>
												</span>
											</th>											
											<th style="padding:20px 15px; text-align:right; vertical-align:top; font-size:10px;">
												{{var data.date}}
											</th>
										</tr>
									</thead>
								</table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#FFFFFF" style="padding:10px;">
								<table width="100%" cellspacing="0" cellpadding="0">
									<tbody>
										<tr style="text-align:left;">
											<td colspan="2" style="padding:10px 0px 20px;">
												<a href="{{var data.url}}" style="text-decoration:none;"><h2 style="margin:0; font-size:22px; font-weight:bold; color:#333333;">{{var data.name}}</h2></a>
											</td>											
										</tr>
										<tr style="text-align:left;">
											<td width="40%" style="vertical-align:top;">
												<table width="245" cellspacing="0" cellpadding="0"  background="{{skin url="groupdeals/images/email_price_tag.png" _area='frontend'}}" height="58" >
													<tbody>
														<tr>
														  <td width="50%" align="center" style="font-size:30px;color:#FFFFFF;font-family:Helvetica, Arial, sans-serif;margin:0;padding:0 0 0 30px;">
															{{var data.special_price}}
														  </td>														 
														  <td width="50%" align="right" style="padding:0 10px 0 0;vertical-align:middle;" >
															<a href="{{var data.url}}"><img style="vertical-align:middle;" width="85" height="46" alt="" src="{{skin url="groupdeals/images/view-deal.png" _area='frontend'}}"></a>
														  </td>
														</tr>
												    </tbody>
												</table>
												<table width="226" cellspacing="0" cellpadding="0" style="margin:0 0 0 19px">
													<tbody>
														<tr>
														  <td width="33%" align="center" style="border-left:1px solid #45CFF5;font-size:12px;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:10px 0 5px 0; background-color:#CBECF5;">
															Value
														  </td>
														  <td width="33%" align="center" style="background-color:#CBECF5;font-size:12px;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:10px 0 5px 0;">
															Discount
														  </td>
														  <td width="33%" align="center" style="border-right:1px solid #45CFF5;font-size:12px;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:10px 0 5px 0; background-color:#CBECF5;">
															You Save
														  </td>
														</tr>
														<tr>
														  <td width="33%" align="center" style="background-color:#CBECF5;border-left:1px solid #45CFF5;border-bottom:1px solid #45CFF5;font-size:15px;font-weight:700;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:0 0 5px 0;">
															{{var data.price}}
														  </td>
														  <td width="33%" align="center" style="background-color:#CBECF5;border-bottom:1px solid #45CFF5;font-size:15px;font-weight:700;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:0 0 5px 0;">
															{{var data.discount}}
														  </td>
														  <td width="33%" align="center" style="background-color:#CBECF5;border-right:1px solid #45CFF5;border-bottom:1px solid #45CFF5;font-size:15px;font-weight:700;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:0 0 5px 0;">
															{{var data.you_save}}
														  </td>
														</tr>
												    </tbody>
												</table>
												<table bgcolor="#F6F6F6" width="226" cellspacing="0" cellpadding="0" style="margin:10px 0 0 19px">
													<tbody>
														<tr>
														  <td colspan="3" align="left" style="border:1px solid #F0F1F3;  font-size:12px;color:#333333;font-family:Helvetica, Arial, sans-serif;padding:10px ;">
															<strong>{{var data.merchant_name}}</strong><br/>
															{{depend data.has_merchant_website}}<a style="text-decoration:none;color:#0981BE;" href="{{var data.merchant_website}}">website</a><br/>{{/depend}}
															Locations:<br/>
															{{var data.merchant_address1}}
														  </td>
												    </tbody>
												</table>
											</td>												
											<td width="60%" style="vertical-align:top;padding:0 11px 0 0;">
												<a href="{{var data.url}}"><img src="{{var data.image_url}}" alt="deal_image" width="100%"/></a>
											</td>											
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#FFFFFF" style="padding:10px;">
								<table width="100%" cellspacing="0" cellpadding="0">
									<tbody>
										<tr style="text-align:left;">
											<td width="{{var data.merchant_description_width}}"  style="vertical-align:top; padding:0 20px 0 20px; font-size:12px;">
												{{var data.merchant_description}}
											</td>
											{{depend data.has_side_deals}}											
											<td width="35%" style="vertical-align:top;">
												<table width="96%" cellspacing="0" cellpadding="0" style="border:1px solid #F0F1F3;">
													<tbody>
														<tr>
															<td bgcolor="#F6F6F6" colspan="2" align="center" style="font-weight:bold; color:#454545; padding:5px 0" >
																Side Deals
															</td>
														</tr>
														{{var data.side_deals}}
														<tr >
															<td colspan="2"  align="center" style="color:#454545;font-size:11px; padding:6px 5px;border-top:1px solid #F0F1F3;" >
																View: <a style="color:#454545;text-decoration:none;" href="{{var data.all_deals_url}}">All Deals</a> | <a style="color:#454545;text-decoration:none;" href="{{var data.recent_deals_url}}">Recent Deals</a> 
															</td>
														</tr>
												    </tbody>
												</table>
											</td>
											{{/depend}}
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#E2E2E4" style="padding:10px; border-top:3px solid #F0F1F3; text-align:center; font-size:14px; color:#454545;">
								Need help? Feel free to <a style="color:#454545;text-decoration:none;font-weight:bold;" href="{{var data.contact_us_url}}">Contact Us</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="text-align:center; font-size:11px; padding:10px 0 0px 0;">
				You are receiving this email because you signed up for the {{var data.city}} Deals. If you prefer not to receive these emails, you can always unsubscribe with <a style="color:#0981BE;text-decoration:none;"  href="{{var data.unsubscribe_url}}">one click</a> 
			</td>
		</tr>
	</tbody>
</table>	
</body>
</html>-->