<?php 
$instance = Mage::helper('ultimate_livechat')->getLiveChatSetting(); 
$title = $instance['title'];
?>
<div class="block">
    <?php if(!empty($title)): ?>
    <div class="block-title">
        <strong><span><?php echo $title ?></span></strong>
    </div>
    <?php endif; ?>
    <div class="block-content" style="text-align: center;">
        <?php        
        $hostedURI = $this->hostedURI;
        
        if(!empty($hostedURI)) 
        {
        ?>
        <script type="text/javascript">
            JLiveChat.hostedModeURI='<?php echo rtrim(urldecode($hostedURI), '/'); ?>';
            JLiveChat.websiteRoot='<?php echo rtrim(urldecode($hostedURI), '/'); ?>';
            setTimeout('JLiveChat.initialize();', 100);
        </script>
        <img src="<?php echo Mage::helper('ultimate_livechat')->get_tracker_image_uri($hostedURI); ?>" width="1" height="1" alt="" border="0" /> 
        <a class="ulc_livechat_img" href="javascript:void(0);" onclick="requestLiveChat('<?php echo Mage::helper('ultimate_livechat')->get_popup_uri($hostedURI,$instance['popup_mode'], $instance['specific_operators'], $instance['specific_department'], $instance['specific_route_id']); ?>', '<?php echo $instance['popup_mode']; ?>');"><img src="<?php echo Mage::helper('ultimate_livechat')->get_dynamic_image_uri($hostedURI,$instance['image_size'], $instance['specific_operators'], $instance['specific_department'], $instance['specific_route_id']); ?>" alt="" border="0" /></a>
        <?php
        }
        else
        {
            echo '<a href="https://www.ultimatelivechat.com/my-account.html" target="_blank">Ultimate Live Chat hosted mode API key not defined, please define first!</a>';
        }
        ?>
    </div>
</div>
