<?php
/**
 * Fontis Australia Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Fontis
 * @package    Fontis_Australia
 * @author     Chris Norton
 * @copyright  Copyright (c) 2009 Fontis Pty. Ltd. (http://www.fontis.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
$order = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId());
$payment = $order->getPayment();
?>
<?php if($payment->getMethod() == 'directdeposit_au'): ?>
    <?php
    $order->addStatusToHistory('pending_deposit', 'Order placed with Direct Deposit', false);
    $order->save();
    $data = @unserialize($payment->getAdditionalData());
    ?>
    <div id="directdeposit_au_success">
        <p class="message"><?php echo $this->__('Please use the following details to make payment:'); ?></p>
        <?php if($data['account_name']): ?><br /><b><?php echo $this->__('Account Name: '); ?></b> <?php echo $data['account_name']; ?><?php endif; ?>
	    <?php if($data['account_bsb']): ?><br /><b><?php echo $this->__('Account BSB: '); ?></b> <?php echo $data['account_bsb']; ?><?php endif; ?>
	    <?php if($data['account_number']): ?><br /><b><?php echo $this->__('Account Number: '); ?></b> <?php echo $data['account_number']; ?><?php endif; ?>
    </div>
<?php endif; ?>
