
<?php $alias = 'methods' ?>
<?php if ($this->hasPrefix()): ?>
    <?php $alias = $this->getPrefix() . $alias ?>
<?php endif ?>

<ul class="checkout-types">
<?php if (!is_null($this->getMethods($alias))): ?>
    <?php foreach ($this->getMethods($alias) as $method): ?>
        <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
        <li><?php echo $methodHtml; ?></li>
        <?php endif; ?>
    <?php endforeach; ?>
<?php else: ?>
    <?php echo $this->getChildHtml($alias) ?>
<?php endif; ?>
</ul>
