<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<div class="content-header">
<table cellspacing="0">
    <tr>
        <td style="width:50%;"><h3 class="icon-head head-products"><?php echo $this->__('Customer Point Balances') ?><span class="WikiHint" title=" ">&nbsp;</span></h3>
		</td>
        <td class="a-right">
            <iframe src="https://www.wdca.ca/m/?a=rewards&v=<?php 
                    echo Mage::getConfig()->getNode('modules/TBT_Rewards/version'); ?>&m=<?php 
                    echo Mage::getVersion(); ?>&p=<?php 
                    echo urlencode($this->getBaseUrl()); ?>&ap=<?php 
                    echo urlencode($this->getAction()->getFullActionName()); ?>" marginwidth="0" marginheight="0" 
                    hspace="0" align="middle" frameborder="0" 
                    scrolling="no" style="width: 500px; float: left; height: 22px;">
            </iframe>
            <?php echo $this->getAddNewButtonHtml() ?>
        </td>
    </tr>
</table>
</div>
<?php echo $this->getStoreSwitcherHtml() ?>
<div>
    <?php echo $this->getGridHtml() ?>
</div>