<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<?php $_columnCount = $this->getColumnCount(); ?>
   <article class="slider_details5"> 
	<?php $i=0; foreach ($_products->getItems() as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <section class="products-grid tab_slider">
        <?php endif ?>
            <section class="product item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <article>
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="feature_img">
                	<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(166,123) ?>" width="166" height="123" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
                </a>
                </article>
                <img alt="Buy Koala" src="<?php echo $this->getSkinUrl();?>images/shad_bg1.gif">
               <?php /*?> <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h3><?php */?>
                <?php //echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <article class="feature_text_box">
	                 
	                  <div class="p_title">
  					<?php 
  				$pname =  $this->htmlEscape($_product->getName());
  				$pname = trim(strip_tags($pname));
				$word_limit = 48;
   				 if (strlen($pname) > $word_limit) {
     				 $pname = substr($pname, 0, strrpos(substr($pname, 0, $word_limit), ' '));
   				 }
   			 ?>
 	 	<p> <?php echo $pname ?></p>
 			 </div>
                    <section class="pro_price1">
                        <?php echo $this->getPriceHtml($_product, true, '-new') ?>
                  
                    <?php if($_product->isSaleable()): ?>
                        
                        <a  title="<?php echo $this->__('Add to Cart') ?>"  onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><img src="<?php echo $this->getSkinUrl('images/plus_icon.png'); ?>" ><?php echo $this->__('Add to Cart') ?></a>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                   </section> 
                    <?php /*?><ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul><?php */?>
                </article>
            </section>
        <?php if ($i%$_columnCount==0 || $i==count($_products)): ?>
        </section>
        <?php endif ?>
    <?php endforeach; ?>
 </article>
 <article id="previmg5"></article>
<article id="nextimg5"></article>   
<?php endif; ?>
