<?php
/**
 * Fontis Recaptcha Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Fontis
 * @package    Fontis_Recaptcha
 * @author     Denis Margetic
 * @author     Chris Norton
 * @copyright  Copyright (c) 2009 Fontis Pty. Ltd. (http://www.fontis.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
$theme = Mage::getStoreConfig("fontis_recaptcha/setup/theme");
$language = Mage::getStoreConfig("fontis_recaptcha/setup/language");
$publickey = Mage::getStoreConfig("fontis_recaptcha/setup/public_key");
$textbox = Mage::getStoreConfig("fontis_recaptcha/setup/textbox");

// translations
$use_custom_translation = Mage::getStoreConfig("fontis_recaptcha/translation/enable_translation");
$instructions_visual = Mage::getStoreConfig("fontis_recaptcha/translation/text_captcha");
$instructions_audio = Mage::getStoreConfig("fontis_recaptcha/translation/audio_captcha");
$play_again = Mage::getStoreConfig("fontis_recaptcha/translation/play_again");
$cant_hear_this = Mage::getStoreConfig("fontis_recaptcha/translation/cant_hear_this");
$visual_challenge = Mage::getStoreConfig("fontis_recaptcha/translation/visual_challenge");
$audio_challenge = Mage::getStoreConfig("fontis_recaptcha/translation/audio_challenge");
$refresh_btn = Mage::getStoreConfig("fontis_recaptcha/translation/refresh_btn");
$help_btn = Mage::getStoreConfig("fontis_recaptcha/translation/help_btn");

// set default for null values
$instructions_visual = (!$instructions_visual) ? 'Type the two words.' : addslashes($instructions_visual);
$instructions_audio = (!$instructions_audio) ? 'Type what you hear.' : addslashes($instructions_audio);
$play_again = (!$play_again) ? 'Play Again?' : addslashes($play_again);
$cant_hear_this = (!$cant_hear_this) ? 'Can\'t hear the audio? Click here.' : addslashes($cant_hear_this);
$visual_challenge = (!$visual_challenge) ? 'Get a visual challenge' : addslashes($visual_challenge);
$audio_challenge = (!$audio_challenge) ? 'Get an audio challenge' : addslashes($audio_challenge);
$refresh_btn = (!$refresh_btn) ? 'Get a new challenge' : addslashes($refresh_btn);
$help_btn = (!$help_btn) ? 'Help' : addslashes($help_btn);
?>


<?php if( $theme == 'magento'): ?>
    <script> 
      var RecaptchaOptions = { 
        theme : 'custom', 
        lang : '<?= $language ?>', 
        custom_theme_widget: 'recaptcha_widget'
      }; 
    </script>
    <div id="recaptcha_widget" class="group-select wide fieldset" style="display:none">
        <h2 class="legend" style="background-image: none;">Recaptcha</h2>
        <div style="margin-bottom: 10px; margin-top: 5px;"><?php echo $textbox; ?></div>
        <div class="col2-set">
            <div class="col-1" style="width: 310px; margin-right: 10px; background: transparent; border: 0px none;">
                <div id="recaptcha_image" style="border: 1px solid #CCCCCC; margin-bottom: 10px;"></div> 
                <div style="text-align: left;">
                    <span class="recaptcha_only_if_image"><?php echo $instructions_visual; ?></span>
                    <span class="recaptcha_only_if_audio"><?php echo $instructions_audio; ?></span>
                    <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" class="input-text required-entry" />
                </div>
            </div>
            <div class="col-2" style="float: left; width: 25px; background: transparent; border: 0px none;">
                <div><a href="javascript:Recaptcha.reload()"><img src="<?php echo $this->getSkinUrl('images/fontis/refresh.png');?>" title="<?php echo $refresh_btn;?>" alt="<?php echo $refresh_btn;?>"/></a></div>
                <div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')"><img src="<?php echo $this->getSkinUrl('images/fontis/sound.png');?>" title="<?php echo $audio_challenge;?>" alt="<?php echo $audio_challenge;?>"/></a></div>
                <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')"><img src="<?php echo $this->getSkinUrl('images/fontis/text.png');?>" title="<?php echo $visual_challenge;?>" alt="<?php echo $visual_challenge;?>"/></a></div>
                <div><a href="javascript:Recaptcha.showhelp()"><img src="<?php echo $this->getSkinUrl('images/fontis/help.png');?>" title="<?php echo $help_btn;?>" alt="<?php echo $help_btn;?>"/></a></div>
            </div>
        </div>
        <?php echo Mage::helper("fontis_recaptcha")->recaptcha_get_html($publickey, null, Mage::app()->getRequest()->isSecure()); ?>
    </div>

<?php elseif( $theme == 'custom' ): ?>

<!-- Replace this with your custom code here. -->
<p>To create your custom recaptcha theme copy default/templates/fontis/recaptcha.phtml to your_theme/templates/fontis/recaptcha.phtml and replace this text with custom theme code.</p>

<?php else: ?>
<script type="text/javascript"> 
  var RecaptchaOptions = { 
      lang : '<?php echo $language ?>', 
      theme : '<?php echo $theme ?>',
      <?php if ($use_custom_translation): ?>
      custom_translations : { 
        instructions_visual : '<?php echo addslashes($instructions_visual) ?>',
        instructions_audio : '<?php echo addslashes($instructions_audio) ?>',
        play_again : '<?php echo addslashes($play_again) ?>',
        cant_hear_this : '<?php echo addslashes($cant_hear_this) ?>',
        visual_challenge : '<?php echo addslashes($visual_challenge) ?>',
        audio_challenge : '<?php echo addslashes($audio_challenge) ?>',
        refresh_btn : '<?php echo addslashes($refresh_btn) ?>',
        help_btn : '<?php echo addslashes($help_btn) ?>'
      }
      <?php endif; ?>
  };
</script>

    <div style="margin-bottom: 10px;"><?php echo $textbox; ?></div>
    <?php
      echo Mage::helper("fontis_recaptcha")->recaptcha_get_html($publickey, null, Mage::app()->getRequest()->isSecure());
    ?>

<?php endif; ?>
