<div class="referrals">
    <div class="page-title">
        <h1><?php echo $this->__('Referral Program') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php echo $this->getChildHtml('affiliate'); ?>
<?php echo $this->getChildHtml('refer_form'); ?>
<?php echo $this->getChildHtml('preferences'); ?>
<?php echo $this->getChildHtml('history'); ?>

</div>