<script type="text/javascript">
<!--
jQuery(document).ready(
    function (){
        if (jQuery('.igallery-image').length > 0) {
            jQuery('a[rel=igallery_group]').fancybox({
                'transitionIn'		: 'none',
                'transitionOut'		: 'none',
                'titlePosition' 	: 'over',
                'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over"><?php echo $this->__('Image'); ?> ' +  (currentIndex + 1) + ' / ' + currentArray.length + ': ' + title + '</span>';
                }
            });
        }
    }
);
-->
</script>