<?php
	$brand = Mage::getModel("brand/brand");
	Mage::register('brand', $brand);
?>
<?php /*?><div class="brand_logo_container">
   <h3><?php echo $this->__('Featured Brands')  ?></h3>
    <?php $i = 1;
        foreach ($this->getFeaturedBrand() as $item): ?>
            <div class="featured_brand <?php if ($i % 4 == 0)
                echo 'no-margin' ?>">
               <a href="<?php echo Mage::getBaseUrl() ?>brand/index/view/manufacturer/<?php echo $item['manufacturer_option_id'] ?>/?brandname=<?php echo $item['title'] ?>">
                   <img src="<?php echo Mage::helper('brand')->getBrandImage($item, 'medium') ?>"
                        alt="<?php echo $item['title'] ?>"/>
               </a>
               <span>
                   <strong><?php echo $item['title'] ?></strong>
                   <h4><?php echo $item['content'] ?></h4>
               </span>
           </div>
    <?php $i++;
      endforeach; ?>
</div><?php */?>
<?php $i = 1;
        foreach ($this->getFeaturedBrand() as $item): ?>

<div class="product_box">
  <div class="product_box_top"></div>
  <div class="product_box_mid">
    <div class="inner_product_box"><a href="<?php echo Mage::getBaseUrl() ?>brand/index/view/manufacturer/<?php echo $item['manufacturer_option_id'] ?>/?brandname=<?php echo $item['title'] ?>"> <img src="<?php echo Mage::helper('brand')->getBrandImage($item, 'medium') ?>"
                        alt="<?php echo $item['title'] ?>"/> </a></div>
    <div class="product_details">
      <h3><img src="<?php echo $this->getSkinUrl()?>/images/arrow1.jpg" alt="Organic" class="arrow1" /><?php echo $item['title'] ?></h3>
  <?php echo substr($item['content'],0,30); ?>
      <div class="more_details1"> <a href="<?php echo Mage::getBaseUrl() ?>brand/index/view/manufacturer/<?php echo $item['manufacturer_option_id'] ?>/?brandname=<?php echo $item['title'] ?>">MORE dETAILS</a> </div>
    </div>
  </div>
  <div class="product_box_bot"></div>
</div>
<?php $i++;
if($i==11){break;}
      endforeach; ?>
