<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.1.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
$currentPage = $this->getCurrentPage();
$pages = $this->getPagesCount();
$route = Mage::helper('blog')->getRoute();
$cat = ($this->getCategoryMode()) ? ('/cat/' . $this->getRequest()->getParam('identifier')) : '';
?>


<?php if ($currentPage > 1): ?>
    <div class="left"><a href="<?php echo $this->getUrl($route . $cat . '/page/' . ($currentPage - 1)); ?>" >< Newer Posts</a></div>
<?php endif; ?>
<?php if ($currentPage < $pages): ?>          
    <div class="right"><a href="<?php echo $this->getUrl($route . $cat . '/page/' . ($currentPage + 1)); ?>" >Older Posts ></a></div>
<?php endif; ?>
