<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.1
 * @since        Class available since Release 1.0
 */
?>
<h2 class="glc-title"><span><!--<span></span>--><img style="padding-right:5px;" src="<?php  echo $this->getSkinUrl('images/gomage/lightcheckout/arrowdown.png') ?>"/> <?php echo $this->__('Review your order');?></span></h2>
<div class="totals">
	
	<?php echo $this->getChildHtml('info');?>
	
</div>
<div class="agreements">
	<?php echo $this->getChildHtml('agreements') ?>
</div>
