<?php $_helper = Mage::helper('catalog/category') ?>
<?php $_categories = $_helper->getStoreCategories() ?>
<?php $currentCategory = Mage::registry('current_category') ?>
<?php 
$num_of_li =6;// display  more after number of li

if (count($_categories) > 0): ?>
    <ul class="allcategories">
        <?php foreach($_categories as $_category): ?>
            <li>
                <a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
                    <?php echo $_category->getName() ?>
                </a>
                <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
                <?php $_subcategories = $_category->getChildrenCategories();
				$cat_lab1=count($_subcategories);
                ?>
                <?php if ($cat_lab1 > 0): ?>
                    <ul>
                        <?php 
                        $flabelcat=0;
                        foreach($_subcategories as $_subcategory): 
                        $flabelcat++;
                        
                        ?>
                        <?php $_subcategories2 = $_subcategory->getChildrenCategories();
							$cat_lab2=count($_subcategories2);
							if($cat_lab2>0)
							{
								$liclass=" class='ctgr-more'";
							}
							else 
							{
								$liclass="";
							}
							if($flabelcat==$num_of_li && $cat_lab1 > $num_of_li  )
							{
							?>
							
							<li class='ctgr-more' >
                                <a href="#" class="more_cat">
                               
                                    <?php echo $this->__('More >>'); ?>
                                </a>  
							<div class="ctgr-more-menu">
                  					  <ul>
							<?php 
							}
                        ?>
                            <li <?php echo $liclass ?>>
                                <a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>">
                                    <?php echo $_subcategory->getName() ?>
                                </a>                               
                 
                				<?php if ($cat_lab2 > 0): ?>
               		 			<div class="ctgr-more-menu">
                  					  <ul>
                       				 <?php foreach($_subcategories2 as $_subcategory2): ?>
                           				 <li>
                               			 <a href="<?php echo $_helper->getCategoryUrl($_subcategory2) ?>">
                                   		 <?php echo $_subcategory2->getName() ?>
                               			 </a>
                          			  </li>
                       				 <?php endforeach; ?>
                    				</ul>
                   				 </div>
               					 <?php endif; ?> 
                            </li>
                            
                            <?php 
                            if($flabelcat > $num_of_li && $flabelcat==$cat_lab1)
							{
							?>	
                  			</ul></div></li>
							<?php 
							}
                        ?>
                            
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>