<?php if(count($this->getItemCollection()->getItems())): 
 //echo count($this->getItemCollection()->getItems());
?>
<!--product of the day-->
<aside class="pro_of_day">
  <article class="pro_top_corner"> </article>
  <article class="pro_mid">
    <article class="pro_top_btn">
      <h3><?php echo $this->__('You May'); ?><span><?php echo $this->__('also like');?></span></h3>
    </article>
    <section class="pro_slide">
      <article class="slider_details">
        <?php $this->setColumnCount(count($this->getItemCollection()->getItems())); // this line if you want to have another number of columns. also can be changed in layout ?>
        <?php $this->resetItemsIterator() ?>
        <?php for($_i=0;$_i<$this->getRowCount();$_i++): ?>
        <article class="slider_details_upsell">
          <?php for($_j=0;$_j<$this->getColumnCount();$_j++): ?>
          <?php if($_link=$this->getIterableItem()): ?>
          <section class="pro_slider"> <img src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize(112,97) ?>" width="112" height="97" alt="<?php echo $this->htmlEscape($_link->getName()) ?>" />
            <article class="pro_slider_text">
              <p><?php echo $this->htmlEscape($_link->getName()) ?></p>
            </article>
            <section class="pro_price">
              <h4><?php echo $this->getPriceHtml($_link, true, '-upsell') ?></h4>
              <a onclick="window.location='<?php echo $this->getAddToCartUrl($_link) ?>';" href="javascript:void(0)">ADD TO CART</a>
              <?php /*?><a href="<?php echo $_link->getProductUrl() ?>">ADD TO CART</a><?php */?>
              <?php /*?><button type="button" class="form-button add-to-cart addtocart" onclick="window.location='<?php echo $this->getAddToCartUrl($_link) ?>';">
                                <span><?php echo $this->__('') ?></span>
                                </button><?php */?>
            </section>
            <?php //echo $this->getReviewsSummaryHtml($_link) ?>
          </section>
          <?php else: ?>
          <section class="empty">&nbsp;</section>
          <?php endif; ?>
          <?php endfor; ?>
        </article>
        <?php endfor; ?>
      </article>
      <article id="previmg"> </article>
      <article id="nextimg"> </article>
    </section>
    <!--product slider--> 
  </article>
  <article class="pro_bot_corner"> </article>
</aside>
<script type="text/javascript">decorateTable('upsell-product-table')</script> 
<!--product of the day--> 
<script type="text/javascript">
jQuery(function() {
	//jQuery('#pager').html('');
	jQuery('.slider_details_upsell').cycle({
		fx: 'scrollHorz',
		//fx: 'fade',
		pause: true,
		prev: '#previmg',
		//timeout:0,
		next: '#nextimg'
	});	
	});	
</script>
<?php endif ?>
