<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.1
 * @since        Class available since Release 1.0
 */	
	
	$input_name 	= $this->getInputName();
	$input_id		= $this->getInputId();
	$input_value	= $this->getValue();
	$input_class	= $this->getInputClass();
	$label_class	= $this->getLabelClass();
	
	$required		= $this->getIsRequired();
	$validation_type = $this->getValidationType();
	$label			= $this->getLabel();
	
	
	$input_class .= ' input-text ';
	
	if($required){
		
		if(!$validation_type){
			$input_class .= 'required-entry absolute-advice'.' ';
		}else{
			$input_class .= $validation_type.' ';
		}
		
		$label_class .= ' required ';
		
	}
	
?>
<label for="<?php echo $input_id;?>" class="<?php echo $label_class;?>"><?php if($required):?><em>*</em><?php endif;?><?php echo $this->__($label); ?></label>
<div class="input-box <?php echo $input_id;?>">
    <input type="text" name="<?php echo $input_name;?>" id="<?php echo $input_id;?>" value="<?php echo $this->htmlEscape($input_value) ?>" title="<?php echo $this->__($label); ?>" class="<?php echo $input_class;?>" />
</div>