
.rewardsref_plaxo_link_caption {
    height: 20px;
    width: 165px;
    display: block;
    float: left;
    padding-top: 4px;
}

.rewardsref_plaxo_link_section {
    margin-top: 2px;
}


.rewardsref_plaxo_link_caption {
}


.rewardsref_plaxo_link_caption {
}

.rewardsref_recipient_list {
    width: 95%;
    height: 110px;
}

.rewardsref_myreferrals_multireferral_section label {
    font-weight: bold;
}