* { margin:0; padding:0; outline:0; }
.Fleft { float:left!important; }
.Fright { float:right!important; }
.Middle { vertical-align:middle; }
.nobdr { border:none !important; }
.nobg { background:none !important; }
.nobdr_top { border-top:none !important; }
.nomargin { margin:0px !important; }
.nopadding { padding:0px !important; }
textarea{resize:none;}
.alignbottom { vertical-align:text-top; }
img { border:0px; }
ul { list-style-type:none; padding:0; margin:0; }
ul li { list-style:none; padding:0; margin:0; }
a { text-decoration:none; outline:none; }
.clear { padding:0; margin:0; line-height:0; height:0; font-size:0; clear:both; width:100%; display:block; }
aside, details, figcaption, figure, ins, summary, small, mark, title, video footer, header, hgroup, nav, section, article { display: block }
.clear { padding:0; margin:0; clear:both; }
h1, h2, h3, h4, h5, h6 { padding:0; margin:0; }
html, body { height: 100%; width: 100%; padding: 0; margin: 0; }
/***************************************************
			     font face styles
********************************************/
@font-face {
 font-family: 'open_sansregular';
 src: url('fonts/opensans-regular-webfont.eot');
 src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-regular-webfont.woff') format('woff'), url('fonts/opensans-regular-webfont.ttf') format('truetype'), url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'open_sansbold';
 src: url('fonts/opensans-bold-webfont.eot');
 src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-bold-webfont.woff') format('woff'), url('fonts/opensans-bold-webfont.ttf') format('truetype'), url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: "ZurichBT-Bold";
 src: url('fonts/zurchb-webfont.eot');
 src: url('fonts/zurchb-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/zurchb-webfont.woff') format('woff'), url('fonts/zurchb-webfont.ttf') format('truetype'), url('fonts/zurchb-webfont.svg#ZurichBTBold') format('svg');
 font-weight: normal;
 font-style: normal;
 line-height:normal;
}
@font-face {
 font-family: 'ZurichBT-Roman';
 src: url('fonts/zurich-bt-roman.eot');
 src: url('fonts/zurich-bt-roman.eot?#iefix') format('embedded-opentype'), url('fonts/zurich-bt-roman.woff') format('woff'), url('fonts/zurich-bt-roman.ttf') format('truetype'), url('fonts/zurich-bt-roman.svg#zurich-bt-roman') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'ZurichCnBTBold';
 src: url('fonts/zurchbc-webfont.eot');
 src: url('fonts/zurchbc-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/zurchbc-webfont.woff') format('woff'), url('fonts/zurchbc-webfont.ttf') format('truetype'), url('fonts/zurchbc-webfont.svg#ZurichCnBTBold') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'philosopherregular';
 src: url('fonts/philosopher-webfont.eot');
 src: url('fonts/philosopher-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/philosopher-webfont.woff') format('woff'), url('fonts/philosopher-webfont.ttf') format('truetype'), url('fonts/philosopher-webfont.svg#philosopherregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'ZurichCnBTRegular';
 src: url('fonts/zurchc-webfont.eot');
 src: url('fonts/zurchc-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/zurchc-webfont.woff') format('woff'), url('fonts/zurchc-webfont.ttf') format('truetype'), url('fonts/zurchc-webfont.svg#ZurichCnBTRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
body { background:#fff url(../images/kola-bg.png) center 200px no-repeat; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; position:relative; min-width:1000px; }
/***** Page Css ***********/
.call_us { float: right; height: 171px; overflow: hidden; position: absolute; right: 0!important; text-align: left !important; top: 90px; width: 50px; z-index:99999; }
#outer_wrapper { width:100%; margin:0 auto; min-width:1000px; }
#page { width:1000px; margin:0 auto; padding:0 0 46px 0; height:auto; position:relative; min-height:790px;}
/*****header start*****/
#header { width:1000px; }
.logo { width:248px; float:left; }
.logo a { display:block; text-decoration:none; width:248px; }
.header-right { float:right; margin:0; padding-right:10px; width:700px; }
.top-links { float:right; margin:0 8px 0 0; background:url(../images/toplinkbg.jpg) no-repeat bottom; padding:0 0 3px 0; }
.top-links ul { list-style:none; margin:8px 0 0 0; float:left; }
.top-links ul li { font-size:11px; font-family: 'open_sansregular'; color:#656566; float:left; display:inline-block; padding:0 18px; border-right:1px dotted #a1a1a1; }
.top-links ul li a { text-decoration:none; text-transform:uppercase; color:#7a7a7a; }
.top-links ul li a:hover { text-decoration:none; color:#f9a402; }
.top-links ul li img { padding:0 7px 0 0; vertical-align:middle; }
.top-links ul li.last { background: url(../images/drop_down_arrow.gif) 104px 10px no-repeat; }
.flag_box { float: right; height: 33px; margin-bottom: 7px; margin-left: 0; margin-right: 0; margin-top: -4px !important; padding: 0; min-width: 103px; position:relative; }
.top_flag_area{   color: #7A7A7A; line-height:15px; font-size: 11px; margin:11px 0; padding:0px 7px; text-transform:uppercase; border-right: 1px dotted #A1A1A1; font-family: 'open_sansregular';}
.top_flag_area span{text-transform:none;}
.top_flag_area img{vertical-align:middle; margin:0 0 0 5px;} 
.searchbox { float:right; padding-top:5px; }
.searchbox .shipping { float:left; }
.searchbox .shipping p { background:url(../images/free-shipping.gif) no-repeat left center; padding:0 30px 0 32px; font-family: "ZurichBT-Bold"; font-size:15px; line-height:45px; color:#908f8f; text-transform:uppercase; }
.searchbox .shipping p span { font-family: 'ZurichBT-Roman'; font-size:11px; line-height:30px; color:#908f8f; text-transform:uppercase; }
.searchbox .search { float:left; margin:7px 0 0 0; }
.searchbox .search form { line-height:45px; }
.searchbox .search input[type="text"] { width:150px; height:25px; line-height:25px; border:1px solid #ceced0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background:url(../images/search_icon.gif) no-repeat left center; padding:0 5px 0 20px; color:#908F8F; }
.searchbox .search .searchbtn { background:url(../images/search.png) left top no-repeat; width:73px; height:25px; text-indent:-999999em; border:none; cursor:pointer; margin-left:5px; }
.searchbox .search .searchbtn:hover { background:url(../images/search.png) left -25px no-repeat; }
/*****header end*****/

/*****navigation start*****/
#nav_bar { width:836px; float:left; font-size:inherit!important;}
#nav_bar #custommenu{width:100%; padding:0;}
/*.nav_left { background:url(../images/nav-left.gif) left top no-repeat; width:4px; height:38px; float:left; }
.nav_right { background:url(../images/nav-right.gif) right top no-repeat; width:4px; height:38px; float:left; }
.nav_mid { background: url(../images/nav_mid.gif) repeat-x left top; width:823px; float:left; height:38px; position:relative; }*/
.nav_left { background:url(../images/nav-left2.gif) left top no-repeat; width:4px; height:38px; float:left; }
.nav_right { background:url(../images/nav-right2.gif) right top no-repeat; width:4px; height:38px; float:left; }
.nav_mid { background: url(../images/menubg.jpg) repeat-x left top; width:823px; float:left; height:38px; position:relative; }
.nav_mid ul { list-style:none; width:100%; float:left; }
#nav_bar .nav_mid > div.menu:first-child{background:none; border:none;}
#nav_bar .nav_mid > div.menu { float:left; padding:0 11px; border-left: thin solid #000000; /*background:url(../images/divider.gif) left top no-repeat;*/ background:none; position:relative; cursor: pointer;}
#allmenu921 div > a{background:url(../images/droparow.png) right center no-repeat; padding:0 15px 0 0;}
#nav_bar .nav_mid > div.menu a > span { text-decoration:none; font-family: 'ZurichBT-Roman'; font-size:12px; color:#fff; line-height:38px; text-transform:uppercase; display:block; }
#nav_bar .nav_mid > div.menu a:hover span, #nav_bar .nav_mid > div.menu.act .parentMenu > a > span {color: #87BA36;}
#nav_bar .nav_mid > div.menu a.itemMenuName{ /* background: url(../images/drop_down_divider.gif) repeat-x scroll left bottom transparent;*/  padding: 0 0 8px;}
#nav_bar .nav_mid > div.menu a.itemMenuName span{ text-transform:none; /*background: url(../images/arrow3.png) no-repeat scroll left 7px transparent;*/  padding: 0 0 0 10px; line-height:20px; color:#8B8B8B;}
#nav_bar .nav_mid > div.menu .block1{  width: 594px;}
.nav_mid ul li.rghtpadd { padding-right:0; }
.nav_mid ul li a:hover { color:#147526; }
.nav_mid ul li a img { vertical-align:middle; padding:0 2px 0 0; }
/****drop down menu****/
#nav_bar .nav_mid > div.wp-custom-menu-popup .block{padding:0; border:none;}

#nav_bar .nav_mid > div.wp-custom-menu-popup, #nav_bar .nav_mid > .menu div.wp-custom-menu-popup{display: none;margin:0; padding:0px 0 6px 0; position: absolute; top:37px!important; /*width:161px;*/ background:#fff; z-index:999; border:2px solid #374047; -moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; -o-border-radius:0 0 4px 4px; -ms-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px; left:0!important; border-top:0; }
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories{}
#nav_bar .nav_mid > div.wp-custom-menu-popup .column a, #nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li
{width:100%; float:left; margin:0; background:url(../images/drop_down_divider.gif) repeat-x left bottom; position:relative;}
#nav_bar .nav_mid > div.wp-custom-menu-popup .column a span, #nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > a
{ font-family: 'ZurichBT-Roman'; font-size:12px; color:#333333; background:url(../images/arrow4.png) left 13px no-repeat; padding:0 0 0 12px; width:96%; height:auto; line-height:34x; display:block; z-index:9999; text-transform:uppercase; line-height:32px; display:block; margin:0 0 0 5px;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > a{background:none;}
.nav_mid li ul.sub_menu1 li a:hover { color:#147526; }
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li{ float:left; width:160px; margin:0 20px 0 0; font-weight:bold; height: 310px; background:none;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul{min-height:240px;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li ul li, #nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li ul li a{background:none;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li{margin:0 0 0 8px;}

#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li a{ font-weight:normal;
font-family: 'ZurichBT-Roman'; font-size:12px; color:#8b8b8b; padding:0 0 0 12px;  display:block; line-height:20px; }
#nav_bar .nav_mid > div.wp-custom-menu-popup .column{float:none; padding:0;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li ul ul{display:none; position:absolute;     background-color: #F1F1F1;   border: 1px solid #CCCCCC; color:#000; z-index:999;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li ul li:hover ul{display:block;}

/****drop down menu****/
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li.ctgr-more .ctgr-more-menu{ position:relative;}

#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li.ctgr-more .ctgr-more-menu ul{  top: -19px;  left: 94px;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul > li.ctgr-more > a{ font-weight:bold; color:#545454;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li.ctgr-more a:hover{ color:#F59F02;}

#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li.ctgr-more .ctgr-more-menu li a{color:#545454; font-weight:normal;}

/*#allpopup921{ width:700px; position:absolute; left:300px!important;}*/

/*****navigation end*****/
.cart_item { background:url(../images/cart_btn.gif) left top no-repeat; width:155px; height:38px; float:left; }
.cart_item a { background:url(../images/icon1.png) 10px 7px no-repeat; text-decoration:none; font-family: 'open_sansbold'; line-height:38px; display:block; text-align:center; color:#fff; text-transform:uppercase; font-size:14px; padding-left:20px; }
.cart_item a:hover { color:#ecffd1; }
/****sub menu start*****/
.sub_menu { width:99%; float:left; margin:5px 0 11px 0; border:1px solid #cecece; margin-bottom:15px; border-top:1px solid #dedede; border-bottom:1px solid #dedede; background:#fff; moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; border-radius:5px; }
.sub_menu_left { background:url(../images/sub_menu_left_bg.png) left top no-repeat; width:5px; height:34px; float:left; }
.sub_menu_right { background:url(../images/sub_menu_right_bg.png) right top no-repeat; width:5px; height:34px; float:left; }
.sub_menu_mid { float:left; }
.sub_menu_mid ul { list-style:none; float:left; }
.sub_menu_mid ul li { float:left; padding:0 0 0 0px; border-right:1px dotted #bbbbbb; margin:2px 0; height:28px; width:196px; text-align:center;}
.sub_menu_mid ul li.rightpadd { padding-right:0; }
.sub_menu_mid ul li a { text-decoration:none; font-family: 'open_sansregular'; font-size:12px; color:#504e4e; line-height:32px; background:url(../images/sub_menu_icon.png) left 2px no-repeat; padding:0 0 0 18px; text-transform:uppercase; }
.sub_menu_mid ul li a.latest_pro { background:url(../images/sub_menu_icon.png) left -13px no-repeat; }
.sub_menu_mid ul li a.brand { background:url(../images/sub_menu_icon.png) left -31px no-repeat; }
.sub_menu_mid ul li a.blog { background:url(../images/sub_menu_icon.png) left -48px no-repeat; }
.sub_menu_mid ul li a.seller { background:url(../images/sub_menu_icon.png) left -63px no-repeat; }
.sub_menu_mid ul li a:hover { color:#4da736; font-weight:bold; }
/****sub menu end*****/

/****left_produt of the day start*****/
.pro_of_day { width:194px; float:left; margin: 0px 0 0 0px; }
.col2-left-layout .pro_of_day { margin-bottom:18px;}
.pro_top_corner { background:url(../images/pro_top_bg.png) left top no-repeat; width:194px; height:4px; float:left; }
.pro_bot_corner { background:url(../images/pro_bot_bg.png) left bottom no-repeat; width:194px; height:4px; float:left; }
.pro_mid { width:192px; float:left; background:#fff; border-left:1px solid #dedede; border-right:1px solid #dedede; padding-bottom:3px; }
.right-adv, .right-adv .pro_mid {padding:0;}
.pro_top_btn { background:url(../images/product_bg.gif) center top no-repeat; width:182px; height:44px; float:left; margin:3px 0 0 5px; }
.pro_top_btn h3 { font-family: "ZurichBT-Bold"; font-size:16px; color:#fff; text-transform:uppercase; line-height:38px; font-weight:normal; padding:0 0 0 13px; }
.pro_top_btn h3 span { font-family: 'ZurichBT-Roman'; font-size:15px; text-transform:none; font-weight:normal; }
/*****pro slider start****/
.slider_details { float:left; width:100%; height:285px; }
.pro_slide { width:190px; float:left; position:relative; margin:0px 0 0 0; text-align:center; height: 268px; }
.pro_slide p{ margin:0;}
.pro_slide ul{ height: 272px;}
.pro_slide .item{ background:#fff; display:block;}
.pro_slide .product-image{}
.pro_left_arrow { float:left; background:url(../images/arrow1.png) left top no-repeat; width:22px; height:54px; cursor:pointer; position:absolute; left:-9px; top:20px; }
.pro_right_arrow { float:right; background:url(../images/arrow1.png) right -54px no-repeat; width:22px; height:54px; cursor:pointer; position:absolute; right:-9px; top:20px; }
.pro_slider { width:100%; float:left; text-align:center; }
/*.pro_slider_text { width:78%; float:left; text-align:center; padding:0 0 0 20px; }*/
.pro_slider_text p, .product-name, .product-name a { font-family: 'open_sansregular'; font-size:12px; color:#504e4e; line-height:20px; }
#previmg { background:url(../images/arrow5.png) left top no-repeat; width:20px; height:50px; float:left; position:absolute; left:-8px; top:40px; cursor:pointer; z-index:999; }
#nextimg { background:url(../images/arrow5.png) right -50px no-repeat; width:20px; height:50px; position:absolute; right:-8px; top:40px; cursor:pointer; z-index:999; }
/*****pro slider end****/
.pro_price { width:100%; float:left; background:url(../images/shad.gif) left top no-repeat; margin:25px 0 5px 0; }
.pro_price h4 { font-family: 'philosopherregular'; font-size:19px; color:#201f1f;/* float:left;*/ padding:17px 10px 0 12px; font-weight:normal; }
/*.pro_price a { background:url(../images/add_to_cart.png) left top no-repeat; width:100px; height:27px; line-height:28px; font-family: 'ZurichCnBTBold'; font-weight:normal; font-size:14px; color:#fff; text-transform:uppercase; float:left; margin:13px 0 0 0; text-decoration:none; display:block; text-align:center;   margin: 0 0 0 44px; }
.pro_price a:hover { background:url(../images/add_to_cart.png) left -28px no-repeat; }*/
/****left_produt of the day end*****/

/****banner start*****/
#outer_banner { width:566px; border:1px solid #dfdfdf; float:left; padding:3px; margin:0 13px; moz-border-radius:5px; -webkit-border-radius:3px; -o-border-radius:3px; -ms-border-radius:3px; border-radius:3px; height:317px; }
.slider_details1 { float:left; width:100%; }
.banner { background:url(../images/banner_bg.jpg) left top no-repeat; width:566px; height:317px; float:left; }
.banner_left { width:264px; float:left; padding:42px 0 0 20px; }
.paging { float:left; padding:10px 0 0 5px; }
.banner_right { width:263px; float:right; padding-top:72px; }
#pager { height:8px; float:left; position: relative; left: 23px; top: -20px; z-index: 999; padding:0;}
			 
#pager li{  float:left; list-style-type:none;}
#pager li.activeSlide{}
#pager li a { background:url(../images/paging_icon1.png) no-repeat left top; float: left; height: 8px; padding: 0 3px 0 0; text-indent: -3333em; width:8px; }
#pager li.activeSlide a { background:url(../images/paging_icon1.png) no-repeat left -8px; width:8px; height:8px; }
/****banner start*****/

/****reasion to buy start*****/
.reasion_to_buy { background:url(../images/product_bg1.gif) center top no-repeat; width:172px; height:53px; float:left; margin:3px 0 0 5px; padding:7px 0 0 10px; }
.reasion_to_buy h3 { font-family: 'ZurichBT-Roman'; font-size:15px; text-transform:uppercase; font-weight:normal; color:#fff; }
.reasion_to_buy span { font-family: "ZurichBT-Bold"; font-size:16px; text-transform:uppercase; font-weight:normal; color:#fff; }
.reasion_list { width:182px; float:left; margin:0 0 0 10px; }
.reasion_list ul { list-style:none; float:left; }
.reasion_list ul li { float:left; width:100%; background:url(../images/bullte_icon.gif) left 9px no-repeat; }
.reasion_list ul li span { background:url(../images/shad1.gif) left bottom no-repeat; float:left; width:93%; display:block; color:#3d464c; padding:4px 0 20px 12px; font-size:12px; }
.reasion_list ul li a span { color:#7c7777; }
.reasion_list ul li a.nopadd { padding-bottom:14px; }
.reasion_list ul li a:hover { color:#4DA736; }
.reasion_list ul li a:hover span { color:#4DA736; }
/****reasion to buy end*****/

/****featured_con start*****/
#featured_wrap { width:100%; float:left; padding:30px 0 0 0; }
.featured_top { width:100%; float:left; }
.featured_top h1 { font-family: "ZurichBT-Bold"; font-weight:normal; color:#201f1f; font-size:20px; text-transform:uppercase;  text-indent: 10px; }
.featured_top h1 span { font-family: 'ZurichBT-Roman'; font-size:19px; color:#686766; text-transform:none; }
.feature_slider { width:98%; float:left; margin-left:0px; }
.slider_details2 { float:left; width:97%!important; height:310px !important; margin:0 1.5%; overflow:hidden;}
#previmg2 { background:url(../images/arrow2.png) left top no-repeat; width:29px; height:44px; float:left; position:absolute; left:0; top:120px; cursor:pointer; z-index:999; }
#nextimg2 { background:url(../images/arrow2.png) left -44px no-repeat; width:29px; height:44px; position:absolute; right:10px; top:120px; cursor:pointer; z-index:999; }
.feature_con { width:100%; float:left; background:url(../images/shad_bg.png) left top no-repeat; padding:22px 0 0 0; margin:4px 0 0 0; position:relative; }
.feature_left_arrow { background:url(../images/arrow2.png) left top no-repeat; width:29px; height:44px; float:left; margin:96px 0 0 0; cursor:pointer; }
.feature_right_arrow { background:url(../images/arrow2.png) left -44px no-repeat; width:29px; height:44px; float:left; cursor:pointer; margin:96px 0 0 0; }
.feature_box { width:180px; float:left; background:url(../images/divider1.gif) left top no-repeat; margin-left:8px; height:305px !important; }
ul.feature_slider li:first-child{background:none;}
.feature_slider .feature_img{width:135px; margin:0 auto;}
.feature_slider .feature_text_box{width:170px; margin:0 8px 0 12px;}
.feature_slider .feature_text_box .p_title{     margin: 0 0px 5px 0;}
.feature_img { text-align:center; }
.feature_text_box { width:99%; float:left; }

.p_title{ border-bottom:1px dashed #b9b9b9; margin:0 25px 5px auto; text-align:center; min-height: 45px; }
.p_title p{ text-align:center;}
.feature_text_box .p_title p { font-size:12px; color:#959394; line-height:20px; /*width:89%;*/ /*text-align:left;*/ font-weight:bold; padding:0!important; margin:0; text-align:center; font-family:arial; min-height:60px;}
.pro_price1 { width:98%; float:left; padding-top:0px;/* position: absolute; bottom: 0;*/ text-align:center;    }
.pro_price1 h4 { font-family: 'philosopherregular'; font-size:17px; color:#201f1f; float:left; padding:0px 0 0 0; font-weight:normal;  bottom:0; }
/*.pro_price1 a { background:url(../images/add_to_cart.png) left top no-repeat!important; width:100px!important; height:27px!important; line-height:28px!important; font-family: 'ZurichCnBTBold'; font-weight:normal!important; font-size:12px!important; color:#fff!important; text-transform:uppercase; float:left!important; text-decoration:none!important; display:block; text-align:center!important;  bottom:0; cursor:pointer; margin-left:45px;  margin-top: 5px;}
.pro_price1 a:hover { background:url(../images/add_to_cart.png) left -28px no-repeat!important; }
*/

.feature_box .pro_price1 a{ margin:5px auto; float:none!important;}
.pro_price1 div.price-box{padding:0px; /*font-size:17px;*/ font-weight:bold; min-height:41px;}
.pro_price1 div.price-box .price {padding:0px;}

.bot_shad { background:url(../images/bot_shad_bg.gif) left top no-repeat; width:100%!important; height:29px; float:left; }
/****featured_con end*****/

/****tab con start*****/
#tab_con { width:631px; float:left; border:1px solid #dedede; margin:28px 0 0 0px; position:relative; padding-bottom:4px; }
.tab_left_arrow { float:left; background:url(../images/arrow1.png) left top no-repeat; width:22px; height:54px; cursor:pointer; position:absolute; left:-9px; top:145px; }
.tab_right_arrow { float:right; background:url(../images/arrow1.png) right -54px no-repeat; width:22px; height:54px; cursor:pointer; position:absolute; right:-9px; top:145px; }
#tab_con .tabs { width:100%; float:left; margin:0px;border-bottom:none;}
#tab_con .tabs ul { list-style:none; float:left; background:url(../images/tab_bg.gif) repeat-x left top; height:46px; border-bottom:1px solid #dcdcdc; width:100%; }
#tab_con .tabs ul li { float:left; border-right:1px solid #dddddd; }
#tab_con .tabs ul li a { text-decoration:none; font-family: 'ZurichBT-Roman'; color:#201f1f; font-size:14px; text-transform:uppercase; line-height:46px; display:block; float:left; padding:0 20px; }
#tab_con .tabs ul li a:hover, #tab_con .tabs ul li a.active { background:#fff; color:#4DA736; }
.tab_slider .product {padding-left:8px; width:196px; float:left; background:url(../images/divider1-1.gif) right center no-repeat; margin:2px 0 0 0px; min-height:291px; text-align:center; }
#tab_con .tabs a.activeLink { background-color: #fff; }
.hide { display: none; }
.tab_slider { width:100%; float:left; }
.tabcontent { border: 1px solid #e3e5e4; border-top: 0; -moz-border-radius: 0px 0px 3px 3px; /* Firefox */ -webkit-border-radius: 0px 0px 3px 3px; /* Safari and Chrome */ border-radius:0px 0px 3px 3px; padding-bottom:1px; }
.slider_details3 { float:left; width:100%; height: 298px; overflow:hidden;}
#previmg3 { background:url(../images/arrow1.png) left top no-repeat; width:22px; height:54px; float:left; position:absolute; left:-9px; top:146px; cursor:pointer; z-index:999; }
#nextimg3 { background:url(../images/arrow1.png) right -54px no-repeat; width:22px; height:54px; position:absolute; right:-10px; top:146px; cursor:pointer; z-index:999; }
.slider_details4 { float:left; width:100%; height: 298px; }
#previmg4 { background:url(../images/arrow1.png) left top no-repeat; width:22px; height:54px; float:left; position:absolute; left:-9px; top:146px; cursor:pointer; z-index:999; }
#nextimg4 { background:url(../images/arrow1.png) right -54px no-repeat; width:22px; height:54px; position:absolute; right:-10px; top:146px; cursor:pointer; z-index:999; }
.slider_details5 { float:left; width:100%; height: 298px;  }
#previmg5 { background:url(../images/arrow1.png) left top no-repeat; width:22px; height:54px; float:left; position:absolute; left:-9px; top:146px; cursor:pointer; z-index:999; }
#nextimg5 { background:url(../images/arrow1.png) right -54px no-repeat; width:22px; height:54px; position:absolute; right:-10px; top:146px; cursor:pointer; z-index:999; }
/****tab con end*****/

/****ad con start*****/
.ad_con { width:320px; float:right; border:1px solid #dedede; padding:5px; margin:28px 0 0 0; }
.ad { background:url(../images/ad_img.jpg) left top no-repeat; width:318px; height:275px; float:left; position:relative; }
.warehouse { background:url(../images/warehouse_bg.png) left top no-repeat; width:183px; height:39px; float:left; margin:10px 0 0 -14px; }
.warehouse span { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; text-align:center; line-height:31px; display:block; font-weight:normal; }
.free_shipping { width:93%; float:left; padding:10px 0 0 22px; }
.free_shipping h3 { font-family: "ZurichBT-Bold"; color:#2e302f; font-size:23px; text-transform:uppercase; padding:7px 0 0 0; font-weight:normal; }
.see_detail { background:url(../images/detail_bg.gif) repeat-x left top; width:100%; height:36px; float:left; padding:14px 0 0 0; }
.see_detail a { float:left; text-align:center; width:100%; }
/****ad con end*****/

/****footer con start*****/
#outer_footer { background:#181e23 url(../images/foot_bg.jpg) repeat-x left top; width:100%; min-height:335px; min-width:1000px; padding:10px 0 0 0; }
.footer { width:1000px; margin:0 auto; }
/****footer left con start*****/
.foot_left { width:250px; float:left; background:url(../images/foot_right_divider.gif) repeat-y right top; min-height:287px; }
.foot_left h4 { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; padding:5px 0 15px 0; font-weight:normal; }
.slider_details6 { float:left; width:99%; height:250px; }
.blog_slide { width:100%; float:left; height:250px!important; background:none!important; }
.latest_blog { width:99%; float:left; padding:15px 0 0 0; background:url(../images/foot_bot_divider.gif) repeat-x left top; }
.latest_blog h5 { font-size:13px; color:#fff; font-weight:bold; }
.latest_blog p { width:90%; font-size:11px; color:#bdbfc1; line-height:20px; padding-top:3px; }
.read_more_btn { background: url(../images/read_more_btn.png) left top no-repeat; width:85px; height:24px; float:left; margin:3px 0 11px 0; }
.read_more_btn a { text-decoration:none; font-family: "ZurichBT-Bold"; color:#3b444a; font-size:11px; text-transform:uppercase; text-align:center; display:block; line-height:25px; font-weight:normal; }
.read_more_btn a:hover { background: url(../images/read_more_btn.png) left -25px no-repeat; color:#fff;  text-decoration:none;}
/****footer left con end*****/

/****footer right con start*****/
.foot_right { width:725px; float:left; margin:0 0 0 20px; }
.email_sign_up { background:#2f3941; height:36px; float:left; width:98%; padding:10px 0 0 15px }
.email_sign_up h5 { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; font-weight:normal; width:162px; float:left; padding:5px 0 0 0; }
.email_sign_up h5 img { vertical-align:middle; }
.sign_form { width:314px; float:left; }
.sign_form form .signup_input { background:url(../images/email_input_bg.gif) left top no-repeat; min-width:203px; height:27px; float:left; padding:0 0 0 3px; position:relative; }
.sign_form form .signup_input input { background:none; border:none; width:207px; height:21px; line-height:27px; float:left; font-size:11px; color:#7c7c7c; font-style:italic; }
.sign_form form input.sign_me { background:url(../images/sign_up_btn.gif) left top no-repeat; width:97px; height:27px; float:left; border:none; font-size:10px; color:#cde5c3; text-transform:uppercase; cursor:pointer; font-weight:bold;     padding: 0 0 4px; }
.sign_form form input.sign_me:hover { background:url(../images/sign_up_hover_btn.gif) left top no-repeat; }
.email_taxt { width:219px; float:right; padding:0 2px 0 0; }
.email_taxt p { font-size:12px; color:#c1c4c6; font-style:italic; }
.contact_con { background:#2f3941; height:46px; float:left; width:98%; padding:0px 0 0 15px; margin:23px 0 0 0; }
.contact_con h5 { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; font-weight:normal; width:145px; float:left; line-height:48px; }
.contact_con h5 img { vertical-align:middle; }
.contact_text { float:left; }
.contact_text p { font-size:12px; color:#9a9fa2; float:left; line-height:48px; }
.contact_text span { font-family: "ZurichBT-Bold"; font-size:16px; color:#fff; text-transform:uppercase; font-weight:normal; padding:0 0 0 10px; float:left; line-height:48px; }
.contact_text span a{color:#fff; text-decoration:none;}
.contact_text span a:hover{color:#87BA36; text-decoration:none;}
.foot_links { width:200px; float:left; background:url(../images/foot_right_divider.gif) repeat-y right top; padding:20px 0 0 0; min-height:152px; }
.foot_links h4 { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; font-weight:normal; }
.foot_links ul { list-style:none; float:left; width:100%; padding-top:10px; }
.foot_links ul li { float:left; padding:3px 0; width:100%; }
.foot_links ul li a { text-decoration:none; font-size:11px; color:#bbbdbf; }
.foot_links ul li a:hover { color:#fff; }
.foot_links1 { width:340px; float:left; background:url(../images/foot_right_divider.gif) repeat-y right top; padding:20px 0 0 20px; min-height:152px; }
.foot_links1 h4 { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; font-weight:normal; }
.foot_links1 ul { list-style:none; float:left; width:50%; padding-top:10px; }
.foot_links1 ul li { float:left; padding:3px 0; width:100%; }
.foot_links1 ul li a { text-decoration:none; font-size:11px; color:#bbbdbf; }
.foot_links1 ul li a:hover { color:#fff; }
.follow_us { width:135px; float:left; padding:20px 0 0 17px; text-align:center; }
.follow_us span { font-family: "ZurichBT-Bold"; font-size:14px; color:#fff; text-transform:uppercase; }
.follow_us_img { text-align:center; padding:15px 0 14px 0; }
.paypal { background:url(../images/foot_link_bg.gif) repeat-x left top; width:98%; height:26px; float:left; padding:6px 5px 0 10px; }
.paypal img { float:left; padding-right:2px; }
/****footer right con end*****/
.foot_bot { width:100%; float:left; background:url(../images/foot_bot_divider.gif) repeat-x left top; }
.copy_right { width:520px; float:left; padding:13px 0 0 0; }
.copy_right p { font-size:11px; color:#676666; float:left; }
.copy_right ul { list-style:none; float:left; padding-left:6px; }
.copy_right ul li { float:left; padding:0 3px; font-size:11px; color:#676666; background:none;}
.copy_right ul li a { text-decoration:none; font-size:11px; color:#676666; }
.copy_right ul li a:hover { color:#fff; }
.fb_like { background:url(../images/fb_like_bg.gif) repeat-x left top; width:310px; float:right; height:32px; padding:5px 0 0 0; margin-top:1px; text-align:center; }
.foot_bot .twitter-share-button{width:92px!important;}
.foot_bot .fb_iframe_widget iframe{margin:-3px 0 0;}
.foot_bot .fb_iframe_widget{margin:0 5px 0 0;} 
/****footer con end*****/

/************************details page css start************************/
.buy_koala_logo { margin: 7px 0 7px 10px; width:222px; height:87px; float:left; }
#side_bar { width:196px; height:auto; float:left;  }
#side_bar .product_category, #side_bar > .block.block-account { width:182 px; padding:5px; height:auto; border:1px solid #dedede; -moz-border-radius: 3px; /* Firefox */ -webkit-border-radius: 3px; /* Safari and Chrome */ border-radius:3px; background:#fff;  margin-bottom: 18px; }
#side_bar .product_category{margin:0 0 15px;}
#side_bar .product_category h2, #side_bar .block-account .block-title { color: #FFFFFF; font-family: "ZurichBT-Bold"; font-size: 16px; font-weight: normal; line-height: 38px; padding-left:10px; text-transform: uppercase; background:url(../images/product_bg.gif) no-repeat scroll center top transparent; }
#side_bar .block-account .block-title strong{color: #FFFFFF; font-family: "ZurichBT-Bold"; font-size: 16px; font-weight: normal; line-height: 30px;}
#side_bar .product_category h2 span { font-family: 'ZurichBT-Roman'; font-size: 15px; font-weight: normal; text-transform: none; }
#side_bar .block-account .block-content{padding:7px 0; background:none;}
#side_bar .product_category ul, #side_bar .block-account ul { margin:0px; padding:0px; }
#side_bar .product_category ul li, #side_bar .block-account ul li { border-top:1px dotted #a1a1a1; padding-left:10px; border-bottom:none;}
#side_bar .product_category ul li:first-child, #side_bar .block-account ul li:first-child { border-top:none;}
#side_bar .product_category ul li a, #side_bar .block-account ul li a, #side_bar .block-account ul li.current strong { 
color:#504e4e; font-family: 'open_sansregular'; font-size:12px; background:url(../images/product-category-arrow.gif) no-repeat left center; padding-left:10px; line-height:30px; border:none; font-weight:normal;}
#side_bar .product_category ul li a:hover, #side_bar .block-account ul li a:hover,  #side_bar .block-account ul li.current strong{ color:#ea8c04; }
#side_bar .free_shipping { width:186px; height:auto; border:1px solid #dedede; /*background:url(../images/free-shipping-img.jpg) no-repeat;*/ padding:0px; height:240px; 
	margin: 0px 0 18px 5px; position:relative; }
#side_bar .free_shipping a {  float: left; bottom: 10px; left: 0;
    margin: -39px 0 0 56px;
    position: absolute; }
#side_bar .free_shipping p{   left: 0;    padding: 0;
    position: absolute;
    top: 0;}
#side_bar .free_shipping p img{}
#side_bar .free_shipping h4 { background:url(../images/free-shippinh-heading-bg.png) no-repeat; color: #FFFFFF; font-family: "ZurichBT-Bold"; font-size:9px; text-transform:uppercase; width:135px; height:29px; padding: 8px 0 0 0px; margin:12px 0 0 -8px; font-weight:normal; position:relative; z-index:999; }
#side_bar .other_pro { padding:5px; height:auto; border:1px solid #dedede; -moz-border-radius: 3px; /* Firefox */ -webkit-border-radius: 3px; /* Safari and Chrome */ border-radius:3px; background:#fff;  margin-bottom: 18px; float:left;  width:182px; }
#side_bar .other_pro h2 { color: #FFFFFF; font-family: "ZurichBT-Bold"; font-size: 14px; font-weight: normal; line-height: 18px; padding-left:10px; margin-bottom:5px; text-transform: uppercase; background:url(../images/product_bg.gif) no-repeat scroll center top transparent; }

#side_bar .block-viewed .other_pro h2 { color: #FFFFFF; font-family: "ZurichBT-Bold"; font-size: 14px; font-weight: normal; line-height: 38px; padding-left:10px; margin-bottom:5px; text-transform: uppercase; background:url(../images/product_bg.gif) no-repeat scroll center top transparent; }
#side_bar .block-viewed .other_cust_viewded h2{line-height: 14px; padding: 4px 0 4px 10px;}

#side_bar .other_pro h2 span { font-family: 'ZurichBT-Roman'; font-size: 14px; font-weight: normal; text-transform: none; }
.other_pro_box { width:100%; background:url(../images/shad.gif) left bottom no-repeat; float:left; padding-bottom:18px; }
.other_pro_box figure { border:1px solid #bebebe; width:50px; float:left; margin:0 6px 0 0; }
.other_pro_box figure a{ display:block;}
.other_pro_box li.item { padding:0;}
.other_pro_dis { width:122px; float:left; }
.other_pro_dis .price-box{ font-size:13px;}
.other_pro_dis p { font-family: 'open_sansregular'; font-size:12px; color:#504e4e; padding-bottom:5px; }
.other_pro_dis span { font-size:13px; color:#201f1f; font-family: 'philosopherregular'; float:left; padding-right:7px; }
/*.other_pro_dis a { background:url(../images/add_to_cart_btn.png) left top no-repeat; width:74px; height:17px; float:left; text-decoration:none; font-family: "ZurichBT-Bold"; font-size:9px; text-transform:uppercase; text-align:center; color:#fff; line-height:17px; font-weight:normal; }
.other_pro_dis a:hover { background-position:left -18px; }*/
.recently_addto_box{float:right; min-width:125px;}
a.smallbtn-addtocart { background:url(../images/add_to_cart_btn2.png) no-repeat scroll 0 0 transparent; padding:0 0 0 3px; color: #FFFFFF; font-family: "ZurichBT-Bold"; font-size:9px; text-transform: uppercase; height:16px; font-weight:normal; cursor:pointer; margin:3px auto 0; display: inline-block; *display:block; line-height:9px;}
a.smallbtn-addtocart span{ background:url(../images/add_to_cart_btn2.png) no-repeat scroll right top transparent; display:block; padding:3px 7px 3px 4px; color:#fff; font:9px/9px "ZurichBT-Bold";}
a.smallbtn-addtocart:hover { background-position:0 -18px; }
a.smallbtn-addtocart:hover span{ background-position:right -18px; }
a.smallbtn-addtocart span > img{margin:0 3px 0 0; vertical-align:bottom;}

#content_wrapper { width:auto; float:left; }

#content_wrapper .product_description { width:430px; float:left; }
#content_wrapper .product_description .social_icon { width:100%; float:left; margin:8px 0 0; }
.product_description .social_icon .fb-like, .product_description .social_icon .twitter-share-button{float:left; margin:0 10px 0 0;}
#content_wrapper .product_description h2 { color:#201f1f; font-family: "ZurichBT-Bold"; font-size:20px; text-transform:uppercase; border-bottom:1px dotted #a1a1a1; padding-bottom:6px; font-weight:normal; }
#content_wrapper .product_description .add-to-cart-btn { width:auto; margin:22px 0 0 0px; float:left; }
#content_wrapper .product_description .newbtn2{margin: 0 0 0 11px;}
#content_wrapper .add-to-cart .add-to-cart-btn a { background:url(../images/btn-bg.gif) repeat-x scroll 0 0 transparent; padding:6px 4px 2px 4px; border:1px solid #389E36; -moz-border-radius:3px; /* Firefox */ -webkit-border-radius:3px; /* Safari and Chrome */ -ms-border-radius:3px; /* Firefox */ border-radius:3px; color: #FFFFFF; font-family: "ZurichBT-Bold"; font-size: 12px; text-transform: uppercase; margin-right:7px; height:18px; float:left; font-weight:normal; cursor:pointer; }
#content_wrapper .add-to-cart .add-to-cart-btn a img{ padding:0 4px 0 0; vertical-align:middle;}
#content_wrapper .product_description .add-to-cart-btn a img { vertical-align:middle; margin:0 5px 4px 0; }
#content_wrapper .add-to-cart .add-to-cart-btn a:hover { background: url(../images/add-to-cart-hover.gif) repeat-x scroll 0 0 transparent; border: 1px solid #DB7407; }
#content_wrapper .product_description > p { color:#504e4e; font-family: 'open_sansregular'; font-size:13px; line-height:25px; margin:15px 0 6px; padding:0; }
#content_wrapper .product_description .product_detail { width:430px; float:left; border-bottom:1px dotted #a1a1a1; line-height:35px; color:#504E4E; }
#content_wrapper .product_description .product_detail .price-box > p{line-height:20px;}
#content_wrapper .product_description .product_detail label { color:#504e4e; font-family: 'open_sansregular'; font-size:12px; text-align:right; width:85px; float:left; margin-right:11px;  font-weight: normal; }
#content_wrapper .product_description .product_detail .product_detail span { font-size:12px; color:#504E4E; font-family: 'open_sansregular'; float:left; }
#content_wrapper .product_description .product_detail span#old-price-102{color:#F57C11; }
#content_wrapper .product_description .product_detail h5 { font-size:20px; color:#201f1f; font-family: 'philosopherregular'; }
#content_wrapper .product_description .product_detail h5 span { font-size:12px; color:#fd7604; font-family: 'open_sansregular'; float:none!important; font-weight:normal; }
#content_wrapper .product_description .product_detail h5 span img { vertical-align:middle; }
#content_wrapper .product_description .product_detail select { background:#fff; width:170px; border:1px solid #ccccce; -moz-border-radius: 3px; /* Firefox */ -webkit-border-radius: 3px; /* Safari and Chrome */ border-radius:3px; font-size:13px; height:21px; line-height:22px; color:#898686; font-family: 'open_sansregular'; }
#content_wrapper .product_description .product_detail input { border:1px solid #ccccce; -moz-border-radius: 3px; /* Firefox */ -webkit-border-radius: 3px; /* Safari and Chrome */ border-radius:3px; font-size:13px; color:#898686; font-family: 'open_sansregular'; line-height:22px; height:21px; width:45px !important; margin:6px 0 0 0; padding:0; }
#content_wrapper #product_info { clear: both; float: left; height: auto; width: 774px; margin-top:0px; }
.tab-box { border-bottom: 1px solid #DDD; padding-bottom:8px; }
.tab-box a { color:#666666; padding: 6px 15px; text-decoration:none; text-transform:uppercase; font-family: 'ZurichCnBTRegular'; font-size:13px; }
.tab-box a.activeLink { background:url(../images/tab-heading-bg.gif) repeat-x; border-bottom: 0; padding: 10px 15px; font-family: 'ZurichCnBTRegular'; font-size:13px; text-transform:uppercase; color:#FFF; -moz-border-radius: 3px 3px 0 0; /* Firefox */ -webkit-border-radius: 3px 3px 0 0; /* Safari and Chrome */ border-radius:3px 3px 0 0; }
.tabcontent1 { border-top: 0; -moz-border-radius: 0px 0px 3px 3px; /* Firefox */ -webkit-border-radius: 0px 0px 3px 3px; /* Safari and Chrome */ border-radius:0px 0px 3px 3px; }
.tabcontent ul { margin:0px; padding:0px; }
.tabcontent ul li { width:auto; background:#efefef; border:1px solid #FFF; border-bottom:none; line-height:35px; }
.tabcontent ul li label { display:block; width:97px; text-align:right; font-family: 'open_sansregular'; color:#504e4e; font-size:12px; float:left; }
.tabcontent ul li span { font-family: 'open_sansregular'; color:#504e4e; font-size:12px; margin-left:8px; }
.color_chnge { background:#f6f6f6 !important; }
.hide { display: none; }
#content_wrapper .product_gallery { width:310px; height:auto; float:right; }
#content_wrapper .product_gallery span { float:left; margin-top:30px; width:9px; display:block; }
#content_wrapper .product_gallery .gallery_view { width:302px; border:1px solid #dfdfdf; -moz-border-radius:3px; /* Firefox */ -webkit-border-radius:3px; /* Safari and Chrome */ border-radius:3px; background:#fdfdfd; padding:4px; text-align:center; padding:0px 0 15px; }
#content_wrapper .product_gallery .gallery_view a{ display:block;}  

#content_wrapper .product_gallery ul { background: url(../images/gallery-bg1.gif) repeat scroll 0 0 transparent; border: 1px solid #DFDFDF; border-radius: 2px 2px 2px 2px; float: left; height: 56px; margin: 8px 7px 0; padding-right: 0; padding-top: 3px; width: 260px; padding-left: 7px; }
#content_wrapper .product_gallery ul li { float: left; margin: 0 0 0 5px; height:44px; }
#content_wrapper .product_gallery ul li a{height:44px; border:none;}
.img_holder { width:780px; height:15px; margin:0px auto; padding-top:15px; clear:both; }
.img_holder img { width:750px; }
/************************details page css end************************/

/************************listing page css starts************************/

#content_wrapper .cat_wide{ width: 780px !important;}
#content_wrapper .product_det { width:483px; height:auto; float:left; margin-right:0px; }
#content_wrapper .product_det h2, .dashboard .page-title > h1 { border-bottom: 1px dotted #A1A1A1; color: #201F1F; font-family: "ZurichBT-Bold"; font-size: 20px; padding-bottom: 6px; text-transform: uppercase; font-weight:normal;  padding-right:15px; margin-bottom:10px;   }
#content_wrapper .product_det p { color:#504e4e; font-size:13px; font-family: 'open_sansregular'; line-height:25px; margin-top:7px; }
#content_wrapper .product_det_img { float:left; }
#content_wrapper .products_catagory { width:782px; height:auto; float:left; clear:both; margin-top:20px; margin-bottom:40px; }
#content_wrapper .products_catagory ul { background:url(../images/listing-bottom-shadow.png) no-repeat bottom center; margin:0px; padding-bottom:15px; float:left; }
#content_wrapper .products_catagory ul li { background: url(../images/top-bal.gif) no-repeat scroll right top transparent; float: left; margin: 20px 10px 10px 0; padding: 4px 0px 0px 0px; width: 184px;  position:relative;  text-align:center;}
#content_wrapper .products_catagory ul li.first{border:none;} 

#content_wrapper .products_catagory ul li .col_box{    border-top:1px dashed #B9B9B9; margin: 0 10px 0 0; padding-top:5px; color: #504E4E;}
#content_wrapper .products_catagory ul li .det_col_box { margin: 0 10px 0 0;}
#content_wrapper .products_catagory ul li .col_box > span { color:##9D9D9D; font-family: arial; font-size:11px;   /*font-weight: bold;*/ padding: 0; }
.free_ship { width:100%;margin-bottom:15px; }
.free_ship h4 { font-size:12px; color:#fe7401; font-weight:normal; }
.free_ship h4 img { vertical-align:middle; padding-left: 5px; }
#content_wrapper .products_catagory ul li .col_box span .price-box {margin: 0; min-height: 40px;}
#content_wrapper .products_catagory ul li .cart-btn {/* width:100px;*/ height:28px;  margin:0px auto; /*margin-left:6px;*/ /*position:absolute; bottom:0;*/ }
/*#content_wrapper .products_catagory ul li .cart-btn a { background: url(../images/add_to_cart.png) no-repeat scroll left top transparent !important; color: #FFFFFF !important; display: block; float: right !important; font-family: 'ZurichCnBTBold'; font-size: 13px !important; font-weight: normal !important; height: 27px !important; line-height: 27px !important; text-align: center !important; text-decoration: none !important; text-transform: uppercase; width: 100px !important; }
#content_wrapper .products_catagory ul li .cart-btn a:hover { background: url(../images/add_to_cart.png) no-repeat scroll left -28px transparent !important; cursor:pointer; }*/


#content_wrapper .products_catagory ul li .cart-btn img { margin-right:3px; }

#content_wrapper .products_catagory ul li h2 {height: 30px;  font-weight: bold; font-family: 'open_sansregular'; font-size:13px; text-transform:uppercase; color:#4c4c4c; margin:10px 0 5px; }
#content_wrapper .products_catagory ul li p { color:#504e4e; font-size:12px; line-height:20px; margin-bottom:7px; padding:0; }
#content_wrapper .products_catagory ul li .det_col_box p{min-height:40px;} 
#content_wrapper .products_catagory ul li .product_img { background:url(../images/product-img-bottom-shadow.png) no-repeat bottom center; padding-bottom:10px; width:176px; margin:0px auto; text-align:center; }
.products_catagory_top_bg { height:57px; background:url(../images/top-head-bg.gif) repeat-x; -moz-border-radius:3px; /* Firefox */ -webkit-border-radius:3px; /* Safari and Chrome */ border-radius:3px; width:97.5%; float:left; padding:0 10px; }
.products_catagory_top_bg .top_content { width:100%; height:27px; }
.products_catagory_top_bg .top_content span { font-size:11px; font-family: 'open_sansregular'; color:#FFF; margin-top:7px; display:block; float:left; }
.products_catagory_top_bg .top_content span img { vertical-align:middle; margin-left:5px; }
.products_catagory_top_bg .top_content p { float:right; font-size:11px; font-family: 'open_sansregular'; color:#FFF; line-height: 28px;margin:0 0 0 0;  width: 143px;}
.products_catagory_top_bg .top_content p label { font-size:11px; font-family: 'open_sansregular'; color:#FFF; display:block; }
.products_catagory_top_bg .top_content p select { font-size:10px; color:#d6d6d6; background:#4f565e; border:1px solid #71767c; font-family: 'open_sansregular'; margin-top:5px; padding-top:1px; width:100px; height:18px; float:right; margin-left: 3px; }
.products_catagory_top_bg .bottom_content { width:101%; height:28px; }
.products_catagory_top_bg .bottom_content span { font-size:11px; font-family: 'open_sansregular'; color:#FFF; margin-top:7px; display:block; float:left; }
.products_catagory_top_bg .bottom_content .pagination {  width: 478px;    padding: 0 0 0 0px; height:22px; margin:8px 0 0 0px; float:left; }
.products_catagory_top_bg .bottom_content .pagination span { float:right; margin:0 0 0 3px; }

.products_catagory_top_bg .bottom_content p { width: 20%; font-size:11px; font-family: 'open_sansregular'; color:#FFF; margin:0px; display:block; float:right; 
 line-height: 27px; }
.products_catagory_top_bg .bottom_content p select { font-size:10px; color:#d6d6d6; background:#4f565e; border:1px solid #71767c; font-family: 'open_sansregular'; margin:0px 5px 0; width:46px; height:18px; padding-top:1px; }
.nomrgn_rght { margin-right:0px !important; }
/************************listing page css end************************/
	
	
/* branad page css*/	
.brand_logo_container { float:left; width:780px; padding:2px 0 0 0; margin:0 0 0 4px; height:auto; }
.brand_logo_container h3{
   border-bottom: 1px dotted #A1A1A1;
    color: #201F1F;
    font-family: "ZurichBT-Bold";
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 6px;
    text-transform: uppercase;}
	
#sliderbrand { float:left; position:relative; width:780px; padding:2px 0 10px 0; margin:0 4px 24px; margin-left:0px; /*height:140px; */top:10px; overflow:hidden; border-bottom:1px solid #c2c2c2; }
#whole_most_prod .navigation ul { border-bottom: 1px solid #C2C2C2; float: left; list-style: none outside none; margin: 0 0 7px; padding: 0 0 17px 0px; width: 92%; }
#whole_most_prod .navigation ul li { margin: 0 0 0 5px; padding:0; float:left; }
#whole_most_prod .navigation ul li a { display:inline-block; text-decoration:none; color: #5D5D5D; font-family: 'Calibri'; font-size: 13px; font-weight: normal; margin: 0 0 0 0px; padding:0px 4px; border:1px solid #c2c2c2; text-align: center; }
#whole_most_prod .navigation ul li .current_char { color:#FF0000; }
#whole_most_prod .navigation h3 { margin:0; color: #6EB00B; font-family: Arial, Helvetica, sans-serif; font-size: 18px; padding: 0 0 10px 0; font-weight:normal; text-transform: uppercase; }
#product_con .brand_logo_container h3 { margin:0; padding:0 0 6px 0; color: #6EB00B; font-family: Arial, Helvetica, sans-serif;; font-size: 20px; border-bottom:1px solid #c2c2c2; text-transform:uppercase; font-weight: normal; }
#whole_most_prod .navigation ul li a:hover { border:1px solid #c2c2c2c; background:#999999; }
#whole_most_prod .brand_list { clear:both; }
#whole_most_prod .brand_list .brand_normal .column1 { float:left; }
#whole_most_prod .brand_list .brand_normal .column1 li { margin:0; padding:0; float:left; border-right: 1px solid #C2C2C2; }
#whole_most_prod .brand_list .brand_normal .column1 li a { text-decoration:none; color: #5D5D5D; display: inline-block; font-family: 'Calibri'; font-size: 13px; font-weight: normal; margin: 0 0 0 2px; padding: 0 4px; }
#whole_most_prod .brand_list .brand_normal .column1 li a:hover { color: #1E7EC8; }
#whole_most_prod .brand_list .brand_normal .column2 { float:left; }
#whole_most_prod .brand_list .brand_normal .column2 li { margin:0; padding:0; float:left; border-right: 1px solid #C2C2C2; }
#whole_most_prod .brand_list .brand_normal .column2 li a { text-decoration:none; color: #5D5D5D; display: inline-block; font-family: 'Calibri'; font-size: 13px; font-weight: normal; margin: 0 0 0 2px; padding: 0 4px; }
.featured_brand { height:auto; width:130px; float:left; }
.featured_brand img { cursor:pointer; border:3px solid #e6e6e6; padding:5px 0px 0 0px; margin:0 0px 0 4px!important; }
.featured_brand p strong { text-align:center; padding:5px 0 2px; display:block; }
.featured_brand a { text-align:center; display:block; }
#whole_most_prod { float:left; width:571px; padding:2px 0 0 0; margin:0 4px; }
.row .price-box .price-label { float:left; width:130px; color: #676767; font-family: 'Calibri'; font-size: 12px; margin:0 8px 8px 0; clear:both; text-align: left; text-transform: uppercase; }
.row .price-box .price { float:right; font-weight:normal; }
#sliderbrand ul { margin:0; padding:0; list-style:none; }
#sliderbrand ul li { margin:0 0 8px; padding:0 7px; float:left;width:140px; }
#sliderbrand ul li p, .brand-index-view .brand_info > p { margin:0; padding:0; color: #504E4E; font-size: 12px; line-height: 20px;text-align:center; font-weight: normal; height:40px; overflow:hidden;}
#sliderbrand ul li h2{color: #4C4C4C; font-family: 'open_sansregular'; font-size: 13px; font-weight: bold; text-align:center; text-transform:uppercase;}
.brand-index-view .brand_info{width:100%; margin:0;}
.brand-index-view .brand_info > p img{border:1px solid #DEDEDE; padding:4px; float:left; margin:0 15px 10px 0;}
.brand-index-view .brand_info > h2{border-bottom: 1px dotted #A1A1A1; color: #201F1F; font:20px "ZurichBT-Bold"; margin-bottom: 10px; padding:0 15px 6px 0; text-transform: uppercase;}
.brand-index-view .brand_info > p{text-align:left; min-height:140px;height:auto; color:#959394; padding-right:10px; }
/* end of brand page css*/


.ibanners.animated .html { position:absolute; z-index:99; bottom:35px; left:20px;}

.html .shop_now_btn { width:270px; float:left; padding:23px 0 0 0; }

.html .shop_now_btn a{ display:block; }

.last { background:none !important; }
#product-price-147-new{}

.products_catagory .products-list{float: left;}

.products_catagory .products-list .item{} 

.products-list .item .product-image{ float:left; border:1px solid #DEDEDE;}

.price-to .price{}


 .bottom_content .pagination .pages { width:100%; margin:0 auto; text-align:center;}
 .bottom_content .pagination .pages ol {}
 .bottom_content .pagination .pages ol li { font-size: 11px;  line-height: 10px; display:inline;  color: #FFFFFF;   padding: 0 5px; border-left:1px solid #FFFFFF;}
 
 .bottom_content .pagination .pages ol li:first-child{ border:none!important;}
 
  .bottom_content .pagination .pages ol li.current{  display:inline; color: #FFFFFF;}
  .bottom_content .pagination .pages ol li a {  color: #FFFFFF;
    display: block;
    display:inline;
    font-family: 'open_sansregular';
   
    margin: 0 2px 0 4px;
    }
	
  .bottom_content .pagination .pages ol li a:hover { color:#e68705; text-decoration:none; }	
.bottom_content .pagination .pages ol li a img{ padding:0 0px;   padding: 0 3px 0 0;}

#product-minimal-price-120, #product-minimal-price-123{line-height: 17px; padding-left: 3px; }
#product-minimal-price-44{ line-height: 17px; padding-left: 5px;}
.old-price #old-price-166, .special-price #product-price-166, #product-minimal-price-126,#product-minimal-price-126{ line-height: 20px;}

.old-price .price, .special-price .price{line-height: 20px;}

#product-price-123, #product-price-126{  padding-right: 10px;}




.product .feature_text_box {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}
.feature_text_box {
    float: left;
    width: 99%;
}
.feature_text_box {
    background: url("../images/shad_bg1.gif") no-repeat scroll center top transparent;
    height: 122px;
    padding: 10px 0 0;
    position: relative;
}
aside, details, figcaption, figure, ins, summary, small, mark, title, video footer, header, hgroup, nav, section, article {
    display: block;
}
* {
    margin: 0;
    outline: 0 none;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
element.style {
    opacity: 1;
}
.tabcontent {padding-left: 15px;
    border-style: none solid solid;
}
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.tab_slider .product .feature_text_box{ height:109px;}
.tab_slider .product .p_title{ min-height: 42px;}


/*************************************************account-login********************************************/
.col-main .account-login{ /*-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; border-radius:5px;
 border: 1px solid #d9d9d9; */ width: 990px;  background:#fff; width: 990px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px; 
	-ms-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius:5px;
	 border: 1px solid #D9D9D9;}
 
.account-login .new-users{background:url(../images/divider_1.gif) right 20px no-repeat; padding-right:25px;    min-height: 285px;  padding-top: 30px;}
 
.account-login .new-users p{ font: 12px/20px arial; text-align:center; color:#959394;}
  
  
.account-login .registered-users{padding-top: 30px;}
.account-login .registered-users h2 {  color: #4E4E4E;
    font: 20px/20px 'ZurichCnBTBold';
    padding: 20px 0 10px 100px;
    text-align: left;
    text-transform: uppercase; font-weight:normal;}
	
.account-login .registered-users p{ font: 12px/18px arial; text-align:left; color:#959394;   padding: 0 0 0 100px;}	

.account-login .registered-users .form-list{ padding: 0 0 0 100px;}

.account-login .registered-users .form-list li{ }
.registered-users .form-list li label {
    color: #666666;
    float: left;
    font-weight: normal; padding:0 0 5px 0;
    z-index: 0;}


.registered-users .form-list li  .input-box{ position:relative;}
	
.form-list li  .input-box .input-text{ border: 1px solid #d9d9d9; 
	-moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; -ms-border-radiua:3px; border-radius:3px; padding:5px;}	
	
/*.pro_slide .item .price-box #product-price-159, .pro_slide .item .price-box .regular-price{ float:left; padding:0 0 0 20px;}*/	

/*.registered-users .form-list li .input-box .validation-advice { top: 102px;}*/

#content_wrapper .product_gallery .highslide-gallery{ position:relative;}
.product_gallery .highslide-gallery #prev2{ position:absolute;}
.product_gallery .highslide-gallery #next2{ position:absolute;}


#product_info ul.tabs, #product_info ul.tabs:hover { background:none!important;}
#product_info ul.tabs{height:33px; line-height:33px;}
.tabs li.active a,
.tabs li.active a:hover, .tab-box a.tabLink :hover  {  background: url(../images/tab-heading-bg.gif) repeat-x scroll 0 0 transparent;  }

.tabs a:hover{ background: url(../images/tab-heading-bg.gif) repeat-x scroll 0 0 transparent; text-decoration: none; color:#FFFFFF;}

.tabs li{ float:left;  font-size:0.9em; line-height:1em;  font-family: 'ZurichCnBTRegular';  font-size: 13px;  }

.padder{border: 1px solid #e3e5e4;
	border-top: 1px;
	-moz-border-radius: 0px 0px 3px 3px; /* Firefox */
	-webkit-border-radius: 0px 0px 3px 3px; /* Safari and Chrome */
	border-radius:0px 0px 3px 3px;
	padding-bottom:1px; -moz-border-top-colors: #E3E5E4;   border-top: 1px solid #E3E5E4;}
	
.padder .box-collateral{ margin:0;}	
	
.padder	.std{width:auto;    border-width: 1px 1px medium;
	background:#F6F6F6;
	border:1px solid #FFF;
	border-bottom:none;
    color: #504E4E;
    font-family: 'open_sansregular';
    font-size: 12px;
	line-height:19px; padding:10px;}
	
.padder	#product_tabs_review_tabbed_contents{background:#efefef; border-width: 1px 1px medium; border:1px solid #FFF;
	border-bottom:none;}
	

.padder .form-add h2{font-family: 'ZurichCnBTRegular'; font-weight:normal; margin:0;font-size: 17px;   padding: 0 0 10px 10px;  }
.padder .form-add h3{font-family: 'ZurichCnBTRegular'; font-weight:normal; margin:0;font-size: 15px;   padding: 10px 0 0px 10px;  }	
.padder .form-add h4{font-family: 'ZurichCnBTRegular'; font-weight:normal; margin:0;font-size: 15px;   padding: 0 0 10px 10px;  }

.form-add .data-table .first {background:#F6F6F6;}
.form-add .data-table .first th{background:#F6F6F6;} 
.form-add .data-table .odd {background:#F6F6F6 !important;}
.form-add .data-table .odd th, .form-add .data-table .odd td, .form-add .data-table .odd td .last {background:#EFEFEF; border-bottom: 1px solid #BEBCB7 !important;  color: #666666;} 
.form-add .data-table{    border-top: 1px solid #BEBCB7; border-bottom: none;}
.form-add .data-table thead th, .form-add .data-table th  {    border-bottom: 1px solid #BEBCB7 !important; padding:5px 10px;  color: #666666; }
.form-add .data-table td,   { background:#F6F6F6 ; border-bottom:1px solid #BEBCB7!important; padding:5px 10px;
	border-bottom:none; }
	
	
.padder	#product_tabs_review_tabbed_contents .dedicated-review-box{ padding:0 0 0 10px; }
.dedicated-review-box ol{}	
.dedicated-review-box ol li{ color: #666666;}
.dedicated-review-box ol li p{ padding:0 5px 0 0;}
.dedicated-review-box ol li table tr td { padding:5px 0;}

.dedicated-review-box ol li strong{ padding:0 5px 0 0;}
	
.form-add .data-table .even {
    background: none repeat scroll 0 0 #F6F6F6;}	
.form-add .form-list{ padding:20px 0 0 10px;}
.data-table td.value{ text-align:center;}
.form-add .form-list li label{ padding:0 0 10px 0;}

.form-add .form-list textarea { -moz-border-radius:3px; 
 border-radius:3px;
 -webkit-border-radius:3px;
 -o-border-radius:3px;
 -ms-border-radius:3px;}
.padder .buttons-set{ padding:10px; margin:0;}

.padder .buttons-set button.button{   background: url(../images/btn-bg.gif) repeat-x scroll 0 0 transparent;
 -moz-border-radius:3px; 
 border-radius:3px;
 -webkit-border-radius:3px;
 -o-border-radius:3px;
 -ms-border-radius:3px; font-family: 'ZurichCnBTRegular'; font-weight:normal;  width: 100px;}
 .padder .buttons-set button.button:hover{background:url(../images/btn-bg-hover.gif) 0 0 repeat-x;}
 
 .padder .buttons-set button.button span{font: normal 13px/13px 'ZurichCnBTRegular'; padding:0px 0px; height:auto; display:block;}
	
	
.main .col-main{}
	.main .col-main .page-title{ margin:0;}
.forget-pass-page h2, .account-create h1 { font-weight:normal; 
    color: #4E4E4E;
    font: 20px/20px 'ZurichCnBTBold';
    padding: 20px 0 10px 17px;
    text-transform: uppercase;
}				


 .account-create #form-validate > .fieldset{ float:left; width:329px;}
.forget-pass-page form .fieldset, .account-create form .fieldset { padding:45px 0 0 20px; margin:0; border-bottom: 1px solid #CCCCCC; border-left:none; border-top:none; border-right:none; background:#fff; }

.account-create #form-validate .form-list li label{    padding: 6px 0 10px;}
.account-create #form-validate .form-list label.required em{top: 4px;}

.account-create form .fieldset h2.legend{/*background: none repeat scroll 0 0 #87BE3C;*/ border-bottom: 1px solid #E4E4E4; margin:0; float:none; border-left:none;
	border-top:none; border-:none; font:22px/22px 'ZurichCnBTRegular'; color:#504E4E; border-right:none;}
#form-validate > .fieldset{padding:20px 0 0; border:none;}
#form-validate .form-list{padding-left:15px;}
	
.forget-pass-page form .fieldset .legend, .account-create .fieldset .legend { border: 1px solid #CCCCCE;    margin: -39px 0 0 0px; background:none; 
  font: normal 15px/15px 'ZurichCnBTRegular';
	padding:10px;}

#contactForm .fieldset .form-list { width: 722px; }

.fieldset .form-list {  padding: 15px 0 0; }
.fieldset .form-list li label{ padding:0 0 10px 0;  font: normal 13px/13px 'ZurichCnBTRegular';}

.forget-pass-page form .buttons-set, .account-create form .buttons-set { margin:0; padding:10px 0 10px 10px;}

form .buttons-set p.required{ text-align:left;}
.account-create form .buttons-set {}
.account-create form .buttons-set button.button { float:left;}
.forget-pass-page form .buttons-set button.button, .account-create form .buttons-set button.button  {
    background: url(../images/btn-bg.gif) repeat-x scroll 0 0 transparent;
    border: 1px solid #389E36;
    border-radius:3px;
	-moz-border-radiua:3px;
	-webkit-border-radiua:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
    height: 28px;
    margin: 0 20px 0 0; 
    padding: 0px 8px;
   }
   
   
.forget-pass-page form .buttons-set{ border-top:none;}
	
.forget-pass-page form .buttons-set button.button span{} 
.account-create form .buttons-set button.button span {   color: #FFFFFF; font: normal 13px/13px 'ZurichCnBTRegular';    padding-top: 3px;
    display: block;
    height: 19px;
    text-align: center;
    white-space: nowrap;}   
   
	
.buttons-set p.back-link  {
    background: url(../images/btn-bg.gif) repeat-x scroll 0 0 transparent;
    border: 1px solid #389E36;
    border-radius:3px;
	-moz-border-radiua:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-border-radiua:3px;
    height: 25px;
    margin: 0 20px 0 0; 
    padding: 0px 5px;
   }
	
.buttons-set p.back-link a{ color:#fff;  font: normal 13px/13px 'ZurichCnBTRegular'; padding:5px 0px 0 0; display:block;}	

.buttons-set p.back-link a small{ float:left; padding: 0 5px 0 0;}


.cart .discount h2 {font: normal 15px/15px 'ZurichCnBTRegular'; }	
.discount .discount-form{ padding:10px 0 0 0;}		
	
.discount .discount-form label {font: normal 13px/13px 'ZurichCnBTRegular'; padding:10px 0 0 0; }
.discount-form .buttons-set	{ padding:10px 0 0 0!important;}
.cart .totals #shopping-cart-totals-table{padding:0px 20px 0 0;}
.cart .totals #shopping-cart-totals-table colgroup{ text-align:center;}
.cart .totals #shopping-cart-totals-table colgroup col{ width:200px;}
.forget-pass-page, .account-create{ background:#fff; -moz-border-radius: 5px;-o-border-radius: 5px; -ms-border-radius: 5px; -webkit-border-radius: 5px;border-radius:5px;		
		 border: 1px solid #D9D9D9; padding:0 0 10px 0;}
	 
	 
.cart .totals tfoot td.a-right{ text-align:center!important;}
.discount-form .buttons-set button.button span span{  font: normal 13px/13px 'ZurichCnBTRegular'; padding:0; background:url(../images/btn-bg.gif) repeat-x scroll 0 0 transparent;   height:21px; margin:0; 
padding:5px 10px 0 10px;  -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px;  border-radius:3px; -o-border-radius:3px;  }

.discount-form .buttons-set button.button:hover span span, .cart-table .btn-update:hover span span {
    background: url("../images/btn-bg-hover.gif") repeat-x scroll 0 0 transparent;
}
.blog_left_wraper{ background:#fff; padding:20px 0 0 20px; float: left;}

.blog_left_wraper .postWrapper {clear: both; border-top:4px solid #aede70;
    padding-bottom: 25px;
	background:url(../images/post-bg.jpg) left top repeat-x; width:645px; padding:10px 0 0 15px;
    width: 725px;
	margin:0 0 10px 0;}
	
.postTitle h2 {
	font: normal 20px/30px 'ZurichCnBTRegular';}	
	
.blog_left_wraper .postDetails{ text-transform:uppercase;}	
.blog_left_wraper .postDetails a{background:url(../images/comments-bg.jpg) left top repeat-x; color:#fff; font-size:10px;
-moz-border-radius:3px;
-o-border-radius:3px;
-ms-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px; padding:2px 5px 2px 5px;}

.postDetails .social_icon{ padding:10px 0 0 0;}
.postDetails .social_icon a {
    background: none!important;
    padding: 0 2px !important;
}
.blog_left_wraper #postComment{ float:left;
  background:#F4F4F4;
    border: 1px solid #DFEAEE;
    margin: 10px 20px 0 0;
    padding: 1.2em 1.2em 40px;
    position: relative;
    width: 96%;}	
.blog_left_wraper #postComment .group-select .legend{    font: 20px/30px 'ZurichCnBTRegular';}	
 
.blog_left_wraper #postComment .group-select ul li .input-box label{ padding:5px 0;   font: 15px Calibri,Arial,Helvetica,sans-serif;  color: #555555;} 

.blog_left_wraper #postComment .button-set button.button {font: normal 13px/13px 'ZurichCnBTRegular'; padding:0; background:url(../images/btn-bg.gif) 0 0 repeat-x ; width:106px;     margin:0; padding:3px 0px;  -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px;  border-radius:3px; -o-border-radius:3px;  height: 24px; text-align:center}
.blog_left_wraper #postComment .button-set button.button span{ height:auto; display:block; padding: 0 10px 0 6px; float:left;}
.blog_left_wraper #postComment .button-set button.button span span{  font: 13px/13px 'ZurichCnBTRegular'; float:none; display:block; }
.blog_left_wraper #postComment .button-set button.button:hover{background:url(../images/btn-bg-hover.gif) 0 0 repeat-x; }
	
.blog_right_wraper{background:#fff; padding: 20px 0 0;}
.blog_right_wraper .block-blog{background:#ebecee; width:196px; }
.block-blog .block-content .menu-recent h5{ background:#d5d6d8; padding: 5px 9px; -moz-border-radius:3px;
			-o-border-radius:3px;
			-ms-border-radius:3px;
			-webkit-border-radius:3px;
			border-radius:3px; font: normal 16px/16px 'ZurichCnBTRegular';  margin: 0 10px;}
			
.menu-recent ul, .menu-categories ul{}			
			
.menu-recent ul li, .menu-categories ul li{ font:12px/18px Arial, Helvetica, sans-serif;  
	background: url(../images/li-btm.gif) left bottom repeat-x;  padding: 5px 0 10px 24px;}
.menu-recent ul li a, .menu-categories ul li a{ color: #504E4E;}			
.block-blog .block-content  .menu-categories h5	{ background:#d5d6d8; -moz-border-radius:3px;
			-o-border-radius:3px;
			-ms-border-radius:3px;
			-webkit-border-radius:3px;
			border-radius:3px; font: normal 16px/16px 'ZurichCnBTRegular'; padding: 5px 9px; margin: 0 10px;}		

.product-view .product-essential form .product_detail .product-options{ background:#fff; }

.product_detail .product-options .last dt label {font: normal 15px/15px 'ZurichCnBTRegular';}

.product_detail .product-options dd{   padding: 5px 0 15px;}

.product_detail .product-options dd .input-box ul.options-list{}

.product-options dd .input-box ul.options-list li{ padding:10px 0 0 0;}

.product_detail .product-options dd{}

.product_detail .product-options-bottom{ background: #F6F6F6;    margin-bottom: 20px; }
.product-options-bottom .add-to-cart-btn { float:left;}
.product-options-bottom .add-to-cart .product_detail{ float:left;  padding: 3px 0 0;}
.product-options-bottom .add-to-cart-btn .link-wishlist{ color: #2F2F2F !important;   float: left;}

.product-options-bottom .add-to-cart-btn button.button span{ font: normal 15px/15px 'ZurichCnBTRegular'; padding-top: 3px;  text-transform: none;}

.product-options-bottom .add-to-cart-btn button.button{ margin: 0px 5px 0 0;}
.product-options-bottom .add-to-links .add-to-cart-btn li{ padding:10px 0 0 0; float: right;}

.product-options-bottom .add-to-cart-btn a.link-wishlist{ background:url(../images/btn-bg.gif) repeat-x scroll 0 0 transparent;
	padding:5px 10px 0 10px; border:1px solid #389E36; -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px;  border-radius:3px; -o-border-radius:3px;
	 color: #FFFFFF !important;  font: normal 15px/15px 'ZurichCnBTRegular'; height:20px;} 

.product-options-bottom .add-to-links .add-to-cart-btn li a.link-wishlist{ background:url(../images/btn-bg.gif) repeat-x scroll 0 0 transparent;
	padding:5px 10px 0 10px; border:1px solid #389E36; -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px;  border-radius:3px; -o-border-radius:3px;
	 color: #FFFFFF !important;  font: normal 15px/15px 'ZurichCnBTRegular';} 
	 
	 
.cart .crosssell ul{}	
.cart .crosssell ul li{} 
.cart .crosssell ul li .product-details{ }	 

.cart .crosssell ul li .product-details button.button{  float: left;    margin-top: 3px;}

.btn-cart:hover { background: url("../images/btn-bg-hover.gif") repeat-x scroll 0 0 transparent;  -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px;  border-radius:3px; -o-border-radius:3px;
   
}

.cart .crosssell ul li .product-details button.button span{  font: 13px/13px 'ZurichCnBTRegular'; text-transform:none;   padding: 5px 10px 0;}
.cart .crosssell ul li .product-details button.button span span{ padding:0;}

.cart .crosssell ul li ul.add-to-links{ float: left;}

.detail_page_freeshiping{  color: #FD7604 !important;  line-height: 30px;
    padding: 0 0 0 10px; }
.product_description .detail_page_freeshiping{  margin:0 0 0 85px;}
.product_detail .price-box-bundle .price-box p.price-from{float: left;
    width: 29% !important;}
.product_detail .price-box-bundle .price-box p.price-to{float: left;
    width: 59% !important;}	
	
.price-box-bundle .price-to .price-label{ font-weight:normal;}

#content_wrapper .product_description .product_detail  p.availability  span { float:none!important;}

#content_wrapper .product_description .price-box p .full-product-price{    padding-left: 7px;}
#content_wrapper .product_description .price-box p .full-product-price .price{     line-height: 24px}	

#content_wrapper .product_description .price-box p.price-as-configured .price-label{ font-weight:normal; font-size: 12px;}

.group_or_bundal_product{ border: 1px solid #DEDEDE;    
 border-radius: 3px 3px 3px 3px;    -moz-border-radius: 3px 3px 3px 3px; -o-border-radius: 3px 3px 3px 3px; 
 	-ms-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px;}
	
#products-list li .product-shop .f-fix{ width:auto!important;}
#products-list li .product-shop .f-fix .product-name{ background:none;   margin: 0;
    padding: 0;}	

#products-list li .product-shop .f-fix p{  float: left;}


#products-list li .product-shop .f-fix .price-box{ width:100%;}

#products-list li .product-shop .f-fix .desc{color: #504E4E;
    font-size: 12px;}
	
/*.share2 {  background: url(../images/share2.jpg) no-repeat scroll left top transparent;height: 189px; left: -41px;  padding: 8px 0 0; position: absolute;
    top: 143px; width: 43px;z-index: 0; }	 */
.dashboard .page-title{border:none; margin:0;}
.buttons-set .button, .multiple-checkout .button{ background: url(../images/btn-bg.gif) repeat-x scroll 0 0 transparent;
      border-radius:3px;
	-moz-border-radiua:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-border-radiua:3px;
    height: 25px; padding:0 10px;
}
#multiship-addresses-table tfoot button.button span, .multiple-checkout .title-buttons button.button span{background:none; border:none;}
#review-buttons-container .button{ background:none; margin-right: 10px; height:auto;}
#content_wrapper .my-account{width:770px;}
#wishlist-table{margin:8px 0 0;}
#wishlist-table > thead th{ background: url("../images/bkg_block-title.gif") repeat-x scroll 0 0 #FFFFFF;
    font: 15px/15px 'ZurichCnBTRegular';
    padding: 10px;  border-right: 1px solid #C2D3E0;  border-bottom: 1px solid #C2D3E0 !important;}

.right_tab {float: right; font: bold 12px Verdana; list-style-type: none; padding: 0 0 0 0px; position: absolute; right: -23px; width:33px; top:198px;}
.right_tab ul{margin:0; padding:0px; list-style:none; }
.right_tab ul li{width:32px; display:list-item; padding:0; margin:0 0 1px;}
.right_tab ul li a{width:32px; background:url(../images/buttons.png) 0 -212px no-repeat; display:block; text-decoration:none; text-indent:-999em;} 
.right_tab ul li a[rel="country1"]{height:116px; background-position:0 -212px;}
.right_tab ul li a[rel="country2"]{height:77px; background-position:0 -329px;}
.right_tab ul li a[rel="country3"]{height:110px; background-position:0 -407px;}
.right_tab ul li a[rel="country4"]{height:86px; background-position:0 -518px;}
.right_tab ul li a[rel="country5"]{height:103px; background-position:0 -605px;}
.right_tab ul li a[rel="country6"]{height:129px; background-position:0 -709px;}
.right_tab ul li a.selected[rel="country1"], .right_tab ul li a:hover[rel="country1"]{height:116px; background-position:-34px -212px;}
.right_tab ul li a.selected[rel="country2"], .right_tab ul li a:hover[rel="country2"]{height:77px; background-position:-34px -329px;}
.right_tab ul li a.selected[rel="country3"], .right_tab ul li a:hover[rel="country3"]{height:110px; background-position:-34px -407px;}
.right_tab ul li a.selected[rel="country4"], .right_tab ul li a:hover[rel="country4"]{height:86px; background-position:-34px -518px;}
.right_tab ul li a.selected[rel="country5"], .right_tab ul li a:hover[rel="country5"]{height:103px; background-position:-34px -605px;}
.right_tab ul li a.selected[rel="country6"], .right_tab ul li a:hover[rel="country6"]{height:129px; background-position:-34px -709px;}

/**** Primer comparison ****/
.share2 {background:url(../images/share3.jpg) no-repeat left top; width:43px; height:162px; position:absolute;top:201px;left:-43px; z-index:0; padding:8px 0 0;}
.share2 a {padding:2px 6px 0; display:block;}
.share2 .fb1{background:url(../images/fb1.jpg) no-repeat left top;   height: 30px;
    margin-left: 5px;    padding: 0;    width: 30px;  text-indent: -999px;}
.share2 .fb1:hover{background:url(../images/fb1.png) no-repeat left top; }
.share2 .twitter1{background:url(../images/twitter1.jpg) no-repeat left top;   height: 30px;
    margin-left: 5px;    padding: 0;    width: 30px;  text-indent: -999px;}
.share2 .twitter1:hover{background:url(../images/twitter1.png) no-repeat left top; }

/*.price-box > p, .product_of_the_day .price-box span{display:inline; float:none;padding:0 5px; }*/
.product_of_the_day .price-box span span{line-height:normal;}
.price-box {width:100%; float:left;}
.product_of_the_day{overflow:hidden;}
.product_of_the_day .price-box{line-height:19px; padding:0 0 5px;}
.product_of_the_day .product-name{padding:0 5px 5px; width:180px;}

.col2-right-layout{}
#side_bar .block-cart{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 3px 3px 3px 3px;
    height: auto;
    margin-bottom: 18px;
    padding: 5px;
}
#side_bar .block-cart .block-title {
    background: url("../images/product_bg.gif") no-repeat scroll center top transparent;
    color: #FFFFFF;
    font-family: "ZurichBT-Bold";
    font-size: 16px;
    font-weight: normal;
    line-height: 38px;
    padding-left: 10px;
    text-transform: uppercase;
}
#side_bar .block-cart .block-title strong {
    color: #FFFFFF;
    font-family: "ZurichBT-Bold";
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
	background-position:left center;
}
#side_bar .block-cart button.button{   background: url(../images/btn-bg.gif) repeat-x scroll 0 0 transparent;
 -moz-border-radius:3px; 
 border-radius:3px;
 -webkit-border-radius:3px;
 -o-border-radius:3px;
 -ms-border-radius:3px; font-family: 'ZurichCnBTRegular'; font-weight:normal;  width: 100px;}
#side_bar .block-cart button.button:hover{background:url(../images/btn-bg-hover.gif) 0 0 repeat-x;}
 
.forget-pass-page h1{ color: #4E4E4E;
    font: 20px/20px 'ZurichCnBTBold';
    padding: 20px 0 10px 17px;
    text-transform: uppercase;}
	

.forget-pass-page form .fieldset h2.legend {
    border-bottom: 1px solid #E4E4E4; margin:0; float:none; border-left:none;
	border-top:none; border-:none; font:22px/22px 'ZurichCnBTRegular'; color:#504E4E; text-transform:none;}

.forget-pass-page form .fieldset p{  padding: 10px 12px;}

.rewardsref-customer-index .group-select .legend {background: url("../images/bkg_block-title.gif") repeat-x scroll 0 0 #FFFFFF;}

#checkout-step-loginbutton .col2-set .buttons-set .button span {}
    
.chockout_process{ width:783px;}

.op_container{ font-family: 'ZurichCnBTRegular'; font-size:13px; color:#666;}

.op_left{ float:left; width:100%; padding:5px 0px; }

.op_left > label{ padding:5px 0px; float:left; min-width:80px; text-align:right;} 
.op_left > label:after{content:":"; color:#000; font-size:12px;  padding: 0 0 0 2px;}
.op_left > label em{ color:#EB340A; padding:0 3px 0 0; font-size:11px; font-family:Arial, Helvetica, sans-serif;}

.op_right{float:left;} 

.op_left select{-moz-border-radius:3px; padding:3px; 
 border-radius:3px;
 -webkit-border-radius:3px;
 -o-border-radius:3px;
 -ms-border-radius:3px; border: 1px solid #D9D9D9; }
 
  .op_left .required{ float:left;}
    .op_left .price-notice, .op_left .price-notice span.price{ font-weight:normal; color: #666666;}
 .op_left .input-box,  .op_right .input-box { padding:0 0 0 12px; float:left;}
.op_left .input-box input, .op_left .input-box .product-custom-option required-entry{-moz-border-radius:3px;  
 border-radius:3px;
 -webkit-border-radius:3px;
 -o-border-radius:3px;
 -ms-border-radius:3px; border: 1px solid #D9D9D9; padding:3px;} 
 
.input-box p{ padding:5px 0;}
.tab_slider .product.first{border:none;}
.feature_text_box .price-box > p{padding:0;}
.product_of_the_day .price-box p{display:inline; float:none;padding:0 4px; }
.product_of_the_day .price-box p span{padding:0;}
.main-container .breadcrumbs{ float: left; margin: 0 0 13px 10px; width: 100%;}
#slidermoreviews{float:left;}
.email_icon{float:left; margin:0 8px 0 0; line-height:16px;}
.email_icon img{vertical-align:middle;}
.products_catagory .price-box .regular-price{display:block; width:100%;}
#content_wrapper .products_catagory .price-box  span.label, .slider_details_upsell .pro_price h4 .price-box > span.label{color:#4C4C4C; font-family: open_sansbold; font-size: 15px; line-height:29px; font-weight:bold;}
#recently-viewed-items .price-box .regular-price{display:block; width:100%;}
#recently-viewed-items .price-box .price-from, #recently-viewed-items .price-box .price-to{text-align:left; font-weight:normal;}
#questionForm > .fieldset{ margin: 28px 15px;}
#product_tabs_notes_contents #product-q-a a#add-question { color:#504E4E; font-family: "ZurichBT-Bold"; font-size: 12px; text-transform: uppercase; margin-right:7px; height:18px;font-weight:normal; cursor:pointer; }
#product_tabs_notes_contents #product-q-a a#add-question:hover {  }
#product_tabs_notes_contents .head h4{color:#201F1F; font:16px/30px "ZurichBT-Bold";  padding: 0 0 0 12px; text-transform: uppercase; }
.slider_details_upsell .pro_price{margin:8px 0 5px;}
.slider_details_upsell .pro_slider_text{min-height:60px;}
.slider_details_upsell .pro_price h4{padding-top:7px;}
.slider_details_upsell .pro_price h4 .price-box > span{font-size:15px;}
.product-essential .product_description .product_detail .price-box .regular-price .price{font-family: 'philosopherregular'; font-size:15px; color: #4C4C4C; padding:0 0 0 17px;}
.padder .pager {color: #504E4E; font-family: 'open_sansregular';  line-height:20px; text-transform:capitalize; }
.padder .pager a:hover{color: #F57C11;}
#product_tabs_notes_contents .question-entry{ margin:10px 10px 0; padding:15px; font-family:'open_sansregular'; font-size: 12px; line-height:19px; background:#F6F6F6}
#product_tabs_notes_contents .question-entry .entry-comment{color:#504E4E;  font-family:'open_sansbold'; font-size: 12px; line-height:19px;}
#product_tabs_notes_contents .question-entry .entry-answer{color:#504E4E;  font-family:'open_sansregular'; font-size: 12px; line-height:19px;}
#product_tabs_notes_contents .question-entry > p{margin:0; padding:0; }
#product_tabs_notes_contents .question-entry >p small{display:inline; margin:0 10px 0 0; color:#504E4E; font-weight: bold; font-size: 11px;}
.multiple-checkout {margin: 0 10px;}
.multiple-checkout > h2{color: #FE7401;     font: 15px/15px 'ZurichCnBTRegular'; padding:5px 0 5px 10px;}
.multiple-checkout .product-name{background:none; padding:0;}

/******registration**********/
.close_btn{
	float:right;
	clear:both;
	margin:35px 40px 0 0;
}
.registration{ background:url(../images/registrationbg.jpg) no-repeat left -8px; width:1000px; height:550px; padding: 0 0 0 0;}
.register2{ background:url(../images/register2.png) no-repeat left 204px; margin:0 auto 0; padding:204px 0 0; width:467px; height:57px; overflow:hidden;}
.register2 .select1{background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #646464;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 20px;
    margin: 8px 10px 0 24px;
    padding: 8px 5px;
    position: relative; 
	-moz-box-shadow: 10px 5px 5px #0d0909;
-webkit-box-shadow: 10px 5px 5px #0d0909;
        box-shadow: 10px 5px 5px #0d0909;		
    width: 112px; behavior: url(css/PIE.htc);}
.register2 .select1 select{border: 0 none;
    color: #6E777F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin:0;
    width: 110px; padding:2px 0 0 0;}
	.register2 .select1 select option{ height:25px;}
	.register2 .select2{ border-radius:10px; border:2px solid #646464; -moz-box-shadow: 10px 5px 5px #0d0909;
-webkit-box-shadow: 10px 5px 5px #0d0909;
        box-shadow: 10px 5px 5px #0d0909; behavior: url(css/PIE.htc); background:#fff; height:20px; width:210px; position:relative; padding:8px 5px 8px 7px; float:left; margin:8px 10px 0 0;}
	.register2 .select2 input{ border:0px none; height:20px; margin:0; width:210px; line-height: 20px;}
.goregister{ float:left; margin:8px 0 0 0; }
.goregister input{ background:url(../images/go.png) no-repeat left top; width:53px; height:39px; border:0px none;}
.goregister input:hover{ background:url(../images/gohover.png) no-repeat left top;}

.minideal2kids span{ float:left;}
.minideal2 span{float:left;}
.popular_deals_blue span{float:left;}
.top2pink {
    background: url("../images/top2pink.jpg") repeat-x scroll 0 0 transparent;
    height: 117px;
    min-width: 1000px;
    width: 100%;}
	

.pageouter2pink {
    background: url(../images/pinkbg.jpg) no-repeat scroll center -27px;
    width: 100%;
}

.minideal2business span{ float: left;}

.register2 .select2 input {
    border: 0 none;
    height: 20px;
    line-height: 20px;
    margin: 0;
    width: 210px;
    color:#6E777F !important;
}
#product_tabs_upsell_products_tabbed_contents h2{margin:10px 0 10px 10px;}

.page-sitemap ul.sitemap li a{
    background: url("../images/product-category-arrow.gif") no-repeat scroll left center transparent;
    color: #504E4E;
	min-width:120px;
    font:12px/20px open_sansregular, Arial, Helvetica, sans-serif;
    padding:10px 10px;
	text-decoration:none;
}
.page-sitemap ul.sitemap li a:hover{color:#87BA36;}
.pager .amount{ color: #504E4E;}
.allcategories_page ul.all_cat_list > li{
    display: inline-table;
    height: auto;
	vertical-align:top;
    margin: 0 0 0 5px;
    padding: 0 0 0 12px;
    width:23%;
}
.allcategories_page ul.all_cat_list > li > a{
    font-family: 'ZurichCnBTBold';
    font-size: 12px;
	color: #333333;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    display: block;
    line-height: 18px;
	padding:0 0 4px;
}	
.allcategories_page ul.all_cat_list > li li a{
    color: #8B8B8B;
    display: block;
    font-family: 'ZurichBT-Roman';
    font-size: 12px;
    font-weight: normal;
	line-height:normal;
	text-transform:capitalize;
}
.allcategories_page ul.all_cat_list > li ul{
	margin:0 0 10px;
	padding:0;
}
.catalogsearch-result-index #content_wrapper {width:770px;}
.catalogsearch-result-index #content_wrapper .note-msg{margin:10px 0 0;}
.truncated {display:none;}


/* ibanner css*/
.ibanners.animated { overflow: hidden; width: 100%; height: 318px; }
.ibanners.animated ul {  height: 318px;  overflow: hidden; width: 9000px;  }
.ibanners.animated ul li { float: left; overflow: hidden; }

.ibanners.static { overflow: hidden; width: 100%; }
.ibanners.static ul { height: 1%; overflow: hidden; width: 9000px; }
.ibanners.static ul li { float: left; }

.ibanners-wrapper { position: relative;   height: 318px; }

.ibanners-wrapper .controls { position: absolute; width: 100%; }
.ibanners-wrapper .controls .control-prev { float: left; }
.ibanners-wrapper .controls .control-next { float: right; }

.ibanners-wrapper .controls-top { top: 0; }
.ibanners-wrapper .controls-middle { top: 45%; }
.ibanners-wrapper .controls-bottom { bottom: 0; }
.ibanners-wrapper .controls-below { position: static; height: 1%; overflow: hidden; }

.ibanners-wrapper .controls-ol .control-prev { position: relative; left: -10px; z-index:99; }
.ibanners-wrapper .controls-ol .control-next { position: relative; right: -10px; z-index:99;  }
