/************** Skin 1 *********************/

@font-face {
 font-family: 'open_sansregular';
 src: url('fonts/opensans-regular-webfont.eot');
 src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-regular-webfont.woff') format('woff'), url('fonts/opensans-regular-webfont.ttf') format('truetype'), url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}

.dd {
	/*display:inline-block !important;*/
    float: left;
     font-family: 'open_sansregular';
    font-size: 12px;
    padding: 0;
    text-align: left;
    width: 55px !important;
}
.dd .ddTitle {
padding-top:0px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:26px;
	width:84px;
	padding-left:3px;
}
.dd #msdrpdd20_title{ }

.dd .ddTitle span.arrow {
	background: url(../images/drop_down_arrow.gif) no-repeat 0 !important; margin:11px 18px 0 9px; float:right; display:inline-block;width:6px; height:3px; cursor:pointer; 
}

.dd .ddTitle span.ddTitleText {text-indent:1px; line-height:23px; color:#7a7a7a; text-transform:uppercase; font-size:11px;}
.dd .ddTitle span.ddTitleText img{text-align:left; padding:6px 0 0 6px; float:right;}
.dd .ddTitle img.selected {
	padding:0 3px 0 0;
	vertical-align:top;
	
}
.dd .ddChild {
	position:absolute;
	display:none;
	left:7px;
	margin-top:-1px;
    width: 92px !important;
	overflow-y: auto;
	background-color:#faf7f7;
	-moz-border-radius:0 0 5px 5px;
	-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;

}

#msdrpdd20_child{}

.dd #msdrpdd20_titletext{
	float:right;
	padding:0 0 0 5px;
}
.dd #msdrpdd20_child a img {
    float:left;
    padding:3px 11px 0 0;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {padding-left:10px}
.dd .ddChild a {
	display:block;
	padding:5px 0 5px 3px;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	border-top:1px solid #ebeaea;
	color:#656566; text-transform:uppercase; font-size:11px;
}

