<?php /*?><script type="text/javascript">
jQuery(function(){

   jQuery('#sliderbrand').cycle({
	
		fx:'fade',
		speed: 2000
	
	})

});
</script><?php */?>


<?php
$counter = 0;
$total_items = count($items);
print '<ul style="float:left;">';
foreach($items as $item)
{
    $counter++;
    print '<li>'.$item.'</li>';
    if( is_int($counter / 5) && $total_items >= $counter )
    {
        print '</ul>';
    }
}
print '</ul>'
?>


                        
<div class="brand_logo_container">
   <h3><?php echo $this->__('Latest Brands')  ?></h3>
<?php 
$counter = 0;
$total_items = count($this->getFeaturedBrand()) ?>
<div id="sliderbrand">
 <?php if ($total_items) :?>	
    <ul>
    <?php foreach ($this->getFeaturedBrand() as $item): 
		$counter++;
		?>
            
              <li class="featured_brand"> 
                    <div>		
                       <a href="<?php echo Mage::getBaseUrl() ?>brand/index/view/manufacturer/<?php echo $item['manufacturer_option_id'] ?>/?brandname=<?php echo $item['title'] ?>">
                       <img src="<?php echo Mage::helper('brand')->getBrandImage($item, 'small') ?>"
                            alt="<?php echo $item['title'] ?>"/>
                   </a>
                   <h2><?php echo $item['title'] ?></h2>
                   <p>
                       <span><?php echo $item['content'] ?></span>
                   </p>
                   </div>
              </li>
				<?php if( is_int($counter / 5) && $total_items >= $counter )
                    {
                        print '</ul>'; if($total_items>$counter) print'<ul>';
                    }
					
					
                ?>
    <?php endforeach; ?>
     </ul>     
 <?php endif ;?>    
 </div>   
</div>

        <?php /*?><div id="whole_most_prod">
            <div class="most_prod_cont">
                <div class="brand_block">
                    <div class="navigation">
                        <h3><?php echo Mage::helper("brand")->__("All Brands") ?></h3>
                        <ul class="navigation_char"><?php echo $this->navigation() ?></ul>
                    </div>
                </div>
                <div class="brand_list">
                    <ul class="brand_normal">
                <?php
                $collection = $this->getBrandChar();
                $noItem = $collection->count();
                if ($noItem > 12)
                    $column = 4;
                elseif ($noItem <= 12 && $noItem > 8)
                    $column = 2;
                elseif ($noItem <= 8 && $noItem > 4)
                    $column = 3;
                else
                    $column = 1;
                $itemEachColumn = floor($noItem / $column);
                $firstColumn = $itemEachColumn + $noItem % $column;
                $itemCount = 1;
                $column1 = '<div class="column1">';
                $column2 = '<div class="column2">';
                $column3 = '<div class="column3">';
                $column4 = '<div class="column4">';
                foreach ($collection as $brand):  ?>
				
				<?php //echo '<pre>';
				//print_r($brand);
				$imgUrl = Mage::helper('brand')->getBrandImageIndex($brand['option_id'], $brand['value'] , 'medium');
                    $item = '<li>
					<a href="' . Mage::getBaseUrl() . 'brand/index/view/manufacturer/' . $brand['option_id'] . '/?brandname=' . $brand['value'] . '"><img src="'. $imgUrl .'" alt="" >'.$brand['value'].'</a>
                </li>';
                    if ($itemCount <= $firstColumn)
                        $column1 .= $item;
                    elseif ($itemCount <= ($firstColumn + $itemEachColumn) && $itemCount > $firstColumn)
                        $column2 .=$item;
                    elseif ($itemCount <= ($firstColumn + $itemEachColumn * 2) && $itemCount > $firstColumn + $itemColum)
                        $column3 .=$item;
                    else
                        $column4 .=$item;
                    $itemCount++;
                endforeach;
                echo $column1 . "</div>" . $column2 . "</div>" . $column3 . "</div>" . $column4 . "</div>";
                ?>
            </ul>
        </div>
    		</div>
		</div><?php */?>