#custommenu {
   /* position:relative;*/
    font-size: 14px;
    margin: 0 auto;
    padding: 0 16px;
    width: 918px;
    z-index: 999;
}
div.menu {
    float: left;
}
div.menu.act {
    background-color:#ADD8E6;
}
div.menu.active {
    background-color:#FFC0CB;
}
div.wp-custom-menu-popup {
    position:absolute;
    z-index:3000;
    border:5px solid #FFC0CB;
    display: none;
    background-color:#fff;
    text-align:left;
}
div.menu, div.wp-custom-menu-popup {
    padding: 5px 12px 6px 8px;
}
div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
}


#nav_bar .nav_mid > div.menu a.itemMenuName:hover span{ color: #87BA36;}
#nav_bar .nav_mid > div.wp-custom-menu-popup ul.allcategories > li > ul li a:hover{color: #87BA36;}
div.wp-custom-menu-popup a.actParent {
    color: #4D4D4D;
}
div.wp-custom-menu-popup a.act {
    color: #A52A2A;
}
div.column {
    float:left;
    width:193px; /* column width */
    padding: 5px 0 0 5px;
}
div.itemSubMenu {
    margin-left:20px;
}
.clearBoth {
    clear:both;
}
