<?php
/**
 * Demac Media Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/LICENSE-M1.txt
 *
 * @category   Demac
 * @package    Demac_All
 * @copyright  Copyright (c) 20010-2011 aheadWorks Co. (http://www.demacmedia.com)
 * @license    http://www.demacmedia.com/LICENSE.txt
 */ 

?>
<form method="post" action="<?php echo $this->getUrl('adminhtml/system_config/save', array('section'=>'demacall'))?>" id="demac_firstrun">
		<table class="form-list" cellspacing="0">
		<colgroup class="label"/>
		<colgroup class="value"/>
		<tbody>

			<tr>
				<td class="label">
					<label for="general_locale_timezone"><?php echo $this->__('I wish to be informed about')?>:</label>
				</td>
				<td class="value">
					
					
					<select name="groups[feed][fields][interests][value][]" style="width:214px" size="6" multiple="multiple" id="interests">
						<?php foreach(Mage::getModel('demacall/source_updates_type')->getGridOptions() as $k=>$v):?>
							<option selected="selected" value="<?php echo $k?>"><?php echo $this->__($v)?></option>
						<?php endforeach;?>					
					</select><br/>
					<a href="#" onclick="$$($('interests').options).each(function(el){el.selected=1});return false;"><?php echo $this->__("Select all")?></a>
					/
					<a href="#" onclick="$('interests').selectedIndex = -1;return false;"><?php echo $this->__("Deselect all")?></a>
				</td>
			</tr>
			<tr>
				<td class="label"></td>
				<td class="value">
					<button id="demac-save-button" class="scalable save" style="" onclick="saveCloseMessagePopupWindow()" type="button">
					<span id="demac-save-button-content"> <?php echo $this->__('Save &amp; Close')?></span>
					</button>
				</td>
			</tr>	
			<tr>
				<td colspan="2" align="right">
					<div style="width:365px"><small><?php echo $this->__("This message appears only once. At any time you can change these preferences 
					from System > Configuration > Demac Media extensions > Info. <br/><a href=\"%s\">Visit it now</a>", $this->getUrl('adminhtml/system_config/edit', array('section'=>'demacall')))?></small>
					</div>
				</td>
			</tr>			
		</tbody>
		</table>
	</form>