<!--@subject New Deal Available in {{var data.city}}! @-->
<!--@vars
{"var data.name":"name",
"var data.city":"city",
"var data.click":"click",
"var data.unsubscribe_url":"unsubscribe_url",
"var data.image_url":"image_url",
"var data.url":"url"
"var data.website_url":"website_url",
"var data.website":"website",
"var data.email":"email",
"var data.date":"date",
"var data.special_price":"special_price",
"var data.price":"price",
"var data.discount":"discount",
"var data.you_save":"you_save",
"var data.merchant_name":"merchant_name",
"var data.merchant_phone":"merchant_phone",
"var data.merchant_mobile":"merchant_mobile",
"var data.merchant_email":"merchant_email",
"var data.has_merchant_website":"has_merchant_website",
"var data.merchant_website":"merchant_website",
"var data.merchant_address_1":"merchant_address_a",
"var data.merchant_address_2":"merchant_address_b",
"var data.merchant_address_3":"merchant_address_c",
"var data.merchant_address_4":"merchant_address_d",
"var data.merchant_address_5":"merchant_address_e",
"var data.merchant_description_width":"merchant_description_width",
"var data.merchant_description":"merchant_description",
"var data.has_side_deals":"has_side_deals",
"var data.side_deals":"side_deals",
"var data.all_deals_url":"all_deals_url",
"var data.recent_deals_url":"recent_deals_url",
"var data.contact_us_url":"contact_us_url",}
@-->

<html>
<!--<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Daily Deals</title>
<style type="text/css">
	body{ margin:0px; padding:0px; background-color:#e4f1fa;}
</style>
</head>-->

<body>
<table width="100%" cellpadding="0" cellspacing="0" style="background:#e4f1fa;">
  <tr><td>

<table width="664" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="54">&nbsp;</td>
    <td width="610"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/last_chance_email_top.jpg" width="609" height="119" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td align="right" valign="top" style="padding-top:"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-email-socail-icon.jpg" width="55" height="374" border="0" usemap="#Map5" /></td>
    <td><table width="565" border="0" align="center" cellpadding="0" cellspacing="0" dwcopytype="CopyTableCell">
      <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/daily-deals-main.jpg" width="578" height="374" /></td>
                </tr>
                <tr>
                  <td><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/moredeals.jpg" width="578" height="66" /></td>
                </tr>
                <tr>
                  <td valign="top" bgcolor="#FFFFFF" width="578">
                  
                  <table width="570px" border="0" align="center" cellpadding="0" cellspacing="5" style="padding:4px;">
                    <tr>
                    {{var data.side_deals}}
                    </tr>
                <tr>
                  <td><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/view-deals.jpg" width="577" height="54" border="0" usemap="#Map6" /></td>
                </tr>
              </table></td>
              <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td valign="top" style="padding-bottom:3px;"><a href="http://www.ikoalaeveryday.com.au/" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/everyday.jpg" width="31" height="116" border="0" alt="Everyday" /></a></td>
                </tr>
                <tr>
                  <td style="padding-bottom:3px;"><a href="http://www.ikoalaeveryday.com.au/" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/kids.jpg" width="31" height="76" border="0" alt="Kids" /></a></td>
                </tr>
                <tr>
                  <td style="padding-bottom:3px;"><a href="http://www.ikoalabusiness.com.au/" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/business.jpg" width="31" height="109" border="0" alt="Business" /></a></td>
                </tr>
                <tr>
                  <td style="padding-bottom:3px;"><a href="www.ikoala.com.au/deals/ikoala.php" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/travel.jpg" width="31" height="85" border="0" alt="Travel" /></a></td>
                </tr>
                <tr>
                  <td style="padding-bottom:3px;"><a href="http://www.ikoala.com.au/deals/ikoala.php" target="_blank"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/all-deals.jpg" width="31" height="102" border="0" alt="All Deals" /></a></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="67%"><p style="font-family:Trebuchet MS; font-size:12px; color:#83a2b7; line-height:20px;">Have a question? Email us at <span style="color:#0f83e7; text-decoration:none;"><a href="mailto:dailydeals@ikoala.com.au" style="text-decoration:none; color:#0f83e7;">dailydeals@ikoala.com.au</a></span> <br />
                    Team Ikoala | PO Box 6362 | North Sydney, NSW 2059, Australia Manage your subscription | Send to a friend<br />
                    <br />
                    Your Daily Deal - National / Unsubscribe </p></td>
                  <td width="33%" valign="top"><img src="http://tisindiasupport.com/clientwork/ikoala/mailer/images/share.jpg"  alt="" width="193" height="41" border="0" usemap="#Map4Map"/></td>
                </tr>
              </table>
                <map name="Map4Map" id="Map4Map">
                  <area shape="circle" coords="99,20,15" href="#" target="_blank" />
                  <area shape="circle" coords="130,21,14" href="#" target="_blank" />
                  <area shape="circle" coords="161,19,14" href="#" target="_blank" />
                </map></td>
              <td valign="top">&nbsp;</td>
            </tr>
            
            
            
            
            
        </table></td>
      </tr>
    </table>
      <map name="Map2" id="Map2">
        <area shape="rect" coords="72,77,198,93" href="#" target="_blank" />
        <area shape="rect" coords="91,97,216,112" href="#" target="_blank" />
      </map>
      <map name="Map3" id="Map3">
        <area shape="rect" coords="454,10,545,43" href="#" target="_blank" />
      </map>
      <map name="Map4" id="Map4">
        <area shape="circle" coords="99,20,15" href="#" target="_blank" />
        <area shape="circle" coords="130,21,14" href="#" target="_blank" />
        <area shape="circle" coords="161,19,14" href="#" target="_blank" />
      </map></td>
  </tr>
</table>
</td></tr></table>

<map name="Map" id="Map">
<area shape="rect" coords="528,1,605,32" href="#" target="_blank" />
</map>
<map name="Map5" id="Map5">
  <area shape="circle" coords="26,99,14" href="#" target="_blank" />
  <area shape="circle" coords="26,60,14" href="#" target="_blank" />
  <area shape="circle" coords="26,23,14" href="#" target="_blank" />
</map>

<map name="Map6" id="Map6"><area shape="rect" coords="463,11,553,42" href="http://www.ikoala.com.au/deals/ikoala.php" target="_blank" />
</map></body>
</html>