<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.2
 * @since        Class available since Release 1.0
 */
 
	$checkout_skin	= 'glc-skin-'.$this->helper('gomage_checkout')->getConfigData('general/skin');
	
	if($this->helper('gomage_checkout')->getConfigData('general/skin') == 'default'){
	
		$buttons_skin = 'glc-bskin-'.$this->helper('gomage_checkout')->getConfigData('general/button_skin');
		
		$checkout_popup_skin = 'glc-pskin-default';
	
	}else{
		
		$buttons_skin = '';
		
		$checkout_popup_skin = 'glc-pskin-'.$this->helper('gomage_checkout')->getConfigData('general/skin');
		
	}
	$buttons="";
	$round="";
	
	if ($checkout_skin=='glc-skin-black' or $checkout_skin=='glc-skin-blue' or $checkout_skin=='glc-skin-brown' or $checkout_skin=='glc-skin-gray' or $checkout_skin=='glc-skin-green' or $checkout_skin=='glc-skin-light-blue' or $checkout_skin=='glc-skin-light-green' or $checkout_skin=='glc-skin-orange' or $checkout_skin=='glc-skin-red' or $checkout_skin=='glc-skin-pink' or $checkout_skin=='glc-skin-violet' or $checkout_skin=='glc-skin-yellow' or $buttons_skin=='glc-bskin-square-black' or $buttons_skin=='glc-bskin-square-blue' or $buttons_skin=='glc-bskin-square-brown' or $buttons_skin=='glc-bskin-square-grey' or $buttons_skin=='glc-bskin-square-green' or $buttons_skin=='glc-bskin-square-light-blue' or $buttons_skin=='glc-bskin-square-light-green' or $buttons_skin=='glc-bskin-square-orange' or $buttons_skin=='glc-bskin-square-red' or $buttons_skin=='glc-bskin-square-pink' or $buttons_skin=='glc-bskin-square-violet' or $buttons_skin=='glc-bskin-square-yellow' or $checkout_popup_skin=='glc-pskin-black' or $checkout_popup_skin=='glc-pskin-blue' or $checkout_popup_skin=='glc-pskin-brown' or $checkout_popup_skin=='glc-pskin-gray' or $checkout_popup_skin=='glc-pskin-green' or $checkout_popup_skin=='glc-pskin-light-blue' or $checkout_popup_skin=='glc-pskin-light-green' or $checkout_popup_skin=='glc-pskin-orange' or $checkout_popup_skin=='glc-pskin-red' or $checkout_popup_skin=='glc-pskin-pink' or $checkout_popup_skin=='glc-pskin-violet' or $checkout_popup_skin=='glc-pskin-yellow')
	$buttons="glc-nbutton";
	
	if($buttons_skin=='glc-bskin-round-black' or $buttons_skin=='glc-bskin-round-blue' or $buttons_skin=='glc-bskin-round-green' or $buttons_skin=='glc-bskin-round-orange' or $buttons_skin=='glc-bskin-round-red' or $buttons_skin=='glc-bskin-round-gray')
	$round="glc-bskin-round";
 
?>
<?php if($this->getContent()):?>
<div class="glc-content<?php if (Mage::helper('gomage_checkout')->isLefttoRightWrite()): ?> glc-rtl<?php endif; ?>">
	<?php echo $this->getContent();?>
</div>
<?php endif ?>

<script type="text/javascript">
	//<![CDATA[

	<?php 
	    $translator = array(
	        'This is a required field.' => $this->__('This is a required field.'),
	        'Please select one of the options.' => $this->__('Please select one of the options.'),
	    	'There is already a customer registered using this email address. Please login using this email address or enter a different email address.' => $this->__('There is already a customer registered using this email address. Please login using this email address or enter a different email address.')
	    );
	?>

	if (typeof(Translator) != 'undefined'){
		Translator.add(<?php echo Zend_Json::encode($translator) ?>);
	}		
	
	Validation.addAllThese([
	    ['validate-taxvat', '<?php echo $this->__('Please enter a valid VAT.');?>', function(v) {

		if ($('billing_country_id')){    
    	    if(vat_required_countries.indexOf($('billing_country_id').value) !== -1){
    	    	
    	    	if($('buy_without_vat') && $('buy_without_vat').checked && !checkout.billing_taxvat_verified_flag){
    	    		
    	    		return false;
    	    	
    	    	}else if(v && !checkout.billing_taxvat_verified_flag){
    	    		
    	    		return false;
    	    		
    	    	}
    	    	
    	    }
		}
	    
	    return true;
	}]]);
	
	var countryRegions			= <?php echo $this->helper('directory')->getRegionJson(); ?>;
	var glc_regions_required    = <?php echo Mage::helper('gomage_checkout')->getCountriesStatesRequired(); ?>;
	if (typeof countryRegions.config != 'undefined'){		
		countryRegions.config.regions_required = glc_regions_required;
	} 
	var default_shipping_method	= '<?php echo $this->getDefaultShippingMethod()?>';
	var default_payment_method	= '<?php echo $this->getDefaultPaymentMethod()?>';
	
	var shippingMethod = false;
	var loadinfo_text = "<?php echo $this->__('Updating information, please wait...')?>";
	
	var vat_required_countries = new Array(<?php printf('"%s"', implode('","', Mage::helper('gomage_checkout')->getTaxCountries()));?>);
	
	
	<?php
		
		$observe_billing_items	= array('#buy_without_vat');
		$observe_shipping_items	= array();
		
		if($this->helper('gomage_checkout')->getConfigData('ajax/country')){
			$observe_billing_items[] = '#gcheckout-onepage-address .billing-country select';
			$observe_shipping_items[] = '#gcheckout-onepage-address .shipping-country select';
		}
		
		if($this->helper('gomage_checkout')->getConfigData('ajax/region')){
			$observe_billing_items[] = '#gcheckout-onepage-address .billing-region select, #gcheckout-onepage-address .billing-region input';
			$observe_shipping_items[] = '#gcheckout-onepage-address .shipping-region input, #gcheckout-onepage-address .shipping-region select';
		}
		
		if($this->helper('gomage_checkout')->getConfigData('ajax/postcode')){
			$observe_billing_items[] = '#gcheckout-onepage-address .billing_postcode input';
			$observe_shipping_items[] = '#gcheckout-onepage-address .shipping_postcode input';
		}
		
		if($this->helper('gomage_checkout')->getConfigData('ajax/city')){
			$observe_billing_items[] = '#gcheckout-onepage-address .billing_city input';
			$observe_shipping_items[] = '#gcheckout-onepage-address .shipping_city input';
		}
		
		
	?>
		
		var observe_billing_items	= '<?php echo implode(',', $observe_billing_items);?>';
		var observe_shipping_items	= '<?php echo implode(',', $observe_shipping_items);?>';
	
	
	
	var loginFormHtml = '<div class="simple_overlay <?php echo $buttons_skin, ' ', $checkout_popup_skin, ' ', $buttons;?><?php if (Mage::helper('gomage_checkout')->isLefttoRightWrite()): ?> glc-rtl<?php endif; ?>" id="login-form" style="display:none;">'+
		'<div class="glc-popup-head"><div class="glc-popup-head-in"></div></div>'+
		'<div class="glc-popup-content"><div class="glc-popup-content-in">'+
		'<a class="close" onclick="checkout.hideLoginForm();"></a>'+
		'<div class="details" id="gcheckout-login-wrapper">'+
			'<h2><?php echo $this->__("Customer Login")?></h2>'+
			'<form id="gcheckout-login-form" action="" method="post" onsubmit="checkoutloginform.submit();return false;">'+
			'<ul class="form-list">'+
                '<li>'+
                    '<label class="required" for="email"><em>*</em><?php echo $this->__("Email Address");?></label>'+
                    '<div class="input-box">'+
                        '<input onkeydown="if(event.keyCode == 13 ){ checkoutloginform.submit(); return false;}" type="text" title="<?php echo $this->__("Email Address");?>" class="input-text required-entry" id="email" value="" name="login[username]" />'+
                    '</div>'+
                '</li>'+
                '<li>'+
                    '<label class="required" for="pass"><em>*</em><?php echo $this->__("Password");?></label>'+
                    '<div class="input-box">'+
                        '<input onkeydown="if(event.keyCode == 13 ){ checkoutloginform.submit(); return false;}" type="password" title="<?php echo $this->__("Password");?>" id="pass" class="input-text required-entry validate-password" name="login[password]" />'+
                    '</div>'+
                '</li>'+
            '</ul>'+
            '<div class="actions">'+
            	'<a class="forgot-link" onclick="checkoutloginform.showForgotForm();return false;" href="<?php echo $this->getUrl("customer/account/forgotpassword")?>"><?php echo $this->__("Forgot Your Password?")?></a>'+
            	'<button class="button" type="submit"><span><span><?php echo $this->__("Login");?></span></span></button>'+
            	'<div class="loadinfo" style="display:none;"><?php echo $this->__("Please wait...");?></div>'+
            '</div>'+
            '</form>'+
		'</div>'+
		'<div class="details" id="gcheckout-forgot-wrapper" style="display:none;">'+
			'<h2><?php echo $this->__("Forgot Your Password?")?></h2>'+
			'<form id="gcheckout-forgot-form" action="" method="post" onsubmit="checkoutloginform.submitForgot();return false;">'+
			'<ul class="form-list">'+
                '<li>'+
                    '<label class="required" for="email"><em>*</em><?php echo $this->__("Email Address");?></label>'+
                    '<div class="input-box">'+
                        '<input onkeydown="if(event.keyCode == 13 ){ checkoutloginform.submitForgot(); return false;}" type="text" title="<?php echo $this->__("Email Address");?>" class="input-text required-entry" id="forgot_email" value="" name="forgot_email" />'+
                    '</div>'+
                '</li>'+                
            '</ul>'+
            '<div class="actions">'+            	
            	'<button class="button" onclick="checkoutloginform.showLoginForm();return false;" type="button"><span><span><?php echo $this->__("Back");?></span></span></button>'+
            	'<button class="button" type="submit"><span><span><?php echo $this->__("Submit");?></span></span></button>'+
            	'<div class="loadinfo" style="display:none;"><?php echo $this->__("Please wait...");?></div>'+
            '</div>'+
            '</form>'+
		'</div>'+		
		'</div>'+
		'</div>'+
		'<div class="glc-popup-bottom"><div class="glc-popup-bottom-in"></div></div>'+
	'</div>';
	
	<?php if($this->getConfigData('termsandconditions/enabled')):?>
	
	var termsHtml = '<div class="simple_overlay <?php echo $buttons_skin, ' ', $checkout_popup_skin, ' ', $buttons;?><?php if (Mage::helper('gomage_checkout')->isLefttoRightWrite()): ?> glc-rtl<?php endif; ?>" id="terms-block" style="display:none;width:<?php echo intval($this->getConfigData('termsandconditions/width'))?>px;height:<?php echo intval($this->getConfigData('termsandconditions/height'))?>px;">'+
	'<div class="glc-popup-head"><div class="glc-popup-head-in"></div></div>'+
	'<div class="glc-popup-content"><div class="glc-popup-content-in" style="width:<?php $tacwidth=intval($this->getConfigData('termsandconditions/width'))-48; echo $tacwidth; ?>px;height:<?php intval($tacheight=$this->getConfigData('termsandconditions/height'))-25; echo $tacheight; ?>px;">'+
		'<a class="close" onclick="checkout.hideTerms();return false;"></a>'+
		'<div class="details">'+
			'<div class="popup-content">'+
				'<?php echo preg_replace("/'/", "&#39;", preg_replace('/[\n\r]/', '', (preg_replace('/\<script.*?\\/script>/si', '', $this->getConfigData('termsandconditions/content')))));?>'+
			'</div>'+
		'</div>'+
		'</div>'+
		'</div>'+
		'<div class="glc-popup-bottom"><div class="glc-popup-bottom-in"></div></div>'+		
	'</div>';
	
	<?php endif;?>

   	var centinelHtml = '<div class="simple_overlay <?php echo $buttons_skin, ' ', $checkout_popup_skin, ' ', $buttons;?>" id="gcheckout-payment-centinel" style="display:none;width:<?php echo intval($this->getConfigData('address_fields/secure_window_width')) ?>px;height:<?php echo intval($this->getConfigData('address_fields/secure_window_height')) ?>px;">'+
	'<div class="glc-popup-head"><div class="glc-popup-head-in"></div></div>'+
	'<div class="glc-popup-content"><div class="glc-popup-content-in" style="width:552;px;height:475px;">'+
		'<a class="close" onclick="checkout.hideCentinel();return false;"></a>'+
		'<div class="details">'+
			'<div class="popup-content" id="gcheckout-payment-centinel-html">'+
			'</div>'+
		'</div>'+
		'</div>'+
		'</div>'+
		'<div class="glc-popup-bottom"><div class="glc-popup-bottom-in"></div></div>'+
	'</div>';

   	if (typeof(CentinelAuthenticate) != 'undefined'){
	    CentinelAuthenticate.prototype.cancel = function() {
	
	        if (this._isAuthenticationStarted) {
	            if (this._isRelatedBlocksLoaded()) {
	                this._showRelatedBlocks();
	            }
	            if (this._isCentinelBlocksLoaded()) {
	                $(this.centinelBlockId).hide();
	                $(this.iframeId).src = '';
	            }
	            this._isAuthenticationStarted = false;
	        }
	        checkout.hideCentinel();
	    }
	
	    CentinelAuthenticate.prototype.success = function() {
	
	        if (this._isRelatedBlocksLoaded() && this._isCentinelBlocksLoaded()) {
	            this._showRelatedBlocks();
	            $(this.centinelBlockId).hide();
	            this._isAuthenticationStarted = false;
	            checkout.hideCentinel();
	            checkout.saveorder();
	        }
	        
	    }
   	}

	//]]>
</script>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php if((!$this->isCustomerLoggedIn() && $this->getCheckoutMode() != 2) || Mage::getStoreConfig('gomage_checkout/address_fields/payments_buttons')): ?>
<div class="glc-login-and-paypal<?php if (Mage::helper('gomage_checkout')->isLefttoRightWrite()): ?> glc-rtl<?php endif; ?>">
<?php endif; ?>

		<?php if(!$this->isCustomerLoggedIn() && $this->getCheckoutMode() != 2): ?>
		
		<div id="gcheckout-login-link" class="<?php echo $checkout_skin, ' ', $buttons_skin;?><?php if (Mage::helper('gomage_checkout')->isLefttoRightWrite()): ?> glc-rtl<?php endif; ?>">
			<a href="#" onclick="checkout.showLoginForm();return false;" class="login-button" rel="#login-block"><?php echo $this->__('Already registered? Please log in here');?></a>
			<?php if(Mage::getStoreConfig('customer/facebook/enabled')): ?>
		    		<span><?php echo $this->__('or');?></span>
		    		<a rel="facebook-connect" title="<?php echo $this->__('Login with Facebook');?>" href="<?php echo $this->helper('inchoo_facebook')->getConnectUrl() ?>"><?php echo $this->__('Login with Facebook');?></a>
			<?php endif; ?>
		</div>
		
		<?php endif;?>
		
		<?php $payments_buttons = explode(',', Mage::getStoreConfig('gomage_checkout/address_fields/payments_buttons')); ?>
		
		<?php if(Mage::getStoreConfig('gomage_checkout/address_fields/payments_buttons')): ?> 				
		    <?php if(in_array(GoMage_Checkout_Model_Adminhtml_System_Config_Source_Payment_Buttons::GOOGLE_CHECKOUT, $payments_buttons)): ?>	
		    	<div class="glc-paypal-express">
		    	    <?php echo $this->getChildHtml('gomage.methods.google_checkout'); ?>
		    	</div>
		    <?php endif;?>
		    <?php if(in_array(GoMage_Checkout_Model_Adminhtml_System_Config_Source_Payment_Buttons::PAYPAL, $payments_buttons)): ?>	
		    	<div class="glc-paypal-express">
		    	    <?php echo $this->getChildHtml('gomage.methods.paypal_express'); ?>
		    	</div>
		    <?php endif;?>
		<?php endif; ?>

<?php if((!$this->isCustomerLoggedIn() && $this->getCheckoutMode() != 2) || Mage::getStoreConfig('gomage_checkout/address_fields/payments_buttons')): ?>
</div>
<?php endif; ?>
<?php
	
	$class_mode = '';
	
	if(Mage::getSingleton('checkout/session')->getQuote()->isVirtual()){
		
		$class_mode .= ' not_shipping_mode ';
		
	}
	
	if(!Mage::helper('gomage_deliverydate')->isEnableDeliveryDate()){
		
		$class_mode .= ' not_deliverydate_mode ';
		
	}


	if(!Mage::getSingleton('checkout/session')->getShippingSameAsBilling()){
 
    if(!Mage::getStoreConfig('gomage_checkout/deliverydate/deliverydate')) 
      {
      $class_mode .= ' notddate_diferent_shipping_address ';
      }
    else
      {
      $class_mode .= ' diferent_shipping_address ';
      }
		
	}
	
?>
<div class="glc gcheckout-onepage-wrap <?php echo $class_mode, ' ', $checkout_skin, ' ', $buttons_skin, ' ', $buttons, ' ', $round;?><?php if (Mage::helper('gomage_checkout')->isLefttoRightWrite()): ?> glc-rtl<?php endif; ?>">
	
	<form action="<?php echo $this->getUrl('gomage_checkout/onepage/save');?>" method="post" id="gcheckout-onepage-form">
	
	<?php include(dirname(__FILE__).'/form.phtml');?>
		
	</form>
	
	<script type="text/javascript">
	//<![CDATA[
		var checkoutForm = new VarienForm('gcheckout-onepage-form');
		var checkoutloginform = new LightcheckoutLogin({url:"<?php echo $this->getUrl("gomage_checkout/onepage/customerLogin");?>", url_forgot:"<?php echo $this->getUrl("gomage_checkout/onepage/forgotPassword");?>"});
		
		<?php if($this->isCustomerLoggedIn()):?>
	    	
	    	checkoutloginform.customerIsCustomerLoggedIn = true;
	    	
	    <?php else:?>
	    	
	    	checkoutloginform.customerIsCustomerLoggedIn = false;
	    	
	    <?php endif;?>
	    
		
		var checkout = new Lightcheckout({url:"<?php echo $this->getUrl('gomage_checkout/onepage/ajax');?>", 
										  save_order_url:"<?php echo $this->getUrl('gomage_checkout/onepage/save');?>",	
										  billing_taxvat_enabled:<?php echo Mage::helper('gomage_checkout')->getConfigData('vat/enabled') ? 'true' : 'false';?>});
		
		function changeAddressMode(flag){
			
			if(flag){
				
				$('gcheckout-shipping-address').style.display = 'none';
				
				<?php if(!Mage::getStoreConfig('gomage_checkout/deliverydate/deliverydate')):?>
				$$('div.gcheckout-onepage-wrap')[0].removeClassName('notddate_diferent_shipping_address');
				<?php else:?>
				$$('div.gcheckout-onepage-wrap')[0].removeClassName('diferent_shipping_address');
				<?php endif;?>
				
			}else{
				$('gcheckout-shipping-address').style.display = 'block';
				
				<?php if(!Mage::getStoreConfig('gomage_checkout/deliverydate/deliverydate')):?>
				$$('div.gcheckout-onepage-wrap')[0].addClassName('notddate_diferent_shipping_address');
				<?php else:?>
				$$('div.gcheckout-onepage-wrap')[0].addClassName('diferent_shipping_address');
				<?php endif;?>
				
			};
			
			
		}
		
	    
	    function initAddresses(){
	    <?php if($this->isEnabled('country_id') && $this->isEnabled('region')):?>
	    billingRegionUpdater = new RegionUpdater('billing_country_id', 'billing_region', 'billing_region_id', countryRegions, undefined, <?php echo $this->getConfigData('address_fields/postcode') == 'req'  ? '"billing_postcode"' : 'undefined';?>);

	    <?php if($this->getChild('address')->getChild('billing')->canShip()):?>
	    
			<?php if( $this->getChild('address')->getChild('shipping')->isEnabled('country_id') && $this->getChild('address')->getChild('shipping')->isEnabled('region')):?>
		    shippingRegionUpdater = new RegionUpdater('shipping_country_id', 'shipping_region', 'shipping_region_id', countryRegions, undefined, <?php echo $this->getConfigData('address_fields/postcode') == 'req'  ? '"shipping_postcode"' : 'undefined';?>);
		   	<?php endif;?>
	   	
	   	<?php endif;?>
	   	
	   	<?php endif;?>	
	   	
	   	}
	   	
	   	initAddresses();
	   	
	   	<?php if(Mage::getSingleton('checkout/type_onepage')->getQuote()->getBillingAddress()->getIsValidVat()):?>
	   	
	   	checkout.billing_taxvat_verified_flag = true;
	   	
	   	<?php endif;?>

	   	<?php if(Mage::helper('gomage_sagepay')->isGoMage_SagePayEnabled()): ?>
	   	
    	   	var review = new LightcheckoutReview('<?php echo $this->getUrl('gomage_checkout/onepage/save') ?>', '<?php echo $this->getUrl('checkout/onepage/success') ?>', $('checkout-agreements'));
    		SageServer = new EbizmartsSagePaySuite.Checkout
    					(
    		                {
    	                        'checkout':  checkout,
    	                        'review':    review,
    	                        'payment':   payment	                        
    		                }
    	        		);
	   	
		<?php endif; ?>
	   	
		//]]>
	</script>		 
	
</div>
	