<?php /*?><?php if (!Mage::registry('current_category')) return ?>
<?php $_categories = $this->getCurrentChildCategories() ?>
<?php $_count = is_array($_categories)?count($_categories):$_categories->count(); ?>
<?php if($_count): ?>
<div class="block block-layered-nav">
    <div class="block-title">
        <strong><span><?php echo $this->__('Browse By') ?></span></strong>
    </div>
    <div class="block-content">
        <dl id="narrow-by-list2">
            <dt><?php echo $this->__('Category') ?></dt>
            <dd>
                <ol>
                <?php foreach ($_categories as $_category): ?>
                    <?php if($_category->getIsActive()): ?>
                    <li>
                        <a href="<?php echo $this->getCategoryUrl($_category) ?>"<?php if ($this->isCategoryActive($_category)): ?> class="current"<?php endif; ?>><?php echo $this->htmlEscape($_category->getName()) ?></a> (<?php echo $_category->getProductCount() ?>)
                    </li>
                    <?php endif; ?>
                <?php endforeach ?>
                </ol>
            </dd>
        </dl>
        <script type="text/javascript">decorateDataList('narrow-by-list2')</script>
    </div>
</div>
<?php endif; ?>
<?php */?>
<!--product category-->
<article class="product_category">
  <h2>Product <span>categories</span></h2>
<?php
$cat_mod = Mage::getModel('catalog/category');
$_main_categories=$this->getStoreCategories();
if ($_main_categories): ?>
    <ul>
	<?php foreach ($_main_categories as $_main_category):
      if($_main_category->getIsActive()):
           $cid = $_main_category->getId();
           $cur_category = $cat_mod->load($cid);
           $category_name = $cur_category->getName(); ?>
           <h3><a href="<?php echo $this->getCategoryUrl( $_main_category ) ?>"><?php echo $category_name; ?></a></h3>
          <?php 
           res($cur_category,'>');
      endif;
    endforeach; ?>
    </ul>
<?php endif;    
 
function res($cur_category,$s)
{
    $children_categories = $cur_category->getChildrenCategories();
    if(!empty($children_categories))
    { ?>
        
	
		<?php $s .= $s;
        foreach($children_categories as $k => $v)
        {	
			
            $all_data = $v->getData();
			
            $nm = $all_data['name'];
			$url= $all_data['request_path']?>
             
             <li><a href="<?php echo $url; ?>"><?php echo $s.' '.$nm; ?></a><br/></li>

		<?php res($v,$s);
        } ?>
		
    <?php }
}
?>
</article>


<!--product category--> 









