<!--@subject "{{var data.name}}" Deal is Over! @-->
<!--@vars
{"var data.name":"name",
"var data.city":"city",
"var data.click":"click",
"var data.unsubscribe_url":"unsubscribe_url",
"var data.image_url":"image_url",
"var data.url":"url"
"var data.website_url":"website_url",
"var data.website":"website",
"var data.email":"email",
"var data.date":"date",
"var data.special_price":"special_price",
"var data.price":"price",
"var data.discount":"discount",
"var data.you_save":"you_save",
"var data.merchant_name":"merchant_name",
"var data.merchant_phone":"merchant_phone",
"var data.merchant_mobile":"merchant_mobile",
"var data.merchant_email":"merchant_email",
"var data.has_merchant_website":"has_merchant_website",
"var data.merchant_website":"merchant_website",
"var data.merchant_address_1":"merchant_address_a",
"var data.merchant_address_2":"merchant_address_b",
"var data.merchant_address_3":"merchant_address_c",
"var data.merchant_address_4":"merchant_address_d",
"var data.merchant_address_5":"merchant_address_e",
"var data.merchant_description_width":"merchant_description_width",
"var data.merchant_description":"merchant_description",
"var data.has_side_deals":"has_side_deals",
"var data.side_deals":"side_deals",
"var data.all_deals_url":"all_deals_url",
"var data.recent_deals_url":"recent_deals_url",
"var data.contact_us_url":"contact_us_url",}
@-->

<html>
<body style="font-size:12px; font-family:Arial; color:#454545;">
<table width="700" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td style="text-align:center; font-size:11px; padding:0 0 10px 0;color:#454545;">
				Go to <a style="color:#0981BE;text-decoration:none;" href="{{var data.website_url}}">{{var store.getFrontendName()}}</a> &nbsp;|&nbsp; <a style="color:#0981BE;text-decoration:none;"  href="{{var data.unsubscribe_url}}">Unsubscribe</a> <br/>
				Be sure to add <font style="color:#454545;">{{var data.email}}</font> to your address book or safe sender list so our emails get to your inbox. 
			</td>
		</tr>
		<tr>
			<td>
				<table width="700" style="border:10px solid #F0F1F3" bgcolor="#F0F1F3" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td bgcolor="#313131">
								<table width="100%" cellspacing="0" cellpadding="0">
									<thead>
										<tr style="text-align:left;border-bottom:2px solid #F1461E;color:#FFFFFF">
											<th style="padding:20px 15px 20px;width:130px;">
												<a href="{{var data.url}}"><img alt="{{var store.getFrontendName()}}" src="{{skin url="images/logo.gif" _area='frontend'}}"></a>
											</th>											
											<th style="padding:20px 15px 20px 0;line-height:170%;">
												<span style="display:block; border-left:2px solid #444444;padding:0px 0px 0px 15px;">
													<strong style="font-size:24px;">The deal is over!</strong>
													<h1 style="font-size:12px;margin:0px;font-weight:normal;"><a style="color:#FFFFFF;" href="{{var data.url}}">Click here</a> to see how it did.</h1>
												</span>
											</th>											
											<th style="padding:20px 15px; text-align:right; vertical-align:top; font-size:10px;">
												{{var data.date}}
											</th>
										</tr>
									</thead>
								</table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#FFFFFF" style="padding:10px;">
								<table width="100%" cellspacing="0" cellpadding="0">
									<tbody>
										<tr style="text-align:left;">
											<td colspan="2" style="padding:10px 0px 20px;">
												<a href="{{var data.url}}" style="text-decoration:none;"><h2 style="margin:0; font-size:22px; font-weight:bold; color:#333333;">{{var data.name}}</h2></a>
											</td>											
										</tr>
										<tr style="text-align:left;">
											<td width="40%" style="vertical-align:top;">
												<table width="245" cellspacing="0" cellpadding="0"  background="{{skin url="groupdeals/images/email_price_tag.png" _area='frontend'}}" height="58" >
													<tbody>
														<tr>
														  <td width="50%" align="center" style="font-size:30px;color:#FFFFFF;font-family:Helvetica, Arial, sans-serif;margin:0;padding:0 0 0 30px;">
															{{var data.special_price}}
														  </td>														 
														  <td width="50%" align="right" style="padding:0 10px 0 0;vertical-align:middle;" >
															<a href="{{var data.url}}"><img style="vertical-align:middle;" width="85" height="46" alt="" src="{{skin url="groupdeals/images/view-deal.png" _area='frontend'}}"></a>
														  </td>
														</tr>
												    </tbody>
												</table>
												<table width="226" cellspacing="0" cellpadding="0" style="margin:0 0 0 19px">
													<tbody>
														<tr>
														  <td width="33%" align="center" style="border-left:1px solid #45CFF5;font-size:12px;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:10px 0 5px 0; background-color:#CBECF5;">
															Value
														  </td>
														  <td width="33%" align="center" style="background-color:#CBECF5;font-size:12px;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:10px 0 5px 0;">
															Discount
														  </td>
														  <td width="33%" align="center" style="border-right:1px solid #45CFF5;font-size:12px;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:10px 0 5px 0; background-color:#CBECF5;">
															You Save
														  </td>
														</tr>
														<tr>
														  <td width="33%" align="center" style="background-color:#CBECF5;border-left:1px solid #45CFF5;border-bottom:1px solid #45CFF5;font-size:15px;font-weight:700;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:0 0 5px 0;">
															{{var data.price}}
														  </td>
														  <td width="33%" align="center" style="background-color:#CBECF5;border-bottom:1px solid #45CFF5;font-size:15px;font-weight:700;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:0 0 5px 0;">
															{{var data.discount}}
														  </td>
														  <td width="33%" align="center" style="background-color:#CBECF5;border-right:1px solid #45CFF5;border-bottom:1px solid #45CFF5;font-size:15px;font-weight:700;color:#333333;font-family:Helvetica, Arial, sans-serif;margin:0;padding:0 0 5px 0;">
															{{var data.you_save}}
														  </td>
														</tr>
												    </tbody>
												</table>
												<table bgcolor="#F6F6F6" width="226" cellspacing="0" cellpadding="0" style="margin:10px 0 0 19px">
													<tbody>
														<tr>
														  <td colspan="3" align="left" style="border:1px solid #F0F1F3;  font-size:12px;color:#333333;font-family:Helvetica, Arial, sans-serif;padding:10px ;">
															<strong>{{var data.merchant_name}}</strong><br/>
															{{depend data.has_merchant_website}}<a style="text-decoration:none;color:#0981BE;" href="{{var data.merchant_website}}">website</a><br/>{{/depend}}
															Locations:<br/>
															{{var data.merchant_address1}}
														  </td>
												    </tbody>
												</table>
											</td>												
											<td width="60%" style="vertical-align:top;padding:0 11px 0 0;">
												<a href="{{var data.url}}"><img src="{{var data.image_url}}" alt="deal_image" width="100%"/></a>
											</td>											
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#FFFFFF" style="padding:10px;">
								<table width="100%" cellspacing="0" cellpadding="0">
									<tbody>
										<tr style="text-align:left;">
											<td width="100%" style="vertical-align:top; padding:0 20px 20px 20px; font-size:12px; font-weight:bold; text-align:center;">
												If the deals target has been met, you'll receive your coupon once your payment has been captured.<br/><br/>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#E2E2E4" style="padding:10px; border-top:3px solid #F0F1F3; text-align:center; font-size:14px; color:#454545;">
								Need help? Feel free to <a style="color:#454545;text-decoration:none;font-weight:bold;" href="{{var data.contact_us_url}}">Contact Us</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="text-align:center; font-size:11px; padding:10px 0 0px 0;">
				You are receiving this email because you signed up for the {{var data.city}} Deals. If you prefer not to receive these emails, you can always unsubscribe with <a style="color:#0981BE;text-decoration:none;"  href="{{var data.unsubscribe_url}}">one click</a> 
			</td>
		</tr>
	</tbody>
</table>	
</body>
</html>